[2020-08-04 15:34] thomasplevy commented on #897
@eri-trabiccolo current behavior is correct behavior. If we have reports of this as a big issue we can adjust later. Closing for now.

[2020-08-04 15:34] #897 closed

[2020-08-04 16:08] toyinogun opened #1269 "Legend is truncated when viewing the charts in the reporting section"
### Reproduction Steps

Go to LifterLMS >> Reporting >> Enrollments and see the screen there
![image](https://user-images.githubusercontent.com/62220599/89317138-e1bc8400-d674-11ea-97f3-75870256a7f5.png)

### Expected Behavior

The legend should be fully written out

### Actual Behavior

Seems truncated

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### Syst

[2020-08-04 16:15] thomasplevy commented on #1269
Potential solution: https://stackoverflow.com/a/17338269/400568

Hovering over the label shows the full label as an alternative in the meantime

[2020-08-05 09:52] toyinogun opened #1274 "Core assets loaded with technically invalid URI"
### Reproduction Steps

Seems there's a double slash in this file wp-content/plugins/lifterlms//assets/js/llms.min.js?ver=4.2.0

### Expected Behavior

Should be one /

### Actual Behavior

Double /
I also see this was fixed here: #598

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### System and Environment Information

<details>
<summary>System Report</sum

[2020-08-05 15:35] eri-trabiccolo opened #1275 "Unhandled (possible) error when scraping a certificate to export produces a PHP fatal"
### Reproduction Steps

+ Find a way to force wp_safe_remote_get here to generate a WP_Error, e.g.
`add_filter( 'llms_get_certificate_export_html_url', '__return_empty_string' );`
+ Try to save a certificate

### Expected Behavior

+ I would expect to see an error notice

### Actual Behavior

+ WSOD

### Error Messages / Logs

[code]

### System and Environment Information

[code]

This issue has

[2020-08-05 15:35] thomasplevy opened #1276 "Update sample course import file"
+ [x] Provide export file from sandbox site (assigned to @chrisbadgett)
+ [x] Review Kadence theme (assigned to @nrherron92)
+ [x] Strip author information from file
+ [x] Replace file in core plugin

[2020-08-05 15:44] chrisbadgett commented on #1276
~Github does not support json file attachments. The course is here: [redacted]~

[LifterLMS-Quickstart-Course_20200805.zip](https://github.com/gocodebox/lifterlms/files/5029757/LifterLMS-Quickstart-Course_20200805.zip)

[2020-08-05 17:13] thomasplevy commented on #1276
@chrisbadgett

Due to the prevalence of the Kadence theme in this course I am not going to ship this until @nrherron92 and @toyinogunseinde have had a chance to review (and approve) the theme through our 3rd-party integrations process.

[2020-08-06 17:13] chrisbadgett opened #1278 "Persistent Payment Gateway Upsell Alert Issue"
Users are indicating persistent payment gateway alert notices on every admin page load and would like the option to close alert forever.

Proposed solution:

Add grey link under or beside or below "Remind me later" button that reads: "Remind me never"

[2020-08-06 23:39] thomasplevy commented on #1208
@qamaruldinhamza any update on this? Are you able to utilize these hooks to achieve your goals?

[2020-08-06 23:53] #1227 closed, assigned to thomasplevy

[2020-08-06 23:53] #1268 closed, assigned to thomasplevy

[2020-08-06 23:53] #1275 closed, assigned to eri-trabiccolo

[2020-08-07 09:49] toyinogun opened #1280 "Double content on the course page when you show custom content(sales page) without any content"
### Reproduction Steps

Open a course and create custom content for the sales page but don't fill anything in it

### Expected Behavior

The page shown to visitors should be blank

### Actual Behavior

It shows the course page and has double contents

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### System and Environment Information

<details>
<summary>Sys

[2020-08-07 16:50] thomasplevy opened #1281 "Inaccessible post types should not be listend in the WP 5.5 sitemap.xml file"
### Reproduction Steps

+ On WP 5.5 visit wp-sitemap.xml

### Expected Behavior

+ "Protected" post types (lessons, quizzes, etc...) are not exposed in the sitemap

### Actual Behavior

+ They are

### Error Messages / Logs

N/A

### System and Environment Information

<details>
<summary>System Report</summary>

[code]

</details>

[2020-08-10 18:34] #1281 closed, assigned to thomasplevy

[2020-08-11 16:14] eri-trabiccolo opened #1285 "PHP 7.3 compat: Deprecation warning using non-string needles for str(i)pos()"
### Reproduction Steps
Not sure how this can actually happen, but I could reproduce it by forcing a condition:
[code]

### Expected Behavior

+ No error/warning logged

### Actual Behavior

+ Deprecation warning logged

Actually the user says it happens when switched from PHP 7.3 to 7.4, but this deprecation has been introduced in 7.3
https://wiki.php.net/rfc/deprecations_php_7_3#string_search_fun

[2020-08-13 18:05] thomasplevy opened #1288 "llms-analytics.js causing errors on admin settings screens where it is not used or needed"
### Reproduction Steps

+ Visit any LifterLMS admin settings screen other than the "General" tabl

### Expected Behavior

+ Analytics script is not loaded

### Actual Behavior

+ Analytics script is loaded
+ A JS error is reported in the console

### Error Messages / Logs

[code]

This issue has be recreated:
+ [x] Locally
+ [ ] On a staging site
+ [ ] On a production website
+ [ ] With only Lifte

[2020-08-13 18:18] thomasplevy commented on #1288
This is what's causing failing tests in the core (and maybe groups) right now.

Not sure why this only started happening in WP 5.5 though.

[2020-08-14 18:24] eri-trabiccolo commented on #1285
@thomasplevy do you think we'll have the capacity to _fix_ this for the upcoming release?

[2020-08-14 18:29] thomasplevy commented on #1285
@eri-trabiccolo I started working on it yesterday, should have a PR by end of day. I wasn't planning on releasing anything today, probably Tuesday.

[2020-08-17 11:57] toyinogun opened #1294 "When a lesson is unpublished, it skips to the next section instead of the next published lesson in the section"
### Reproduction Steps

Create a course with 2 sections
Add 3 lessons to the first section
Make the 2nd lesson of the first section not published
Add 1 lesson to the second section

### Expected Behavior

Should skip the unpublished lesson and move to the next published lesson and not the next section

### Actual Behavior

Skips the unpublished lesson in that section and other lessons(published) i

[2020-08-17 15:33] eri-trabiccolo commented on #1294
thanks @toyinogunseinde
I'm on it.

[2020-08-17 17:36] thomasplevy commented on #1294
@eri-trabiccolo please prioritize this behind the set of WC things so that we can get that stuff released. This has a pretty simple workaround and I don't think is sever enough to warrant prioritizing ahead of the WC release (I'm waiting on the other WC items to publish the completed item).

If anyone wants to advocate against my prioritization please speak up!

[2020-08-17 23:09] #1269 closed, assigned to nobody

[2020-08-17 23:09] #1288 closed, assigned to thomasplevy

[2020-08-18 17:41] thomasplevy commented on #1208
Closing due to inactivity

[2020-08-19 13:51] eri-trabiccolo opened #1297 "Fatal on a WP_Users_List_Table when not in wp-admin/users.php"
### Reproduction Steps

I'm able to reproduce this on a multisite install (I know we're not officially supporting ms), on an admin page like:
http://multisite.test/wp-admin/network/site-users.php?id=1

But it could happen with whatever `WP_Users_List_Table` instantiated (extended?) on a `$screen->id` different than 'users':
https://github.com/gocodebox/lifterlms/blob/4.3.3/includes/admin/class-llm

[2020-08-19 16:14] thomasplevy commented on #1297
@eri-trabiccolo

Thanks for the research.

The `load_dependencies()` method looks like it exists so that we don't have to run a dependency check on every row in the table in the `add_actions()` method where the error is actually being encountered.

[2020-08-19 16:20] eri-trabiccolo commented on #1297
@thomasplevy yeah, but the dependency loading is conditioned to something the `add_actions()` method doesn't care about.
The `add_actions()` method (as other methods in that class that want to use the dependency) is a filter callback, that you know better than me (**Oh, baby, baby, it's a wild world...**), can be called from anywhere, even from a totally different context than a user table.
Why do

[2020-08-19 17:28] thomasplevy commented on #1297
Yea, you're right!

[2020-08-19 17:29] thomasplevy commented on #1297
@eri-trabiccolo I'm working on asset loading in #1292 and I'll rope this into that project.

[2020-08-20 14:53] toyinogun commented on #1122
HS-131999

[2020-08-20 18:51] nrherron92 opened #1300 "Subdirectory URL not reflects in settings view button"
### Reproduction Steps

+ Have a subdirectory? [Edit: This isn't a question. This seems to happen when WP is installed in a subdirectory, EG: if lifterlms.com was installed at lifterlms.com/lifterlms/ instead of at the root]
+ Set the LifterLMS core four pages in the set up wizard
+ Go into LifterLMS->Settings->Courses
+ Click view button

### Expected Behavior

+ you're sent to the course catalog

[2020-08-21 17:30] thomasplevy opened #1302 "Usage of `llms_log()` for deprecated filter notice should be replaced with wp core `apply_filters_deprecated()`"
We should actually use https://developer.wordpress.org/reference/functions/apply_filters_deprecated/ in favor of what the `llms_log()` + `apply_filters()`.

I'll open a new issue for that

_Originally posted by @thomasplevy in https://github.com/gocodebox/lifterlms/pull/1292#issuecomment-678404566_

[2020-08-24 09:52] szepeviktor opened #1303 "Predictable class file paths"
Could e.g. `LLMS_Achievement_User` class live in `includes/achievement/class-llms-achievement-user.php` instead of `includes/achievements/class.llms.achievement.user.php` ?

@thomasplevy What do you think?

[2020-08-24 13:13] szepeviktor commented on #1303
BTW I've just released the WPCS-compliant autoloader.
https://github.com/szepeviktor/debian-server-tools/blob/master/webserver/wp-install/wordpress-autoloader.php
Although class files in unpredictable directories are impossible to find 🔎

[2020-08-24 15:06] thomasplevy commented on #1303
Yes, it's difficult to rename filenames because these are technically backwards incompatible changes. We want to be safe and ensure that we don't cause 500 errors if 3rd parties or custom code are referencing files in our codebase.

We planned to rename all the files in 4.0 but decided to push that back for a later future release.

See #638 for original issue

[2020-08-24 15:06] #1303 closed, assigned to nobody

[2020-08-24 15:10] szepeviktor commented on #1303
Thank you @thomasplevy!

Could you give me the first example that pops into your head?

[2020-08-24 15:10] szepeviktor commented on #1303
I cannot imagine one! 🤯
Class names wouldn't change.

[2020-08-24 15:12] szepeviktor commented on #638
Please consider to be PHP 5.3 demanding 🦕

Use [namespaces](https://www.php.net/manual/en/language.namespaces.rationale.php) and [an autoloader](https://github.com/szepeviktor/debian-server-tools/blob/master/webserver/wp-install/wordpress-autoloader.php).

![kép](https://user-images.githubusercontent.com/952007/91062537-1f397f00-e62d-11ea-9362-58e77f605c61.png)

[2020-08-24 15:24] thomasplevy commented on #1303
File names change and any plugin or theme that calls an include to the now non-existent file creates a 500 error

[2020-08-24 15:26] thomasplevy commented on #638
@szepeviktor

Yes, it would be better to use namespaces, of course.

[2020-08-24 15:29] thomasplevy commented on #638
When LifterLMS launched name spaces were not a viable option (IN MY OPINION) in WordPress. They're viable now. Switching the while codebase to use namespaces would be something of an enormous project. It's probably not going to happen unless the WordPress core switches to namespaces and requires plugins to do so as well.

Yes, using prefixes in favor of namespaces is outdated but it still works an

[2020-08-24 15:30] szepeviktor commented on #1303
Okay-okay.
But what is the use case?
Martians land in our garden? Maybe I have limited imagination.

[2020-08-24 15:32] szepeviktor commented on #1303
`LLMS_Loader` loads **everything**.

[2020-08-24 15:34] szepeviktor commented on #638
I can do that for you. Automated tools are wonderful!

It just did!!! See https://github.com/WordPress/WordPress/blob/5.5/wp-includes/PHPMailer/PHPMailer.php#L21

[2020-08-24 15:34] thomasplevy commented on #1303
Do you do any amount of support or development for a WP plugin or theme?

That doesn't matter. Someone somewhere is loading something for no good reason and if we change the location there will be a crashed website and we will be held responsible.

[2020-08-24 15:51] thomasplevy commented on #638
The project isn't adding namespace declarations, it's communicating backwards incompatible changes to the community and mitigating the issues arisen from making a large set of sweeping changes.

And the WP cores usage of namespacing in an included library is a start but on the whole WP is not (yet) using namespaces.

What's the need here @szepeviktor? I'm in favor of improvements but I also need t

[2020-08-24 16:07] toyinogun commented on #1297
HS-132387

[2020-08-24 16:16] szepeviktor commented on #638
Maybe I'm not strong enough to handle code resembling PHP 4.

[2020-08-25 14:52] nrherron92 opened #1304 "Drip Content Timezone"
**Is your feature request related to a problem? Please describe.**
When the drip content notice for when the next class is available it sets one time and is not dependent on the user's time zone. For example, the site is in California timezone and content becomes available at 9am someone in Maine timezone won't get it until noon in their local time but the notice still says available at 9am.

**De

[2020-08-25 16:46] nrherron92 commented on #1122
HS-130470

[2020-08-25 16:48] nrherron92 commented on #1122
I bumped the severity due to the frequency we've now heard about this issue.

[2020-08-25 21:44] chrisbadgett opened #1305 "Upgrade LifterLMS Sample Course Import Process"
+ [x] Adjust current last step to setup wizard
+ [x] Add new Finish step to setup wizard
+ [x] ~Upgrade import file process to bring course and lesson images in addition to featured images to destination instead of just referencing~ See #1196
+ [x] Get Import files and add 3 new courses to course import process
+ [x] Strip author information from files
+ [x] ~Replace file in core plugin~ See #1276

[2020-08-25 21:49] chrisbadgett commented on #1276
This issue has been merged here: https://github.com/gocodebox/lifterlms/issues/1305

[2020-08-26 16:36] thomasplevy commented on #638
@szepeviktor Your comments are not very constructive or helpful. Please drop the sarcasm. I'm not interested in having a sarcastic conversation here. If you want to contribute, do so in a meaningful way.

[2020-08-26 16:40] thomasplevy commented on #1304
This particular message cannot be managed through a simple UI. Some messages in LifterLMS can be managed through a setting, others can't. There's not a good framework in place for determining which messages have a UI and which don't. To my knowledge we've never had a request to customize this language but it's probably just never reached me.

Adding a timezone to the setting feels like it might be

[2020-08-26 16:55] szepeviktor commented on #638
Excuse me.

[2020-09-02 15:54] nrherron92 commented on #839
HS-133558

[2020-09-02 20:43] #1195 closed

[2020-09-02 20:43] #1274 closed, assigned to thomasplevy

[2020-09-02 20:43] #1285 closed, assigned to thomasplevy

[2020-09-02 20:43] #1294 closed, assigned to eri-trabiccolo

[2020-09-03 15:15] eri-trabiccolo opened #1311 "JS Front End: LLMS.Achievements initialized even if there are no achievements."
This is not a real issue as it doesn't really produce any actual issue, although the condition is not correct:
https://github.com/gocodebox/lifterlms/blob/cadf4217a1f648e0b6020cf1ce1cad72a9db99fb/assets/js/app/llms-achievements.js#L21

It should be:
[code]

[2020-09-04 18:02] nrherron92 opened #1313 "Certificate Title aligns over top right of certificate image/menu on certificate page"
### Reproduction Steps

+ Create a certificate
+ Preview or view certificate

### Expected Behavior

+ The certificate should look something like this:
https://user-images.githubusercontent.com/47434271/92272029-6b4ab600-eeae-11ea-99f2-f835941427f1.png

### Actual Behavior

+ It has a menu and the title of the certificate is in the upper left corner:

https://user-images.githubusercontent.com/4743

[2020-09-04 18:06] nrherron92 commented on #1313
HS-133872

[2020-09-04 18:48] nrherron92 commented on #1313
Also, when attempting to print the certificate the print/save button and menu header are visible

[2020-09-04 19:12] thomasplevy commented on #1313
This is a regression introduced in 4.4.0 caused by an asset which is defined with all default values, as is the case with the "certificates" stylesheet

https://github.com/gocodebox/lifterlms/blob/f8822da8b3260b44d5234e241a2f39780a0d1cd9/includes/assets/llms-assets-styles.php#L32

The truthy check at

https://github.com/gocodebox/lifterlms/blob/f8822da8b3260b44d5234e241a2f39780a0d1cd9/includes/cla

[2020-09-04 20:12] #839 closed

[2020-09-04 20:12] #1313 closed, assigned to nobody

[2020-09-04 23:21] thomasplevy commented on #1276
Reopening to keep issue scope small

[2020-09-07 22:11] nrherron92 opened #1316 "Lesson Navigation Incorrect on Courses with 9 or more lessons"
### Reproduction Steps

+ Create a course
+ add at least 10 lessons
+ go into the course and use the lesson navigation to move around

### Expected Behavior

+ it goes in order of the lessons set up in the builder

### Actual Behavior

+ after about two or three "next lesson" clicks the previous lesson pulls an out of order lesson.

### Error Messages / Logs

+ Include any relevant error messages

[2020-09-08 10:41] eri-trabiccolo commented on #1316
I guess I introduced this bug in https://github.com/gocodebox/lifterlms/pull/1299
when I changed the COMPARE operator from '=' to '<=' ('=>' for the 'next'), without specifying that we were comparing numbers.
`'type' => 'numeric'` should be specified here:
https://github.com/gocodebox/lifterlms/blob/b0a654999efe5398909b0303e29a32f96b0e4e34/includes/models/model.llms.lesson.php#L761
and here:
https

[2020-09-08 20:02] #1316 closed, assigned to nobody

[2020-09-09 20:44] blancoms opened #1323 "Lessons navigation (next/prev links) not working on more than 10 lessons per section."
The next/prev navigation lessons are not working properly when you have 10 or more lessons in one section.

This is how it is ordered right now:
https://github.com/gocodebox/lifterlms/blob/b839ca0f6413c7b249d93ab7f059e09729e8e859/includes/models/model.llms.lesson.php#L756-L764

You should use named meta queries like this:
[code]

[2020-09-09 21:54] thomasplevy commented on #1323
@blancoms

This sounds like a duplicate of #1316

Can you confirm you're seeing this issue on the latest version of LifterLMS?

[2020-09-10 12:46] blancoms commented on #1323
You're right, it's a dup of #1316. It's already fixed in 4.4.2. Thanks!

[2020-09-10 12:46] #1323 closed, assigned to nobody

[2020-09-10 17:10] thomasplevy opened #1325 "Missing hook documentation"
Missing documentation on action hook in voucher class: https://github.com/gocodebox/lifterlms/blob/abd1fe610ec001e61cb7dd4bb3491e5ada200370/includes/class.llms.voucher.php#L338

Ticket opened for updates to https://developer.lifterlms.com/reference/hooks/llms_voucher_used/

[2020-09-10 22:49] thomasplevy commented on #1305
@chrisbadgett we have a "problem" to consider here... If we are going to include images as an important part of the importable courses and we wish them to be imported by URL reference then we need to consider the availability of the source of these images.

The sample courses were constructed on the trial site server which is under constant stress and while it is pretty stable, it is not behind a

[2020-09-10 23:37] thomasplevy commented on #1305
@chrisbadgett

Splitting resources and imports feels like making resources something of a useless screen. I propose we keep import and resources together on the "Finish" screen, like this:

![Screenshot_2020-09-10_16-34-13](https://user-images.githubusercontent.com/1290739/92824626-82dcdf80-f383-11ea-8283-133db06002db.png)

After looking at the screencap I think the headlines should not both have

[2020-09-12 01:31] chrisbadgett commented on #1305
C) Academy Site.

As a side note, the updated Quickstart Course is already on the Academy site.

Also I have updated the theme link we discussed in both the Sandbox and Academy versions of the Quickstart Course.

[2020-09-12 01:44] chrisbadgett commented on #1305
The consolidation of  the last screens is great.

Last Screen 2 Headings modification:

### Initial Setup Complete...

### Install Sample Courses!

Change "Course Template" title of 3rd course to "Signature Course Template" so the course title bumps to 2 rows for visual alignment.

Extend the width or remove padding of the 3 course featured images to the width of the text container below image so

[2020-09-14 15:47] thomasplevy commented on #1305
@chrisbadgett this is intentional padding that makes sense when you can actually interact with the screen. Since these are "buttons" they "depress" like a button when selected. All 3 are selected right now (and depressed)

![Peek 2020-09-14 09-11](https://user-images.githubusercontent.com/1290739/93110562-59190680-f66a-11ea-8295-67db5d4254bb.gif)

[2020-09-14 16:21] thomasplevy commented on #1305
@chrisbadgett or, alternatively, have the unselected slightly transparent:

![Peek 2020-09-14 09-20](https://user-images.githubusercontent.com/1290739/93111577-aea1e300-f66b-11ea-9f6d-c0bdbc458c5d.gif)

[2020-09-14 23:30] thomasplevy commented on #1305
@chrisbadgett

Titles are pulled via an API (now). Update the title on the site if you'd like the this reflected

[2020-09-15 20:58] chrisbadgett commented on #1305
I prefer the unselected slightly transparent

[2020-09-15 22:14] thomasplevy opened #1326 "Course importer does not allow usage of reusable blocks"
### Reproduction Steps

+ Create a course that utilizes a reusable block editor block in course or lesson content
+ Export the course
+ Import the course into a different site

### Expected Behavior

+ The reusable block will be imported into the site with the course import

### Actual Behavior

+ The reusable block will render as "Unavailable" in the new site

### Additional details

A reusable b

[2020-09-15 23:52] thomasplevy commented on #1326
@eri-trabiccolo I came across this bug today and in light of your comments regarding exporting images as an array in favor of parsing images (comments in review on #1324) I'm proposing that we add an "attachments" array member during exports. We can attach "images" here as well as reuseable blocks. Working on a WIP that we'll discuss tomorrow in greater detail.

[2020-09-16 14:23] eri-trabiccolo opened #1329 "Engagement emails: dupcheck prevents the sending of further different emails to the same user with the same trigger"
### Reproduction Steps

+ Create an engagement email A
+ Create an engagement email B
+ Create a course C with only one lesson
+ Create an engagement E1 and set it up to send the email A to the user U who enrolls C
+ Create an engagement E2 and set it up to send the email B to the user U who completes C
+ Enroll an user into C
+ Check the email A has been sent (check the engagement-emails log as w

[2020-09-16 15:10] eri-trabiccolo commented on #1326
@thomasplevy ok, but I would use a different name since "attachment" has a meaning in wp, what do you think?

[2020-09-16 16:21] thomasplevy commented on #1326
I was thinking "embeds" but that has a different meaning too. Attachments didn't feel quite right but I didn't spend too much more time thinking about it.

Any suggestions on what it should be called?

[2020-09-16 17:55] #1329 closed, assigned to nobody

[2020-09-16 18:03] eri-trabiccolo commented on #1326
@thomasplevy
Mmm maybe we just should keep it simple and consistent, let's remove the 'embeds' and just go with first level:
'blocks'
'attachments'
'images' (which are not attachments, and, in fact I see it as an array of URLs).
Otherwise, something like 'include/require'?

[2020-09-17 14:37] eri-trabiccolo opened #1334 "Dates in course restriction messages do not display on sites localized in Spanish"
### Reproduction Steps

+ Switch your site's language to spanish
+ Update the translations
+ Create a new course
+ Go set enrollment restrictions
(see the default messages, the shortcode atts are translated, and there are even stray spaces)
+ Save
+ Visit the course on front as visitor

### Expected Behavior
(I would expect the shortcode atts to not be translated)
+ I would expect to see the restr

[2020-09-17 15:25] thomasplevy commented on #1334
Yes, we should use placeholders but translators should know better too. It's the same as passing html in a translatable string. It's *allowed* and done from time to time but if a translator translated `<section>` found in a translatable string would we be at fault? It's complicated and can be fixed

Mostly I think we have bigger issues to deal with and we can mark this for a future fix, do you dis

[2020-09-17 15:38] eri-trabiccolo commented on #1334
@thomasplevy I do agree with you.

[2020-09-17 15:57] thomasplevy commented on #1334
The translator that translated this is on our slack channel, I'll ping him about it

[2020-09-18 11:17] eri-trabiccolo opened #1342 "PHP Notice logged when deleting a quiz attempt in reporting screen."
### Reproduction Steps

+ Create a quiz attempt
+ Then from the quiz reporting delete the attempt

### Expected Behavior

+ No PHP notice

### Actual Behavior

+ PHP notice logged

### Error Messages / Logs

[code]

### System and Environment Information

[code]

This issue has be recreated:
+ [x] Locally
+ [ ] On a staging site
+ [ ] On a production website
+ [x] With only LifterLMS and a default

[2020-09-21 15:04] toyinogun commented on #1196
HS-135185

[2020-09-21 15:28] toyinogun opened #1344 "Creating a new file when the log grows too much"
### Reproduction Steps

Generate a log file with lots of records

### Expected Behavior

logger could automatically start a new file every 50Mb or so

### Actual Behavior

Logfile continues to grow

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### System and Environment Information

<details>
<summary>System Report</summary>

[code]

</details>

This issue

[2020-09-21 15:32] thomasplevy commented on #1344
Good idea, we'll clean this up in a future release

[2020-09-21 20:08] #1342 closed, assigned to nobody

[2020-09-23 15:15] eri-trabiccolo opened #1349 "Event session start not recorded on sign-on"
### Reproduction Steps

+ Perform a login
+ Check the `wp_lifterlms_events` table in your db.

### Expected Behavior

I would expect to see two new records with approximately the same date, referring to the same user id:
+ a session start event
+ a sign-on event

### Actual Behavior

Only the sign-on event is recorded.

This is because the sign-on event is recorded when the `'wp_login'` action hoo

[2020-09-23 15:25] eri-trabiccolo opened #1350 "Event session end not recorded on sign-out"
### Reproduction Steps

+ Perform a login
+ logout
+ Check the `wp_lifterlms_events` table in your db.

### Expected Behavior

+ I would expect to see the last record to be a session end event.

### Actual Behavior

+ No session end event recored

This is simply because we're comparing an `LLMS_Event` with a string here:
https://github.com/gocodebox/lifterlms/blob/4.4.4/includes/class-llms-events.

[2020-09-23 15:38] eri-trabiccolo opened #1351 "Event account sign-out recorded when visiting yoursite.domain/wp-admin/ as logged out user"
### Reproduction Steps

+ Visit yoursite.domain/wp-admin/ as logged out user
+ You'll be redirected to yoursite.domain/wp-login.php?redirect_to=https%3A%2F%2Fyoursite.domain%2Fwp-admin%2F&reauth=1
+ Check the wp_lifterlms_events table in your db.

### Expected Behavior

+ I would expect to see no new record logger related to this action

### Actual Behavior

+ an account.signout event record has b

[2020-09-23 16:08] eri-trabiccolo opened #1352 "Deleting the plugin when constant LLMS_REMOVE_ALL_DATA set to true results in site.domain/wp-admin/index.php to be not accessible"
### Reproduction Steps

+ in your wp-config.php add `define( 'LLMS_REMOVE_ALL_DATA', true );`
+ as admin disable LifterLMS and then delete it.
+ visit your side.domain/wp-admin/index.php

### Expected Behavior

+ I'd expect to be able to access that page without problems

### Actual Behavior

+ I see a white page with a WordPress message saying I'm not allowed to access that page

The problem shou

[2020-09-23 16:11] eri-trabiccolo commented on #1349
@thomasplevy
If you're fine I'm going to fix this, #1350 and #1351 in the open sessions events optimization I'm working on:
https://github.com/eri-trabiccolo/lifterlms/tree/events-open-sessions

[2020-09-23 16:53] thomasplevy commented on #1349
@eri-trabiccolo yea sounds good. My guess is you've stumbled upon these during your refactor and fixes so might as well include them while your head is in it.

Thanks <3

[2020-09-30 13:56] eri-trabiccolo opened #1356 "Multiple Role affecting Admin Permissions - take 2"
### Reproduction Steps
similar to https://github.com/gocodebox/lifterlms/issues/1183

+ Install any plugin that lets you have multiple roles
+ On an admin account (not your main one) add a secondary role of Instructor
+ Jump into that account
+ Go back to the Users page and try to edit a user
+ Look at the Role setting

### Expected Behavior

+ The Administrator role should allow you to change the

[2020-09-30 15:20] eri-trabiccolo commented on #1010
I remember we had another issue like this one.
This happens when you edit an order related to a deleted user.

`An error of type E_ERROR was caused in line 74 of the file /home/{removed}/public_html/wp-content/plugins/lifterlms/includes/admin/post-types/meta-boxes/class.llms.meta.box.order.enrollment.php. Error message: UncaughtError: Call to a member function get_enrollment_status() on bool in /h

[2020-10-01 17:36] tobeyadr opened #1357 "Course access plan inserting blank line at end of content."
### Reproduction Steps

+ Create a new course access plan
+ Add text to the plan description
+ Save the plan
+ Re-open the plan and an empty line is present at the end of the content.

### Expected Behavior

There should be no blank line.

### Actual Behavior

+ There is a blank line where there should not be one at the end of the access plan description.
+ There is also a side effect where the bl

[2020-10-01 17:45] tobeyadr commented on #1357
Demonstration of whats happening.

https://www.loom.com/share/8b15306e95584017883a03ed919137d0

[2020-10-02 16:18] thomasplevy commented on #1357
@tobeyadr neither @eri-trabiccolo or I have been able to reproduce this on local sites with Astra and only official LifterLMS add-ons installed.

I'm not entirely sure what's causing this and it doesn't feel like something that would be a plugin conflict but we're not seeing the issue on our end.

Can you give this a shot on a test site with only LifterLMS and Astra installed and let us know if yo

[2020-10-02 16:23] thomasplevy commented on #1122
This is a regression resulting from the block editor exposing the "excerpt" field. Excerpts on a course are managed via the sales page "content" field in the course options metabox..

So what's happening is the data posted in the "Excerpt" area is being overridden by the empty data found in the metabox.

I believe a solution would be to keep those two fields in sync or to simply disable the excerp

[2020-10-02 16:25] thomasplevy commented on #1357
See related issue: https://github.com/gocodebox/lifterlms/issues/1122

[2020-10-02 16:32] thomasplevy commented on #1255
In order to make this as compatible as possible with multiple gateways we cannot allow an unrestricted field here. This will not be implemented.

[2020-10-02 16:32] #1255 closed, assigned to nobody

[2020-10-05 12:41] eri-trabiccolo opened #1359 "account.signon event not recorded when logging in or registering through our login/registration form."
### Reproduction Steps
see https://github.com/gocodebox/lifterlms/pull/1353#pullrequestreview-501469553

+ Log in through our login form
+ Check the db's table wp_lifterlms_events (1)
+ Log out and register as new user through or registration form, or either register directly at checkout buying a course
+ Check the db's table wp_lifterlms_events (2)

### Expected Behavior

+ I'd expect to see a ne

[2020-10-05 18:31] thomasplevy opened #1360 "Admin Notices should be able to be dismissed forever"
Currently, the `LLMS_Admin_Notices::add_notice()` will redisplay any dismissed notice 7 days after it was dismissed. This default value of 7 days can be overridden with a custom value.

When we wish for something to be permanently dismissed, we add a large value (730 days or 2 years) to make it seem like it's dismissed forever, but this isn't actually what happens.

See related issue #1278

Ideall

[2020-10-06 21:48] #1278 closed, assigned to nobody

[2020-10-06 21:48] #1344 closed, assigned to thomasplevy

[2020-10-06 21:48] #1349 closed, assigned to eri-trabiccolo

[2020-10-06 21:48] #1350 closed, assigned to eri-trabiccolo

[2020-10-06 21:48] #1351 closed, assigned to eri-trabiccolo

[2020-10-06 21:48] #1359 closed, assigned to eri-trabiccolo

[2020-10-08 06:53] nhandl3 opened #1365 "[wp-admin] List courses: Mine always shows zero, click it go to list of Posts instead of Courses"
### Reproduction Steps

+ Include clear and detailed step by step instructions on how the issue can be reliably reproduced

1. Setup just another WordPress.
2. Install LifterLMS plugin.
3. Create a sample course.
4. In Admin Dashboard, go to Courses > Courses to view list of courses.

+ Include screenshots where applicable
![image](https://user-images.githubusercontent.com/1247539/95416748-8d2bd28

[2020-10-08 09:02] eri-trabiccolo commented on #1365
Hello @nhandl3
thanks for reporting this.
I've been able to reproduce it following the steps you provided.

This issue has been introduced here:
https://github.com/gocodebox/lifterlms/commit/0eb0be295fc73c3977c83cfb4e6e15d931444f9e#diff-e19958bbb00a71ef76221e7c7686e4c3L80-R94

so it instead of:
`$post_type       = llms_filter_input( INPUT_POST, 'post_type', FILTER_SANITIZE_STRING );
`
we should ha

[2020-10-11 09:42] toyinogun opened #1368 "Remove "view as" from Admin bar when not logged in with a role with the right capability"
### Reproduction Steps

On your LifterLMS site, install a plugin like BuddyPress or any plugin or theme that allows you to show the wp-admin bar to visitors.
You will see the "View as" because it's attached to wp-admin bar

### Expected Behavior

It shouldn't show for visitors and users without the right capability

### Actual Behavior

It shows for users and visitors

### Error Messages / Logs

+

[2020-10-12 09:56] toyinogun opened #1369 "Warnings from jQuery Migrate helper"
### Reproduction Steps

Install and activate the plugin: [Enable jQuery Migrate Helper](https://wordpress.org/plugins/enable-jquery-migrate-helper/)
Go to LifterLMS >> Settings and see the Warning as shown in the screenshot:
![image](https://user-images.githubusercontent.com/62220599/95732952-59142280-0c79-11eb-902e-4139aac2f279.png)

### Expected Behavior

Remove deprecated code

### Actual Behav

[2020-10-12 11:36] 007ke commented on #735
@thomasplevy
The feature discussed by @AndreaBarghigiani is great and we see a potential. Would love to see that being added.

@AndreaBarghigiani ... hi Andrea, did you manage to figure a way out or created any code?

Thanks > Ketan

[2020-10-12 12:48] AndreaBarghigiani commented on #735
Hi @007ke,
I solved this case by adding a custom meta field in the lesson post types. I did it using [CMB2](https://github.com/CMB2/CMB2) and the [Ajax Search](https://github.com/rubengc/cmb2-field-ajax-search) extension. This is the settings for the field that I created:
[code]

You can customize as much as you want 😉

[2020-10-12 22:18] 007ke commented on #735
Thanks @AndreaBarghigiani
Did this help you with selecting any other 'instructor' or 'instructor's assistant' from within a particular lesson and have a particular lesson (content / assignment / quiz) owned by them and can grade 'pass' or 'fail' for that student. While the main course 'instructor' can be someone else?

[2020-10-12 22:49] thomasplevy commented on #735
@007ke the actual "owner" of a lesson shouldn't have any impact on whether or not the instructor can grade something. If you're instructors are unable to grade could you open a new issue about this so we can have a closer look? I think you might be associating this issue with your issue but based on what I'm reading here these are *not* related!

[2020-10-12 23:23] 007ke commented on #735
@thomasplevy
My apology... i was only trying to understand the fantastic feature proposed by Andrea ... i.e. to have another person (instructor or assistant instructor) do the grading for say an assignment (lesson) within the course. Example Scenario .... there is a course Maths with 20 lessons on different Maths topics (sections). Every section can have a different skilled and specialised instruc

[2020-10-13 15:30] nrherron92 opened #1372 "Dollar Signs Regardless of Currency"
### Reproduction Steps

+ Change currency in LifterLMS Settings
+ Go to sales reporting screen
+ Look at the y axis of the graph

### Expected Behavior

+ the currency symbol should match the site

### Actual Behavior

+ it stays the dollar sign

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### System and Environment Information

<details>
<summary>System R

[2020-10-13 16:24] thomasplevy commented on #735
@007ke this is interesting but doesn't exactly get automatically added as a feature based on the information provided in this initial feature request in this issue here.

In order to better help us track feature requests could you please open your feature request as a *new issue* or submit it via our feature request intake form at https://lifterlms.com/feature-request

I do not mean to *silence* y

[2020-10-13 16:28] thomasplevy commented on #1372
Duplicate of #1096

[2020-10-13 16:28] #1372 closed, assigned to nobody

[2020-10-13 16:28] thomasplevy commented on #1096
Duplicated reported in #1372 (HS-137401)

[2020-10-13 19:25] thomasplevy commented on #1369
I don't believe the "ready" event is coming from LifterLMS, we removed usage of this in #1268. If we can confirm that this is actually coming from LifterLMS i'll take a closer look.

The hover event is being used, pushing a PR shortly.

[2020-10-13 19:26] thomasplevy commented on #1369
Also, just a note, using the 5.6 alpha there's quite a large number of jQuery migrate warnings. I'm seeing a lot coming from the WP core but there's a few from our javascript. We'll clean these up as we go over the next few months. The current timeline is that jQuery migrate will not be removed from the WP core until WP 5.7, and that's not even a guarantee. I'm keeping my eye on this.

[2020-10-13 19:37] thomasplevy commented on #1357
@tobeyadr can you take a look at my notes above and let me know if you can confirm our findings?

[2020-10-14 09:52] 007ke commented on #1131
@markwill890 @thomasplevy
I too prefer the idea of having the freedom to select pre-req globally rather than from the course. I agree from a dev point this is a bug. The other way is to have a new feature where in the check box next to pre-req states 'global lessons' and if ticked ....shows all lessons.

[2020-10-14 10:30] eri-trabiccolo opened #1376 "PHP notice logged, when navigating the backend and Yoast SEO plugin active"
### Reproduction Steps

+ Install and activate the Yoast SEO plugin
+ Make sure you enabled the PHP error debug logging
+ Navigate the WordPress backend
+ Check the log

### Expected Behavior

+ No warnings/errors logged

### Actual Behavior

+ Warning logged

### Error Messages / Logs

[code]

### System and Environment Information

[code]

### This issue has been recreated:
+ [x] Locally
+ [ ] O

[2020-10-14 18:03] thomasplevy opened #1379 "Certificates: New sharing button creates confusing user experience when button is next to the "Save" button"
### Reproduction Steps

+ View an earned certificate as a student
+ Click "Enable Sharing" to allow a certificate to be shared

### Expected Behavior

+ Users are expecting that a link will be provided to them which they can use to share the certificate
+ Some users expect that they must also "Save" the certificate (using the "Save" button) after enabling/disabling sharing

### Actual Behavior

+

[2020-10-14 20:00] #1122 closed

[2020-10-14 20:00] #1096 closed

[2020-10-14 20:00] #1311 closed, assigned to nobody

[2020-10-14 20:00] #1352 closed, assigned to eri-trabiccolo

[2020-10-14 20:00] #1365 closed, assigned to nobody

[2020-10-14 20:00] #1368 closed, assigned to thomasplevy

[2020-10-14 20:00] #1369 closed, assigned to thomasplevy

[2020-10-14 20:00] #1376 closed, assigned to nobody

[2020-10-15 00:04] imknight opened #1383 "need to add hacktoberfest topic"
I think there is a need to add hacktoberfest as a topic for lifterlms so that the contribution can be counted as a valid pull request

[2020-10-15 17:59] thomasplevy commented on #1383
Thanks for the heads up, I misunderstood the rules for maintainers

[2020-10-15 17:59] #1383 closed, assigned to nobody

[2020-10-15 20:13] thomasplevy opened #1385 "Add theme support for the twentytwentyone theme"
Theme slated for inclusion in [WP Core 5.6](https://make.wordpress.org/core/5-6/). Target release date: 12/08/2020

Theme on GitHub: https://github.com/WordPress/twentytwentyone

Trac Ticket: https://core.trac.wordpress.org/ticket/51526

## Todo

+ [ ] Disable sidebars since there are no "sidebar" widget areas in the theme
+ [ ] Add "color" support. The theme has 1 color option (site background co

[2020-10-18 13:02] daniel-shuy opened #1391 "Usage of `llms_log()` for deprecated function notice should be replaced with `llms_deprecated_function()`"
While working on #1302, I realized that `LLMS_Notifications::dispatch_processors()` is using `llms_log()` instead of `llms_deprecated_function()` (which in turn uses wp core's [_deprecated_function()](https://developer.wordpress.org/reference/functions/_deprecated_function/)) to mark the function as deprecated.

[2020-10-19 18:06] thomasplevy commented on #1391
@daniel-shuy this is only a technically valid issue and while a technically valid issue is still an issue, I'd prefer that you focus your efforts on open issues instead of looking for and creating issues that can be fixed with minimum effort.

[2020-10-19 19:03] #1302 closed, assigned to nobody

[2020-10-19 19:03] #1391 closed, assigned to nobody

[2020-10-19 20:47] thomasplevy opened #1397 "Documentation standards for @throws tag"
is this the right position for this tag?
I think we don't have a rule for that, but I would prefer it somewhere else, like
[code]
looks more readable to me...

_Originally posted by @eri-trabiccolo in https://github.com/gocodebox/lifterlms/pull/1386#discussion_r506545444_

[2020-10-19 20:48] thomasplevy commented on #1397
We don't have a rule but we should.

My thinking was that `@throws` is *kind of * like a return so it should go at the end with the return

Looking through the WP core they have no defined rule that I can find about where this tag should go and they also have it in an inconsistent pattern throughout the core when it is used.

It looks likes its mostly used by the core within included libraries.

L

[2020-10-20 03:19] daniel-shuy commented on #1391
Sorry, I just thought it was a low hanging fruit, maybe I should've just committed it as part of #1390 without creating a new issue/PR

[2020-10-20 06:45] eri-trabiccolo commented on #1297
HS-138390

[2020-10-20 16:19] #1397 closed, assigned to nobody

[2020-10-20 16:29] toyinogun commented on #1297
HS-138434

[2020-10-20 22:11] thomasplevy commented on #1357
Closing due to inactivity

[2020-10-20 22:11] #1357 closed, assigned to nobody

[2020-10-22 14:32] imknight commented on #1241
does it mean should be using the lifterlms-icon.png ? rather then the lifterlms-rocket-grey.png ?

[2020-10-22 15:10] imknight commented on #1093
a bit lost on this, can I use _wp_trash_meta_status to determine the order has been deleted?

[2020-10-22 17:24] thomasplevy commented on #1093
@imknight

Although I haven't exactly dug into a proper solution yet, but I think we essentially just need to check the status of the order before adding it's revenue to the reporting screens.

The order's actual post status should suffice. EG `get_post_status()`. I think that will return `trash` (or something like that) for a post in the trash.

I think, at least. I haven't reviewed the code rece

[2020-10-22 17:27] eri-trabiccolo commented on #1241
Hi there, probably not as lifterlms-icon.png foreground is white, I think we need another icon, a grey version of lifterlms-icon.png, right @thomasplevy ?

[2020-10-22 17:31] thomasplevy commented on #1241
Yea, ideally a grey icon like it is now but using the new icon in favor of the old one

Source icons can be found here: https://gocodebox.github.io/lifterlms-brand/

(I hope it goes without saying that the icon needs to be resized and cropped)

And ideally we won't change the name of the file so that any 3rd parties that *may* be referencing won't run into 404s

[2020-10-23 09:33] 007ke commented on #735
@thomasplevy is it possible to have a real time discussion with you over skype / zoom to understand certain features you have in development and how best me and my dev team can work together to achieve and contribute to your code base. You can email me on **ketanchandaria** (at) gmail (dot) com

[2020-10-23 16:11] thomasplevy commented on #735
@007ke we'll discuss this over slack!

[2020-10-29 18:20] nrherron92 opened #1409 "Achievement notification merge code gets post title not achievement title"
### Reproduction Steps

+ Create an achievement
+ give it a post title and an achievement title
+ trigger the achievement on the front end

### Expected Behavior

+ the basic notification for achievement earned is set to display the achievement title

### Actual Behavior

+ it gets the post title

this is wrong:
https://github.com/gocodebox/lifterlms/blob/bca2cc3f10e84347d8b07b2b2e5ddf2d019d50fc/i

[2020-10-30 21:46] jasonyingling opened #1411 "Filter `$skip_email` in class.llms.person.handler.php"
**Is your feature request related to a problem? Please describe.**
I need to be able to skip the `email_exists()` check within class.llms.person.handler.php on line 977.

I have a need to be able to register users with the same email address. And am able to do so with filtering core WordPress functionality, but I can't filter the `$skip_email` value in LifterLMS or the `email_exists()` function in

[2020-11-02 23:54] #1196 closed

[2020-11-02 23:54] #1239 closed, assigned to nobody

[2020-11-02 23:54] #1241 closed, assigned to nobody

[2020-11-02 23:54] #1250 closed, assigned to nobody

[2020-11-02 23:54] #1297 closed, assigned to thomasplevy

[2020-11-02 23:54] #1326 closed, assigned to nobody

[2020-11-02 23:54] #1409 closed, assigned to nobody

[2020-11-03 07:34] toyinogun opened #1413 "Option to pay for pending payment as a user"
**Is your feature request related to a problem? Please describe.**
When a user wants to buy a course with a one-time fee, the user fills in his/her details and then select "PayPal" as a mode of payment. Now, the student is created but he/she decides to cancel the payment and then logs into the account and goes to the order history. It shows as pending payment but no button to pay.

**Describe the

[2020-11-03 17:15] thomasplevy opened #1414 "PHP 8.0 Testing and Compatibility"
PHP 8.0 set for release on 11/26/2020 - https://wiki.php.net/todo/php80

+ [x] Reading and research
+ [x] Testing - manual -- Initial testing shows that LifterLMS is functional on PHP 8, haven't spotted any issues so far.
+ [x] Testing automated (phpunit & e2e tests)
+ [ ] ~Add-on testing~ Moved to add-on repos
+ [x] Add to travis test matrix

Yoast compat report: https://developer.yoast.com/blog/

[2020-11-03 17:28] thomasplevy opened #1415 "Drop PHP 7.2 testing & support (after 11/30)"
PHP 7.2 will reach it's official end of life on Nov 30 2020 [source](https://www.php.net/supported-versions)

+ [ ] Drop from travis testing matrix
+ [x] Raise PHP minimum version support from 7.2 to 7.3
+ [ ] Update add-on minimum supported version

[2020-11-05 21:00] nrherron92 opened #1421 "Password Meter Says it requires 6 characters but only works with 7 on weak"
### Reproduction Steps

+ Set the password strength to weak
+ Attempt a password of any combination but with only 6 characters

### Expected Behavior

+ the password remains too weak.

### Actual Behavior

+ The password remain too weak until a 7th character is added.

The workaround is just turning off the password meter entirely.

This issue has be recreated:
+ [X] Locally
+ [X] On a staging sit

[2020-11-05 21:42] thomasplevy commented on #1421
@nrherron92 This gets really complicated really quick but this *is not a bug*

Password strength is *not* the same as password minimum length.

These are two different requirements that work together. It's conceivable that there *is* a combination of characters that can be used to allow for a 6 character "weak" password. I'm not going to setup a bot to test this. It's also conceivable that there i

[2020-11-05 21:42] #1421 closed, assigned to nobody

[2020-11-05 23:53] thomasplevy commented on #1276
Import files will be served from an API hosted at academy.lifterlms.com, closing this.

[2020-11-05 23:53] #1276 closed, assigned to thomasplevy, chrisbadgett, nrherron92

[2020-11-06 22:51] thomasplevy commented on #1379
This was incorrectly referenced in a commit and has not yet been resolved.

[2020-11-09 16:43] eri-trabiccolo opened #1423 "Template override directories: when there's no child theme we "scan" the current theme dir twice - for every template"
That's because, when there's no child-theme `get_stylesheet_directory() === get_theme_directory()`, so this array contains the same string twice:
https://github.com/gocodebox/lifterlms/blob/4.7.0/includes/functions/llms.functions.template.php#L159

### Expected Behavior

+ Scan the current theme directory at most once (per template)

### Actual Behavior

+ Scan the current theme directory twice (p

[2020-11-10 11:14] eri-trabiccolo opened #1426 "Possible fatal when loading the course builder - when no PHP mbstring module support"
### Reproduction Steps

+ make sure your php doesn't have the mbstring module enabled
+ create a course with some text in its content
+ open it in the course builder

### Expected Behavior

+ I'd expect the builder working fine

(moreover we should not even parse the extra when loading a post in the builder..., I'll open a new issue about this: see https://github.com/gocodebox/lifterlms/issues/142

[2020-11-10 11:48] eri-trabiccolo opened #1427 "Avoid adding 'extras' to the post toArray when parsing data to be used in the course builder."
### Reproduction Steps

see #1426

### Expected Behavior

+ I'd expect 'extras' to not be added to the array model

### Actual Behavior

+ 'extras' are added

I wonder if by default we should just set this filter to `false`, and only enable it on export (we don't need it on clonation at the moment, right?):
https://github.com/gocodebox/lifterlms/blob/4.7.1/includes/abstracts/abstract.llms.post.mod

[2020-11-10 15:36] thomasplevy commented on #1427
Makes sense

[2020-11-13 15:55] nrherron92 commented on #860
HS-140616

[2020-11-13 16:00] eri-trabiccolo commented on #752
HS-140616

[2020-11-13 16:00] eri-trabiccolo commented on #384
HS-140616

[2020-11-13 16:02] eri-trabiccolo commented on #384
the description of this should be:
_All instructors should be listed on the catalog and the catalog should obey instructor visibility information instead of always only outputting the post author_

as outlined in https://github.com/gocodebox/lifterlms/issues/860#issuecomment-493203177

[2020-11-16 17:15] thomasplevy opened #1432 "Don't display WordPress admin notices on the setup wizard screen"
### Reproduction steps

+ Install LifterLMS on a fresh WordPress site (ideally with the twenty twenty theme)
+ After activation, you'll be redirected to the setup wizard
+ Observe the admin notices "flash" and then disappear as the wizard loads -- this doesn't always happen, it depends on the order of asset loading and the internet connection speed. I find it happens pretty regularly on myliftersi

[2020-11-16 18:29] #1118 closed

[2020-11-16 18:29] #1305 closed, assigned to nobody

[2020-11-16 18:29] #1423 closed, assigned to nobody

[2020-11-16 18:29] #1426 closed, assigned to nobody

[2020-11-17 08:37] toyinogun opened #1433 "When cloning a course, should the date of the course be the cloned date or the same date the course was created?"
Recreation steps:
Click clone on a course
You'll notice the date is the same as the cloned course

Suggested solution:
I feel the date should be that of the cloned date

For example, If I created a course on the 16th of November, and I clone the course today 17th, November the date should read 17th November and not 16th November.

HS-141043

[2020-11-17 15:37] thomasplevy commented on #1433
I don't have any strong reason or argument for keeping it the way it is currently, however, whenever a change is made we must consider that there will be some amount of users who consider the change to be a bug or a regression.

What's the problem here?
Why can we not just say "This is the way it is and if you don't like it change the date immediately following cloning?"

[2020-11-17 16:15] toyinogun commented on #1433
Why can we not just say "This is the way it is and if you don't like it change the date immediately following cloning?"

It's not really a problem but ease of use. I feel it can be confusing if after cloning a course, you now see two courses with the same date. A user may not know how to check for the new/old one. As I said, not really a problem but I agree with the customer in this case that it m

[2020-11-18 07:06] alaa-alshamy opened #1435 "Disenrolled courses still appear in "my-courses" page"
### Reproduction Steps

+ Login as a student
+ Enroll in any course
+ As an admin disenroll that student from the course
+ Back to student and open "my-courses" page, and will see the disenrolled course there

### Expected Behavior

+ Should disappear because it's not belong to that student anymore

### Actual Behavior

+ Disenrolled courses still appear

### Note
If i open the course page i will

[2020-11-18 07:07] alaa-alshamy commented on #1435
@thomasplevy What do you think ?

[2020-11-18 08:31] toyinogun commented on #1433
@thomasplevy Another user asking the same clone question - HS-141456

[2020-11-18 15:58] thomasplevy commented on #1433
@toyinogunseinde as the customer in the new ticket asked, they aren't complainig about the date, just asking if there's a way they can "identify the clone" -- the clone lesson functionality changes the copy to "Draft" and then appends "(Clone)" to the end. I'm thinking mimicing this behavior might be better than changing the date. I really don't know about changing the date but my feeling is that

[2020-11-18 16:13] eri-trabiccolo commented on #1433
@thomasplevy
I more inclined to the _draft_ status + `__( 'Clone', 'lifterlms' )` appended to the title as you say, rather than changing the published date, because it's a clone action, if it was a duplication one, would have made more sense.

btw:
Actually the _draft_ status should be already set, according to the [docs](https://lifterlms.com/docs/clone-lifterlms-course/):
_The page will reload a

[2020-11-18 16:14] thomasplevy commented on #1435
The list of courses on the dashboard is *not intended* to be a list of courses a user is currently enrolled in. It's a list of courses the user has ever been enrolled in.

An import scenario to consider is if a student's payment fails their enrollment status changes to unenrolled and they can update their payment information to gain access again. They still have progress in that course and they ca

[2020-11-24 22:53] #1141 closed

[2020-11-24 22:53] #1414 closed, assigned to thomasplevy

[2020-11-25 13:55] eri-trabiccolo opened #1441 "Post model: Stop scrubbing post properties (all of them?) prior to insert/update a WP_Post."
Originally discussed here:

https://github.com/gocodebox/lifterlms/pull/1408#issuecomment-720696709

Basically `wp_insert_post()` should already sanitize the post data, see:
https://developer.wordpress.org/reference/functions/wp_insert_post/#security

[2020-11-25 16:20] thomasplevy commented on #1441
Agreed, I think that we just need to cover the abstract getters/setters with explicit tests and then we can see what effect we'll have with a change.

[2020-11-25 17:49] eri-trabiccolo commented on #1427
fixed and released in v4.8.0

[2020-11-25 17:49] #1427 closed, assigned to eri-trabiccolo

[2020-11-28 20:34] qamaruldinhamza opened #1443 "Got error 'PHP message: PHP Warning: in_array() expects parameter 2 to be array, string given in /lifterlms/includes/admin/class.llms.admin.notices.php on line 206"
### Reproduction Steps

+ Include clear and detailed step by step instructions on how the issue can be reliably reproduced
I found some warnings in my site log, those are repeating on a daily basis, those are given here

Got error 'PHP message: PHP Warning:  in_array() expects parameter 2 to be array, string given in /public_html/wp-content/plugins/lifterlms/includes/admin/class.llms.admin.notices

[2020-11-30 18:01] thomasplevy commented on #1443
@qamaruldinhamza

Thanks for your bug report.

Can you help me out with a few more details:

1) Can you provide me with the string that's being passed into `in_array()`. It feels like it's possible for that to be an empty string but I cannot see how that could happen without someone heading into the database and deleting manually entering a string (even an empty string) into the option value.

Of

[2020-11-30 18:03] thomasplevy opened #1445 "chmod operation not permitted via course builder"
Originally reported by @qamaruldinhamza in #1443 & moved here to separate 2 different issues in the same bug report.

### Reproduction Steps

I found some warnings in my site log, those are repeating on a daily basis, those are given here

PHP Warning:  chmod(): Operation not permitted in /public_html/wp-admin/includes/class-wp-filesystem-direct.php on line 173', referer: https://samanthariley.cou

[2020-11-30 18:06] thomasplevy commented on #1445
@qamaruldinhamza

Could you provide me with a full stack trace on the `chmod()` error you're seeing please?

Since this is a wp core method that's being called (of course more than likely via LifterLMS code) it's hard to tell what's happening here and why.

Although if I had to guess it's probably a logger that's encountering an error as a result of filesystem permissions on your server. Could you

[2020-11-30 19:51] qamaruldinhamza commented on #1445
Ok lemme check the wp permissions and then I will let you know guys.

Thanks for your reply

On Mon, Nov 30, 2020 at 11:07 PM Thomas Patrick Levy <
notifications@github.com> wrote:

--
*Sincerely *
*Qamar Ul Din Hamza*
Web Developer, Programmer & Android Developer
*Phone #: +923365087979*

[2020-12-01 09:54] danish-ibrahim commented on #624
steps Adding new membership

Go to Membership menu in admin panel and select “Add Membership”
after adding membership Go to admin panel

Allow easy restriction of custom post type

Go to menu “Post”—> "Add new" where you can add new custom post type
Then select “Membership Access” options in setting menu
Then “Turn on” —>"Restrict this post "
After that select “Memberships” for memberships access

[2020-12-01 09:55] danish-ibrahim commented on #653
protected function send_email_notification( $type, $subscriber, $force = false ) {

/**
* If autodupcheck is set
* and the send function doesn't override the dupcheck
* and the subscriber has already received the notification
* skip it.
*/
if ( $this->auto_dupcheck && ! $force && $this->has_subscriber_received( $type, $subscriber ) ) {
// phpcs:ignore -- commented out code
// llms_log( sprintf( 'S

[2020-12-01 13:31] eri-trabiccolo opened #1447 "Permanent deletion of an events post type post produces a Fatal"
### Reproduction Steps

+ register a post type named "events"
+ create an _events_ post
+ permanent delete it (trash + delete)

### Expected Behavior

+ everything should go smooth and the _events_ post should be permanently deleted

### Actual Behavior

+ fatal error and the _events_ post is not deleted

See the **Related User Information** section

### Error Messages / Logs

[code]

### System a

[2020-12-01 18:37] thomasplevy commented on #1443
@qamaruldinhamza in case you missed it I'm requesting some additional information from you to move this forward. Thanks <3

[2020-12-01 19:06] thomasplevy commented on #1415
@eri-trabiccolo I'm thinking that we can schedule this to happen in early January and add a notice to the next release changelog to give users some fair warning. Does this seem acceptable to you?

[2020-12-01 19:12] eri-trabiccolo commented on #1415
@thomasplevy not sure man, hosting are not that fast... let's wait for February maybe, but start noticing in the changelog starting from the next release anyways...

[2020-12-01 19:28] thomasplevy commented on #1415
Hows that sound in the changelog of the next release? I'll review usage stats before we make the official decision to bump the version number and we can always not raise it when we hit March if we don't feel good about it?

[2020-12-01 19:28] thomasplevy commented on #1415
@eri-trabiccolo :arrow_up:

[2020-12-01 19:59] eri-trabiccolo commented on #1415
@thomasplevy I like it.
Would be good if we could add a short version of that in each next release like only:

So that this important information doesn't get buried, what do you think?

[2020-12-01 20:07] DonavanMartin opened #1448 "llmd_calculate_course_data causing DDOS"
### Reproduction Steps

It looks to happen randomly.

![Capture d’écran, le 2020-12-01 à 14 56 05](https://user-images.githubusercontent.com/7544240/100790117-5d40fe80-33e5-11eb-9ee9-f0c464023f50.png)

When those cron task are added at the same time in the cron tasks queue, the site response become very slow...
<img width="784" alt="Capture d’écran, le 2020-12-01 à 14 56 46" src="https://user-imag

[2020-12-01 20:12] thomasplevy commented on #1448
@AlgoSolu

Throttling is built into the background processor that processes the data in question. Perhaps given the resources available to your server the default settings are too high, you can reduce these as needed with the filters found here:

https://github.com/gocodebox/lifterlms/blob/d5dbbfae38e2970baefce5fc3ce9e3da0b9977b9/includes/processors/class.llms.processor.course.data.php#L175-L177

[2020-12-01 20:13] thomasplevy commented on #1415
Sounds good

[2020-12-01 20:14] thomasplevy commented on #1448
Woops I didn't mean to close it, I'll let you review and close if you're satisfied!

[2020-12-01 20:39] #1356 closed, assigned to nobody

[2020-12-01 20:39] #1385 closed, assigned to thomasplevy

[2020-12-01 20:39] #1411 closed, assigned to nobody

[2020-12-01 20:40] DonavanMartin commented on #1448
@thomasplevy I forgot to mention that we have a performant server only for this site...
64GB DDR4 SDRAM
2 x SSD
Intel Xeon Gold 6130 - 16 Total Cores
Ubuntu 18.04 LTS 64-bit

I saw those settings in your LifterLMS documentation but the four hours settings don't looks like with our case...
![Capture d’écran, le 2020-12-01 à 15 37 10](https://user-images.githubusercontent.com/7544240/100794104-1f46d

[2020-12-01 20:40] #1448 closed, assigned to nobody

[2020-12-02 11:40] eri-trabiccolo commented on #1415
@thomasplevy
I missed a typo:

should be

[2020-12-03 10:26] alaa-alshamy commented on #1435
Mmmm i got your point, i think you are right and your solution you mentioned is the best option :+1:

[2020-12-03 18:29] eri-trabiccolo opened #1453 "Possible fatals in quiz report overview: Cannot declare class LLMS_Quiz_Data, because the name is already in use."
### Reproduction Steps

+ Go to a quiz report overview

### Expected Behavior

+ Expect to see the quiz overview

### Actual Behavior

+ PHP Fatal

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### System and Environment Information

<details>
<summary>System Report</summary>

[code]

</details>

### This issue has been recreated:

+ [ ] Locally
+ [ ] On a s

[2020-12-03 21:12] thomasplevy commented on #1247
@skaparate this has fallen off my radar and I'm sorry about that, this will be addressed in our next release, see #1455 if you're interested.

Thanks for your patience!

[2020-12-04 19:54] eri-trabiccolo opened #1456 "LifterLMS Add-Ons screen - a couple of style issues"
### Reproduction Steps

+ Go to your wp dashboard - LifterLMS -> Add-ons & more
+ Make sure your viewport's width is around 2205px
+ Look at the cards

### Expected Behavior

+ Cards should be organized in 3 columns
+ Also we should be able to see the full description in each card

### Actual Behavior

+ The Advanced Videos card is misplaced
+ Cannot see the author nor the version of any add-on. T

[2020-12-07 19:36] zackkatz commented on #1456
I was just about to create an issue for this as well: with a very wide viewport (2560px), the add-ons no longer show descriptions and the images become too large:

Normal:

![add-ons screen for normal viewport](https://i.gravityview.co/yVvtJR+)

Wide:
![add-ons screen for wide viewport](https://i.gravityview.co/HnV13G+)

[2020-12-07 20:15] thomasplevy commented on #1456
@zackkatz I'm not seeing the issue you're reporting on our `dev` branch (where the fix for the initial issue reported by @eri-trabiccolo has been merged). Your issue seems somewhat related but not entirely the same.

If you'd like us to track your issue separately could you have a go at the `dev` branch and, if you're still seeing this issue, could you open a new bug report for us please.

Thanks

[2020-12-08 18:02] eri-trabiccolo commented on #1456
actually I found another issue introduced by #1457
see LifterLMS Settings screen:
![Schermata 2020-12-08 alle 19 01 44](https://user-images.githubusercontent.com/7689242/101522675-da411a80-3987-11eb-80c6-0f74612568e0.png)

I think we can just get rid of that CSS rule which sets the minimum height of those cards.

[2020-12-10 21:46] #1247 closed, assigned to thomasplevy

[2020-12-10 21:46] #1447 closed, assigned to eri-trabiccolo

[2020-12-10 21:46] #1453 closed, assigned to eri-trabiccolo

[2020-12-10 21:46] #1456 closed, assigned to nobody

[2020-12-14 18:18] thomasplevy opened #1462 "Documentation Update"
All deprecated methods should include a note in the docblock pointing to a replacement method, where applicable, and if not applicable they should state as much.

+ [x] https://developer.lifterlms.com/reference/classes/llms_section/get_next_available_lesson_order/

[2020-12-15 18:46] eri-trabiccolo opened #1463 "Possible Fatal when deleting a product (course/membership) related to a (recurring) manual payment"
### Reproduction Steps
(a way to reproduce it)
+ as admin
+ create a course with an access plan with recurring payments
+ buy the access plan with manual payment gateway
+ go to the backend and delete (permanently) the course
+ edit the pending order and record a manual transaction so that the next recurring payment is scheduled
+ go to LifterLMS->Status->Scheduled Actions
+ run the pending action

[2020-12-16 17:54] thomasplevy commented on #1463
I believe that when a product is deleted the related orders should be marked as cancelled (and we should probably create a "lock" mechanism so that it can't be edited after that happens) and the order data, when viewing it, should likely display something like "[Deleted]" so we don't run into errors referencing IDs that no longer exist.

This should likely happen during DELETION not trashing thoug

[2020-12-17 09:37] toyinogun commented on #1443
HS-145203

[2020-12-21 08:52] alaa-alshamy opened #1464 "Some js texts are missing from translation"
### Reproduction Steps

+ Open "Course builder" of any course
+ Edit any lesson
+ Hover over the tool tip of "Free lesson" for example
+ The text of the tool tip is not translatable ( because it's not exist in translation template(pot) to be translated )

see this screenshot:
![Screenshot from 2020-12-21 10-57-00](https://user-images.githubusercontent.com/2883734/102753053-997bd500-437b-11eb-8b49-

[2020-12-21 08:57] alaa-alshamy commented on #1464
The possible solutions:

- Fix the gulp script to make it expect the texts being in double quotes
- Change those texts to be in single quote

but i don't know what you prefer

[2020-12-21 11:08] toyinogun commented on #1413
HS-145787

[2020-12-21 11:23] toyinogun commented on #1433
@eri-trabiccolo Can you try cloning a course to see if it marks as a draft? I just did and it did not so it's difficult to know which is cloned or not.

BTW, this customer is facing the same issue HS-145801

[2020-12-21 11:45] eri-trabiccolo commented on #1433
@toyinogunseinde
I never said the opposite, I said, that I'm more inclined to draft status + clone appended to the title, then I said _Actually the draft status should be already set_, but I was referring to what Thomas said, which made implicit the fact that, at the moment when cloning a course no "Clone" string is appended. See what Thomas says:

 _as the customer in the new ticket asked, they a

[2020-12-21 18:54] eri-trabiccolo commented on #1463
I see, mmm it seems to make sense yeah.

Have to investigate why the notice is instantiated in wp-admin/edit.php and not in wp-admin/settings.php for instance...

Yes this is also a separate issue.

[2020-12-21 18:58] eri-trabiccolo opened #1465 "Merge codes: only parse actually used merge codes."
Originally posted here:
https://github.com/gocodebox/lifterlms/issues/1463#issuecomment-746726678

@eri-trabiccolo said:

@thomasplevy replied

[2020-12-22 18:25] thomasplevy commented on #1464
@alaa-alshamy

Thanks for reporting this, we'll work on getting this fixed in a future version

[2020-12-23 16:41] eri-trabiccolo opened #1469 "Students tables - not correctly ordered when sorted by "Name" (last_name, first_name, id)"
### Reproduction Steps

+ create a student with e.g. first name **Jennyfer** and last name **Juniper**
+ create a student with e.g. first name **Jennifer** and last name **Juniper**
+ enroll them in a course
+ visit the students report (table is by default sorted by the Name column: last_name (asc), first_name(asc), id(asc))

### Expected Behavior

+ I'd expect to see Jennifer Juniper before Jenny

[2020-12-23 17:28] toyinogun opened #1470 "Bugged method in class.llms.controller.quizzes.php which should be deprecated because unused/replaced"
We don't use the method in the above filename anymore and it should be deprecated.

HS-145671

[2020-12-23 17:34] eri-trabiccolo commented on #1470
The main problem of that method is that, if used, might create a fatal:

`Uncaught Error: Call to a member function get_key() on boolean in /home/{removed}/public_html/wp-content/plugins/lifterlms/includes/controllers/class.llms.controller.quizzes.php:97`

That's because actually we assign a boolean to the `$attempt` variable:
https://github.com/gocodebox/lifterlms/blob/4.10.1/includes/controllers

[2020-12-23 17:45] thomasplevy commented on #1470
What method?

[2020-12-23 17:51] eri-trabiccolo commented on #1470
@thomasplevy
https://github.com/gocodebox/lifterlms/blob/4.10.1/includes/controllers/class.llms.controller.quizzes.php#L73

[2020-12-23 17:51] thomasplevy commented on #1470
I'm really confused by this whole conversation...

[2020-12-23 17:53] eri-trabiccolo commented on #1470
ahaha.
Because the matter is confused.

There's this method here:
https://github.com/gocodebox/lifterlms/blob/4.10.1/includes/controllers/class.llms.controller.quizzes.php#L73
We don't use it anymore, but it's there, I think it should be deprecated as we use `LLMS_AJAX_Handler::quiz_start( $request )` to start a quiz via ajax.

It happened that a customer, dunno why, used that "old" method (which

[2020-12-23 17:55] thomasplevy commented on #1470
@eri-trabiccolo thank you...

So I replaced a method and neglected to mark it deprecated?

[2020-12-23 17:57] eri-trabiccolo commented on #1470
@thomasplevy
yes, that's what I think it happened.

I cannot find where we use that `take_quiz` (nor that nonce) anywhere in the code.

[2020-12-23 18:00] thomasplevy commented on #1470
I think you're right... Since the ajax was introduced the last time the controller method was updated my guess is that this is when the change happened. That was a long time ago and I was a lot worse about documenting back then

https://github.com/gocodebox/lifterlms/blob/trunk/CHANGELOG.md#v390---2017-06-02

[2020-12-23 20:11] jasonyingling opened #1471 "Filter $plan_id in the `[lifterlms_checkout]` shortcode."
**Is your feature request related to a problem? Please describe.**
I'm trying to have the homepage of my site display the user checkout form for a specific free Membership access plan. Since the site will only have a single plan.

The `filter_input` function used by `llms_filter_input` does not use the current value of `$_GET['plan']`. So when a user lands on page with no query parameters in the U

[2020-12-23 21:18] thomasplevy commented on #1471
@jasonyingling

Have you tried adding the filter yourself already and ensuring this will work?

I haven't looked at much of this code in a while but a quick glance leaves me to believe that after getting the form to display without a query string variable you'll start to encounter other issues.

I'm pretty sure the shortcode won't really function that well outside of the checkout page (where it's

[2020-12-23 21:37] jasonyingling commented on #1471
@thomasplevy

I did have it functioning with that filter in place for my specific use case. But I wasn't sure how widely this use case would be reasonable and if it would introduce additional bugs.

Thinking through my case some more and poking around the Lifter code base, I decided it was probably a more reasonable route for me to go to use the registration form instead and enroll the student in

[2020-12-23 21:38] #1471 closed, assigned to nobody

[2020-12-29 16:13] thomasplevy commented on #933
@eri-trabiccolo how many more occurrences of this do you think there are?

If you have some time can you add a checklist of the remaining items to this issue so we can determine how many more we have to work out and then (eventually) feel confident that we can close this issue?

[2020-12-29 16:54] eri-trabiccolo commented on #933
@thomasplevy
I dreaded this moment...

Remaining items to update:

- [ ] LLMS_Notifications_Query
- [ ] LLMS_Query_Quiz_Attempt
- [ ] LLMS_Query_User_Postmeta

[2020-12-29 22:56] thomasplevy commented on #933
@eri-trabiccolo that wasn't so bad, was it?

I added the checklist to the initial issue so we don't have to scroll looking for it in the future

[2020-12-29 22:58] eri-trabiccolo commented on #933
@thomasplevy
You never know until you face it.

[2020-12-31 19:55] thomasplevy opened #1473 "Move vendor packages to a directory not ignored by `wp i18n make-pot` command"
Strings from vendor-included package plugins (lifterlms-blocks and lifterlms-rest) are not translatable via GlotPress (despite their inclusion in the plugin-included pot file.

My previous understanding is that all strings included in the plugin's language directory are imported into the GlotPress project for the plugin but it turns out there is a "build step" that generates these strings using `w

[2021-01-04 18:16] thomasplevy commented on #1445
@qamaruldinhamza

Closing this due to lack of information. If you'd like us to continue looking into this please respond with the requested information!

[2021-01-04 18:16] #1445 closed, assigned to thomasplevy

[2021-01-04 19:30] #1469 closed, assigned to nobody

[2021-01-07 11:15] eri-trabiccolo opened #1479 "PHP Notice when trying to retrieve next lesson from an empty sibling section"
### Reproduction Steps

+ Create a course with a section and a lesson
+ Then create another section, but do not add any lessons to it
+ Visit the first lesson on front (assuming it shows the lessons navigation).

### Expected Behavior

+ I'd expect to only see the Back to the Course button in the lessons navigation and no warnings.

### Actual Behavior

+ I see the  the Back to the Course button b

[2021-01-07 17:43] thomasplevy commented on #1479
*We introduced this

[2021-01-07 18:28] eri-trabiccolo commented on #1479
Yeah we as a team, but I wanted to highlight the fact that the bug wasn't in the first version of the PR, the one that you implemented. :D

[2021-01-07 18:48] thomasplevy commented on #1479
Ahhh, I assumed that I introduced it and you we're being kind <3

[2021-01-07 23:14] #1462 closed, assigned to thomasplevy

[2021-01-07 23:14] #1479 closed, assigned to eri-trabiccolo

[2021-01-08 10:49] eri-trabiccolo commented on #263
@thomasplevy
we should remove access plans when "parent" course/membership is **permanently** deleted, as we don't have the concept of an "orphan" access plan.
Should we add this to the list above or should we open a new issue?

[2021-01-08 21:18] reedhewitt opened #1484 "Add a Database Indices to Improve Performance of Frequently-Running Queries"
The short version: adding a few new indices on a couple of database tables made one of the often-running background processes in LifterLMS run seven times faster.  I'm posting it here in case it helps anyone else and in case it can be included in a future release of LifterLMS.

**Is your feature request related to a problem? Please describe.**

We noticed that LifterLMS was always running some var

[2021-01-11 16:19] thomasplevy commented on #263
@eri-trabiccolo added above

[2021-01-11 19:41] thomasplevy commented on #1484
@reedhewitt

After adding the indices on your site did you see any side effects (aside from the performance improvements)?

I'm mainly interested in knowing if the indices had any notable impact on the size of the tables in your DB.

While I'm not opposed to some table alterations, I'm a bit hesitant to deploy a change without understanding the full scope of impact.

Additionally, we've identified

[2021-01-15 12:18] eri-trabiccolo opened #1487 "Calling `wp_nav_menu()` before `init` (10) hook raises a fatal"
### Reproduction Steps
This is a simplified way to reproduce it. See the section Related User Information for the real case bug reporting.

+ Make sure you have at least one menu created
+ Execute this code:
```php	add_action( 'init', 'wp_nav_menu', 0 );```

### Expected Behavior

+ a nav menu printed at init|0.

### Actual Behavior

+ Fatal error

I just simplified

### Error Messages / Logs

[co

[2021-01-15 16:29] thomasplevy commented on #1487
@eri-trabiccolo Do we have a quick explanation of why you would ever need to call `wp_nav_menu()` (a method used to output navigation menus on the frontend of a website) prior to init? Realistically I don't see any reason why it would be called anywhere before then since it's an html-generating function.

However... the user did say this was an EDD conflict but there's no system report and I don't

[2021-01-15 16:41] eri-trabiccolo commented on #1487
the quick explanation is that the user calls `wp_nav_menu()` from his EDD mail override, so it's custom code.
And the "conflict" is about the fact that, apparently, EDD sends the emails before `init`(?)

Sure, as I said above:
_**This very issue could be fixed by checking whether the function exists before using it**, yet the issue is more general and maybe we need to think to a more generic appro

[2021-01-15 16:42] eri-trabiccolo commented on #1487
@thomasplevy  ^

[2021-01-15 17:28] nrherron92 commented on #1258
HS-149151

[2021-01-15 17:33] thomasplevy commented on #1258
@nrherron92 just a heads up on this that we don't really have any available development capacity for a minor issue like this in the near future. If you feel we need to *increase the severity* of this bug let me know, otherwise it's staying on the backlog for the forseeable future.

[2021-01-15 17:33] eri-trabiccolo commented on #1258
The solution could just be turning this:
https://github.com/gocodebox/lifterlms/blob/4.11.0/includes/shortcodes/class.llms.shortcode.courses.php#L156
into this:
[code]

similar thing should be done with the membership shortcode.

[2021-01-15 20:38] chrisbadgett opened #1490 "Access Plans not displaying on imported course template"
### Reproduction Steps

+ Import Course Template
+ Notice 3 access plan boxes are visible on the backend but not on the front end

<img width="1453" alt="Course_Template_–_A_LifterLMS_Sandbox" src="https://user-images.githubusercontent.com/12163552/104776025-60027380-5747-11eb-82db-8011e6f1877f.png">

### Expected Behavior

+ Access plan should be visible on front end

### Actual Behavior

+ Acces

[2021-01-15 20:50] eri-trabiccolo commented on #1490
@chrisbadgett
It could happen when you have no payment gateway set: in that case only free access plans are visible.

Either enable e.g. the manual payment or set up a free access plan...

Can be that?

[2021-01-15 20:50] thomasplevy commented on #1490
@chrisbadgett

LifterLMS automatically prevents plans from being displayed when there is no payment gateway available to "support" the checkout process for the gateway.

So if you have no payment gateways enabled, paid access plans can't be viewed.

[2021-01-15 20:50] #1490 closed, assigned to nobody

[2021-01-15 21:24] chrisbadgett opened #1491 "Course Template import hero video not displaying without attempt block recovery process"
### Reproduction Steps

+ Import course template and view where hero video should be

### Expected Behavior

+ Import course template hero video displays in front and back end of website

### Actual Behavior

+ Embed block has a button that says attempt block recovery

<img width="997" alt="Edit_Course_‹_A_LifterLMS_Sandbox_—_WordPress" src="https://user-images.githubusercontent.com/12163552/10477

[2021-01-15 21:26] chrisbadgett commented on #1491
Video embed URL: https://gocodebox.wistia.com/medias/ixgrrk3aup

[2021-01-15 21:29] chrisbadgett commented on #1490
Thanks! I did not realize that was the case. I must have skipped the manual gateway option in the setup wizard (which I usually don't) so that must have been my mixup.

[2021-01-15 21:37] thomasplevy commented on #1491
Looks like we're looking at a deprecated block version from WP 5.5 to WP 5.6, there's not much we can do programmatically to prevent this within the LifterLMS core (or at least not in a way that feels worth our time)

The top is the new, expected, block HTML while the bottom is the 5.5 version.

[code]

Compare 5.6

https://github.com/WordPress/gutenberg/blob/13e153d52b4546a0b4cf5b505b10d7496f6d3c

[2021-01-15 21:37] thomasplevy commented on #1491
Solution: Get our hosting provider to update to WP 5.6

[2021-01-18 18:45] thomasplevy opened #1495 "Proposal: Changes to "Pending" Orders"
Recently some issues with the way initial transaction failures for orders are handled, this proposal attempts to (A) outline current behaviors and explain the engineering / architectural reasons behind current behavior, (B) expose problems and pitfalls encountered as a result of these current behaviors, and (C) develop a set of changes which can be implemented to improve the existing system to bot

[2021-01-18 18:46] thomasplevy commented on #1495
@eri-trabiccolo can you have a second look at this and let me know if you have any suggestions or if I've missed anything before we open this up for ~debate~ civil discussion

[2021-01-18 20:43] eri-trabiccolo commented on #1495
@thomasplevy:

Can't we just say unify as:
**It is an order with failed or pending status with no transaction or if its last transaction status has failed**

I'm very positive for all the rest.

[2021-01-18 23:54] thomasplevy commented on #1495
I don't think that will work...

And I think I actually need to make it *more* complicated.

A recurring order that has 1 successful payment and then fails will, therefore, be resumable, but we don't want it to be.

We only want a recurring order that has 0 successful transactions and the "Failed" status to be resumable.

We also should consider the "On Hold" recurring status to be resumable.

So

[2021-01-18 23:58] thomasplevy commented on #1495
In pseudo code

[code]

[2021-01-20 17:23] #1258 closed, assigned to eri-trabiccolo

[2021-01-20 17:23] #1487 closed, assigned to nobody

[2021-01-20 17:31] thomasplevy commented on #1484
@reedhewitt Version 4.12.0 (now released) introduces some improvements to the queries in question here. I believe these are some pretty significant improvements that may "close" the issue you initially raised. Any feedback greatly appreciated.

I'm going to leave this open for the time being as we may yet add additional indices as you've suggested in the future

[2021-01-20 17:34] reedhewitt commented on #1484
@thomasplevy Thank you!  I will definitely check it out and report back here.

[2021-01-22 12:34] chrisbadgett commented on #1495
Looks like a solid payments enhancement set. The new "timeout" status, resume option, and allowing the user to see failed transaction error reports from their dashboard after the fact makes a lot of sense for UX improvement.

In the case of a red site, could theme authors choose to provide color style options for checkout error messages? For example, a theme could choose to provide the ability for

[2021-01-22 14:01] eri-trabiccolo opened #1498 "Possible PHP fatal when saving a certificate"
### Reproduction Steps

I cannot reproduce this on my end, of course, I think it depends on some DOMDocument version?!
Well the reproduction steps would be to just click on the Save certificate button.
I can force the reproduction by altering the code and turning this:
https://github.com/gocodebox/lifterlms/blob/4.12.0/includes/llms.functions.core.php#L395
into
`		$meta = $dom->getElementById( 'wh

[2021-01-22 16:01] thomasplevy commented on #1495
Yes, of course. It's all CSS and actually in the site in question there's already CSS from the theme that's changing the style of the error message, but they haven't changed the _color_. Of course theme author's could do something about this. My point is that it's *complicated* to automatically identify visual problems like this from within our codebase. IT would actually probably be difficult for

[2021-01-25 09:01] toyinogun commented on #1433
HS-151323 (3rd question)

[2021-01-25 12:17] toyinogun opened #1500 "Fatal Error after deleting quiz"
### Reproduction Steps

- open the course builder in a browser tab (window) 1
- create a quiz and save
- open a new browser tab (window) 2
- open the course builder and delete the quiz previously created
- move to tab 1 and try to update the quiz (which is removed but this instance of the builder has not been informed yet) -> you'll get the fatal error.

### Expected Behavior

Should not update th

[2021-01-26 16:40] nrherron92 opened #1504 "Course Catalog does not respect site wide membership restriction"
### Reproduction Steps

+ Create a membership
+ set it to site wide restriction (or just set the restriction on the course catalog page)
+ in an incognito tab access the course catalog

### Expected Behavior

+ the course catalog should be restricted
+ you should not be able to access the courses
+ you should not be able to purchase the courses without being part of the membership

### Actual Beha

[2021-01-26 16:41] nrherron92 commented on #1504
HS-150898

[2021-01-26 17:05] thomasplevy commented on #1504
See related WIP PR at #1263

[2021-01-26 19:25] #1433 closed, assigned to nobody

[2021-01-26 19:25] #1443 closed, assigned to thomasplevy

[2021-01-26 19:25] #1498 closed, assigned to nobody

[2021-01-27 13:58] eri-trabiccolo opened #1506 "Access Plan editor: shortcodes are "expanded" on load"
### Reproduction Steps

+ Create a course with an access plan
+ Add a shortcode to the access plan description e.g.: [lifterlms_course_continue_button course_id="123"] (use a valid course id so that you actually will see a button)
+ Save
(the access plan meta box reloads)
+ Toggle the just created access plan accordion to show its content

### Expected Behavior

+ I'd expect to see the shortcode a

[2021-01-28 08:16] alaa-alshamy commented on #1464
@thomasplevy Any news here ?

[2021-01-28 10:53] toyinogun opened #1508 "Course Builder error"
### Reproduction Steps

- Create a new course and save as draft

- Then launch the course builder.

- Create a section and create a lesson.

- Right-click the settings icon for the lesson and inspect the console.

- Here's the screenshot:

![image](https://user-images.githubusercontent.com/62220599/106127358-c5e6f600-615e-11eb-8dfa-d76316d54db0.png)

- When I refreshed, the errors disappear.

http

[2021-01-28 16:15] reedhewitt commented on #1484
@thomasplevy Here's what I've found with the latest version (4.13.0):

The data processor queries don't show up in the MySQL slow query log anymore, even with the threshold set to 2 seconds.  I'm also not seeing any noticeable CPU usage by MySQL when there are no active users on the website.  (We have WP cron triggered by a server cron, not by visitor activity, so background processes would still

[2021-01-28 18:30] eri-trabiccolo opened #1509 "Missing stylesheets in saved certificates, when serving them (stylesheets) trough a CDN."
### Reproduction Steps
Edit:

What I said below, while it's technically true, doesn't take into account the fact that, because of this line:
https://github.com/gocodebox/lifterlms/blob/4.13.0/includes/class.llms.certificates.php#L263-L265
we totally skip external stylesheets, and remove them later:
https://github.com/gocodebox/lifterlms/blob/4.13.0/includes/class.llms.certificates.php#L285-L289

~

[2021-01-28 19:21] thomasplevy commented on #1464
@alaa-alshamy I've prioritized this as a future update and haven't begun work on it yet. Once we start working on it it'll be moved out of the "Future" milestone and assigned to one of us.

Thanks for your patience.

[2021-02-02 19:48] thomasplevy commented on #1238
See commit: https://github.com/gocodebox/lifterlms/commit/ad0e8bf06e527d4f5c1984953fcb8bb64b7c4be2

[2021-02-02 19:54] thomasplevy commented on #1198
Updated to include methods deprecated in #1511

[2021-02-03 10:27] eri-trabiccolo commented on #1509
@thomasplevy
on a further analysis I see that we don't "inline" external images as well, but in this case we leave them in the certificate document as they are: with the original external src.

I think we should apply the same principle: use `wp_remote_get()` for external images too.

[2021-02-03 16:06] thomasplevy commented on #1509
Sounds good

[2021-02-03 16:13] thomasplevy opened #1512 "Internal Request: Decrease number of enrollments required to request a 5-star review"
The 5-star review request admin notification is displayed on a site after LifterLMS has been installed for at least one week and there are at least 50 enrollments in the database.

@willmiddleton-lifterlms has requested the threshold of 50 enrollments be decreased to 30.

[2021-02-03 23:33] reedhewitt opened #1516 "Enroll in membership auto-enroll courses "on demand" instead of all at once"
@thomasplevy, we talked on Slack about the idea of postponing student enrollment in all the auto-enroll courses for a membership level.  On our large site with a lot of courses (43 in our main membership level), the auto-enrollment was bogging down the server because it happened immediately when customers completed checkout to purchase a membership.  If we had any significant number of checkouts h

[2021-02-04 17:55] thomasplevy commented on #1516
@reedhewitt

Makes sense.

I'd be happy to have this filter, [PRs are welcome](https://github.com/gocodebox/lifterlms/blob/trunk/.github/CONTRIBUTING.md#contributing-code)!

[2021-02-04 18:03] thomasplevy commented on #1516
Oh... and two notes:

1) pulling autoenrollment courses via the method `LLMS_Membership::get_autoenroll_courses()` is probably preferable to pulling the metadata directly.

This will first off guarantee an array if the metadata isn't set (which is possible!) and will also ensure filters are applied. The core doesn't use the filter anywhere but, you know, things could change and this helps with for

[2021-02-04 18:10] thomasplevy commented on #1484
@reedhewitt

I realized I never responded to this.

At the moment I'm going to leave this for future development as the query in question will be quite difficult to improve given what's needed to pull the information found in the metabox. There's a lot of alternative solutions and I'm really hesitant to add the indicies as you've identified due to the increase in size. Users who aren't having any

[2021-02-04 19:41] reedhewitt commented on #1516
Thanks for the tips!  I'll look into those two methods.  I'll also submit a pull request with the filter.

[2021-02-04 19:44] reedhewitt commented on #1484
Thanks for the reply.  That all makes sense about not including the indices by default.

[2021-02-04 19:44] #1484 closed, assigned to nobody

[2021-02-04 21:14] thomasplevy commented on #1516
Leaving this open, if you do decide to submit a PR we'll close when it gets merged or, if you don't, we'll close it when we do so internally (and merge)

Thanks!

[2021-02-04 23:58] #1470 closed, assigned to nobody

[2021-02-04 23:58] #1506 closed, assigned to nobody

[2021-02-04 23:58] #1508 closed, assigned to thomasplevy

[2021-02-04 23:58] #1512 closed, assigned to thomasplevy

[2021-02-05 00:07] thomasplevy commented on #1238
Closed in #1517

[2021-02-05 00:07] #1238 closed, assigned to nobody

[2021-02-08 16:25] thomasplevy opened #1520 "Fix workaround in tests for WP core issue in 5.6.1"
Added a workaround to handle incorrect page dialogs encountered when editing certificates resulting from WP core issue found at https://core.trac.wordpress.org/ticket/52440

Our changes are found in commit: https://github.com/gocodebox/lifterlms/commit/3bd2bbce7c81b9f3981b2e5ddeb5b0d9a3c9e4dd

The workaround dialog is added here: https://github.com/gocodebox/lifterlms/blob/3bd2bbce7c81b9f3981b2e5d

[2021-02-08 18:47] eri-trabiccolo commented on #909
wip in https://github.com/eri-trabiccolo/lifterlms/tree/issue/909

[2021-02-09 14:08] eri-trabiccolo opened #1523 "Donuts "broken" in RTL"
### Reproduction Steps

+ Install the RTL tester plugin ().
+ Visit a page with a donut, e.g. looking at a quiz attempt in front!?
+ Switch to RTL.

### Expected Behavior

+ I would expect te see the donut looking like the LTR.

### Actual Behavior

+ Look at the screenshot
![lifter-quizz](https://user-images.githubusercontent.com/7689242/107374890-6555a280-6ae8-11eb-866e-0697ecac5971.png)

### Er

[2021-02-09 21:45] #1523 closed, assigned to nobody

[2021-02-15 15:20] toyinogun opened #1529 "Completed column sorting does not work in the reports"
### Reproduction Steps

Go to LifterLMS >> Reporting >> Courses >> Click on a course >> Students.

Then try sorting it by the completed date by clicking on the "completed" title.

### Expected Behavior

It should either change to ascending or descending sort

### Actual Behavior

Does not do anything. Stays the same.

### Error Messages / Logs

+ Include any relevant error messages or log files
[c

[2021-02-15 16:00] eri-trabiccolo opened #1530 "Cannot properly create quizzes when the Yoast SEO plugin is active"
### Reproduction Steps

+ Install and activate the Yoast SEO plugin
+ Open the course builder, add a quiz to a lesson
+ Save the changes (or wait for the auto-save if you're not a control-freak :P)

### Expected Behavior

+ I'd expect the changes (quiz addition) to be saved with no errors

### Actual Behavior

+ The quiz is created but only "partially" saved - meaning that not all of its propertie

[2021-02-15 16:09] thomasplevy commented on #1529
Duplicate of #760

[2021-02-15 16:09] #1529 closed, assigned to nobody

[2021-02-15 16:11] thomasplevy commented on #892
Duplicate of #760

[2021-02-15 16:11] #892 closed

[2021-02-15 16:59] toyinogun commented on #760
HS-154928

[2021-02-16 09:30] toyinogun opened #1532 "Cloned courses retain the number of students in reporting tab"
### Reproduction Steps

Clone a course with some students.
Go to LifterLMS >> Reporting >> Courses
You'll see that both the cloned course and parent course show the same number of students

### Expected Behavior

I expect the number of students in the cloned course to be zero

### Actual Behavior

The cloned course has the same number of students with parent course

### Error Messages / Logs

+ In

[2021-02-16 16:17] eri-trabiccolo commented on #1532
Oh yeah we should skip that "cache" meta when cloning...

[2021-02-16 16:46] thomasplevy commented on #1532
Oh yea...

[2021-02-17 10:38] toyinogun commented on #1530
HS-155147

[2021-02-17 18:54] thomasplevy opened #1533 "<iframe> and <script> tags should not be removed from the post content of certificates"
### Reproduction Steps

As a user with the `unfiltered_html` capability (an administrator)

Create a new certificate with either an `<iframe>` (say a video embed) or a `<script>` tag, for example: `<script>alert( 'HELLO' );</script>`

### Expected Behavior

These tags would not be allowed in the content of the certificate because certificates are meant to be printed and scripts and (most) iframe c

[2021-02-18 17:43] nrherron92 commented on #1530
HS-155350

[2021-02-18 17:43] nrherron92 commented on #1530
HS-155192

[2021-02-18 20:16] #1516 closed, assigned to nobody

[2021-02-19 09:17] eri-trabiccolo opened #1536 "Cannot import/clone courses with quizzes when the Yoast SEO plugin is active"
### Reproduction Steps

+ Make sure the Yoast SEO plugin is active
+ Import a course with a quiz, e.g. the LifterLMS Quickstart Course

### Expected Behavior

+ Import should go through

### Actual Behavior

+ Import hangs and error is logged

This is something expected actually, as it's similar to the #1530 issue.
I thought about it tonight and verified it now.

### Error Messages / Logs

[code]

[2021-02-19 19:45] eri-trabiccolo commented on #1530
@thomasplevy this is not solved, it's only solved when the manual saving is enabled (new option).
The filters removal should have been done here instead:
https://github.com/gocodebox/lifterlms/blob/4.16.0/includes/admin/class.llms.admin.builder.php#L487

and of course the tests above should be amended to reflect this change.

I'm not going to push another PR now because #1537 fixes this as well, a

[2021-02-19 19:48] thomasplevy commented on #1530
I trusted you.

[2021-02-19 19:55] eri-trabiccolo commented on #1530
I know, I"m sorry

[2021-02-19 20:51] thomasplevy commented on #1530
I said that with equal parts love and sarcasm, for the record

[2021-02-19 20:58] eri-trabiccolo commented on #1530
Thanks man

[2021-02-21 21:02] toyinogun commented on #1530
HS-155842

[2021-02-22 08:53] alaa-alshamy opened #1540 "Bug in export students report"
### Reproduction Steps

+ Install Lifterlms
+ Switch the WordPress language to non latin language like Arabic as me
+ Make sure the lifterlms translation is pulled
+ Open the Report section in the Lifterlms dashboard and try to export the Students report

### Expected Behavior

+ Should work and install the csv file as expected

### Actual Behavior

+ The file download fail and show server problem

[2021-02-22 09:22] alaa-alshamy commented on #1540
for anyone who has this problem the possible solutions for now:

- Without any edit just get the file link and double encode the translation of word 'students' and request it again
- Or Remove the translation of the word 'students' from the LifterLMS by for example Loco translate plugin
- Or Use the following filter code as a plugin or in your active theme
[code]

[2021-02-22 09:30] eri-trabiccolo commented on #1540
@alaa-alshamy thanks for reporting this.
`add_filter( 'llms_table_get_student_export_file_name', 'sanitize_file_name' );` fix the issue as well?

[2021-02-22 09:30] toyinogun commented on #1530
HS-155895

[2021-02-22 09:47] alaa-alshamy commented on #1540
@eri-trabiccolo Yep it's possible but with this filter you need to define all parts of the file name not only the table title part so i preferred the filter 'llms_table_get_students_export_title' instead

as we can see here in this line:
https://github.com/gocodebox/lifterlms/blob/trunk/includes/abstracts/llms.abstract.exportable.admin.table.php#L232

there's another parts to make the file name un

[2021-02-22 09:47] eri-trabiccolo commented on #1530
https://wordpress.org/support/topic/cant-edit-a-lesson-or-quiz-500-internal-server-error/#post-14083048

[2021-02-22 10:24] eri-trabiccolo commented on #1540
You're probably right, given how file name is generated we could just replace `sanitize_title` here:
https://github.com/gocodebox/lifterlms/blob/4.16.0/includes/abstracts/llms.abstract.exportable.admin.table.php#L232
with `sanitize_file_name`.
Assuming that either `current_time( 'Y-m-d' )` and `wp_generate_password( 8, false, false )` do not generate not suitable characters.

[2021-02-22 15:10] toyinogun commented on #1530
HS-155942

[2021-02-22 22:17] #1530 closed, assigned to eri-trabiccolo

[2021-02-22 22:17] #1536 closed, assigned to nobody

[2021-02-23 10:23] toyinogun commented on #1010
HS-156055

[2021-03-04 14:58] eri-trabiccolo opened #1546 "Blank page when a course/membership sales page content is set to redirect to a custom URL but no URL is set"
### Reproduction Steps

+ Create a course or a membership.
+ Set the Sales Page Content to Redirect to Custom URL.
+ Do not set any custom URL.
+ Publish
+ Visit the course/membership as unlogged user.

### Expected Behavior

+ I should see something

### Actual Behavior

+ I see a blank page

### Error Messages / Logs

n/a

### System and Environment Information

[code]

### This issue has been r

[2021-03-04 16:24] thomasplevy commented on #1415
Version 4.18.0 will be the final version to support 7.2, we'll be raising the minimum supported version to 7.3 with our next release.

[2021-03-04 17:24] #1010 closed

[2021-03-05 01:38] pondermatic opened #1548 "Fatal error with a non-existing user in Single Student View: Courses Tab: Single Course View"
I would be happy to fix this issue and submit a pull request. Please provide feedback on the preferred solution.
1. Have `LLMS_Student->get_grade()` check if user exists before getting the grade.
<details>
<summary>Code</summary>

[code]
</details>

2. Have `LLMS_Grades->get_grade()` return null if student does not exist.
<details>
<summary>Code</summary>

[code]
</details>

3. Display a "student

[2021-03-05 21:37] thomasplevy opened #1550 "Drop support for WordPress 5.2 (following the release of 5.7)"
In keeping with our goal to [support only the most recent 5 versions of the WordPress core](https://lifterlms.com/docs/minimum-system-requirements-lifterlms/#supported-versions), following the release of [WordPress 5.7](https://make.wordpress.org/core/5-7/) (slated for March 9th 2021) we will drop support for WordPress 5.2.

[2021-03-05 21:59] thomasplevy commented on #1548
@pondermatic thanks for the bug report and willingness to implement a fix.

I think my preference would be to throw an error message on the admin panel in this specific scenario as opposed to running additional checks in the proposed places. I'm not sure this is the *best* solution but given it seems to be something of an edge case I'd prefer not to fix it by adding additional checks in places tha

[2021-03-05 22:58] thomasplevy commented on #1548
@pondermatic I've assigned this to you preemptively under the assumption that you're a good guy and that you are actually going to submit a PR as you've volunteered. Thank you :heart:

[2021-03-05 23:13] thomasplevy commented on #1546
I think this method (and it's equivalent in the course model) should include a check to ensure a URL exists (is not empty) from `get_sales_page_url()`:

https://github.com/gocodebox/lifterlms/blob/1cdf3c49910cc2cdf4d3af016781cd2e8f4fc6b9/includes/models/model.llms.membership.php#L306-L317

EG: this should only return true if the current condition is true AND `get_sales_page_url()` is not empty

[2021-03-05 23:16] thomasplevy commented on #1546
@toyinogunseinde the related ticket is currently assigned to you and we've decided that we're not going to fix this on an immediate timeline (though we've confirmed the bug) as it's simple enough for the user to *put a url in place* instead of using a blank one.

The *fix* for this would prevent a redirect when the field is empty (it would go to the default page instead of the sales page). If the

[2021-03-06 20:16] pondermatic commented on #1548
Perhaps we should check the user's existence in `output()` like the [courses tab on the reporting screen](https://github.com/gocodebox/lifterlms/blob/d0098775e5ed9c251913bef51e43484bb677bda1/includes/admin/reporting/tabs/class.llms.admin.reporting.tab.courses.php#L98) does?

[code]

[2021-03-09 15:48] thomasplevy commented on #1548
Sure, but using `llms_get_student()` is preferable.

EG:

[code]

This function has built-in check to ensure the user exists before instantiating the `LLMS_Student` object. It'll return `false` if the student doesn't exist or `LLMS_Student` if it does.

[2021-03-09 18:48] nrherron92 opened #1553 "Text Editor Visual Editor Won't Switch"
### Reproduction Steps

+ Create a course with a custom sales page
+ Add content to the custom sales page in the text editor
+ try to switch to the visual // save and switch to visual

### Expected Behavior

+ The content will show up under the visual editor

### Actual Behavior

+ the visual editor is blank and cannot be clicked into to edit
+ if the visual editor is not blank it still cannot be

[2021-03-09 23:04] thomasplevy commented on #1553
@eri-trabiccolo you're saying you can reproduce 8/10 times but I can't reproduce at all. Any clarification would be helpful!

[2021-03-09 23:18] thomasplevy commented on #1553
I can't reproduce with `define( 'SCRIPT_DEBUG', true )` but pretty reliably reproducible without this.

Possibly related: https://core.trac.wordpress.org/ticket/19173

[2021-03-10 01:34] thomasplevy commented on #1553
I fixed this. PR incoming.

[2021-03-10 16:27] nrherron92 opened #1557 "{{student_name}} merge code for achievements says "you" instead of student name when printed"
### Reproduction Steps
This may not necessarily be a bug so much as a point of confusion.

+ Trigger any of the basic notifications that have the {{student_name}} merge code
+ go into the dashboard and look at the notification

![image](https://user-images.githubusercontent.com/47434271/110662200-e4430700-818a-11eb-8c27-42c828bdc1e4.png)

### Expected Behavior

+ It should read student name but in

[2021-03-10 16:29] nrherron92 commented on #1557
HS-158340

[2021-03-11 18:23] #1415 closed, assigned to thomasplevy

[2021-03-11 18:23] #1550 closed, assigned to thomasplevy

[2021-03-11 18:23] #1553 closed, assigned to thomasplevy

[2021-03-11 19:24] nrherron92 opened #1559 "Registration Date in Reporting matches UTC"
### Reproduction Steps

+ Set timezone in settings to UTC +6 (or whatever time makes local time tomorrow while UTC is still today)
+ Simulate a new student registering
+ Go into _LifterLMS->Settings->Reporting->Click on said student->look for registration date_

### Expected Behavior

+ The registration date should be the next day

### Actual Behavior

+ The registration date is displayed based on

[2021-03-12 10:33] eri-trabiccolo commented on #1559
Alright @thomasplevy this is due to the fact that the `'user_registered'` date is saved in the DB (by WordPress) using GMT (`gmdate()`):
https://github.com/WordPress/WordPress/blob/5.7/wp-includes/user.php#L1880

But we display it as if the date contained the timezone offset via `date_i18n`:
https://github.com/gocodebox/lifterlms/blob/4.19.0/includes/models/model.llms.student.php#L1161

We should

[2021-03-12 16:07] eri-trabiccolo opened #1560 "Delete empty (malformed) admin notices"
### Reproduction Steps

This is something I've found when troubleshooting a customer's issue.
They needed to use the Reset Automatic Payments Status tool in order to re-enable the recurring payments feature.
The problem was that the notice which prompts the user to choose whether to re-enable them or not was not shown.
I've investigated and found that the reason was that the notice was already pre

[2021-03-12 17:56] eri-trabiccolo opened #1561 "Events: client and server event's dates are not saved with the same timezone."
### Reproduction Steps

+ Set WP timezone to something different than php local time.
+ Produce a server side event, like sign-in/sign-out -> check the db entry date: set in the wp timezone
+ Now produce a client side event - e.g. start a video (with the advanced-videos add-on) - and persist it in the db (e.g.   exit the page).

### Expected Behavior
+ Both client and server side dates should be s

[2021-03-15 11:39] eri-trabiccolo opened #1562 "Acess Plan editor: Text mode still acts as Visual mode upon creation"
### Reproduction Steps

+ Create an access plan
+ Write something in the description in Visual mode and change the text formatting, e.g. make something bold. This is to better see what happens, it's not needed.
+ Click on the Text tab

### Expected Behavior

+ I'd expect to see the HTML of what I produced in visual mode.

### Actual Behavior

+ I still see the visual mode, additionally the Text mo

[2021-03-15 12:00] toyinogun opened #1563 "Course Builder: some icons are not visible due to plugin conflicts"
### Reproduction Steps

There are three plugin conflicts with LifterLMS. The plugins are:

- 301 Redirects PRO
- Qubely
- Qubely PRO

I was able to install the free version of Qubely to confirm this: https://wordpress.org/plugins/qubely/

When any or all of the plugins are installed and activated, some icons in the course builder do not appear.

### Expected Behavior

Course builder Icons should a

[2021-03-15 19:44] thomasplevy commented on #1563
We're using Font Awesome 4.7. It's possible that these other plugins are using either a newer (or older) version which is missing the icons we're referencing in these areas.

I can see two solutions for preventing a conflict like this:

A) Switch to a fork of FA that adds a prefix. This would also require us to update CSS in a large number of places (mostly on the admin panel) but these icons are

[2021-03-15 19:48] thomasplevy commented on #1562
@eri-trabiccolo any idea if this is a regression/new bug introduced by #1555 or has it "always" (or for a while) worked like this and we just haven't noticed? I'm not sure it truly matters but I'm just curious if we should start with the new code from #1555 as a source of this problem or not.

[2021-03-15 19:53] eri-trabiccolo commented on #1562
@thomasplevy
I don't think this is a regression. It's unrelated to me. It wasn't always so, it might be due to some change in wp.

[2021-03-15 19:56] thomasplevy commented on #1559
@eri-trabiccolo Sounds good. Let's add this to the current backlog to work on in the near future but not ahead of whatever we're currently embroiled in.

[2021-03-15 19:57] thomasplevy commented on #1561
@eri-trabiccolo is this and #1559 the same issue?

[2021-03-15 20:03] thomasplevy commented on #1560
@eri-trabiccolo

By a "totally empty" notice do you mean it's like `array()`? Or something like this?

We do "handle" that above

https://github.com/gocodebox/lifterlms/blob/6ae53c607594768f9d70f4e2b94507e6fd211f8b/includes/admin/class.llms.admin.notices.php#L300

but you're right that it's not deleted like these malformed notices you reference. I think we can probably combine these two conditions

[2021-03-15 20:05] thomasplevy commented on #1562
@eri-trabiccolo gotcha.

For now, I think let's let this hang with the "alternative" you've suggested and figure out a way to fix it in the future when we have capacity or requirements to do so.

[2021-03-15 20:13] thomasplevy commented on #1557
@nrherron92

For a long time I've been trying to argue that this is not a bug but is, instead, expected behavior. I always argue "Why would you want to say someone's name to them on the screen. It's obviously a notification for you" .

If I'm looking at any notification's on my phone, let's say Rocco DMs me on instagram it says "Rocco has sent you a new message" not "Rocco has sent Thomas Levy" a

[2021-03-15 20:13] nrherron92 opened #1564 "Course Capacity Not Being Respected"
### Reproduction Steps

+ On the user's staging site create a new course
+ Publish
+ Then go back and set a course capacity
+ Save
+ Enroll enough students into the course to hit capacity

### Expected Behavior

+ When a new user attempts to register it should block them because capacity is filled.

### Actual Behavior

+ A couple things:
+ 1: If you publish the course _before_ setting the capacit

[2021-03-15 20:14] nrherron92 commented on #1564
HS-157285

[2021-03-15 20:17] thomasplevy commented on #1564
@nrherron92 I'm curious if this is the same as https://github.com/gocodebox/private-issues/issues/8

@eri-trabiccolo what do you think?

[2021-03-15 20:24] nrherron92 commented on #1564
@thomasplevy it's similar, but this is before even reaching the checkout page. There's no notice and you can click on enroll, it doesn't hide the pricing table

[2021-03-15 20:30] thomasplevy commented on #1564
@nrherron92 were you able to recreate this on a sandbox/local site (with/without Divi?) or only on the customer's staging site?

It feels very much like a caching issue to me. I've updated HelpScout because I can't get into the site to debug further and look at potential caching issues.

[2021-03-15 20:54] eri-trabiccolo commented on #1564
@thomasplevy @nrherron92
I can only think about a caching issue as well.

[2021-03-15 21:29] eri-trabiccolo commented on #1557
@thomasplevy @nrherron92
I think I agree with Natalie.

[2021-03-15 21:37] eri-trabiccolo commented on #1560
@thomasplevy
Yeah I know we handle the "totally empty" case, we just don't handle as we should :) : delete the empty notice before returning.

[2021-03-15 21:53] eri-trabiccolo commented on #1563
@thomasplevy
Yeah b) is what I think would be the best. And yes both are time consuming.
I don't think what you say it's arrogant.
I don't know what to do though, as you say, to fix this right now...

[2021-03-15 22:45] thomasplevy commented on #1563
@toyinogunseinde thoughts on sharing the above "problem" with the customer and seeing if they'd be amendable to opening support tickets with the other plugins to request them to remove their stylesheets on pages they don't need them on?

[2021-03-15 23:26] thomasplevy commented on #1564
Alright... I was right. This is a caching issue, however, it's a result of our own cached data.

In 4.12.0 we added some performance improvements around the data related to the number of students in a given course.

PR #1486 introduced returning cached data (when available) instead of performing a new query every time the number of students is calculated

The data is recalculated in the course dat

[2021-03-16 14:31] toyinogun commented on #1563
Sure! It's fine sharing this with the customer. Thanks

[2021-03-16 14:41] nrherron92 commented on #1564
@thomasplevy I don't see any stuck batches on the live site

[2021-03-16 17:01] thomasplevy commented on #1564
@nrherron92 alright... well, as of this moment I'm also not seeing the issue on her live site (or the staging site)

@eri-trabiccolo can you have a look at my notes above and help me determine if you think this is something we should be changing or leave it alone.

I'm thinking that the customer can be informed about how this works and we can move on but I'd like to know if either of you disagree

[2021-03-16 20:20] eri-trabiccolo commented on #1564
This is interesting.
This is a potentially important information that can be not properly set due to various reasons: some issue with wp-cron, some issue with the process itself, throttling (not for this specific customer's course though).
I wonder if we can really rely on something like that... Clearly on courses with tons of students that query is expensive and we just can't run it at each (llms

[2021-03-16 20:41] #1548 closed, assigned to pondermatic

[2021-03-16 20:58] thomasplevy commented on #1564
Possibly... but whether we calculate it the way we calculate it currently or use hooks to increment/decrement as enrollment changes we still put ourselves in a position where the data might not be 100% accurate all the time. When I added this change I thought "we already have the student count, why not cache it here?"

Perhaps we could add an increment/decrement and have the existing processor fun

[2021-03-17 09:51] eri-trabiccolo commented on #1564
I see what you mean, although I was thinking to remove some obstacles on the path that takes from A (trigger) to B (students count set). Another thing to consider is that we set the 'enrolled_students' when the task is fully completed
https://github.com/gocodebox/lifterlms/blob/4.20.0/includes/processors/class.llms.processor.course.data.php#L464

while we actually have this information even before

[2021-03-17 17:25] nrherron92 opened #1567 "Special Character in Password Prevents Login"
### Reproduction Steps

+ With LifterLMS Active go to lost password from logged out view
+ reset password using at least a \ (but user says any of these cause it as well: '\"<)
+ once password is reset, try to login

### Expected Behavior

+ you can login with the password you just reset

### Actual Behavior

+ you get a notice (from dashboard): Could not find an account with the supplied email ad

[2021-03-17 17:51] thomasplevy opened #1568 "LLMS_Abstract_Options_Data::get_option() issues with empty values"
### Reproduction Steps

I can't explain this in a user story but I can explain it with the code found in this commit: https://github.com/gocodebox/lifterlms/commit/1e97aa7ce05b2ca0f9378350c0176f08f2d0c8cc

An option that is explicitly stored as an empty string `''` will cause a the passed default value of the option to be passed.

This isn't exactly a bug, but it is kind of a bug. We're leveraging

[2021-03-17 23:31] thomasplevy commented on #1567
Looks like this line is the culprit:

https://github.com/gocodebox/lifterlms/blob/bd810e59f564b129ce7af3801db59c1f0a8a457b/includes/forms/controllers/class.llms.controller.account.php#L299

Using `FILTER_SANITIZE_STRING` is creating an issue when a slash is in the string.

The WordPress accesses the submitted user data directly from `$_POST` -- see their password reset flow here:

https://github.c

[2021-03-18 15:05] nrherron92 commented on #840
HS-117320 (this isn't a bump I just had this attached to the wrong issue)

[2021-03-18 17:23] thomasplevy commented on #1564
@nrherron92 while we argue about what to do here can you provide a status update to the user letting them know what we've found and that -- in general -- this really shouldn't be a problem unless WP Cron is not running properly -- which as far as I can tell it seems to be on the production site (but is not running as well on staging, which is pretty normal since WP CRON works based on user request

[2021-03-18 17:30] nrherron92 commented on #1564
@thomasplevy yeah I can do that!

[2021-03-22 22:21] thomasplevy opened #1573 "LifterLMS 5.0.0 Beta Testing and Feedback"
## Add-on Compatibility

+ [x] Social Learning - Edit account page has custom fields added via the pre 5.x API
+ [x] Groups - Open Registration should continue to work with a custom registration form
+ [x] Formidable Forms (with user reg / account edit)
+ [x] Gravity Forms (with User Registration / account edit)
+ [x] Ninja Forms (with user reg / account edit)
+ [x] WP Forms (with user reg)

## Pr

[2021-03-22 22:35] thomasplevy opened #1574 "[5.0.0] Password Length is not validated on form submission (via PHP)"
### Reproduction Steps

+ This is only easy to see by faking submitted form data (thanks to html5 validation), however, we should be validating the password length via PHP anyway

### Expected Behavior

+ A password that is too short for the selected min length should return an error

### Actual Behavior

+ The password is accepted

[2021-03-23 19:22] thomasplevy opened #1575 "On Multi-site force SSL notice does not recognize ssl certificate"
### Reproduction Steps

+ Have a multisite set up with LifterLMS and LifterLMS Stripe
+ Have the course site SLL certified and on HTTPS

### Expected Behavior

+ the back end nag notice goes away accepting the HTTPS

### Actual Behavior

+ it continues to tell you to use force SSL
+ when people use force ssl they run into the known issue and panic

Related Ticket: HS-158580
and HS-157932

Transfer

[2021-03-23 19:25] thomasplevy commented on #1575
@nrherron92 at this moment my answer is "we really still don't officially support multisite" -- one day in the future we will likely focus on this but at this time this is going to stick as a known issue.

Push back on me if you feel otherwise.

[2021-03-23 19:28] nrherron92 commented on #1575
@thomasplevy not a push back so much as a question of why would it matter necessarily that it's on a multisite? The site is still HTTPS and has an SSL certificate, so what is the force SSL nag actually looking for?

[2021-03-23 22:52] thomasplevy commented on #1575
@nrherron92 without digging in and investigating it, my assumiption is that the nag is looking at the sites url and using non-multisite methods to determine what the url is. I'm not 100% positive what method should be used to lookup the url of the current site when using a multisite but we're certainly not using that method (because we don't have much code anywhere optimized to work on multisites.

[2021-03-25 18:48] thomasplevy opened #1577 "5.0.0 alpha issues/feedback"
Feedback / Issues from @eri-trabiccolo that we haven't investigate too thoroughly yet but we're recording here to avoid potential duplicates if any other tests stumble on these issues:

+ [x] 1) radio buttons in the editor look like checkboxes - so squared and with a small border radius, it’s because of our CSS that applies a small border radius to all the fields
+ [x] 2) checkboxes: it’s not poss

[2021-03-25 18:50] thomasplevy commented on #1577
I'll editorialize that I'm not sure about item 5. Using `1` assumes that the default user is an admin (a good assumption) and that that user exists in the database. Technically it doesn't really matter who the author is and, historically, we (and other plugins) have used `1` as the default author for programmatically created posts... but I'm not sure it really matters. /shrug

[2021-03-26 18:19] eri-trabiccolo commented on #1577
@thomasplevy I think you're right on this, it shouldn't be `1` but rather the id of the user that "installs the tables", what do you think? Looks just weird to me having this author `0`.

[2021-03-29 07:30] toyinogun opened #1578 "Clicking Next or last in student management section loads forever"
### Reproduction Steps

Go to the staging site on the ticket and go to any course.
Scroll down to the "Student Management" section
Click on Next or Last.

### Expected Behavior

Should move to the next/last page for students

### Actual Behavior

Just keeps rolling.
Disabled plugins but keeps doing the same. However, I saw some errors in the error log that may be helpful.

### Error Messages / Log

[2021-03-29 15:26] thomasplevy commented on #1578
@toyinogunseinde these errors point to another plugin (Query Monitor) and seem to indicate that there'd be more widespread problems than the one identified here.

Have we been able to recreate this anywhere?

[2021-03-29 16:11] thomasplevy commented on #1577
This is the right answer, I agree

[2021-03-29 16:44] toyinogun commented on #1578
@thomasplevy No, I'm unable to recreate this. I also see some errors in the console:
![image](https://user-images.githubusercontent.com/62220599/112870649-55087f80-90b6-11eb-9f17-29cbd45ec320.png)

[2021-03-29 17:13] thomasplevy commented on #1578
Thanks for the additional logs but this, unfortunately, doesn't really point to anything

I've logged into the customers stage and found that this appears to be a WordFence related error

The right side shows the response of the AJAX request, which has been blocked by WordFence.

Sometimes WordFence will incorrectly block requests. It does a lot of things by looking at common attacks and blocking

[2021-03-29 17:21] thomasplevy commented on #1577
1, 2, & 3 fixed by https://github.com/gocodebox/lifterlms-blocks/pull/86

[2021-03-29 17:25] eri-trabiccolo commented on #1577
8 still fixed by gocodebox/lifterlms-blocks#86

[2021-03-30 10:58] Granite5 opened #1582 "Time-out on single course when logged-out - conflict with WooCommerce Memberships"
### Reproduction Steps

Appears to be a plugin conflict with WooCommerce Memberships - https://woocommerce.com/products/woocommerce-memberships/

To reproduce:

1. Install/activate LifterLMS and WooCommerce Memberships
2. Under WooCommerce -> Memberships, create a membership
3. Manually assign your user account to that membership
4. Under Courses, create a new course and save it
5. On the Membersh

[2021-03-30 15:45] thomasplevy commented on #1582
@Granite5 thanks for the bug report and welcome!

Could you help by providing us with some additional logs that may point to a specific function/method which is causing what's likely an infinite loop that causes this timeout?

With error reporting enabled you should have an error message (generated by PHP when the timeout happens) or if error logging is enabled you will see the same in a log file.

[2021-03-30 17:54] eri-trabiccolo commented on #1577
@thomasplevy
regarding to

well we decided that the post author should be the current user that installs the forms. And that's the problem, I mean, that's what is actually happening right now.
See:
https://github.com/gocodebox/lifterlms/blob/5.0.0-alpha.3/includes/class-llms-forms.php#L246
https://developer.wordpress.org/reference/functions/wp_insert_post/

(int) The ID of the user who added the p

[2021-03-31 10:59] toyinogun commented on #1578
@thomasplevy The customer is still facing this issue and I'm blank as to what to do. Please help with this. Thanks.

[2021-03-31 11:30] Granite5 commented on #1582
Hi @thomasplevy

I've attached what information I've been able to get - the PHP error logs aren't showing much, just the below repeating:

`2021/03/31 11:19:17 [error] 7#0: *5 recv() failed (104: Connection reset by peer) while reading response header from upstream, client: 172.19.0.2, server: , request: "GET /course/course-1/ HTTP/1.1", upstream: "fastcgi://172.21.0.4:9000", host: "testsite.test"

[2021-03-31 16:40] thomasplevy commented on #1582
thanks @Granite5

This log doesn't mention LifterLMS anywhere and it also doesn't point to anything that we leverage in the core plugin (or in the WC add-on) as far as I can tell.

This is going to be difficult for me to figure out what to do about as I can't recreate this on my own without purchasing a WC add-on.

If you could provide me with some direct causes to LifterLMS lines or functions I c

[2021-03-31 16:40] #1582 closed, assigned to nobody

[2021-03-31 16:49] thomasplevy commented on #1578
@toyinogunseinde I've just looked at this again and the issue reported here appears to be resolved to me. I went to the coures in question and clicked "Next" and it loaded as expected. No more WF error in the console. The customer said they disabled WordFence but they're still having this issue but I'm not having this issue as described anymore... I'll need more details to debug further as it look

[2021-03-31 16:55] thomasplevy commented on #1577
Alright... this is probably potentially happening elsewhere too.

I think we should build a utility function in the install class which validates the the current user id (if one exists) is an admin, if it is not an admin or there's no user (auto updates) it should query WP_Users to find the admin with the lowest ID. This will, very likely, be ID 1 but it might not be.

We could also just use ID 1

[2021-04-05 09:09] toyinogun opened #1583 "Cannot search by order ID"
### Reproduction Steps

Go to Orders >> Orders
Try to search for an order number.

### Expected Behavior

The search result should come up with the order number as first and the closely related numbers for others.

### Actual Behavior

It doesn't search for the order using order number

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### System and Environment

[2021-04-05 16:46] thomasplevy commented on #1583
This isn't semantically a bug, though in looking at this I agree that we should be able to search by order ID, but there's not code working incorrectly to warrant tagging this as a bug, there's nothing to fix, just a feature to add. Additionally, we are *mostly* relying on WP core functionality in the search section. WordPress doesn't enable searching by ID on post table lists. But, again, that do

[2021-04-12 16:34] thomasplevy commented on #1577
@eri-trabiccolo I think we've close all these now (on various branches and projects) going to close this. If you disagree please reopen

[2021-04-12 16:34] #1577 closed, assigned to eri-trabiccolo

[2021-04-12 18:15] thomasplevy commented on #1578
@toyinogunseinde I've close this issue but it seems the related customer ticket is still open, could you please follow up with them ASAP!

[2021-04-13 12:34] nrherron92 commented on #1509
Can we bump priority for this issue? Our user is still very interested in a solution and has been asking for updates

[2021-04-13 16:11] nrherron92 opened #1586 "Reporting for Courses not Recording Sale Amounts"
### Reproduction Steps

+ Create a Course with a paid access plan
+ go into the course and purchase it
+ go into the LifterLMS->Reporting->Courses->New Course

### Expected Behavior

+ the successful payment should be recorded under sales

### Actual Behavior

+ there is no update

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### System and Environment Info

[2021-04-13 16:11] thomasplevy commented on #1509
@nrherron92 thanks for the update, this is now on @eri-trabiccolo task list for this week, our hope is to ship a fix later this week.

In the meantime we noticed that the customer was told to reenable the CDN, if the CDN is enabled this problem will *continue* to happen. So they should probably be advised that they were advised to reenable the CDN in error. In short: since we have a problem workin

[2021-04-13 16:18] nrherron92 commented on #1509
@thomasplevy when he has CDNs off he sees the errors on the course catalog (edit: not the course catalog the student dashboard my courses) screen and the certificate without trying to save. If we have him turn it off again is there a way to hide those errors?

[2021-04-13 16:22] thomasplevy commented on #1509
@nrherron92 I have no idea what's causing those. Sorry I didn't see that I just saw you say "Turn back on the CDN" and didn't read any further.

Ignore my above message. I'm not going to get roped into debugging that too right now. We'll just fix the CDN issue and carry on.

[2021-04-13 21:33] thomasplevy opened #1589 "[5.x] UX for forms missing required fields"
Currently we apply "validation" within the block editor when the User Email field is deleted/removed from a form. An error notice is added to the editor with an action button to restore the required field. This *basically* works but it's a little hacky and I think a server-side solution should be applied as well.

In the event that a required field is missing from a form, I think we should add the

[2021-04-13 21:33] thomasplevy opened #1590 "[5.x] Add a form sidebar option for the submit button"
text, class, etc...

[2021-04-13 21:33] thomasplevy opened #1591 "[5.x] Privacy Policy / T&C options built into form editor"

[2021-04-13 21:33] thomasplevy opened #1592 "[5.x] Remove usage of deprecated option "lifterlms_registration_generate_username""

[2021-04-13 21:34] thomasplevy opened #1593 "[5.x] DB Update: delete legacy options"
+ lifterlms_registration_password_min_strength

[2021-04-14 15:44] nrherron92 opened #1594 "[5.x] Logged in Enrollment"
### Reproduction Steps

+ Log into an account on the site
+ Go into a course or membership and attempt to enroll with an access plan

### Expected Behavior

+ Since the account is already logged in the email address should be pulled from the user's account and not be a required field.

### Actual Behavior

+ The check does not go through because it requires an email address field

![image](https:/

[2021-04-14 15:51] thomasplevy commented on #1594
@nrherron92 for the time being so you can continue testing add the email address field as a *visible* field for all users (not just logged out) and we'll get this fixed in the next prerelease

[2021-04-14 15:52] thomasplevy commented on #1594
I haven't confirmed it but the logic seems sound that the field requirment checks aren't looking at the field's visibility settings

[2021-04-14 18:14] nrherron92 commented on #1594
@thomasplevy will do! I'm nearly done with testing I'm just waiting to hear back from divisoup about access to those themes

[2021-04-15 18:25] nrherron92 opened #1596 "Reporting Not Updating Student count upon removal"
### Reproduction Steps

possibly related: https://github.com/gocodebox/lifterlms/issues/1586

+ Add a student to a course
+ check the reporting screen there should be the correct number of students
+ go into that course and remove the student
+ go back into reporting for that course

### Expected Behavior

+ the correct number of students minus one is displayed

### Actual Behavior

+ the student

[2021-04-15 18:42] thomasplevy commented on #1596
@nrherron92 this is not at all related to #1586, instead this is related to #1564

Since we're now caching student counts as a performance improvement it's likely that on larger sites reporting data may not be 100% accurate all the time.

Please confirm that background processes are running as expected (which it's possible they're not running as quickly as users would like if they have staging sit

[2021-04-15 18:55] nrherron92 commented on #1596
@thomasplevy is it possible that we don’t update the enrollments number when the course has no students? I did just go back and check this on a trial site and you're right the numbers update in real time for a low number of students (which the user also has) but if you say enroll 5 students and then go through and remove all five of those students from the course so it has 0 students, the number n

[2021-04-16 15:38] pondermatic opened #1598 "Course data processor generates PHP fatal error if the course does not exist."
### Reproduction Steps

I don't know how to reliably reproduce the root cause of this issue, which is a course data task being scheduled that references a deleted course.

But when it does happen, `LLMS_Processor_Course_Data->task()` tries to get a course that no longer exists, which generates `PHP Fatal error:  Uncaught Error: Call to a member function set() on null` messages in the PHP error log

[2021-04-16 20:14] thomasplevy commented on #1598
Thanks @pondermatic, fix incoming!

[2021-04-16 21:04] pondermatic opened #1600 "Multiple llms_calculate_course_data wp-cron events scheduled for the same course."
### Reproduction Steps

I don't know what the steps are, but it is possible for there to be two `llms_calculate_course_data` cron events scheduled for the same course ID. One has the course ID as an integer and the other as a string.

### Expected Behavior

When `LLMS_Processor_Course_Data->schedule_calculation()` prepares the event's arguments, it should cast the course ID to an integer.

### Act

[2021-04-16 21:12] thomasplevy commented on #1600
@pondermatic thanks, I'll have a closer look at fixing this later today but possibly not until next week.

Before I start working on this class again do you have anything else you're going to be reporting regarding this class?

[2021-04-16 21:41] pondermatic commented on #1600
I'm looking into why the same task (course and page) shows up in multiple batches. It seems that tasks are added to a batch, which creates a new batch.

[2021-04-16 22:01] eri-trabiccolo commented on #1596
Yeah as @nrherron92 says we sure have a problem when a course gets to have no students, because we update the cached enrolled students number in the `task_complete()` (as well as the other cached data)
https://github.com/gocodebox/lifterlms/blob/6c2c4a9bb578a67d65682122d325d984c4be0dbe/includes/processors/class.llms.processor.course.data.php#L464

But we don't execute that method if the course has

[2021-04-16 22:15] thomasplevy commented on #1600
@pondermatic what do you mean "course & page"? A page post type should not be being passed into this class for any reason...

[2021-04-16 22:23] pondermatic commented on #1600
In the `wp_options` table, I have
`llms_background_process_course_data_batch_49929a7ab6937b11bad017` = `a:1:{i:0;a:5:{s:7:"post_id";s:5:"12926";s:8:"statuses";a:1:{i:0;s:8:"enrolled";}s:4:"page";i:1;s:8:"per_page";i:100;s:4:"sort";a:1:{s:2:"id";s:3:"ASC";}}}`

`llms_background_process_course_data_batch_2bd6ccdf7c02c959dac0d0` = `a:2:{i:0;a:5:{s:7:"post_id";s:5:"12926";s:8:"statuses";a:1:{i:0;s:8:"

[2021-04-16 22:40] thomasplevy commented on #1600
@pondermatic got it, thanks!

Are these piling up because the batches are erroring as a result of the #1598 ?

These duplicates don't appear to be the result of strings vs ints, although in reviewing `wp_get_next_scheduled()` I can see that the arguments are compared strictly so we do have a potential issue there (easily fixed with some casting) but I'd like to now

[2021-04-16 23:04] thomasplevy commented on #1600
@pondermatic it occurred to me that you may have been responding to my question about having any more issues related to the processor and not talking about the string/int issue here. If you have another issue let's move it into a new issue to discuss there.

Whether or not the above is related there is an issue with type handling and the way we're checking for whether or not the event is already s

[2021-04-16 23:20] pondermatic opened #1602 "process_course_data arguments in multiple llms_background_process_course_data_batch rows"
### Reproduction Steps

I'm not sure of the steps to reproduce this issue.

It appears that it is possible for `LLMS_Processor_Course_Data->dispatch_calc()` to add a new task with a course ID and page number to an existing batch, which is then saved as a new batch. So now there are multiple batches that contain the same task.

### Expected Behavior

When `LLMS_Processor_Course_Data->dispatch_calc(

[2021-04-16 23:21] pondermatic commented on #1600
I believe the #1598 issue helped discover issue #1600 and #1602 .

[2021-04-16 23:40] thomasplevy commented on #1596
@nrherron92 is the problem the user is having when there's only a single student in the course?

I've written a patch to fix this particular scenario (#1603) but even if this patch would satisfy the user I think we should leave this open to further improve alongside #1564

[2021-04-16 23:48] thomasplevy commented on #1602
@pondermatic

Are you certain that this isn't a side effect of #1598 and / or #1600 ?

I'm struggling to recreate this on my local...

[2021-04-17 00:13] thomasplevy commented on #1602
I'd also like to note that having multiple courses in the same batch isn't unexpected behavior. This can happen if you're enrolling a user into a membership that causes the user to be enrolled into multiple courses.

We shouldn't be seeing multiple batches in that scenario though, you'd see a single batch with multiple courses.

[2021-04-17 01:36] pondermatic commented on #1602
I've struggled to find the steps to reproduce this issue for many months. Usually, I give up and use the "Delete processor batches" LifterLMS tool. But I'm worried that I'm causing calculated data to be stale.

[2021-04-17 01:37] pondermatic commented on #1602
I am not certain.

[2021-04-17 13:37] yewzy opened #1604 "Number of enrolled users displayed of newly cloned course is the same as the the old course"
### Reproduction Steps

In the courses page, click 'clone' on an old course. Then publish the course.
Head to LifterLMS -> Reporting -> Courses. Number of enrolled students shown in cloned course in incorrect.

### Expected Behavior

The number of enrolled students should be 0.

### Actual Behavior

When a course is cloned and published, the number of currently enrolled students in the reporting p

[2021-04-17 13:43] yewzy commented on #1604
Looking at #1564, maybe this is due to the number being cached, and cross-linked? If that's the case, a potential solution might be to allow admins to force recalculate student data.

[2021-04-17 15:58] Micu22 commented on #146
While going through the documentation I stumbled upon this:
[https://developer.lifterlms.com/reference/classes/llms_frontend_assets/enqueue_scripts/](https://developer.lifterlms.com/reference/classes/llms_frontend_assets/enqueue_scripts/)
The first lines say:
[code]
My guess is the first optimization thing you could do is remove jquery-ui, and if something from it is needed, then write it in your

[2021-04-18 22:23] thomasplevy commented on #1604
Thanks for the report @yewzy

I'm going to close this in favor of #1532 (duplicate)

Any else to add please add it there

[2021-04-18 22:23] #1604 closed, assigned to nobody

[2021-04-19 14:00] pondermatic commented on #1602
I believe this issue can be reproduced by calling `dispatch_calc()` twice with different course IDs.

Here is a unit test I'm working on.
[code]
It is similar to `test_dispatch_calc_success()` but uses two courses.

[2021-04-19 14:12] pondermatic commented on #1602
Here is the processor log after I run this code.
[code]
[code]
Course 50 is needlessly processed twice. Under light loads, this is not a big deal. But on busy sites, the tasks pile up and never finish.

[2021-04-19 15:20] eri-trabiccolo commented on #1602
Very interesting, I wonder if with 3 courses the even the second course is processed twice, and the first triple...
and if this happens only when the `$processor` instance is the same one..., and or if it happens even when schedule the calculations in different sessions.

[2021-04-19 18:36] thomasplevy commented on #1602
mmm thanks @pondermatic I think this actually highlights an issue that would occur when bulk enrolling users into courses associated with a membership. This is the only way I could see this happening. Just to put my mind at ease does it seem like this could be the entrypoint for this bug presenting itself on your site?

I've lifted your test and I'm including it in a PR in a moment to fix the issu

[2021-04-19 20:04] pondermatic commented on #1602
We aren't using the LifterLMS bulk enroll feature, but are likely doing something similar. On two of our sites, we have a feature that enables enrolling in all courses assigned to a course category when a user is enrolled in a special course that points to the category.

[2021-04-19 20:34] #1509 closed, assigned to eri-trabiccolo

[2021-04-19 20:34] #1564 closed, assigned to nobody

[2021-04-19 20:34] #1567 closed, assigned to thomasplevy

[2021-04-19 20:34] #1568 closed, assigned to thomasplevy

[2021-04-19 20:34] #1586 closed, assigned to eri-trabiccolo

[2021-04-19 20:34] #1596 closed, assigned to nobody

[2021-04-19 20:34] #1598 closed, assigned to thomasplevy

[2021-04-19 20:34] #1600 closed, assigned to thomasplevy

[2021-04-19 20:34] #1602 closed, assigned to thomasplevy

[2021-04-19 20:57] pondermatic commented on #1602
Thanks @thomasplevy. Emptying out the `$this->data` array in `LLMS_Abstract_Processor->dispatch()` seems to do the trick. Both the unit test and the test code that schedules calculations work as expected. I wasn't sure if changing the batch array before adding tasks to it was a safe thing to do or not.

[2021-04-19 23:00] thomasplevy commented on #1602
Gotcha.

Yea this would make sense to cause this to happen then, thanks for explaining.

Since there's only a single instance of the processor running on a given request the *data must* be cleared otherwise we'll see this behavior you've reported.

I looked a little deeper into the way the membership works and we actually *intentionally disable* the processor until after bulk enrollment is complet

[2021-04-21 16:22] thomasplevy opened #1607 "[5.x] A checkout form with no (visible) fields is weird"
### Reproduction Steps

+ Create a checkout form with only an email and password field
+ Set the visibility value of both fields to "logged out"
+ View the checkout form as logged in user

### Expected Behavior

+ I'm not entirely sure

### Actual Behavior

+ It looks weird

![Screenshot_2021-04-21_09-22-22](https://user-images.githubusercontent.com/1290739/115587987-216ae080-a283-11eb-93ba-ead295

[2021-04-21 16:48] thomasplevy opened #1608 "[5.x] Account edit "toggle" fields for email & pasword change logic should be moved to PHP"
This currently doesn't work right and contains too much hardcoded HTML for it to feel like JS is the right place for this:

https://github.com/gocodebox/lifterlms/blob/c13a49bca229afb6f6526da5111471aa6ecd3cd2/assets/js/app/llms-forms.js#L261-L327

Additionally, it won't work right for a RTL language site

And, currently, the logic doesn't properly handle the new method to columnize fields without

[2021-04-24 23:12] soydiloreto opened #1610 "200 parsererror when editing section & lesson with the latest version of Redux plugin"
### Reproduction Steps

1. Enter in courses in any site in my wordpress implementation (multisite).
2. Enter in "Builder"
3. Edit anything or create anything.
4. 200 parsererror appear in screen.

Plase see this error in image https://azure.conosur.tech/wp-content/uploads/sites/18/2021/04/2021-04-24_19-09-59.png

### Expected Behavior

I want to edit or create new sections & lessons.

### Actual B

[2021-04-24 23:53] thomasplevy commented on #1610
Hey there @pablodiloreto

Would you kindly confirm that this is is occurring with only LifterLMS and a default theme (twenty-twenty one, for example)

If this is happening only when a certain plugin(s) is activated please help narrow it down so we can determine if it's a conflict we can fix.

Could you also provide me with a copy of the AJAX response that's being returned from the server?

Thanks!

[2021-04-25 01:53] soydiloreto commented on #1610
Hello @thomasplevy ! Thanks for your reply. I checked it with twenty twenty and no error here. It only happen with vLog theme activated. I use LifterLMS with vLog from several month ago (12 months) and this error never happen.

In the AJAX XHR tab in my browser, when I activate vLog Theme no response appear from server. If I change to Twenty Twenty, this response appear (and everything is right):

[2021-04-25 02:16] soydiloreto commented on #1610
Hello @thomasplevy ! I find the following: the problem is not with vLog, the problem is with "Redux Framework plugin".
If I have the vLog plugin activated, but if I deactivate the "Redux Framework plugin", everything works fine.
Is any possibility to help this issue?

[2021-04-25 14:24] soydiloreto commented on #1610
Another information about this issue: if you rollback the "Redux Framework Plugin" to 4.1.24 (the last update is 4.1.26) LifterLMS works fine. From yesterday, I am using Redux with 4.1.24 as workaround.

[2021-04-26 08:30] eri-trabiccolo commented on #1610
Hi @pablodiloreto
since this is something introduced by that plugin update might be worthwhile to open an issue on the plugin's GitHub repository (?!): https://github.com/reduxframework/redux-framework-4

Also could you also check that the issue occurs both with the auto-save and the manual saving?
https://lifterlms.com/docs/using-course-builder/#manual-saving

[2021-04-26 11:59] soydiloreto commented on #1610
Thank you @eri-trabiccolo ! I will check to open the github case in redux. In addition, I confirm that the problem is also found in both cases: manual saving & auto-save. Regards.

[2021-04-26 12:33] eri-trabiccolo commented on #1610
@pablodiloreto
Thanks for the feedback.
That's really interesting as I can reproduce the issue with the auto-save (user) option enabled, but not when it's disabled and I save the changes manually.

[2021-04-26 15:40] thomasplevy commented on #1610
@eri-trabiccolo does this look like something that's fixable or is this something that needs to be addressed from the Redux side?

[2021-04-26 16:22] eri-trabiccolo commented on #1610
@thomasplevy
I don't know honestly, I can't see any error logged anywhere when the issue occurs, so it would require some digging into their code.
What I get, in JS, is a response with status 200 and no "content".

[2021-04-26 17:07] thomasplevy commented on #1610
@pablodiloreto at this time I'm going to leave this as a plugin conflict and when time allows we'll do some deeper investigation.

The fact that you've confirmed that this is an issue apparent only in a recent version of another plugin which used to work fine leaves me to hope that you can notify them of this recent issue and that they could adjust accordingly to play nice with our plugin.

My gue

[2021-04-26 22:45] soydiloreto commented on #1610
Hello Team! Thank you @thomasplevy and @eri-trabiccolo for your responses. I opened a new issue in redux (https://github.com/reduxframework/redux-framework-4/issues/215)

As a workaround, I will use LifterLMS with manual saving.

Thank you!

[2021-04-27 09:53] toyinogun opened #1611 "Parse error with the latest version of Redux plugin"
### Reproduction Steps

Install the plugin: https://wordpress.org/plugins/redux-framework/
Try to go to the course builder of a course
You'll see this "200 Parse error" and some icons not appearing as shown in the screenshot:
![image](https://user-images.githubusercontent.com/62220599/116221647-b703e580-a745-11eb-9e82-f700811b24a3.png)

However, if you downgrade the plugin to a version lower(4.1.2

[2021-04-27 10:19] eri-trabiccolo commented on #1611
@toyinogunseinde
thanks! this is basically a duplicate of #1610 (although your title is far more descriptive).
Please also note that switching to the manual saving, as said [here](https://github.com/gocodebox/lifterlms/issues/1610#issuecomment-826798244) and [here](https://github.com/gocodebox/lifterlms/issues/1610#issuecomment-827003690) avoids this issue as well (you might want to inform the cus

[2021-04-27 10:19] #1611 closed, assigned to nobody

[2021-04-27 20:43] thomasplevy commented on #1594
Fixed in beta.4

[2021-04-27 20:43] #1594 closed, assigned to nobody

[2021-04-30 16:14] magicemilymiddleton commented on #1574
I'm not sure if this is a related issue or a new issue, on this site, my password always is 'very weak':

https://will-video.myliftersite.com/purchase/?plan=474

<img width="1302" alt="Screen Shot 2021-04-30 at 11 13 44 AM" src="https://user-images.githubusercontent.com/76497148/116723427-262b4500-a9a5-11eb-8ef8-fb44729eb8fa.png">

[2021-04-30 16:44] thomasplevy commented on #1574
@willmiddleton-lifterlms this was fixed in
https://github.com/gocodebox/lifterlms/pull/1478/commits/4f568a7ad2da47b2b4e92e498c6758870bc0c59d
Not released yet though

[2021-04-30 20:46] chrisbadgett opened #1615 "[5.x] Voucher Floats Outside Editor Container"
Noticed when using Kadence

![Edit_Post_‹_A_LifterLMS_Sandbox_—_WordPress](https://user-images.githubusercontent.com/12163552/116752481-a2d51800-a9d3-11eb-98cd-734874d6fd22.png)

[2021-04-30 21:42] chrisbadgett opened #1616 "[5.x] Field Title Change UX & Clarify Reusable Block Options Confirmation Step"
**Is your feature request related to a problem? Please describe.**
First time users need help understanding the choice they have here

**Describe the solution you'd like**
Helper text

###

1. I changed "City" field title to "Zone"
2. I like the "dot" on the update button after I did that. It Dre my attention
3. I clicked update
4. It looks like I'm presented with this "Reusable Block" confirmatio

[2021-04-30 21:46] thomasplevy commented on #1616
This is WP core functionality. I'm not going to endeavor to change this default WP functionality within LifterLMS. I do, however agree with your feedback. It's confusing. User s are going to have to learn.

[2021-04-30 21:46] #1616 closed, assigned to nobody

[2021-05-03 18:05] nrherron92 commented on #1578
@thomasplevy they've opened a new ticket on "the same" though I'd call it similar issue. They've swapped out WordFence for iThemes and there's a bit of a different issue. Student reporting and courses take a long time to load but eventually do load. Once I've loaded them I can move between them without the same speed issue.

There is a potential plugin conflict I'm trying to get staging for and I'

[2021-05-03 18:08] thomasplevy commented on #1578
@nrherron92

So they're not having the problem described in this bug report anymore but they're having a speed issue that you want me to look into?

What's the plugin conflict?

[2021-05-03 18:46] nrherron92 commented on #1578
@thomasplevy I'm opening a github issue for the Javascript thing.

I think we can just close this. I don't see any speed issues on the staging site and I'm not really experiencing them on the live one aside from that first load. I think this may be something they just need to talk to their host about.

[2021-05-03 19:01] nrherron92 opened #1617 "Uncaught TypeError: Cannot read property 'getMetaBoxesPerLocation' of null"
### Reproduction Steps

+ Install iThemes Security
+ Open the devoper tools for the console log
+ Click into courses (or the reporting screen)

### Expected Behavior

+ Everything loads fine there's not really a front end issue, this was just found while looking into a speed issue but had no real consequence that I could see. Though, it could maybe cause issues with Classic Editor or that Tinymce

[2021-05-03 21:22] nrherron92 commented on #1578
@thomasplevy I am pretty sure this is just an issue with their server not being able to handle a heavier plugin. I do not see any javascript or php errors except for a fatal error for exhaustion from back in April.

I do see there is a definite speed issue. While I don't see it on reporting he has mentioned he also cannot open courses. Again, with this, there is a long load time but the course wil

[2021-05-03 22:20] thomasplevy commented on #1578
@nrherron92 according to the system report the PHP memory limit is 256 and the WP memory limit is 40m

This is pretty standard and WP does boost the memory limit automatically on the admin panel but there's a possibility that there is a memory issue that could be resolved by increasing the resources allotted to the server.

Even if LifterLMS queries are the bottleneck, we're quite aware that Lifte

[2021-05-03 22:35] thomasplevy commented on #1617
@nrherron92 fix incoming, this is a conflict we can (and should) easily fix.

[2021-05-03 23:13] nrherron92 commented on #1578
Thank you! That's what I thought!

[2021-05-03 23:13] #1578 closed, assigned to nobody

[2021-05-04 16:28] thomasplevy commented on #1573
:heavy_check_mark: Social Learning

Editing profile fields works as expected

We have to remove the (now redundant) "display name" field though: https://github.com/gocodebox/lifterlms-social-learning/issues/48

[2021-05-04 16:28] thomasplevy commented on #1573
:heavy_check_mark: Groups

Editing profiles & open registration work as expected

[2021-05-04 16:42] #1615 closed, assigned to nobody

[2021-05-04 17:28] willmiddleton-lifterlms opened #1619 "Can't seem to get email & confirmation back to 'column' format after changing to 'stacked'"
When I switch to 'stacked' and back to 'columns' it won't let me reset my column widths
<img width="1452" alt="Screen Shot 2021-05-04 at 12 25 59 PM" src="https://user-images.githubusercontent.com/76497148/117044519-22b0fa00-acd4-11eb-9ea3-3ce7ceec33e3.png">

Video on what's happening
https://www.loom.com/share/2e5194fbc61b4829a89a61414407edd7

### Expected Behavior

+ I'd expect to be able to swi

[2021-05-06 17:01] chrisbadgett opened #1620 "[5.x] Clarify double block choice in add view"
When deleting a reusable field like phone number, and trying to re-add it, the user is presented with 2 phone options.

One phone option has (Default) beside.

It would be more clear to change that to (Reusable)

[2021-05-06 17:49] nrherron92 opened #1622 "[5.x] Free Course Lead Magnet and BuddyBoss"
### Reproduction Steps

+ (note: I found this in the 5.0 but this happens in our current version too)

+ Import the Free Course Lead Magnet course template
+ Activate BuddyBoss at the theme
+ Check the course

### Expected Behavior

+ The emojis are emoji sized

### Actual Behavior

![image](https://user-images.githubusercontent.com/47434271/117343063-8ae51480-ae69-11eb-901f-f4b5f24c58de.png)

###

[2021-05-06 18:02] thomasplevy commented on #1622
@nrherron92 Thanks for this... I think that BuddyBoss is (intentionally?) removing Emoji "support" via something like this

`remove_action( 'wp_head', 'print_emoji_styles' );` but I'm not entirely positive.

This isn't a LifterLMS core issue, if you go to a regular BB page and add an emoji you'll see the same kind of behavior.

I'll drop a note to BB in case they're interested in knowing about thi

[2021-05-06 18:03] #1622 closed, assigned to nobody

[2021-05-06 20:38] thomasplevy opened #1623 "Quotes are slashed when storing post titles via the course builder as a non-admin user"
### Reproduction Steps

+ Login as an LMS Manager
+ Navigate to the course builder for a new or existing course
+ Create (or edit) a section (or lesson) title and add single and/or double quote characters to the title. For example: `This is "a" 'title' with quotes`
+ Save changes
+ Reload the page

### Expected Behavior

+ The title would display as entered: `This is "a" 'title' with quotes`

###

[2021-05-07 14:31] chrisbadgett opened #1624 "[5.x] Create consistent typography when changing field placeholder text"
### Expected Behavior

Typing over placeholder text would stay consistent in terms of placeholder typography styling

### Actual Behavior

Modifying placeholder text replaces text with different styled text. It kind of looks like one is instead filling out a form.

[2021-05-07 16:57] #1620 closed, assigned to thomasplevy

[2021-05-07 16:59] #1608 closed, assigned to nobody

[2021-05-07 17:00] #1574 closed, assigned to thomasplevy

[2021-05-07 18:33] chrisbadgett opened #1625 "[5.x] Move address "line 2" to it's own line"
Move "address line 2" to it's own line below "address line 1" as that's the expected location.

[2021-05-07 18:39] chrisbadgett opened #1626 "[5.x] Remove Preview option if preview unavailable"
If I can't Preview a form from a view, should we hide the WordPress preview link?

![Cursor_and_zoom_0_mp4](https://user-images.githubusercontent.com/12163552/117494140-eedb0c00-af41-11eb-883c-0df3e43d8726.png)

I guess technically we can still preview Desktop, Tablet, and Mobile in the editor though.

[2021-05-07 18:43] thomasplevy commented on #1625
@chrisbadgett Can I have some more information about why this is an important change to make at this point? What's the N on the amount of feedback on this we've had?

Keep in mind that LifterLMS has had address line one and two on the same line since the release of version 3.0 (early 2016).

I cannot remember a single piece of feedback regarding this since then. THat doesn't mean that the behavior

[2021-05-07 18:48] chrisbadgett opened #1627 "[5.x] Clarify 3 default form Titles"
The form title defaults should use consistent language with location so they easily map in the users mind to the same place

![LifterLMS_Forms_‹_A_LifterLMS_Sandbox_—_WordPress](https://user-images.githubusercontent.com/12163552/117495017-1ed6df00-af43-11eb-9274-acb3760e51c8.png)

Suggested edits to titles:

- Checkout Form
- Registration Form
- Edit Account Form

[2021-05-07 18:52] chrisbadgett commented on #1625
Feel free to close. Not a large sample size of feedback here and not critical.

[2021-05-07 19:00] thomasplevy commented on #1627
@chrisbadgett these titles are the physical titles displayed on the frontend of the website so changing these as suggested I don't believe makes sense.

Previously it was impossible to edit this kind of thing (in version 4.x and lower) but now users can customize language. The form "title" was the simplest way I could think of to make this possible.

I cannot exactly understand the exact reason wh

[2021-05-07 19:03] #1625 closed, assigned to nobody

[2021-05-07 19:08] thomasplevy commented on #1626
This gets quite complicated and I'm looking into a solution. At this moment we may have to deal with this. I looked into the core APIs that generate this area and the reason for it being blank is that the post type being edited (an `llms_form`) is not publicly visible/accessible (as in there's actually no permalink for the post that allows it to be edited on the frontend).

The link on the sidebar

[2021-05-07 19:12] chrisbadgett commented on #1627
Ah now that I know it displays on the frontend, that makes sense.

Leave as is.

[2021-05-07 21:30] #1627 closed, assigned to nobody

[2021-05-13 17:13] eri-trabiccolo opened #1633 "[5.x] When changing to a Country with no States, previous State's value is no cleared."
### Reproduction Steps

+ Register with Country US and State AR
+ Edit your account
+ Change your country to something that has no states, e.g. United States Minor Outlying Islands
+ the States select field will disappear
+ Save
+ Look at your profile in admin (or through reporting)

### Expected Behavior

+ I'd expect the state to be empty

### Actual Behavior

+ The state is still AR
(we should

[2021-05-14 23:00] #1626 closed, assigned to nobody

[2021-05-17 20:31] nrherron92 opened #1635 "White box while printing certificate"
### Reproduction Steps

(this issue still? https://github.com/brainstormforce/astra/issues/1585 )

+ install astra theme and activate astra theme (scratch that I can see the issue on twenty-twenty one too)
+ create a certificate. it helps to use a custom certificate image with a dark background
+ attempt to print certificate

### Expected Behavior

+ it looks like you designed it

### Actual Behav

[2021-05-17 23:06] thomasplevy commented on #1635
@nrherron92 On the latest Astra I'm not seeing this actually. Can you provide me with more details (ticket number?) so I can do a closer investigation in the context of where this was encountered.

Thanks

[2021-05-17 23:09] thomasplevy commented on #1635
I see you also said this is happening on 2021 but I'm not seeing this there either

[2021-05-18 13:07] eri-trabiccolo commented on #1635
@thomasplevy how's that you cannot reproduce this?
This is actually normal because of:
https://github.com/gocodebox/lifterlms/blob/90f26cf6509dedab1c435a573f8ee6854425ed0f/assets/scss/certificates.scss#L103
(I can reproduce it then)

[2021-05-18 15:14] nrherron92 commented on #1635
@thomasplevy HS-166908

[2021-05-18 15:36] thomasplevy commented on #1635
![Screenshot_2021-05-18_08-36-23](https://user-images.githubusercontent.com/1290739/118681087-281e4200-b7b4-11eb-8e7d-c81789ee01dc.png)

@eri-trabiccolo No white box...?

[2021-05-18 15:38] thomasplevy commented on #1635
oh jesus... i missed the print step... I'm sorry everyone

[2021-05-18 16:07] nrherron92 commented on #1635
holy facepalm batman :P

[2021-05-18 16:48] eri-trabiccolo commented on #1635
@thomasplevy do you know that firefox has an handy button for previewing the `@print` media query?

[2021-05-18 17:24] thomasplevy commented on #1635
Yes, and so does chrome. But knowing this doesn't matter if you don't read the recreation steps :-p

[2021-05-18 17:50] eri-trabiccolo commented on #1635
@thomasplevy
I wasn't being sarcastic though :D
Where's the chrome button?

[2021-05-18 17:53] nrherron92 commented on #1635
@eri-trabiccolo shift+cmd+P in the dev tools then search rendering
![image](https://user-images.githubusercontent.com/47434271/118700167-fcad4e80-b7d7-11eb-8151-d5a47039f5bc.png)

[2021-05-18 17:59] eri-trabiccolo commented on #1635
@nrherron92 I know that thanks, I thought there was also an handy button as there is in firefox.

[2021-05-18 19:45] thomasplevy commented on #1635
TELL HIM NATALIE!

[2021-05-19 16:02] nrherron92 opened #1637 "[5.x] Update to Code Provided in Documentation"
### Reproduction Steps

https://lifterlms.com/docs/add-custom-fields-lifterlms-checkout-open-registration/

+ Add this code to either customizer or function.php on 5.0

### Expected Behavior

+ A new field is added to the registration field that can be filled out

### Actual Behavior

+ This field is added but is not recognized as filled in on submission

### Error Messages / Logs

+ I have it on

[2021-05-19 16:07] eri-trabiccolo commented on #1637
It's _possible_ that we need to update our 5.0 code rather than just the documentation, for bc reason.
I think that we could parse the data that arrive through `'lifterlms_get_person_fields'` filter and fill the not set `name` array field with the `id` value.
What do you think @thomasplevy?

[2021-05-19 16:46] thomasplevy commented on #1637
5.0 should accommodate legacy code, not vice versa and my intention has been that this should take of it:

https://github.com/gocodebox/lifterlms/blob/93bd4ca55232c6788f5fc11ddb1acbe7cc3bd838/includes/forms/class-llms-form-field.php#L40

https://github.com/gocodebox/lifterlms/blob/93bd4ca55232c6788f5fc11ddb1acbe7cc3bd838/includes/forms/class-llms-form-field.php#L618-L622

but you're right @eri-tra

[2021-05-24 08:26] toyinogun opened #1639 "Inserting Japanese language in any endpoint turns gibberish upon saving"
### Reproduction Steps

Go to LifterLMS >> Settings >> Accounts and change any of the endpoints to a Japanese text like this: コース
Save your changes.
https://www.loom.com/share/dd0914a8ac2d4845a5bb122fba7229f9

### Expected Behavior

It should save as コース

### Actual Behavior

Upon page reload(after saving), it comes out as gibberish but the URL actually shows コース as shown here:
![image](https://us

[2021-05-24 17:01] thomasplevy commented on #1639
@toyinogunseinde

What's happening is the option value is being sanitized to contain only url-safe characters according to logic found in the WP Core.

The "gibberish" is the URL-encoded version of the Japanese characters.

However, these characters are, technically, URL-safe. We implemented sanitization a while back in order to prevent invalid characters from being stored in these URL slugs. Tech

[2021-05-25 15:29] thomasplevy commented on #1633
Yes... there's logic to disable the field if it's not required and perhaps we can hook into that same logic to empty the field in this scenario

[2021-05-26 21:00] thomasplevy opened #1640 "Certificate {first_name} merge code fallback to user nickname is confusing"
### Reproduction Steps

+ Create a certificate using the {first_name} merge code
+ Award the cert on user registration
+ Enable open registration and make first / last name optional
+ Register a user without a first name

### Expected Behavior

+ the {first_name} would be blank on the certificate

### Actual Behavior

+ The user's "nickname", which defaults to the user's username is filled as a fa

[2021-05-27 19:43] eri-trabiccolo opened #1641 "llms_form post type, missing labels"
llms_form labels:
[code]
course labels:
[code]
As you can see a bunch of them are missing and are nice to have in admin.

[2021-05-27 21:22] thomasplevy commented on #1641
I've also been thinking we should remove "LifterLMS" from the name / singluar name so it just displays "Form/s"

[2021-05-28 22:05] thomasplevy commented on #1637
@eri-trabiccolo I stated yesterday that this was fixed but it is not. I'm going to assign this to you for the moment but if you have too much on your plate punt it back to me <3

This doesn't need to be done right away but I would like it fixed before an RC (2 weeks)

[2021-05-28 22:06] thomasplevy commented on #1591
Punting this to post future release after 5.x

[2021-05-28 22:07] thomasplevy commented on #1590
Punting to a post 5.0 release

[2021-06-01 18:20] nrherron92 opened #1649 "Access expiration not being respected"
### Reproduction Steps

+ It's not reproducible from what I've been trying
+ Every membership order with an expiration before May 19th is not expiring as it should.
+ We have access to a staging site but I couldn't reproduce the issue at all
+ The few orders set to expire May 19th or later (there's 2) have expired as expected, but everything else before that still has enrollment.
+ In WP Crontrol

[2021-06-01 18:32] thomasplevy commented on #1649
@nrherron92 can you provide a list of order ids (at least a few) that can be reviewed so i don't have to manulally dig through the data to figure out which ones didn't work right please (seems like you already have the list)

[2021-06-01 18:34] nrherron92 commented on #1649
@thomasplevy
#6659
#6608
#6601

[2021-06-01 18:49] thomasplevy commented on #1649
@nrherron92 if you view the "Failed" actions under LLMS -> Status -> Schedule Actions you'll see all of these actions have timed out and failed.

Then look into the error logs and you'll see lots of strange errors. The most glaring is that there are a *tremendous* number of database errors resulting from a lack of available disk space (this is probably database space):

[code]

I haven't attempted

[2021-06-01 18:52] nrherron92 commented on #1649
@thomasplevy thank you!

[2021-06-01 18:52] #1649 closed, assigned to nobody

[2021-06-02 00:17] thomasplevy commented on #1573
@eri-trabiccolo I'm assigning you to this issue to assist with testing against our form add-ons please <3

[2021-06-02 20:09] nrherron92 opened #1650 "Reporting Next Page Won't load for Instructors"
### Reproduction Steps

+ Can't be reproduced locally.
+ Access the staging site and switch into an instructor account -- This user has previously had AAM active on the site and the role of instructor looks like it may have been edited. I did set one instructor to the role of "instructor backup" which had the original instructor capabilities saved but this didn't solve the issue.
+ Go into reporti

[2021-06-02 23:15] thomasplevy commented on #1650
@nrherron92 this appears to be a WordFence issue as nearly as I can tell:

1) Open dev tools and switch to the the network tab, filter by XHR
2) Click "Next" for next page of students
3) Observe the response of the AJAX request

It's a WordFence "potentially unsafe operation" blocker.

The request should be added to WordFence's firewall allowlist by the following steps:

1) Navigate to WordFence -

[2021-06-03 10:15] eri-trabiccolo commented on #1641
@thomasplevy shall we consider this as done (and close once 5.0.0 will be released) or you still want to discuss about:

[2021-06-03 14:48] thomasplevy commented on #1641
@eri-trabiccolo we'll consider this closed for now ,thanks

[2021-06-03 14:48] #1641 closed, assigned to eri-trabiccolo

[2021-06-03 15:07] nrherron92 commented on #1650
@thomasplevy thank you!

[2021-06-03 15:07] #1650 closed, assigned to nobody

[2021-06-03 18:17] #1637 closed, assigned to eri-trabiccolo

[2021-06-03 18:26] thomasplevy opened #1652 "[5.x] Migration script"
The 5.0 update scripts need to be rewritten:

1) An LLMS_Admin_Notice should pop to "welcome" users to LifterLMS 5.0. This will link to the welcome guide blog post that @chrisbadgett is working on (and will publish in tandem with the release of 5.0).
2) ~~Remove unused "legacy" option values from the db: https://github.com/gocodebox/lifterlms/issues/1592 & https://github.com/gocodebox/lifterlms/is

[2021-06-03 19:52] eri-trabiccolo commented on #1652
@thomasplevy
we should document also that reverting a form to default reverts to a default which is the same for everyone.
When migrating to 5.0 MY registration form can be different from YOUR registration form because their composition is a based on legacy options (step 1): it's a merge of a step 0 (defaults) with the legacy options. After changing something to that form, reverting to default won

[2021-06-03 20:34] thomasplevy commented on #1652
@eri-trabiccolo I hadn't considered this... maybe we should just leave the legacy options alone in that case... I don't know *where* the best place to document this kind of thing would be (putting it inline near the button is cumbersome and confusing). If we write a doc about it it'll be confusing also and no one will read it until it's "too late" -- although if we're being really honest nothing w

[2021-06-03 21:43] eri-trabiccolo commented on #1652
@thomasplevy
Sounds good. I was thinking into compact all them in a new `llms_legacy_account_settings` option (not autoloaded as well), and get rid of the originals. But maybe your solution is better also because if someone rollsback to pre 5.0 doesn't lose them, although they will be not autoloaded anymore... Mmm no this rollback scenario is probably worse. I think we need to make clear that If y

[2021-06-04 20:41] thomasplevy commented on #1652
@chrisbadgett can you drop the permalink to the (unpublished) release blog post here when you have it please , thanks <3

[2021-06-08 16:16] thomasplevy opened #1653 "Add an `exclude` paramters to llmsSelect2 dropdowns to allow exclusion of specific posts from selection"
The ajax-powered select2 dropdowns for posts exist, primarily, to allow selection of pages for various settings.

It would be useful to provide a way to exclude pages from a dropdown in specific scenarios, for example with our add-ons we can avoid collisions like the one encountered in https://github.com/gocodebox/lifterlms-groups/issues/145 where the group directory page was set to be the same pa

[2021-06-08 23:59] thomasplevy commented on #1652
@eri-trabiccolo I'm going to put this on your plate to start writing, shouldn't be too hard, I don't think. I've updated the needs based on our conversation

[2021-06-09 13:01] eri-trabiccolo commented on #1652
@thomasplevy fine for me.
Just a clarification though, you say:

Does this mean there's already a script somewhere? I don't seem to able to find it, and there's nothing related, as far as I can see, in the `functions/updates` dir.

Interesting, most of those options were already not automatically loaded:
https://github.com/gocodebox/lifterlms/commit/4ca42a98f1b2e363e45e19f675506d7402ea3dd3#diff-5e

[2021-06-10 16:02] eri-trabiccolo commented on #1573
I'd say
✔️ Forms add-ons

I just checked the forms were correctly replaced, and pushed PR to make it happen when they didn't.

[2021-06-10 18:34] nrherron92 opened #1655 "Shortcodes Ultimate No Longer Works in Terms & Conditions on Checkout"
### Reproduction Steps

+ Install Shortcodes Ultimate and LifterLMS
+ In LifterLMS enable Terms and Conditions
+  In the Terms and Conditions Notice box add a Shortcodes Ultimate shortcode (in the user's case a 'label' shortcode)

### Expected Behavior

+ The shortcode renders and shows the label on the checkout page for the terms and conditions notice
+ This worked up until version LifterLMS 4.17

[2021-06-10 18:49] thomasplevy commented on #1655
@nrherron92 where'd we come up with 4.17 from? As far as I can tell this would have worked exactly the same from version 3.18.0.

It's possible shortcodes would have worked prior to that but I'm not positive and I'm not going to setup a test.

At the moment I have absolutely no capacity to address a core issue not related to 5.x release. Following 5.x I have improvements planned to move T&C and PP

[2021-06-10 18:52] thomasplevy opened #1656 "WP 5.8 Compat: Widgets screen doesn't seem to work right"
This is an incomplete bug report that I'm logging while I'm working on currently more important things. I mostly don't want to forget about this

### Reproduction Steps

+ On WP 5.8 (latest nightly) visit the widgets screen
+ Add some widgets

### Expected Behavior

+ It works

### Actual Behavior

+ Empty blocks list (possibly due to deregistration intended for forms posts?)
+ PHP errors from "le

[2021-06-10 18:53] nrherron92 commented on #1655
@thomasplevy I got 4.17 from testing it with rollbacks. the user was on 4.8 and I knew it wasn't working with the most recent releases so I backtracked.

But no, I think a custom solution will work for now!

[2021-06-10 19:40] thomasplevy commented on #1655
This should work, I didn't test it can you test it?

[code]

[2021-06-11 18:00] nrherron92 commented on #1655
Thanks! Yes I'll test it and get back to the user!

[2021-06-11 21:21] thomasplevy commented on #1652
Link to the blogpost will be: https://blog.lifterlms.com/5-0/

The post is unpublished so it 404s today but it'll be published in tandem with the public release of 5.0

[2021-06-14 14:07] eri-trabiccolo commented on #1593
I guess we decide to keep them (useful when reverting to defaults), so we can close this?

[2021-06-14 18:32] thomasplevy commented on #1593
Yes, closed by #1654

[2021-06-14 18:32] #1593 closed, assigned to nobody

[2021-06-14 23:02] thomasplevy commented on #1592
See #1654

[2021-06-14 23:02] #1592 closed, assigned to nobody

[2021-06-15 23:32] #1652 closed, assigned to eri-trabiccolo

[2021-06-15 23:34] #1656 closed, assigned to nobody

[2021-06-15 23:34] #1633 closed, assigned to eri-trabiccolo

[2021-06-15 23:37] #1198 closed

[2021-06-15 23:40] #691 closed

[2021-06-15 23:46] thomasplevy opened #1660 "Update readme/screenshots for WordPress.org with 5.0 information?"

[2021-06-15 23:47] thomasplevy commented on #1660
@chrisbadgett if you don't think we should bother close it out or let me know. If you want to update anything please have it committed by start of day (my time) on Monday <3

[2021-06-16 06:17] kprovance commented on #1611
Actually, Redux does not use FA.  It uses Elusive icons.

[2021-06-16 08:32] eri-trabiccolo opened #1661 "5.x : Password meter still displays {min_strength} {min_length} placeholders"
https://github.com/gocodebox/lifterlms/blob/4ca5231538f9c61f6dbdf0126550adcce0f0a62d/includes/schemas/llms-user-information-fields.php#L61-L62

[2021-06-16 09:48] eri-trabiccolo commented on #1611
@kprovance the Redux Framework does use font awesome, at least in admin, as far as I can see:

https://plugins.trac.wordpress.org/browser/redux-framework/trunk/redux-templates/assets/fonts
https://plugins.trac.wordpress.org/browser/redux-framework/trunk/redux-templates/assets/css
https://plugins.trac.wordpress.org/browser/redux-framework/trunk/redux-templates/assets/css/admin.min.css

[2021-06-16 16:07] #1661 closed, assigned to thomasplevy

[2021-06-16 16:24] #971 closed

[2021-06-16 18:06] thomasplevy opened #1662 "Inline advertisement for custom fields add-on"
In favor of having no "Add New Forms" button this concept adds a disabled button with a question mark help icon, when clicked a notice displays which we can use to advertise the existence of the custom fields add-on from within the core plugin.

Proof of concept:

![Peek 2021-06-16 11-02](https://user-images.githubusercontent.com/1290739/122269932-a42ea700-ce92-11eb-856c-0a82401bf15f.gif)

@chrisb

[2021-06-16 20:32] nrherron92 opened #1663 "5.rc1 Order Summary Box Layout cuts into Payments Box with Astra"
### Reproduction Steps

+ Install LifterLMS 5.rc1
+ Activate Astra Theme
+ Go into a course with a payment and click purchase

### Expected Behavior

+ The layout should expand the page to make sure the payment option isn't cutting into the footer

### Actual Behavior

Logged in as a user:

![image](https://user-images.githubusercontent.com/47434271/122288912-b8d16600-ceb7-11eb-9b89-a0aa86c060b7.p

[2021-06-16 20:46] thomasplevy commented on #1663
Thanks natalie

[2021-06-16 21:46] thomasplevy commented on #1662
WIP: https://github.com/gocodebox/lifterlms/tree/forms-upgrade-wip

[2021-06-17 14:22] chrisbadgett commented on #1662
Is it possible to not grey out the button and pop the modal (If user doesn't have LifterLMS Custom Fields activated) from the "Add New Form" button click directly.

[2021-06-17 16:14] chrisbadgett opened #1665 "5.rc1 LifterLMS Shortcode options failing and locking block"
### Reproduction Steps

Insert a LifterLMS field shortcode here: https://chris-5-0-test.myliftersite.com/wp-admin/post.php?post=2967&action=edit

### Expected Behavior

A click on the LifterLMS shortcode inserter icon displays field inserter modal

### Actual Behavior

A click on the LifterLMS shortcode inserter icon displays error message below:

### Error Messages / Logs

![Edit_Post_‹_My_Lifter

[2021-06-17 18:55] #1665 closed, assigned to nobody

[2021-06-17 21:44] chrisbadgett commented on #1662
### Notice Copy

**Title**

Want to create custom forms and custom fields for your forms?

**Body copy**

Create unique student information forms for specific courses and memberships. Also unlock the power of custom fields so you can collect and display any form field data you can imagine.

**Button**

Learn More
https://lifterlms.com/product/custom-fields/?utm_source=LifterLMS%20Plugin&utm_medium

[2021-06-18 00:54] thomasplevy commented on #1663
@nrherron92 looks like this is actually just an issue in Astra as far as I can tell, I'm going to report it upstream. And close this issue out since I think it should be fixed from Astra's side.

Same thing happens on LifterLMS 4.x and it looks to be a CSS issue with newish CSS in their LifterLMS compat file.

[2021-06-18 00:54] #1663 closed, assigned to nobody

[2021-06-18 01:03] thomasplevy commented on #1663
https://github.com/brainstormforce/astra/issues/2873

[2021-06-18 20:10] #1662 closed, assigned to nobody

[2021-06-18 22:04] #1573 closed, assigned to thomasplevy, eri-trabiccolo

[2021-06-18 23:28] thomasplevy opened #1667 "create inserter for certificates, emails, and notifications to allow easy insertion of user info shortocdes"

[2021-06-18 23:29] thomasplevy opened #1668 "Duplicate field validation not working when fields are in reusable blocks (Allows multiple email / etc... maybe a WP core issue?"

[2021-06-21 16:02] nrherron92 opened #1669 "Course & Membership archive tiles show author instead of instructor"
### Reproduction Steps

+ drop in the membership shortcode [lifterlms_memberships] on a page
+ Have the author of the membership someone different from the instructor

### Expected Behavior

+ the instructor displays in the information section of the membership tile

### Actual Behavior

+ the author of the membership in WordPress displays on the membership tile

### Error Messages / Logs

+ Inclu

[2021-06-21 18:00] #1660 closed, assigned to chrisbadgett

[2021-06-22 15:34] thomasplevy commented on #1610
Resolved redux at https://github.com/reduxframework/redux-framework-4/commit/5a44d6d9af677bf47d255724b0075c9351e1e991

[2021-06-22 15:34] #1610 closed, assigned to nobody

[2021-06-22 18:50] thomasplevy commented on #1669
This is also confirmed issue for courses too, it will apply to any course/membership tile across the site (shortcodes aren't needed, head to a course/membership archive page or the student dashboard)

[2021-06-22 18:55] nrherron92 opened #1673 "5.0 rc-2 Declare Action Schedule 3.2.0 conflict"
### Reproduction Steps

HS-169185

+ Conflict is with the plugin WP Mail SMTP: 2.8.0
+ wp-mail-smtp declares Action Scheduler 3.1.6
+ LifterLMS 5 to declares Action Scheduler 3.2.0.

### Expected Behavior

+ I can't figure out how to reproduce this, but it is causing a fatal error on the user's staging site and this is what he's reported

### Actual Behavior

+ when activating lifterlms 5.0 rc-2 t

[2021-06-22 19:02] thomasplevy commented on #1673
hey hey hey we're having fun already!

[2021-06-22 19:07] thomasplevy commented on #1673
@nrherron92 looking at the rest of the information provided it seems this is a conflict between the version included by WP Mail SMTP and version 3.2.0 (which was included in RC.2). However, we upgraded to 3.2.1 (just released) in 5.0 (stable): https://github.com/gocodebox/lifterlms/commit/b863b5fa41aef197bc1110e270e0490bf26a8cb6

I just ran a test with the current (public stable) 5.0 & latest WP M

[2021-06-22 19:47] thomasplevy commented on #1617
This was resolved in 4.21.2 (wasn't properly linked)

[2021-06-22 19:47] #1617 closed, assigned to thomasplevy

[2021-06-22 20:17] nrherron92 commented on #1673
@thomasplevy replied to user!

[2021-06-22 20:48] nrherron92 opened #1674 "Builder Won't Load with Gravity Form enabled"
### Reproduction Steps

HS-169138

+ I cannot reproduce this on trial or local
+ With Gravity Forms and LifterLMS enabled attempt to open the Course Builder on a course with a lesson on it (it's on 5.0 but this was happening in 4.X)
+ I can get it to open without the gravity forms shortcode on the lesson (you'll see this in the staging site as the one titled clone)
+ I can also get it to open with

[2021-06-23 08:34] eri-trabiccolo opened #1675 "Remove references to/usage of legacy user information options"
e.g.
this is functional:
https://github.com/gocodebox/lifterlms/blob/32775fde4c17540a3c8eb6166bb1bce6fa76e7e4/includes/notifications/views/class.llms.notification.view.student.welcome.php#L116

while below usages are not critical
https://github.com/gocodebox/lifterlms/blob/858811569e522b612e89f8d9ed29f5b36cb2b8aa/includes/class.llms.data.php#L288-L291

https://github.com/gocodebox/lifterlms/blob/8

[2021-06-23 15:27] thomasplevy commented on #1674
@eri-trabiccolo can you look into this please

[2021-06-23 16:20] thomasplevy commented on #1673
Looks like we're good here @nrherron92!

[2021-06-23 16:20] #1673 closed, assigned to nobody

[2021-06-23 19:14] nrherron92 opened #1678 "Setting All Billing information to view to only logged out users"
### Reproduction Steps

+ Go into _LifterLMS->Forms->Billing Information_
+ Set all of the content of the form to display _only_ to logged out users
+ (I found this is easiest to test if you just remove the billing information and use a free course/membership with the email field set to logged out only users but it works the same if you set all of the billing fields to logged out only and use a pa

[2021-06-23 19:26] thomasplevy commented on #1678
Basically you're identifying #1589

Also Related: #1607

I think this *can* be addressed with documentation although I'd prefer to address it with programming so that even if users don't read the docs they won't have broken forms. The documentation could *explain* why fields they wish to hide are displaying anyway or something...

[2021-06-23 19:27] thomasplevy commented on #1678
I had intially figured both these above issues would be things we could deal with in the next few weeks but I guess since we're having issues on day one already we should expedite that

[2021-06-24 10:45] toyinogun opened #1679 "Login Shortcode doesn't respect the string(stacked) in LifterLMS 5.0"
### Reproduction Steps

Open a new page and insert the shortcode: [lifterlms_login layout="stacked"]

### Expected Behavior

The fields should appear on top of each other showing it is stacked.

### Actual Behavior

It doesn't appear that way.

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### System and Environment Information

<details>
<summary>System Rep

[2021-06-24 15:26] eri-trabiccolo commented on #1674
@thomasplevy @nrherron92
Alright, after diggin' a little bit too much into this (I exported the infamous course from the user's website - of course disabling gf) I've come up with a partial explanation.
The problem is that each of those course's lessons have a lot of post metas, specially because they're built with the beaver builder, and the bb post metas are pretty big.
This leads to an apparent

[2021-06-24 16:14] thomasplevy commented on #1674
@eri-trabiccolo and I discussed the in's and out's of this complicated case and arrived at the following (none of this set in stone as a proper direction forward)

+ Possibly lazy loading lesson data on the builder (like we do with courses)
+ Possibly implementing a safelist of custom field data that is loaded within the builder
    + We'd need to coordinate with integrations (themes/plugins) that

[2021-06-24 16:17] thomasplevy commented on #1679
@toyinogunseinde fix is in the works if you haven't already noticed. This *should* ship today but may not ship until Monday, I'll have to see how the day goes.

[2021-06-24 16:27] nrherron92 commented on #1674
@eri-trabiccolo @thomasplevy thanks! I followed up with the user!

[2021-06-25 15:45] nrherron92 opened #1681 "Conflict with Block Visibility and Smartvideo Block"
### Reproduction Steps

HS-169403

+ Install SmartVideo: https://wordpress.org/plugins/smartvideo/
+ Add a SmartVideo block to a course or lesson
+ Open the block visibility settings

### Expected Behavior

+ This:
![image](https://user-images.githubusercontent.com/47434271/123449645-81427800-d5a1-11eb-8d4c-480811a9e987.png)

### Actual Behavior

+ This:
![image](https://user-images.githubusercont

[2021-06-28 15:55] magicemilymiddleton opened #1683 "Not Accessible login /registration Password field"
### Reproduction Steps

+ Include clear and detailed step by step instructions on how the issue can be reliably reproduced
If the password is entered on login or registration, a message 'Weak' will appear below the input field
The status message isn't readable from screen readers for blind users to know their password strength
A blind user will not receive this feedback. This can be solved by addi

[2021-06-28 23:31] #1679 closed, assigned to nobody

[2021-06-28 23:31] #1683 closed, assigned to thomasplevy

[2021-06-29 18:08] nrherron92 opened #1685 "5.0 Forms added duplications of default forms with no way to delete duplicates"
### Reproduction Steps

+ Not able to replicate
+ This does not happen on his staging site either
+ User said this happened when he updated to 5.0
+ Resetting the forms did not remove the duplications

### Expected Behavior

+ there should be only one set of the forms

### Actual Behavior

+ there are duplications:
![image](https://user-images.githubusercontent.com/47434271/123845130-70637080-d8d9

[2021-06-29 18:26] thomasplevy commented on #1685
@nrherron92 could you post the ticket ID please

[2021-06-29 18:31] nrherron92 commented on #1685
@thomasplevy jeez why aren't you psychic? :P HS-169488

[2021-06-29 18:57] thomasplevy commented on #1685
@nrherron92 I'm not sure if the errors have anything to do with this or not -- the "concerning" errors are from ithemes and from the action scheduler libraries upgrade routine. However, it looks to me like the upgrade wasn't from our upgraded version of action scheduler. Though I might be wrong about that...

In either event the database upgrade for LifterLMS happened about 8 minutes *after* the e

[2021-06-29 20:29] nrherron92 opened #1686 "5.0 Ability to move address fields individual of each other"
### Survey Details

If you've arrived here from the [address localization product feedback survey](https://lifterlms.com/product-feedback-request/) you can review your country's raw locale information in the following files:

+ Address Localization: https://github.com/gocodebox/lifterlms/blob/trunk/languages/countries-address-info.php
+ States / Provinces / Regions by country: https://github.com/g

[2021-06-29 22:45] thomasplevy commented on #1686
@nrherron92 A few notes here:

"Separating" state / zipcode seems to make sense. I don't know how technically difficult it will be to rewrite code to allow this to happen. But I'll keep this open and look into it in the future when we have some time (and some more feedback that what we've done is "dumb" or "not-functional" or whatever...)

As far as "states not being common in Germany" this is som

[2021-06-29 22:47] thomasplevy commented on #1686
@chrisbadgett maybe we can poll users to see if the information we are using for their country is correct, if 2-3 people tell us the info is incorrect I feel we could safely change it, thoughts?

[2021-06-30 00:03] magicemilymiddleton opened #1687 "WP Error Reporting Email after upgrading to LLMS 5.0"
Someone left this as a message to us in the Forum not as a question, but just to let us know:

https://wordpress.org/support/topic/error-autodetected-after-upgrade-to-5/

Their site is working fine, so and I don't think there's a way we can recreate this?
Since there doesn't seem to be an issue is this useful information? Is it something we could dive deeper on with their system report?

[2021-07-06 17:03] nrherron92 commented on #1669
maybe this is related: there is no way to change the instructor on a membership.

The author settings doesn't show at all the way it does with courses in quick edit, which this is likely going to be a fix with having the membership settings show instructor instead of author?

HS-170103

[2021-07-06 19:31] nrherron92 opened #1689 "Certificates Not Responsive on Mobile on Kadence"
### Reproduction Steps

+ HS-168438 (this may be a feature request?)
+ Create a certificate
+ View the certificate on mobile

### Expected Behavior

+ The certificate will fit the page or at least be able to move the page to see the whole certificate

### Actual Behavior

+ you see only half of the certificate and cannot drag the page to see all of it.

### Error Messages / Logs

+ Include any rel

[2021-07-06 21:54] nrherron92 opened #1690 "Front End Edit Order Data does not respect date settings"
### Reproduction Steps

+ Change the format to day month year for the date in general settings
+ create an order
+ from the Student Dashboard open the order history
![image](https://user-images.githubusercontent.com/47434271/124670934-4fbb8d80-de7a-11eb-8cf9-fbb11bfe7eff.png)

### Expected Behavior

+ the order shows with the different day month year format
+ It does on the backend: ![image](https

[2021-07-07 10:01] toyinogun opened #1691 "LifterLMS Registration shortcode does not filter the states field when you select a country"
### Reproduction Steps

Create a new page and use the [lifterlms_registration] shortcode.
Publish the page and view
Select a country
The state does not get filtered to the country selected by the user.

### Expected Behavior

The state should be filtered. This doesn't happen with the access plan though. Only when using the registration shortcode

### Actual Behavior

Brings out the whole list of s

[2021-07-07 10:21] eri-trabiccolo commented on #1691
Thanks @toyinogunseinde
can you inform the customer we're working on a fix?
Thanks!

[2021-07-07 10:40] eri-trabiccolo commented on #1589
@thomasplevy
I did the basic fix in #1688 meaning that I add the email field via PHP on checkout/registration form.

What about this instead?

I don't even understand what this means :D a required field is missing from a form, if it's missing how can it be required?
Can you elaborate with a use case?
Thanks <3

I also think that both the two below should be addressed in another issue. what do you

[2021-07-07 11:06] eri-trabiccolo commented on #1689
@nrherron92 thanks for reporting this.
Alright, Kadence has a CSS code that hides whatever overflows its page wrapper (`#wrapper`).
Certificates are not responsive, we know, they're not meant to be responsive.

Should we add specific CSS compat for Kadence @thomasplevy ?

[2021-07-08 16:02] thomasplevy commented on #1686
@chrisbadgett bump :arrow_up:

[2021-07-08 17:06] thomasplevy commented on #1589
@eri-trabiccolo Your solution in #1688 looks pretty solid to me (with minor changes I noted in my review)

I think that for a password-less registration we can handle that entirely separately, yes

[2021-07-08 17:17] nrherron92 opened #1694 "Detached Quizzes Still Attached to Courses/Not Deletable"
### Reproduction Steps

+ HS-170159 -- staging information in ticket
+ This started with some of the user's students being shown/taking and completing quizzes that are no longer associated with a course.
+ In the reporting for the quizzes the user tried to go in and delete the old/dissociated quizzes but this does not work and can be recreated on the staging site
+ When tracking down the quizzes t

[2021-07-08 17:28] thomasplevy commented on #1690
See #392

[2021-07-08 17:38] thomasplevy commented on #1687
[code]

[2021-07-08 20:41] thomasplevy commented on #1689
@nrherron92 Can this be reported to Kadence directly and see if they feel this is something they can fix with their LifterLMS integration rather than us having to add CSS specific to the Kadence theme?

[2021-07-08 20:54] nrherron92 commented on #1689
@thomasplevy yeah! I'll reach out

[2021-07-08 20:56] #1639 closed, assigned to thomasplevy

[2021-07-08 20:56] #1691 closed, assigned to nobody

[2021-07-08 20:57] thomasplevy commented on #1689
Thanks, let us know what they say. And I think we *can* fix this but I'm not sure it wouldn't be better to handle it from the Kadence side, that's all

[2021-07-09 12:59] eri-trabiccolo opened #1695 "Maybe add a display param (optional) to the abstract user data get() method"
see https://github.com/gocodebox/lifterlms-convertkit/pull/15#issue-684132907 bullet #2

When saving a form basically we save checkbox/radio/select form field keys as meta value.

It might make sense to extend our api:
https://github.com/gocodebox/lifterlms/blob/trunk/includes/abstracts/llms.abstract.user.data.php#L171
with a new parameter display (default false), and add a new filter hook like he

[2021-07-12 05:06] toyinogunseinde opened #1696 "Pagination broken in the courses dashboard area"
### Reproduction Steps

From the My Courses page, people aren't able to navigate past the first page of courses they're registered in, in their customer account area. All pages after the first one load, but the content area of that page where the course icons should be is blank.

### Expected Behavior

Should be able to move to the next page

### Actual Behavior

Does not move to the next page.

#

[2021-07-12 05:08] toyinogunseinde commented on #1696
HS-170470

[2021-07-12 08:56] eri-trabiccolo commented on #1696
Thanks @toyinogunseinde
as far as I can see this happens:
1) only with LifterLMS 5.0.2 (the customer says that reverting to 5.0.1 fixes the issue)
2) only in the WooCommerce dashboard for the My Courses endpoint (so when our integration is active)

Can you confirm?

[2021-07-12 13:37] toyinogunseinde commented on #1696
@eri-trabiccolo Thank you. I can now recreate the issue on my local install