[2021-07-12 16:34] thomasplevy commented on #1696
@toyinogunseinde so this is happening on the *WooCommerce* courses page? Or on the student dashboard courses page?

[2021-07-12 16:40] thomasplevy commented on #1696
Both users seem to be reporting WooCommerce issues, I don't see an issue with the core but the change likely has to do with the fix for #1639

Moving this to WC

[2021-07-12 21:30] nrherron92 opened #1697 "Password Reset no Key found"
### Reproduction Steps

+ HS-170499 (there's another user experiencing this but i don't have further information from him yet HS-170498 )
+ I can't reproduce this locally
+ Go to student dashboard
+ Reset password
+ Follow link in email back to site

### Expected Behavior

+ You'll see a password reset screen

### Actual Behavior

+ This notice appears: "The password reset key cannot be found. Ple

[2021-07-12 22:31] thomasplevy commented on #1697
@nrherron92 this is a result of code in LifterLMS WooCommerce to prevent a WC 3.6 or later conflict where the LifterLMS password reset *does not work* when WooCommerce is enabled. This is the result of conflicts between how LifterLMS and WooCommerce handle password resetting (shared query string variables).

There wasn't a way to reconcile these conflicts so the *solution* was to force the WC My A

[2021-07-13 15:58] nrherron92 commented on #1694
bump?

[2021-07-13 16:12] thomasplevy commented on #1694
@nrherron92 I lost track of this one, I'll have a look today

[2021-07-13 17:18] thomasplevy commented on #1694
1. I can't investigate the claims that "The user is being served the wrong quiz" because the staging site appears to have already removed all instances of these quiz attempts. I ran through as a student and I was served the intended quiz (the quiz that is currently attached to the lesson). As far as I can tell this is working correctly.
2. The duplicate copies of the quiz should be able to be dele

[2021-07-13 18:56] nrherron92 opened #1699 "Lessons being replaced"
### Reproduction Steps

+ HS-169442
+ I'm not sure this is replicable the users are not sure what is happening to cause this to be able to reproduce it.
+ The issue is happening with the course titled "Gesprächsführung für Praxisanleiter*innen" the lesson that should be the second lesson in the course is "Vom Problem zur Lösung" however it has been replaced with "Anleitungsmethoden & Lerntheorien"

[2021-07-13 20:41] thomasplevy commented on #1699
After reviewing all of this I can't help but wonder if this is an accidentally self-created issue..

I simply cannot imagine a way in which the content of a course (or the video of a lesson) is "swapped" and stored into another course with absolutely no explanation. I just don't see it being the least bit realistic that LifterLMS is suddenly this broken that the content of a course flows from one

[2021-07-13 20:42] thomasplevy commented on #1699
@eri-trabiccolo can you have a brief look at this and see if I'm being insane or dense? I can't find any reason how this could happen.

[2021-07-14 15:51] nrherron92 opened #1700 "5.0 form translation error"
### Reproduction Steps

+ HS-170697 -- I'm waiting on system report and logins
+ Have LifterLMS translated pre-5.0 update
+ Update to 5.0
+ With the switch to the forms some letters get replaced with code

### Expected Behavior

+ translated special letter should remain as roman characters

### Actual Behavior

+ it gets replaced with random numbers

### Error Messages / Logs

+ Include any releva

[2021-07-14 15:54] eri-trabiccolo commented on #1699
@thomasplevy I had a look, I cannot see any reason for that to happening.
I just cannot see how... all of a sudden, **without anyone doing anything**?!
We know it's impossible for this to be happening without any "admin" action...

Let's wait for a staging website...

[2021-07-14 16:04] nrherron92 commented on #1699
@eri-trabiccolo @thomasplevy I also noticed another weird thing while I was getting back to them. The course they're saying where the lesson is being replaced has only 1 section with 4 lessons. However, the settings from the detached lesson show that it was part of "Section 2". So what happened to that section? I think this is coming down to a miscommunication between the site owner and the dev.

[2021-07-14 18:40] thomasplevy commented on #1700
@nrherron92 Could you request a copy of the translation file the customer is using. In this scenario that's probably more important than anything else so I can recreate and figure out why this is happening (and how to fix it)

[2021-07-14 18:46] thomasplevy commented on #1699
@nrherron92 at this moment I'm not sure what else we can do here -- even with a staging site since we don't know what events have to transpire to cause this to happen.

[2021-07-15 14:46] nrherron92 opened #1702 "Feature Video elongates course loop tile"
### Reproduction Steps

+ HS-170227
+ Add a feature video to courses so it id displayed instead of an image
+ head in to the course catalog
+ this happens with default themes, but in this case was noticed because the user is using Divi and when Lifti is enabled it fixes the tiles and the videos are responsive
+ however, this user is also using groups, and when lifti is enabled it adds a sidebar to

[2021-07-15 15:07] thomasplevy commented on #1702
@nrherron92 did you happen to look if this happens with other themes (like 2021 or a recommend 3rd party or launchpad or even divi on its own)?

[2021-07-15 15:32] eri-trabiccolo commented on #1702
@thomasplevy
it happens with Divi (without lifti, beacuse lifti allows Divi to apply the fitVids ), with generatepress, with 2019 etc, basically whatever theme with no fitvids and that display the catalog in columns.

[2021-07-15 16:41] thomasplevy commented on #1702
@eri-trabiccolo so, theoretically, using Labs + Lifti should "fix" for this user and we should look into a better solution for LifterLMS in general?

[2021-07-15 17:03] eri-trabiccolo commented on #1702
@thomasplevy yes.
The problem is then that this user doesn't want to enable lifti because it "breaks" the groups layout (adding a sidebar, because it actually adds the Divi template wrappers).

[2021-07-15 17:35] thomasplevy commented on #1702
welp alright

[2021-07-19 13:26] eri-trabiccolo commented on #1702
making them "responsive" will fix it.

[2021-07-19 16:02] nrherron92 commented on #1700
@thomasplevy users' translation files are attached to his ticket now!

[2021-07-20 00:24] #1589 closed, assigned to eri-trabiccolo

[2021-07-20 00:24] #1607 closed, assigned to eri-trabiccolo

[2021-07-20 00:24] #1678 closed, assigned to eri-trabiccolo

[2021-07-20 00:24] #1694 closed, assigned to nobody

[2021-07-20 17:20] thomasplevy commented on #1700
@nrherron92 the provided files are for the theme (twenty nineteen) and I think the WP core. I need a copy of the LifterLMS translation file.

I'm going to try to just reproduce the issue on my own in the meantime by making a fake translation file to see if I can figure this out

[2021-07-20 17:44] thomasplevy commented on #1700
Alright, I figured it out... It seems this is an issue that would only occur with reusable blocks created by LifterLMS during installation migration *if* translations (with "special" characters (accents and whatnot)) exist prior to install / upgrade.

I'm pushing a PR to address this... however, existing issues cannot be fixed in any way that I can figure out so affected users will have to use the

[2021-07-20 18:57] nrherron92 commented on #1699
@thomasplevy So he had some updates...he added a new lesson (7) and it became detached from the course but also spawned another new lesson (8) that he never made....

Someone else is working on this site it has to be, because the next update was that all the lessons and new quizzes made were correctly attached... I'm just not sure how to address this ticket in a way that doesn't sound like we're j

[2021-07-20 19:37] nrherron92 opened #1705 "5.0 Forms Placeholders don't work"
### Reproduction Steps

+ Open a form and set a place holder for state in either billing or registration
+ From the front end go into fill out the registration form

### Expected Behavior

+ the placeholder should override the first state in the list

### Actual Behavior

+ the first state alphabetically displays
+ For example if the country is set in LifterLMS Settings to the States, the state fi

[2021-07-21 00:01] thomasplevy commented on #1699
@nrherron92 Can you work on this with @willmiddleton-lifterlms. I don't know what else to do here... There's nothing malfunctioning as far as I can tell. I can't prove someone is doing this but no one can help me prove that there's a bug either... Stuff just doesn't *detach* and or get created for no discernible reason.

[2021-07-21 14:51] thomasplevy commented on #1705
@nrherron92 confirmed bug, at this moment I don't see us getting a fix in for this prioritized this week. Do you have a sense as to whether or not this is a critical issue that requires more immediate attention or can we let the user know it's a bug and we'll have a fix for it in the next few weeks and thanks for being patient, etc...?

[2021-07-21 14:57] nrherron92 commented on #1705
@thomasplevy it seems like it's causing him issues where his users just leave Alabama and don't choose their own state. I don't think it needs to necessarily be fixed this week but sooner rather than later?

[2021-07-21 22:16] magicemilymiddleton commented on #1699
I could make this specific issue happen where I think the lesson doesn't know what section to attach to if the section hasn't yet been saved: https://www.loom.com/share/329165d843ff467195d4b9874ee446cc

Recreation steps:
- Create a course
- Enter the course builder
- Create a 3 or 4 lesson course
- Wait for that to save
- Then add a new section and move a lesson to it before the section has a chan

[2021-07-21 23:27] thomasplevy commented on #1699
@willmiddleton-lifterlms what does "abandon" the lesson mean, exactly? I haven't tried this but based on way things are programmed the lesson should be saved to the section on the next save. Are you *exiting* the builder after the last step you provided?

[2021-07-21 23:29] thomasplevy commented on #1699
@nrherron92 can you relay this potential bit of information @willmiddleton-lifterlms has provided to the customer and see if this could be what's happening on their site?

[2021-07-22 15:08] nrherron92 opened #1707 "Quizzes not Attaching to some users"
### Reproduction Steps

+ I can't recreate this.
+ HS-170141
+ Three known users have taken the quiz and it shows on their end that they've taken it but on the back end the quiz is not associated with a user it is shown as being taken by "deleted"
+ She gave us an example student, but I don't see anything to indicate this user has a quiz that shows on their end but isn't attached on the backend.
+

[2021-07-22 23:35] magicemilymiddleton commented on #1699
@thomasplevy by abandon, I mean it doesn't have a section to associate with.

I don't know how the functions technically work, but it seems like the section doesn't exist until the next save and if there's a lesson that's looking for that section as a parent, the lesson won't have a parent section to identify with because that parent section is being saved at the same time the lesson is updating a

[2021-07-23 05:08] magicemilymiddleton opened #1710 "Causing issue in course builder by doing a bunch of things very quickly"
### Reproduction Steps

Video of this:
https://www.loom.com/share/ea6ca692c2b147d7ac0d87e77501193d

I'm not sure if this one is a known issue -> If you do a bunch of things very quickly in the course builder, you can trigger an error I don't understand.
The easiest way to trigger this is to:
- create a quiz
- create a question
- duplicate the question a bunch
- delete a bunch of questions
- just k

[2021-07-23 05:36] willmiddleton-lifterlms opened #1711 "Advanced Videos Issue Reported From Support"
### Reproduction Steps
- Install advanced videos
- Require video completion
- Disable player controls
- Enable for both Vimeo and Wistia
- Try adding a Vimeo video to your lesson, everything should work fine
- Add a Wistia video to your lesson, the settings now won't work (it won't track your progress, show any progress on your playbar, or require you complete the video before moving on)

Sorry fo

[2021-07-23 12:10] eri-trabiccolo commented on #1699
@willmiddleton-lifterlms
This is interesting, thanks for reporting this!
Although I think this is a different issue (that I'm about to open), as the customer talks about lessons being replaced with other lessons, not just missing...

[2021-07-23 12:19] eri-trabiccolo opened #1712 "Course Builder: moving a lesson into a brand new section makes it (the lesson) "disappear" from the course syllabus"
### Reproduction Steps

see Will's video at
https://github.com/gocodebox/lifterlms/issues/1699#issuecomment-885303363

### Expected Behavior

+ The moved lesson should appear as child of the brand new section

### Actual Behavior

+ It doesn't appear as child of the brand new section, as matter of the fact its section's parent id is 0 (checked in the db).

### Error Messages / Logs

[code]

### Sy

[2021-07-23 13:25] eri-trabiccolo commented on #1707
@nrherron92
as you say there's nothing we can see that says that the student the customer provided us did one of those "user's deleted" attempts.
We can see that student took 2 attempts, the same day, one of them was incomplete.
If they can provide us a real example of:

Because, as said, for what we can see, the only provided student doesn't show that...

[2021-07-23 14:17] nrherron92 commented on #1707
on it! I'll ask once i hear back about the database

[2021-07-23 16:17] thomasplevy commented on #1710
Possibly related to https://github.com/gocodebox/lifterlms/issues/1003 and gocodebox/lifterlms-assignments#47

[2021-07-23 18:00] thomasplevy opened #1713 "e2e tests failing during voucher suite"
this is failing due to this WP core issue: https://core.trac.wordpress.org/ticket/52086#comment:29

I'm considering rewriting our tests to bootsrap all the users we need during `composer run env:setup` so that we don't have to rely on programmatic user generation during the tests themselves.

Recording this issue here so we know it's being tracked (as I've been tracking it on trac for moths now)

[2021-07-23 18:37] thomasplevy opened #1714 "Icon in WP admin sidebar contrast issues when changing admin panel theme"
### Reproduction Steps

+ Change the admin theme to "light" (or any other than the default)

### Expected Behavior

+ LifterLMS icon in the sidebar would match the other icons in the theme

### Actual Behavior

+ Light theme icon is unreadable due to low contrast (a11y issue)
+ Other themes present a visual inconsistency between the color of the LifterLMS icon and the other icons.

![Peek 2021-07-

[2021-07-23 19:21] thomasplevy opened #1715 "Issue triage automation test"
This is a test to see if the triage action works.

[2021-07-23 19:35] #1715 closed, assigned to nobody

[2021-07-23 23:19] pondermatic commented on #1714
Here is how to make a menu friendly version of the LifterLMS rocket icon with Inkscape.
1. Open `.wordpress-org/assets/icon.svg`.
1. Delete the "Icon" object.
1. Delete the "background" object inside the "g13" group.
1. In the "Edit" menu, select "Resize Page to Selection".
1. Select the "path9" rocket path.
1. In the Path menu, select "Break Apart".
1. In the Path menu, select "Exclusion".
1. Sel

[2021-07-24 00:11] thomasplevy commented on #1714
@pondermatic

I think it makes the most sense to pre-encode it but I'd like to have a copy of the icon used included in the core assets directory too.

However, I'm wondering if the inkscape modifications to the (colorized) version are necessary if we instead use the existing SVG included in the blocks plugin (https://github.com/gocodebox/lifterlms-blocks/blob/dev/src/js/icons/lifterlms-icon.js)

[2021-07-24 02:50] pondermatic commented on #1714
@thomasplevy

Without modifications, here are what the original versions look like in the menu. The first screenshot is right after loading the page and the second screenshot is after the WordPress SVG painter sets the fill color from the selected admin color scheme.

### [`lifterlms/.wordpress-org/assets/icon.svg`](https://github.com/gocodebox/lifterlms/blob/trunk/.wordpress-org/assets/icon.svg)

[2021-07-26 17:24] thomasplevy commented on #1714
@pondermatic

Alright thanks for checking all this out. I'm not a master SVGer.

This "shrunken" version without the inkskape attributes looks like the best option in my opinion.

And I think pre-encoding is probably the best option since we won't need to read a file and encode on the fly. It'll just be there ready to go on page load instead of having to do additional processing to "build" it

I w

[2021-07-26 22:39] #1700 closed, assigned to thomasplevy

[2021-07-27 17:37] nrherron92 opened #1716 "Conflict with User Role Editor causing Forms "Add New" button to be available to site administrators"
### Reproduction Steps

+ HS-171499
+ I can't reproduce on Mac
+ couldn't reproduce this on browser stack with windows ten FireFox/Chrome either
+ Go into _LifterLMS->Forms->Add New_ on a Windows 10 with either FireFox or Chrome

### Expected Behavior

+ You can make a new form

### Actual Behavior

+
![image](https://user-images.githubusercontent.com/47434271/127200863-91cc9979-d48d-45b7-b32f-7de

[2021-07-28 09:24] toyinogun opened #1717 "Caching of dashboard page causes password reset to fail [WPEngine hosting conflict]"
### Reproduction Steps

I have not been able to replicate this same error exactly but I wasn't also able to reset my password on my site with Namecheap host.

Install the Latest version of LifterLMS.
Attempt to reset password
Click the password reset link in the email.

### Expected Behavior

It should successfully reset the password

### Actual Behavior

I get this error when trying to access the

[2021-07-28 10:12] eri-trabiccolo commented on #1717
@toyinogunseinde
Thanks for reporting this.

_The issue that happens on your website looks quite different. It happens when something went wrong while sending the email to reset the password (while the customer's issue happens after clicking on the reset password link received in the email), can you send any wp email on your website?_

_Although it's a different issue if you think it's something w

[2021-07-28 19:09] nrherron92 commented on #1717
@eri-trabiccolo

We've got staging on the ticket with credentials saved in one pass (tinychef staging).

Debug log is enabled and all plugins are turned off with 2021 theme enabled.

I'm not seeing any errors in the debug logs, but I can recreate the issue with default theme and only LifterLMS in staging

[2021-07-28 22:53] thomasplevy commented on #1717
@nrherron92 Thanks...

I think the dashboard page is being cached and that's preventing access to the cookie as intended.

I was under the impression that WPE had cache exclusions set for LifterLMS pages (like our dashboard) but it seems that this page is *definitely* being cached and I think that *may* be causing the issue. Though I'm not positive.

When I attempt to read the value of the cookie

[2021-07-28 22:53] thomasplevy commented on #1717
@chrisbadgett any way we can bend the ear of one of our contacts at WPE to see if something with the cache exclusions may have changed with regards to LifterLMS and WPE?

[2021-07-29 07:29] eri-trabiccolo commented on #1717
@thomasplevy
Seems that @toyinogunseinde @willmiddleton-lifterlms and @nrherron92  already found this issue occurring with WPEngine - according to what @willmiddleton-lifterlms says here:
https://wordpress.org/support/topic/password-reset-no-longer-working-in-version-5-0-2/

About:

Checking the cookie value in my browser was the first thing I did on the production website, and  there the cookie w

[2021-07-29 07:51] eri-trabiccolo commented on #1716
@nrherron92
I'm not able to reproduce the issue on the customer (production) website using browserstack win10+chrome.
Maybe cleaning the browser's cache might help...(?)

[2021-07-29 13:26] nrherron92 commented on #1716
@eri-trabiccolo  he's still having this issue apparently. I thought it may have been because he had LifterLMS and WooCommerce my account on the same page but he fixed that and it's still happening... I'll see if he can try from a different windows 10 device

[2021-07-29 14:41] nrherron92 commented on #1685
HS-172506

[2021-07-29 17:09] thomasplevy commented on #1685
@nrherron92 do you see any errors or anything in this second instance that can help us correlate information between the two tickets? I don't have time to look into this today but if anything jumps out at you can you let me know

[2021-07-29 17:10] thomasplevy commented on #1716
@nrherron92 have we ruled out a conflict with a chrome extension?

[2021-07-29 17:13] nrherron92 commented on #1716
@thomasplevy it's happening for him in Firefox too. I just sent a reply to find out if he can test on another windows 10 device to see if it's specific to his computer or not

[2021-07-30 10:00] eri-trabiccolo commented on #1716
@nrherron92
If you try to create a new form with whatever browser on whatever s.o. on the customer website:
1) The form being created has no blocks, and this is not expected because it should have a set of default blocks
2) If you click on the "Form settings" on the right (as the customer now suggests) to expand the forms settings the editor breaks as the customer says.
It can also happen that the

[2021-07-30 19:02] nrherron92 commented on #1685
@thomasplevy i got debug turned on but I don't see anything showing up when i open the duplicate form. However, he does have another issue with the pages where there is an error message that displays saying that the email field is mandatory and prompting to add it back in, but it then goes away once the edit page has loaded.

[2021-07-30 19:24] nrherron92 commented on #1716
@eri-trabiccolo I was able to reproduce the issue once we cleared up confusion with which was the staging site. Basically what's happening is the user does not have the custom fields plugin so they should not at all have the add new form button that's causing the issue

[2021-08-02 15:11] nrherron92 opened #1723 "Fatal Error in Dashboard Notifications for Manual Due Payment when Course is Deleted"
### Reproduction Steps

+HS-172724

+ Create a course with repeating payments
+ Enable manual payments and purchase the course with manual payments
+ Make sure that the Basic notification for manual due payments is enabled
+ After the course is purchased trash and then permanently delete the course
+ Go back to the dashboard on the front end -> notifications

### Expected Behavior

+ The notificat

[2021-08-02 15:24] eri-trabiccolo commented on #1723
duplicate of https://github.com/gocodebox/lifterlms/issues/1463

[2021-08-02 15:25] #1723 closed, assigned to nobody

[2021-08-02 15:25] eri-trabiccolo commented on #1463
HS-172724

[2021-08-02 19:11] thomasplevy commented on #1716
@nrherron92

The "User Role Editor" plugin has been used to modify the default permissions shipped with LifterLMS core which explicitly prevent form posts from being created

You can check this by heading to Users -> User Role Editor then select "Administrator" and under post types look for the second instance of "Forms"

By default LifterLMS specifies the "create_posts" as `false`, denoting that

[2021-08-04 16:34] nrherron92 commented on #1716
@thomasplevy This issue may end up coming up again. You can't remove any admin permissions in the User Role Editor. Once you turn it on it grants the admin all permissions, and even if you go in to edit the admin role you can't remove the forms create_post. Which, of course this doesn't actually break any existing functionality and the default forms work as expected, since the User Role Editor see

[2021-08-04 17:37] thomasplevy commented on #1716
@nrherron92 sigh.

We can work around this... I suppose *relying on user permissions* was an arrogant idea.

[2021-08-04 17:39] eri-trabiccolo commented on #1716
Like user can and plugin installed/active?

[2021-08-04 17:41] thomasplevy commented on #1716
@gocodebox/success I'm keeping this open as a  known plugin conflict which I think we can, potentially, build a handler for if it becomes a regularly-enough reported issue.

We could add a filter that runs to force it to look like the user doesn't have the capability when the user role editor plugin is enabled on the site. Our custom fields add-on will need to remove this filter too.

I'm going to

[2021-08-04 18:14] thomasplevy commented on #1463
@gocodebox/engineering I think we should start working on this. I've moved into the "active" backlog.

[2021-08-04 18:57] #1635 closed, assigned to eri-trabiccolo

[2021-08-04 18:57] #1712 closed, assigned to nobody

[2021-08-04 19:03] thomasplevy commented on #1717
@gocodebox/success It looks the above information about caching has not yet been relaid to the customer. Can we please update them to let them know why this is happening (it's not really something I can find a way to fix) at least that I've been able to figure out... If something is cached that shouldn't be cached I don't know if we can prevent that from happening anymore than we've already tried.

[2021-08-04 19:19] nrherron92 commented on #1717
@thomasplevy tiny chefs has been updated!

[2021-08-05 16:52] nrherron92 opened #1727 "Conflict with Nicepages"
### Reproduction Steps

+ HS-172888

+ Install LifterLMS *do not activate*
+ Install and activate Nicepages: https://nicepage.com/download-wordpress#
+ Activate LifterLMS

### Expected Behavior

+ LifterLMS turns on as normal and you create courses like a happy elf

### Actual Behavior

+ A fatal error crashes the site like a mean elf.

### Error Messages / Logs

+ Include any relevant error messa

[2021-08-05 17:20] thomasplevy commented on #1727
This plugin loads all of it's functionality immediately in favor of waiting for an `init` hook (where most plugins will load their functionality).

Ideally the plugin would also wait for WP to be loaded as to maximize compatibility with other plugins but we can modify our filter to only run if the required function is available.

[2021-08-09 14:50] magicemilymiddleton opened #1731 "Awkward Formatting on LifterLMS Notifications When Editing HTML"
### Reproduction Steps

- Head to: **wp-admin < LifterLMS < Settings < Notifications < Edit The Purchase Receipt Email Notification < Select 'Text' to edit as HTML**
- You can edit the HTML in only half of the editor (this seems to happen on all email notifications that are long enough where you need to scroll)

Screenshot:
<img width="1792" alt="Screen Shot 2021-08-09 at 9 41 57 AM" src="https://

[2021-08-09 15:27] thomasplevy commented on #1731
@willmiddleton-lifterlms is this a user reported issue? What's the HS ticket if so

[2021-08-09 16:35] magicemilymiddleton commented on #1731
@thomasplevy no, this is something I found while making a YouTube video

[2021-08-09 17:46] thomasplevy commented on #1731
@willmiddleton-lifterlms  thanks

[2021-08-09 18:00] nrherron92 commented on #1559
Can I bump this? The user is curious about a fix.

[2021-08-09 18:41] magicemilymiddleton opened #1734 "Notification Buttons Go Above Header Area (WordPress Backend)"
### Reproduction Steps

- Head to **wp-admin < LifterLMS < Settings < Notifications < Edit Any Email Notification**
- Scroll down on the page to see the **'Add Media'** and **'Merge Codes'** buttons go above the header tab content

Screenshot:
<img width="1776" alt="Screen Shot 2021-08-09 at 1 38 22 PM" src="https://user-images.githubusercontent.com/76497148/128756880-4935a527-47f3-4e22-b953-adc14

[2021-08-09 21:39] thomasplevy commented on #1559
@nrherron92 added back to active, we'll work on it within the next 2 weeks

[2021-08-11 00:21] #1559 closed, assigned to pondermatic

[2021-08-11 00:21] #1727 closed, assigned to nobody

[2021-08-11 00:21] #1731 closed, assigned to eri-trabiccolo

[2021-08-11 11:49] pondermatic opened #1738 ""Last Seen" date uses UTC instead of local time zone"
### Reproduction Steps

1. Set the WordPress time zone in the general settings to UTC+12.
1. View the LifterLMS reporting page that lists students. `/wp-admin/admin.php?page=llms-reporting`
1. Set the WordPress time zone in the general settings to UTC-12.
1. View the LifterLMS reporting page that lists students. `/wp-admin/admin.php?page=llms-reporting`

### Expected Behavior

The "Last Seen" date

[2021-08-11 14:28] pondermatic opened #1740 "PHPUnit tests with @runInSeparateProcess fail with PHP 8.0 and Windows"
### Reproduction Steps

The LifterLMS unit tests that use the `@runInSeparateProcess` annotation fail when run with PHP 8.0 and Windows 10.

The tests are successful if run with PHP 7.2 or the `@runInSeparateProcess` annotation is removed.

### Expected Behavior

The tests pass.

### Actual Behavior

The tests fail with a "The filename, directory name, or volume label syntax is incorrect." message

[2021-08-11 17:07] nrherron92 opened #1742 "Fatal Error on Quiz Attempts with Deleted Questions"
### Reproduction Steps

+ HS-172678
+ Create a quiz
+ Have student take the quiz
+ Delete a quiz question after user took quiz
+ grade user's attempt and click submit review

### Expected Behavior

+ It saves.

### Actual Behavior

+ A fatal terror

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### System and Environment Information

<details>
<summary>Syste

[2021-08-11 18:58] thomasplevy commented on #1689
@nrherron92 any movement on this one?

[2021-08-11 19:04] nrherron92 commented on #1689
@thomasplevy I reached out but haven't heard back yet from Kadence

[2021-08-12 16:46] eri-trabiccolo commented on #1738
see also #1561

[2021-08-12 17:33] nrherron92 commented on #1557
HS-173338

[2021-08-12 18:16] thomasplevy commented on #1557
@nrherron92 prioritized

[2021-08-12 18:32] thomasplevy commented on #392
@gocodebox/engineering please gather complicated date/time issues here. #1738 has grown complicated (see relevant comments at https://github.com/gocodebox/lifterlms/pull/1739#issuecomment-897797614)

Simpler issues with no ripple effects can be addressed as necessary but we currently don't need to start overhauling all the date functions as a result of a technically incorrect date being displayed

[2021-08-12 21:35] thomasplevy opened #1746 "Implement usage of traits"
LifterLMS is long overdue to use PHP traits. I often wish to add a trait for something but don't want to include the required "prework" in the related bugfix / feature PR.

+ Trait classes should follow the naming convention `LLMS_Trait_{$trait}`, eg: `LLMS_Trait_Singleton`.
+ Trait files should follow the naming convention `llms-trait-{$trait}.php`: eg: `llms-trait-singleton.php`
+ Trait classes

[2021-08-12 21:38] thomasplevy commented on #1746
@pondermatic how's this sound to get working on?

[2021-08-12 21:50] pondermatic commented on #1746
I was thinking this exact same thing when I worked on the sales page functions in memberships and courses. Your plan sounds perfect.

[2021-08-13 15:36] thomasplevy commented on #1742
@eri-trabiccolo this keeps dropping off my radar, can you have a quick look at it and just get us a status update at least on what's going on and if there's an easy fix... thanks <3

[2021-08-13 15:49] eri-trabiccolo commented on #1463
@thomasplevy
I'm thinking more about this and I think that we shouldn't do this:

If a product is deleted I think the order should still be there and not be cancelled, why should we cancel it...?!
I just think we should just remove the links to the product and append the a `[DELETED]` string to the product name in order screens.
The only fatal I can see when the product is deleted is produced by t

[2021-08-13 16:06] eri-trabiccolo commented on #1742
I mean the fatal is easy to fix. I think we should act as if the question was graded.

[2021-08-13 16:34] thomasplevy commented on #1463
The student is now effectively paying for a subscription to content that doesn't exist...

[2021-08-13 17:12] eri-trabiccolo commented on #1463
That's true but I thought it was "legitimate" selling something that lasts 3 months, allowing you to pay it in 12 months.
But actually we unschedule recurring payments when access plan expires so... (and orders are set to "expired" ).
I think this is what we have to do mmm.
When products are permanently deleted access plans should 'expire' before being deleted. How does it sound?

[2021-08-13 17:30] thomasplevy commented on #1463
I mean.. deleting the course is different than a user's agreed-to plan ending

Also... there's payment plans and access expiration... these are similar but different. If something is deleted and the user no longer has access that doesn't matter to me but if something is deleted and someone *has access and are still on a subscription they're paying for* I think that it should stop...

However... wh

[2021-08-13 17:42] eri-trabiccolo commented on #1463
Yeah what I meant is that we already have code in place that stops recurring payments and set the order as expired when the access plan expires (access expiration). If when deleting the course/membership which the access plan belongs to we also trigger the access plan expiration, which semantically makes sense to me, we can leverage the already existing code.

That was my initial concern, you mean

[2021-08-13 19:01] thomasplevy commented on #1463
A pop-up is going to be convoluted to implement since there's a few different places to delete courses from but yes, I think that would probably make the most sense...

Can you look into what WC subscriptions does when a product is deleted that has active subscriptions? Now that we're this far in I'm curious how they handle this scenario...

[2021-08-13 19:12] eri-trabiccolo commented on #1463
Yeah looking into that was my plan :) as wc alone doesn't do anything for normal orders on products deletion.

[2021-08-13 22:12] pondermatic opened #1750 "LLMS_Test_Model_Quiz_Attempt->test_get_siblings() fails sometimes"
### Reproduction Steps

Run the full suite of unit tests,
`composer run tests`
`php vendor/phpunit/phpunit/phpunit --bootstrap tests\phpunit\bootstrap.php --configuration phpunit.xml.dist`

or just the test class.
`php vendor/phpunit/phpunit/phpunit --bootstrap tests\phpunit\bootstrap.php --configuration phpunit.xml.dist --filter LLMS_Test_Model_Quiz_Attempt --test-suffix class-llms-test-model-llm

[2021-08-16 15:00] eri-trabiccolo commented on #1463
@thomasplevy
It doesn't allow you to permanently delete a subscription product until you permanently delete the parent order, even if the subscription (order) was already permanently deleted.
With a simple wp blank + "You're not allowed to delete this item" kind of message... weird. Not ideal I think.

[2021-08-16 17:37] thomasplevy commented on #1463
@eri-trabiccolo

Mmm... hooking into the the actions run before a course/membership post is deleted or trashed *may* be a descent way to handle this though. If we identify connected subscriptions during the pre-delete hook then we can return false and prevent the deletion.

Ignoring the action run when deleting from the posts table list and when deleting via the classic editor and focusing on dele

[2021-08-17 20:18] nrherron92 opened #1753 "LocoTranslate File overload"
### Reproduction Steps

+ HS-173472
+ With LifterLMS and LocoTranslate go into _Loco Translate->Plugins->LifterLMS Overview_
![image](https://user-images.githubusercontent.com/47434271/129794515-db0e726e-95a8-4bd1-9615-5d8c4b9cdb9c.png)

### Expected Behavior

+ Everything works as normal, the notice is just concerning

### Actual Behavior

+ The notice shouldn't be there since these are already i

[2021-08-20 23:04] thomasplevy opened #1757 "Request for Feedback: Abstracting constant getters/setters for easier testing"
## The Problem

In order to test functions/methods/etc... which have different behavior dependent on the value of a constant we need to have multiple tests that are tagged to run in a separate PHP process. This is necessary because, well, constants are constants so if you have a boolean condition you can't test them both without running at least one test in a separate process.

This isn't *terribl

[2021-08-20 23:05] thomasplevy commented on #1757
@gocodebox/engineering please weigh in <3

[2021-08-23 11:39] eri-trabiccolo commented on #1757
@thomasplevy
I don't see why we'd need the jetpack class (and don't see why we would use their autoloader as well, to use the latest version of that library? who cares about the latest version :D), I think we can just go with the simple alternative you proposed.
[code]
overridden in the test suite as you outlined.

[2021-08-23 15:24] pondermatic commented on #1757
I don't normally like adding yet another dependency, but I do like how `Automattic/jetpack-constants` works.

In the LifterLMS core, use the functions suggested by @thomasplevy and @eri-trabiccolo:
[code]

In lifterlms/lifterlms-tests:
[code]

[2021-08-23 16:21] nrherron92 commented on #1685
HS-173636 --- maybe an interesting update with this user or maybe you already knew this but it looks like the duplicate forms have a creation date that matches the day you look at them. This user asked about the forms over the weekend but the date of the duplicate forms is today

[2021-08-23 17:06] nrherron92 commented on #1717
HS-173995  I did let them know about excluding cache with WPE

[2021-08-23 19:00] thomasplevy commented on #1717
@nrherron92 we currently *do not* have a solution to this *and cannot solve this* from within LifterLMS. @chrisbadgett is trying to backchannel with WPE directly to see if we can get them to resolve these kinds of caching issues on WPE.

At the moment we're going to have to call this a known conflict with WPE hosting and LifterLMS and provide users with the known workaround. Again, I stress that t

[2021-08-23 19:33] thomasplevy commented on #1757
Well, if we were to deploy the class to production it would help avoid collisions with other plugins (WooCommerce and Jetpack) in addition to ensuring the latest version is loaded.

---

I like @pondermatic's idea of using Jetpack when running tests only... although honestly the footprint of the constant file is small I'm not sure we really gain much by adding the dependency if we're writing code

[2021-08-23 20:15] eri-trabiccolo commented on #1757
Yeah I get the implications :) I meant that I don't think we needed that b/c
1) collisions could be avoided as we always do with a check on the class existence. No?
2) we don't care about the lib being at the latest version, we actually would care about it being at the version we're sure our code works with. Which I understand can be always the latest if we automatically test against it - and upda

[2021-08-23 20:47] thomasplevy commented on #1757
I agree

[2021-08-24 14:57] eri-trabiccolo commented on #1463
@thomasplevy:
The thing is that the block editor only allows you to trash, the permanent deletion is still performed via the post table.
You'd say... "yeah but if we disallow the trashing via the post editor...". I see what you mean but this seems a bit weak to me.
Also cannot see how to prevent the deletion via REST API if not acting on the capability.
So the idea here would be to prevent permane

[2021-08-24 15:55] thomasplevy commented on #1463
This sounds like a solid plan. We should be able to call `wp_die()` with a more useful error message here though, right? Something like "Sorry, you are not allowed to delete a course with active subscriptions."

[2021-08-24 15:56] eri-trabiccolo commented on #1463
yeah:

that's what I meant :D

[2021-08-25 14:49] eri-trabiccolo commented on #1463
@thomasplevy can you take a look at #1759
I went for a simpler solution.
(I'm not blocked, working on the logic to determine whether a product has an attached active subscription so...)

[2021-08-25 21:21] pondermatic commented on #1623
#### Troubleshooting notes to myself

When the user is an admin, the `title_save_pre` filter has these callbacks:
* `trim()`
* `wp_targeted_link_rel()`

When the user is a LMS Manager, the `title_save_pre` filter has these callbacks:
* `trim()`
* `wp_targeted_link_rel()`
* `wp_filter_kses()`

[`kses_init()`](https://github.com/WordPress/wordpress-develop/blob/master/src/wp-includes/kses.php#L2142)

[2021-08-25 21:56] pondermatic commented on #1623
@thomasplevy and @eri-trabiccolo, should we:
1. Add the `unfiltered_html` capability to the[ `lms_manager` role](https://github.com/gocodebox/lifterlms/blob/trunk/includes/class.llms.roles.php#L288)?
2. Temporarily remove the `wp_filter_kses` filter in [`LLMS_Post_Model`](https://github.com/gocodebox/lifterlms/blob/trunk/includes/abstracts/abstract.llms.post.model.php#L1279) **if** the user has th

[2021-08-26 15:19] eri-trabiccolo commented on #1623
@pondermatic
I think this is a symptom, I think that slashes should not be added whether the user has `unfiltered_html` caps or not. This is just not the expected behavior. Do we agree? We would have the same problem with instructors, and with them and the access plans, or rest-api insertions.

The problem, to me, is that as you noticed `wp_filter_kses` (which runs for users who don't have that ca

[2021-08-26 16:26] thomasplevy commented on #1623
I haven't validated all of @eri-trabiccolo's statements but I'm not going to. This seems sound. Write tests, prove it doesn't break anything, close the issue <3

[2021-08-27 12:51] eri-trabiccolo commented on #1463
@thomasplevy
so wc-subscription prevents the product deletion if connected to an existing subscription, even if canceled/refunded etc, while I was thinking to prevent the deletion only of products tied to an 'active' subscription, like that any other status allows the deletion, but, on the other hand it should be impossible then to switch the status of a recurring order related to a deleted produc

[2021-08-27 18:50] thomasplevy commented on #1463
I hadn't thought about this but now...

I think that we should prevent deletion of products connected to active, on-hold, and pending-cancel... Active & pending cancel both still allow users to access the content and on-hold means there's a missed payment and there's a *possible* retry scheduled which would allow them to regain access once they pay current.

For all other statuses I agree that we

[2021-08-30 10:36] toyinogun commented on #372
HS-174313

[2021-08-30 16:56] eri-trabiccolo opened #1765 "Default reusable User name block has two last-name block fields rather than a first-name and last-name block field."
https://github.com/gocodebox/lifterlms/blob/5.2.1/includes/schemas/llms-reusable-blocks.php#L57-L74

![Schermata 2021-08-30 alle 18 54 48](https://user-images.githubusercontent.com/7689242/131375883-f72e55ab-00a3-4225-beb6-1b56e39c0b75.png)

This might be minor actually, since field id/name are actually correct.

### System and Environment Information

[code]

## This issue has been recreated:
+ [

[2021-08-30 17:33] toyinogun commented on #290
HS-171307

[2021-08-30 17:34] toyinogun commented on #290
@gocodebox/engineering is there a way to temporarily stop this or we should rather wait for a fix?

[2021-08-30 17:50] thomasplevy commented on #290
@toyinogunseinde I don't have a hidden solution in my pocket. This is a bug that we haven't addressed yet. Sorry.

[2021-08-30 18:08] thomasplevy commented on #372
@toyinogunseinde so it's clear, this particular shortcode *does* have a date_format option you can pass in to specify the desired date format, see docs: https://lifterlms.com/docs/shortcodes/#lifterlms_course_info

This issue is that the *default* format should adhere to the site's settings but you *can* specify your desired format if the default doesn't work for your site.

[2021-08-30 18:19] nrherron92 opened #1766 "Reporting Update Issue Back?"
### Reproduction Steps

+ HS-174347
+ Create a course with at least 2 lessons
+ Create a new student and enroll them in that course
+ Go through at least 1 of the lessons as complete as the new student
+ Go into users and delete the new student

### Expected Behavior

+ The student count in reporting (Reporting->Courses) should go to 0, the average progress should account for the deleted student's

[2021-08-30 19:05] #1546 closed, assigned to pondermatic

[2021-08-31 18:57] #1742 closed, assigned to eri-trabiccolo

[2021-08-31 18:57] #1746 closed, assigned to pondermatic

[2021-08-31 18:57] #1753 closed, assigned to thomasplevy

[2021-08-31 20:48] thomasplevy commented on #1766
@nrherron92 looks like the customer closed the ticket as "resolved" with a note "I solved the issue". It's more complicated than this but given that they've recently restored from a backup and I don't have any clear evidence of a bug I'm going to close this and we can reopen later if it seems necessary.

If you disagree let me know.

[2021-08-31 20:48] #1766 closed, assigned to thomasplevy

[2021-09-01 09:46] toyinogun commented on #1717
HS-174368

[2021-09-02 09:30] toyinogun commented on #290
HS-174585

[2021-09-02 18:17] willmiddleton-lifterlms opened #1772 "Zapier Test Trigger Not Pulling LifterLMS Student Email Address"
### Reproduction Steps

1 - get a LifterLMS site ready. And a Zapier account ready to add new zap.

1.5 - If you don't have a student on your test site, it should pull admins too, but you could create a sample student.

2 - Accept the LifterLMS Zapier invite so you can use the LifterLMS Zaps on your Zapier account: https://zapier.com/app/login?next=/developer/public-invite/27172/ca7e9d2ba8cbf7fa10

[2021-09-02 20:46] thomasplevy commented on #1772
Moving to Zapier repo

[2021-09-06 08:15] toyinogun opened #1774 "“Billing Information” is not replaced with “Student Information”"
### Reproduction Steps

Create an access plan for a course and check the "free" option.
Then visit the purchase link

### Expected Behavior

According to: https://lifterlms.com/docs/checkout-free-access-plans/ "Billing Information" should be replaced with "Student Information"

### Actual Behavior

Stays as "Billing Information"

### Error Messages / Logs

+ Include any relevant error messages or

[2021-09-06 09:36] toyinogun commented on #710
HS-174795

[2021-09-07 17:16] thomasplevy commented on #1774
@toyinogunseinde do we have a related ticket or did you just notice this ?

I'm not sure the best way to proceed here as this was a change introduced in 5.0 as a result of allowing customization of the name of the form (instead of it being hardcoded). Once that was introduced it removed the hardcoded dynamic switch. A user can change the name of the form to customize the language.

We didn't build

[2021-09-08 08:33] toyinogun commented on #1774
@thomasplevy It was a ticket. HS-174390

[2021-09-08 15:01] pondermatic commented on #1774
Options (in no particular order):
1. Add a checkout form selector in the access plan editor. This would add a way to relate a form to a course. Currently the only way is to to edit the form and add courses in "Manage Location Settings".
2. Add a "free" checkout form that is used when the access plan `is_free` is checked.

[2021-09-08 15:33] thomasplevy commented on #1774
See: https://github.com/gocodebox/lifterlms-custom-fields/issues/13

[2021-09-08 16:47] pondermatic commented on #1053
### Steps to Reproduce

1. Apply the following changes to `tests/phpunit/unit-tests/class-llms-test-payment-gateway-integrations.php`.
[code]
1. Apply the following changes to `includes/models/model.llms.order.php`.
[code]

## Result

`Month Payment #21: Got 2025-03-28 18:00:00 and expected 2025-04-01 01:00:00 ( $chaos_hours = 12 | $chaos = 25200 )`

[2021-09-08 16:54] pondermatic commented on #1053
[`LLMS_Test_Payment_Gateway_Integrations->do_n_charges_for_order`](https://github.com/gocodebox/lifterlms/blob/dev/tests/phpunit/unit-tests/class-llms-test-payment-gateway-integrations.php#L189) expects that that the next payment time is always based on the last transaction time. However, [`LLMS_Order->calculate_next_payment_date()`](https://github.com/gocodebox/lifterlms/blob/dev/includes/models/

[2021-09-08 21:36] aandrewjoyce commented on #1717
This also affects FlyWheel users, for what it's worth. Adding a cache exclusion at FW fixes the problem.

[2021-09-09 04:09] hubert0504 commented on #290
Hi, guys, any idea when this will be sorted. I got one of our clients affected by this bug. This seems to be a major oversight by the Lifter LMS.

[2021-09-09 15:41] thomasplevy commented on #1714
Not yet released, this will be closed when it's released :+1:

[2021-09-09 15:42] thomasplevy commented on #290
@hubert0504 it's in progress. Unfortunately it's a complicated oversight to walk back from. Progress updates will be relaid here or on related pull requests

[2021-09-10 13:30] nrherron92 commented on #1702
same user following up HS-175135

[2021-09-10 17:04] thomasplevy commented on #1702
@nrherron92 A proper solution can be implemented later. blanket adding "responsive video" to the LifterLMS core feels scary to me at this moment because I don't have the capacity to test the ramifications against all the themes this might potentially affect... Since this isn't an issue I'm aware of being very prevalent let's use some custom CSS today and address this in a more permanent way later:

[2021-09-13 14:59] eri-trabiccolo commented on #1774
What if we add a form custom field, for billing forms, which is "Title for free access plans", which if empty will default to the form title.

[2021-09-13 16:47] nrherron92 opened #1779 "Small Yoast and LifterLMS notification conflict"
### Reproduction Steps

+ HS-175163
+ Install LifterLMS and Yoast
+ On a course add the LifterLMS login shortcode [lifterlms_login]
+ In an incognito window go to the course and enter dummy information for an account that doesn't exit

### Expected Behavior

+ The LifterLMS notice for "no account found with username/password combination" displays

### Actual Behavior

+ Yoast prevents the notice a

[2021-09-13 16:52] nrherron92 commented on #1779
Work around: If you add a custom Yoast description on the course the notification works. I'll let the user know this!

[2021-09-13 19:46] #1053 closed

[2021-09-13 19:46] #1560 closed, assigned to pondermatic

[2021-09-13 19:46] #1623 closed, assigned to pondermatic

[2021-09-13 19:46] #1714 closed, assigned to pondermatic

[2021-09-13 19:46] #1765 closed, assigned to thomasplevy

[2021-09-13 19:59] thomasplevy commented on #1779
Similar to SEO plugin issues we've had in gocodebox/lifterlms-private-areas#40, gocodebox/lifterlms-private-areas#44

The notice is "swallowed" as part of the post's content when the SEO plugin automatically generates the SEO description (used in header/frontmatter)

![Screenshot_2021-09-13_12-56-11](https://user-images.githubusercontent.com/1290739/133148059-7e8b7ac1-184b-493b-a060-34b924b4d17c.p

[2021-09-14 19:26] thomasplevy opened #1781 "Update account dashboard url for SendWP integration"
Per Matt @ SendWP:

https://github.com/gocodebox/lifterlms/blob/42529a7f4f63973bd7164520276143fbe43d37e9/includes/admin/class-llms-sendwp.php#L142

[2021-09-14 19:28] thomasplevy commented on #1781
@pondermatic low priority simple change when you're not busy with something else

[2021-09-16 15:42] thomasplevy opened #1784 "Upgrade action scheduler to 3.3.0"
https://github.com/woocommerce/action-scheduler/releases/tag/3.3.0

[2021-09-16 21:13] magicemilymiddleton opened #1785 "Pricing Table Block Visibility Settings Not Allowing For Members-only Visibility"
### Reproduction Steps

(This was brought up in LifterLMS Office Hours)

1 - Create a course (or edit an existing course that's using the WordPress editor)
2 - Make an access plan on the course so the block will have something to show
3 - Change the visibility on the 'LifterLMS Pricing Table Block' to only be visible to someone enrolled in a specific membership.
4 - Click Update
(then you should s

[2021-09-16 21:31] thomasplevy commented on #1785
@willmiddleton-lifterlms duplicate of https://github.com/gocodebox/lifterlms-blocks/issues/46, closing in favor of that issue

[2021-09-16 21:31] #1785 closed, assigned to thomasplevy

[2021-09-17 11:13] eri-trabiccolo opened #1787 "Latest achievement not showing in dashboard my grades"
### Reproduction Steps

+ Enroll yourself in a course
+ Create an achievement and trigger it to the yourself (for the course at hand)
+ Go into dashboard my grades and click on the course

### Expected Behavior

+ I expect to see the latest achievement background

### Actual Behavior

+ the Latest Achievements reads "No achievements"

### Error Messages / Logs

n/a

### System and Environment Info

[2021-09-17 12:55] eri-trabiccolo commented on #1463
@gocodebox/engineering
When #1759 will be merged it'll be impossible to delete products with existing subscriptions, but what do you think we should do about recurring payments running for deleted products?
E.g. a product directly deleted from the DB for any reasons, or products deleted prior to this PR being merged?
Seems reasonable to me that when processing the recurring payment we check on the

[2021-09-17 16:29] pondermatic commented on #1463
@eri-trabiccolo, that sounds logical to me.

[2021-09-17 16:36] thomasplevy commented on #1463
@eri-trabiccolo thumbs up from me too

[2021-09-18 01:09] chrisbadgett commented on #1717
WP Engine provided a test account for LifterLMS team testing. Logins available in password manager.

[2021-09-19 16:47] pondermatic opened #1793 "`llms_bulk_update_user_postmeta()` inserts rows with different `updated_date` values"
**Is your feature request related to a problem? Please describe.**
When [`llms_bulk_update_user_postmeta()`](https://github.com/gocodebox/lifterlms/blob/5.3.1/includes/functions/llms.functions.user.postmeta.php#L199) is used to insert or update many database rows, there is a chance that their `updated_date` values may be different if the current time is near a second, e.g. `01:02:03.999` for the f

[2021-09-21 13:37] eri-trabiccolo opened #1797 "LLMS.wait_for should give more information on the dependency"
Currently (LifterLMS 5.3.1) this util only prints to messages:
`waiting...` while waiting for a condition to be met
`could not load dependency...` when the condition is still not met after 30 seconds.

When this happens we have no information on what's missing.

The idea would be to add a third (optional) param (`dep`) to `LLMS.wait_for` which is a string representing the condition to be met.

wha

[2021-09-21 15:29] pondermatic commented on #1793
Instead of allowing `llms_bulk_update_user_postmeta()` to pass the `updated_date` to `llms_update_user_postmeta()`, `test_llms_get_user_postmeta()` was changed to allow a 2 second delta variation between dates.

[2021-09-21 16:11] thomasplevy commented on #1793
Unreleased as of yet (it's staged on `dev`)

[2021-09-21 18:24] pondermatic commented on #1797
I like the idea of calling `LLMS.wait_for()` with a string that is logged to the console if the dependency could not be loaded.

Another option, although not as good, is to have the `test` functions return `true` | `string`.

[2021-09-21 18:42] #1781 closed, assigned to pondermatic

[2021-09-21 18:42] #1787 closed, assigned to thomasplevy, eri-trabiccolo

[2021-09-21 18:42] #1793 closed, assigned to thomasplevy

[2021-09-21 18:42] thomasplevy commented on #1797
Opinions on my PR, #1800

[2021-09-24 09:15] eri-trabiccolo opened #1803 "Latest achievement in dashboard/my-grades might be empty depending on the number of posts set in wp->settings->reading"
### Reproduction Steps

+ In your wp dashboard -> Settings -> Reading, set the number of posts to show to 1.
+ Create a Course with two lessons
+ Create 2 Achievements
+ Create two Engagements (respect this order):
-- for the **first lesson** completion, assign the first achievement
-- for the course completion, assign the second achievement
+ Enroll a user in the course
+ As this user:
-- complet

[2021-09-24 09:16] eri-trabiccolo commented on #1803
@thomasplevy priority?

[2021-09-24 17:37] thomasplevy commented on #1803
I'd say we should take care of this since we have a customer who encountered the issue, we told them we fixed it, and we didn't actually fix it

[2021-09-24 18:19] eri-trabiccolo commented on #1803
We fixed what we could reproduce :D
there were two issues... :P

[2021-09-24 18:22] thomasplevy commented on #1803
A nuance that matters to us but I doubt matters to the customer

[2021-09-28 10:00] toyinogun commented on #1797
HS-176373

[2021-09-29 16:37] thomasplevy commented on #1707
@nrherron92 @eri-trabiccolo any updates on this?

[2021-09-29 16:37] thomasplevy commented on #1689
@nrherron92 any word on this one?

[2021-09-29 16:41] nrherron92 commented on #1689
I'll send a follow up but I don't know that they'll get back to us

[2021-09-29 16:42] nrherron92 commented on #1707
she never got back to us

[2021-09-29 18:21] thomasplevy commented on #1707
Closing, we can reopen if this cahnges.

[2021-09-29 18:21] #1707 closed, assigned to nobody

[2021-10-01 13:52] nrherron92 opened #1812 "Astra Free Enroll Single 2 Columns"
### Reproduction Steps

+ https://wordpress.org/support/topic/enrollment-instead-of-checkout/
+ Set the theme to Astra
+ Create a free access plan
+ Check out the free access plan with a test student

### Expected Behavior

+
![image](https://user-images.githubusercontent.com/47434271/135631300-28bed2ba-c809-4f78-bbd8-3b7845cd2934.png)

### Actual Behavior

+
![image](https://user-images.githubuse

[2021-10-01 16:50] thomasplevy commented on #1812
My initial review is that Astra's CSS forces it into 2 columns regardless of our internal logic that is used to determine how many columns our checkout should contain.

https://github.com/gocodebox/lifterlms/blob/2ca613f0edb28c6efce1962d9c7cac352a3a6f7b/templates/checkout/form-checkout.php#L30

I do not think that this is something that we can/should fix. I think this should be handled from within

[2021-10-01 19:09] nrherron92 commented on #1812
@thomasplevy yeah I'll do that!

[2021-10-01 19:47] #1812 closed, assigned to thomasplevy

[2021-10-04 05:24] chetansatasiya opened #1814 "Missing Text domain"
https://github.com/gocodebox/lifterlms/blob/5f2b0210faa32c451d31ea91f6847025dda13984/includes/class.llms.view.manager.php#L414

[2021-10-04 21:21] mayecreate opened #1817 "Adding a hook in class.llms.controller.lesson.progression.php"
**Is your feature request related to a problem? Please describe.**
I'm trying to alter the handle_complete_form() and handle_incomplete_form() functions in /includes/controllers/class.llms.controller.lesson.progression.php

This is proving to be a problem. But after some discussion with Thomas on the LifterLMS slack, he thinks we might have a solution.

**Describe the solution you'd like**
Modify

[2021-10-05 23:24] #1784 closed, assigned to thomasplevy

[2021-10-05 23:24] #1797 closed, assigned to thomasplevy

[2021-10-05 23:24] #1803 closed, assigned to thomasplevy

[2021-10-05 23:24] #1814 closed, assigned to thomasplevy

[2021-10-11 16:51] thomasplevy opened #1824 "Twenty Twenty-Two theme support"
Twenty Twenty-Two is the new WP default theme to be included in WordPress 5.9

Upon release we should include new theme support for the theme

The first beta for 5.9 will be available 11/16 and the first RC on 11/30

I don't think we should spend any time on this until the beta is ready so we reduce the amount of API changes that may affect us.

Theme: https://github.com/WordPress/twentytwentytwo

[2021-10-12 21:49] nrherron92 opened #1825 "Course Capacity Holds Old Course Count when Cloned"
### Reproduction Steps

+ HS-177457

+ Create a course and add however many students to match the course capacity restriction set. so that when you open the course while logged out it won't let you enroll and shows the full message
+ Clone that course and publish it then check the course while logged out.

### Expected Behavior

+ you can enroll until hitting the student capacity

### Actual Behav

[2021-10-12 21:59] thomasplevy commented on #1825
This is, essentially, a duplicate of https://github.com/gocodebox/lifterlms/issues/1532 (it's a different "symptom" but the same underlying problem). Closing this in favor of the pre-existing issue.

[2021-10-12 21:59] #1825 closed, assigned to thomasplevy

[2021-10-12 22:00] thomasplevy commented on #1532
HS-177457

[2021-10-12 22:01] thomasplevy commented on #1825
After cloning, one can "flush" the cache by enrolling and unenrolling themselves manually on the admin panel. This will kickstart the data processor and regenerate the enrollment count data to be correct. It's not great but it's a workaround until we fix the bug.

[2021-10-14 17:45] #1325 closed, assigned to nobody

[2021-10-14 17:45] #1463 closed, assigned to eri-trabiccolo

[2021-10-14 17:45] #1817 closed, assigned to nobody

[2021-10-15 05:12] hubert0504 commented on #290
Hi @thomasplevy, our client is becoming frustrated with this issue. Is it possible to redirect those specific emails (maybe using id or subject line) to another dummy email address using hooks or filters?

[2021-10-15 19:37] thomasplevy commented on #290
Hey @hubert0504

I appreciate you and your client's frustrations and I do apologize that this bug continues to exist.

The creative thinking here would be useful for a workaround except that it suffers from the same issue as the core issue suffers from: the triggered event (to send an email, in this case) is not aware of the engagement post type that was used to create it (which is now deleted).

[2021-10-17 22:30] hubert0504 commented on #290
Hi @thomasplevy , thanks for the detailed information. I really appreciate it. I will try to audit the scheduled actions and try to remove them manually. Thanks again mate.

[2021-10-19 18:27] nrherron92 opened #1829 "Registration form creates user without proper email address"
### Reproduction Steps

+ HS-177727
+ create a registration form that has email, username required and nothing else (no password field)
+ Go to register a new user
+ type in an incomplete email address for example: thisisnotcomplete@notcomplete
+ complete registration

### Expected Behavior

+ The user should not be registered on the site because the email is invalid.
+ so there would be no way fo

[2021-10-20 09:31] eri-trabiccolo commented on #1829
@nrherron92
I'm a little confused about this:

If you remove the password field, it is automatically added, isn't so?

**also**

I don't seem to be able to reproduce this: in my tests the user is logged in on the front end.

@thomasplevy
the problem here is that we:
- [check the required fields](https://github.com/gocodebox/lifterlms/blob/5.4.0/includes/forms/class-llms-form-handler.php#L370) are

[2021-10-20 13:09] nrherron92 commented on #1829
@eri-trabiccolo you can make a registration form with no password:
![image](https://user-images.githubusercontent.com/47434271/138099053-a2b59921-c282-4f16-b86c-7fe8ffa0a55f.png)

[2021-10-20 13:11] eri-trabiccolo commented on #1829
@nrherron92 do you have a website where I can check this?

[2021-10-20 13:12] nrherron92 commented on #1829
@eri-trabiccolo yeah! I'll send you the password link to my lifterlms site

[2021-10-20 13:24] eri-trabiccolo commented on #1829
@nrherron92
thanks!
So you can have a registration form with no password field if you removed the password field from the form and from the password reusable block (which becomes empty). Aside from the fact that this is not related to this very issue, we must decide whether, a password field can be removed from the password reusable block - I guess it shouldn't.
In any case when re-adding the mini

[2021-10-20 15:12] eri-trabiccolo opened #1832 "If you remove default required fields (email, password) from their reusable blocks, they're not dynamically re-added as expected"
### Reproduction Steps

+ Go to edit e.g. your Email Address (Reusable) block. (/wp-admin/edit.php?post_type=wp_block)
+ Remove the email address field (input group if there's a confirmation as well)
+ Save the block
+ As non logged in user go to the dashboard (to see the registration form)

### Expected Behavior

+ I would expect to see the email address field

### Actual Behavior

+ The email ad

[2021-10-21 18:34] nrherron92 commented on #385
HS-178320

This is sort of related, the user has a free plan that expires after 7 days so this is not technically the same thing, but what we would normally do is have them set up a trial instead of a regular access plan but the same issue occurs the user can just cancel it and go back to the free trial each time.

So maybe it's more of a feature request to allow a setting to let users purchase an

[2021-10-22 18:24] nrherron92 opened #1835 "Drip Content Locking Already completed courses when adding a specific date of release"
### Reproduction Steps

+ HS-175521
+ this may be a feature request?
+ Set up a course and have a user complete all of the lessons.
+ Go in and add a drip content to release a lesson on a specific day or a far out number of days from when the user registered

### Expected Behavior

+ Since the user already finished the lesson and marked it complete they should be able to still access it despite dr

[2021-10-25 14:52] nrherron92 commented on #1669
HS-178591

[2021-10-26 13:26] nrherron92 commented on #1835
sorry to bump but the customer really wants an answer on this one

[2021-10-26 14:34] eri-trabiccolo commented on #1835
This seems to be a bug but being here since forever I guess if we have users leveraging this, mmm.
Also the same should be applied for other restrictions related to courses or lessons already completed, isn't so?
@thomasplevy what do you think?

[2021-10-26 16:25] eri-trabiccolo commented on #1835
@nrherron92 while we discuss on how to better approach this, do you think it would be possible to relay a snippet that will fix the customer issue for the moment?
You can find it here:
https://github.com/gocodebox/snippets/blob/f3afa245ea1f4ecc1a5f3355e853dfa606782caa/lifterlms/lifterlms-no-lesson-drip-if-completed.php

Thanks!

[2021-10-26 16:40] thomasplevy commented on #1835
I think that this is a bit of a weird edge case and it is *possible* that users are leveraging this bug as a feature...

But... it does feel like a bug to me... I can't see a real reason why someone would want to add drip and *intend* it to lock out users who have already completed the content.

Thus, I think we could return early with `false` if the user has already completed the lesson in questi

[2021-10-26 22:22] #1532 closed, assigned to nobody

[2021-10-26 22:22] #1829 closed, assigned to eri-trabiccolo

[2021-10-26 22:22] #1832 closed, assigned to eri-trabiccolo

[2021-10-30 14:04] nrherron92 opened #1841 "Oxygen Conflict"
### Reproduction Steps

+ HS-179002
+ Enable LifterLMS + Oxygen Builder
+ Set a course redirection rule

### Expected Behavior

+ the set up saves and works

### Actual Behavior

+ Oxygen Breaks

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### System and Environment Information

<details>
<summary>System Report</summary>

[code]

</details>

This issue has

[2021-11-01 12:42] nrherron92 opened #1842 "French Translation Crashes Add New Memberships"
### Reproduction Steps

+ HS-179022
+ Add provided translation files to site (see ticket for .mo + .po)
+ go into settings and turn the site language to french
+ go to memberships->add new

### Expected Behavior

+ The membership loads up to where you can make a new one

### Actual Behavior

+ white screen of doom

### Error Messages / Logs

+ Include any relevant error messages or log files
[code

[2021-11-01 13:13] eri-trabiccolo commented on #1841
I don't seem to be able to reproduce this, but I'm really not confident with this builder.
I see there's a problem according to the video provided by the customer, but I'm not able to reproduce it locally.
Might be something related to their plugins + templates configuration?!
Maybe a staging website could give us more info.

@thomasplevy I'm not triaging this as someone else in the team might be

[2021-11-01 14:26] eri-trabiccolo commented on #1842
@thomasplevy
I investigated a little bit.
The whole error is:
[code]
The issue occurs because of the translation of the user info field "user_login" in french ( Username => Nom d'utilisateur).
[This line](https://github.com/gocodebox/lifterlms/blob/5.4.1/includes/admin/class.llms.admin.assets.php#L292) produces this html:
[code]
which breaks at the very beginning: `"Nom d\\'utilisateur"`.

While i

[2021-11-01 16:27] thomasplevy commented on #1841
@nrherron92 can you relay to the customer that a developer had a look and was unable to recreate... Please ask him to reduce the issue on a testing / staging site and ensure that there isn't another plugin also involved in this conflict: eg disable everything else other than LifterLMS, Oxygen, WC, and LifterLMS WC -- and switch to a default theme.

[2021-11-01 16:29] thomasplevy commented on #1841
@eri-trabiccolo thanks for having a look. I too have never touched this builder and don't know my way around it. The customer contacted me on slack and based on my conversation with him I made an assumption that he already reduced this down and had identified that it was a recreatable issue but that was an assumption. Let's get some more information from him before we do anything further here.

[2021-11-03 00:01] thomasplevy commented on #1689
@nrherron92 guessing there's no response / movement on this from the Kadence side, @chrisbadgett any thoughts on what should we do here?

1. Ignore it and leave it as a "known" conflict
2. Try to reach out to Kadence more/again
3. Fix it from our side by adding explicit CSS to accommodate the Kadence theme (note: we currently have no explicit theme support css for any themes other than WP Default

[2021-11-03 13:57] nrherron92 commented on #1689
@thomasplevy :( no unfortunately they haven't replied at all

[2021-11-08 08:55] toyinogun opened #1849 "LMS Manager role does not have access to other lessons created by other roles"
### Reproduction Steps

- Create a course with an account with the LMS Manager role.
- Try using the builder to link an already created lesson.
- You'll see that you won't get any results.
- HS-179513

### Expected Behavior

As an account with the "LMS Manager" role, that account should be able to attach other lessons created by other roles.

### Actual Behavior

Can't attach the other lessons in

[2021-11-08 11:41] eri-trabiccolo commented on #1849
Thanks @toyinogun
Confirmed as bug.

---
https://github.com/gocodebox/lifterlms/blob/7e1292d00538c9211f65c1c1c020b744f78244e3/includes/admin/class.llms.admin.builder.php#L189
The cap there should be `'manage_lifterlms'`.

[2021-11-08 16:40] thomasplevy opened #1850 "WP 5.9 & PHP 8.1"
## Timeline

11/23/21 - WP 5.9 Beta.2
11/25/21 - PHP 8.1 General Release
11/30/21 - WP 5.9 RC.1
12/14/21 - WP 5.9 General Release

## Tasks

+ [x] PHP 8.1 fixes for core
+ [x] WP 5.9 fixes for core
+ [ ] PHP 8.1 fixes for add-ons
+ [ ] WP 5.9 fixes for add-ons
+ [x] Twenty Twenty-Two Theme Support, #1824

---

Errors found in CI resulting from WP Core "issues"

https://core.trac.wordpress.org/tick

[2021-11-08 17:01] thomasplevy commented on #1850
@gocodebox/engineering

I believe it's reasonable for us to roll out compatibility for php 8.1 on or before the official PHP 8.1 release date, noting that some of the issues come from WP core functions/methods that won't be patched until the WP core release. This will entail us weeding through our code to find what issues are our own and what issues are upstream.

Theme support for the new default

[2021-11-10 18:20] nrherron92 commented on #385
HS-179675

[2021-11-11 15:56] thomasplevy commented on #1841
@nrherron92 any movement? Should we close this out?

[2021-11-11 16:06] nrherron92 commented on #1841
@thomasplevy we can close it they never replied even though they saw the message.

[2021-11-11 16:06] #1841 closed, assigned to nobody

[2021-11-14 13:43] yewzy opened #1860 "LMS Manager role should allow override of promote_users capability"
### Reproduction Steps

1. Add the 'promote_users' capability for the LMS Manager role (using the Members plugin by Memberpress).

Expected behavior: LMS Manager should be able to freely set a user to any roles.
Actual behavior: LMS Manager is only able to set a user to either  Instructor, Instructor's Assistant, LMS Manager or Student

If I include the 'promote_users' capability in a separate rol

[2021-11-15 15:45] thomasplevy commented on #1860
Hey there @yewzy

This sounds like an area where we can't exactly *fix* this issue without either creating custom code specifically to resolve this conflict with this plugin or creating new issues within our plugin in order to accommodate another plugin like this.

LifterLMS *intentionally* limits the user roles that can be managed by our custom roles. The functionality of this role (the LMS Manag

[2021-11-15 15:47] thomasplevy commented on #1860
@gocodebox/engineering if someone has a free few minutes to review my suggestions and thinking behind this could you weigh in and let @yewzy know if there's something I'm completely missing or let me know if I'm completely wrong and there's a way that's eluding me that would allow us to add compatibility without leveraging specific Memberpress code (filters, roles, etc...) and simultaneously not b

[2021-11-15 15:55] eri-trabiccolo commented on #1860
@thomasplevy
Option 1 is the better to me. Because there are various areas where we list users by role, e.g. some reporting screens, or the option to select which role can skip the enrollment.

About this, @yewzy :

You don't need this because our `lms_manager` already can `promote_users`, we just limit the other roles he can promote.

Option 1 described by @thomasplevy will help you achieve your

[2021-11-15 20:03] magicemilymiddleton opened #1861 "Auto enrollment removes student upon un-enroll from course. Other membership's auto enroll should still grant access"
### Reproduction Steps

1. Create 2 Courses (Course A, Course B)
2. Create 2 Memberships:
-  Membership A -> Auto Enroll to Course A
-  Membership B -> Auto Enroll to Course A & Course B
3. Create free access plans on your memberships.
4. Sign up as a test user into Membership A
5. Sign up as the same test user to Membership B
6. (at this point, you should have access to: Membership A and Membersh

[2021-11-16 12:27] chrisbadgett commented on #1861
Ideally a user should not get enrollment status cancelled from a course via a related membership cancellation if they also have an active enrolled status in the course via another membership.

[2021-11-16 16:07] thomasplevy commented on #1861
I haven't setup a reproduction but I don't think I need to. When someone is enrolled into a course through a membership the enrollment trigger is stored as that membership. When they're unenrolled from the membership we remove the user from every course with that trigger.

A check should be added to the unenrollment handler that should lookup if the user should have access to that course from some

[2021-11-16 16:37] magicemilymiddleton commented on #1861
@thomasplevy - I don't think we have any really upset customers at the moment on this. The customer who reported it is pretty mellow and I think she has a workaround for now.

[2021-11-17 17:02] thomasplevy commented on #1860
@yewzy does this help out at all?

[2021-11-19 10:08] yewzy commented on #1860
Thanks @thomasplevy for the detailed explanation! Yes, that does indeed makes sense, and I really appreciate you taking the time to explain how the LMS Manager role is designed. I believe that `llms_editable_roles` will work perfectly for my current use case.

[2021-11-19 10:08] #1860 closed, assigned to thomasplevy

[2021-11-22 15:19] nrherron92 opened #1865 "SEOPress Conflict"
### Reproduction Steps

+ HS-180585 -- I'll get y'all credentials
+ Enable SEOPress and Query Monitor
+  Query Monitor, reports LifterLMS calls go up from 24, when SEOPress is deactivated, to 544 with SEOPress activated. This is to the exact same page and repro's 100% of the time.
+ single call to LLMS_Course::get_sections results in 27 extra database queries with SEOPress activated, as compared t

[2021-11-22 15:47] thomasplevy commented on #1865
@nrherron92 an initial review of this issue shows that there are the same number of queries on a course page with SEOPress activae and inactive.

I'm looking deeper into the plugin's settings to see if I can find a way to "add queries" via a setting or something...

The user mentions there's a specific page on the site where this is happening, I'd like to know what page this is to see if I can fin

[2021-11-22 15:55] thomasplevy commented on #1865
I can't find anything with LifterLMS and SEOPress itself... I've looked through all the SEOPress settings and I can't get the queries on a course page to increase by having SEOPress enabled (it increases by 2, there's two option queries run by SEOPress).

I see that the Oxygen Builder plugin is enabled and the customer's course pages seem to not use our default syllabus (where the query referenced

[2021-11-22 16:34] thomasplevy commented on #1860
You're welcome @yewzy !

[2021-11-22 17:29] thomasplevy commented on #1078
This is being worked on in #1866

[2021-11-22 17:30] thomasplevy commented on #1078
@eri-trabiccolo this is an old issue I opened a long time ago to track this enhancement, ignore whatever's in here in favor of what you've already started working on. Don't take this as "I'm changing direction" or whatever... I just want this issue closed when #1866 is completed.

[2021-11-22 19:15] nrherron92 commented on #1865
@thomasplevy We finally got access to the test site. It looks to me like the queries are coming from Oxygen. When I turn oxygen off it drops, but I wasn't seeing any difference between SEO on and off.

Do we still have access to the Oxygen builder that I can test locally from that other issue we had come up with them?

The link to the staging site is on the ticket with an autologin code. The only

[2021-11-22 21:02] thomasplevy commented on #1865
@nrherron92 here's the issue from the Oxygen issue. @eri-trabiccolo worked on it not me so I don't have a copy of Oxygen but maybe he does or maybe the initial ticket still has the plugin?

https://github.com/gocodebox/lifterlms/issues/1841

I'm not sure if there's much more for us to do though if the combination of Oxygen and SEOPress are creating the increase in queries what would we do about th

[2021-11-22 23:16] nrherron92 commented on #1865
He's taking it up with oxygen and seopress. We're good to close!

[2021-11-22 23:16] #1865 closed, assigned to thomasplevy

[2021-11-24 10:25] toyinogun commented on #1146
HS-179774

[2021-11-29 19:59] nrherron92 opened #1870 "[Divi Theme Conflict] Show Correct Quiz Answer Not Working"
### Issue Summary

Enable Divi's "Defer jQuery And jQuery Migrate" theme setting results in the quiz results page accordion failing due to the LLMS inline JS which powers the accordion being loaded prior to jQuery. Disabling this setting results in normal functionality on this particular page.

---

### Reproduction Steps

+ HS-180509
+ Create a quiz
+ Enable show correct answer
+ Take a quiz and

[2021-11-29 20:10] thomasplevy commented on #1870
@nrherron92 can you give me the rest of the info on that error message?

Can you confirm this is a DIVI theme conflict? I'm not seeing any issues with LifterLMS alone installed (using 2021)

[2021-11-29 20:37] thomasplevy commented on #1870
@nrherron92 Okay...

This is happening because (perhaps by default now??) Divi "defers" loading jQuery from the header (where it's loaded by WordPress (and LifterLMS expects it to be) to the footer. Some could argue this is a performance improvement... They'd probably be right and this is likely why this option exists in Divi. However it very easily can cause conflicts like this.

LifterLMS is *ex

[2021-12-06 22:15] kelliott14900 commented on #290
@thomasplevy Do you have an update on when this fix will be rolled out? We've got a pretty big issue with this bug on one of our client sites as well thats causing tons of emails to go out each day which are inaccurate but we've got no way of stopping them as the engagements were deleted. Thank you so much for all of your efforts to resolve this. They are much appreciated.

[2021-12-06 23:51] thomasplevy commented on #290
@kelliott14900 This issue will be resolved in LifterLMS 6.0, slated for alpha release within the next two weeks. Various PRs are currently open, the "hub" pr (which will be shifted to the development branch for version 6.0, is in PR #1771

This issue is fixed on that working branch but it's not ready for production usage as of yet. We're completing adjacent features and continuing to test our fixe

[2021-12-15 22:48] thomasplevy opened #1886 "[6.x] Remove (most) previously deprecated code and record breaking changes"
In preparation for the 6.0 release we might as well remove previously deprecated code.

@pondermatic can you start working on removing deprecated code and logging the removed items as changelogs on a branch to merge into dev-600.

[2021-12-16 16:23] pondermatic commented on #1886
I'd like to remove [`use function LLMS as llms;`](https://github.com/gocodebox/lifterlms/blob/dev-600/lifterlms.php#L55-L61) from `lifterlms.php` and change all of the uses of `LLMS()` in LifterLMS to `llms()`, and eventually in other add-ons. [PHP function names are case-insensitive](https://www.php.net/manual/en/functions.user-defined.php#example-151), so this won't break 3rd party plugins.

[2021-12-16 18:09] eri-trabiccolo opened #1888 "Dev-600: Certificate(s) title(s)"
Can we clarify the role of the titles in the certificate template and awarded certificate?
Certificate template:
![Schermata 2021-12-16 alle 19 07 31](https://user-images.githubusercontent.com/7689242/146425480-5052d210-488b-4f58-af55-18ffd712f74a.png)
What's the role of the Title under Settings?

Awarded certificate:
![Schermata 2021-12-16 alle 19 05 04](https://user-images.githubusercontent.com/

[2021-12-16 18:17] eri-trabiccolo opened #1889 "Dev-600: Cannot award a certificate to a specific student, if using the block editor"
### Reproduction Steps
1)
+ from your wp dashboard -> Engagements -> Awarded Certificates
+ click on Award Certificate
+ select a student different from yourself :D
+ save
+ reload the page
+ look at the Student select
2)
+ from your wp dashboard -> LifterLMS -> Reporting
+ click on a user email
+ click on the certificates tab
+ click on the Award Certificate button
+ look at the Student select

#

[2021-12-16 20:00] pondermatic opened #1890 "dev-600: Typo in text domain"
https://github.com/gocodebox/lifterlms/blob/41a430bacfbfbcb6cc81b49720f3e6d048103ed6/includes/admin/views/metaboxes/view-award-engagement-submit.php#L155

[2021-12-16 20:10] pondermatic commented on #1886
@eri-trabiccolo , `.changelogs/lifterlm-rest.yml` has a typo in the file name. Commit 9c05198c53a6928020424b2e0a5f37ed944bb9a2.

[2021-12-16 20:14] eri-trabiccolo commented on #1886
@pondermatic thanks, but I don't think the parser cares about that. It's only ugly :)

[2021-12-16 21:26] nrherron92 opened #1891 "Drip Notifications of No Access aren't working"
### Reproduction Steps

+ HS-182314
+ Create a course with a lesson as normal and then a lesson locked behind a drip content wait
+ Add the sidebar course summary for lessons
+ go into the active lesson and try to access the lesson that is locked
+ or from the main course try to open the locked lesson in a new page

### Expected Behavior

+ This: https://youtu.be/9OMoMvH8l4E?t=228

### Actual Beha

[2021-12-16 22:45] pondermatic opened #1892 "llms-dev changelog add -t option used twice"
The short option `-t` for `llms-dev changelog add` is documented for both `--type` **and** `--title`.
https://github.com/gocodebox/lifterlms/blob/71d2a722f0cfe1bc5eb08f25c85417f7e6d22533/packages/dev/src/cmds/changelog/add.js#L109

[2021-12-17 16:23] thomasplevy commented on #1891
@nrherron92 have we ruled out plugin conflicts here or been able to reproduce on a test environment with just LifterLMS + default theme yet?

[2021-12-17 16:28] thomasplevy commented on #1886
The filename exists only to prevent uniqueness issues. The title/filename doesn't matter at all really and will be deleted once the changelog is created. Sure, we should try to spell stuff right but it hardly matters so long as the content is not misspelled. No need to change anything in this case.

[2021-12-17 16:31] nrherron92 commented on #1891
@thomasplevy yeah sorry, he does have a test site I checked this on with just a default theme and LifterLMS also on my test site too

[2021-12-17 16:45] thomasplevy commented on #1888
### Historically -- v 5.x and earlier:

The WP_Post `post_title` on the certificate (template) was used as an admin-only title...
The meta value  `_llms_certificate_title` stored the actual title of the certificate that users/students would see on the frontend.

When creating an earned certificate (`llms_my_certificate`) both values were copied over.

I don't know what the reason for this differen

[2021-12-17 16:46] thomasplevy commented on #1891
@gocodebox/engineering anyone have some availability to triage this issue today?

[2021-12-17 16:47] eri-trabiccolo commented on #1891
@thomasplevy I'm going to in a moment <3

[2021-12-17 17:23] pondermatic commented on #1886
@gocodebox/engineering, please look at the WIP branch [dev-600-remove-deprecated-code](https://github.com/gocodebox/lifterlms/tree/dev-600-remove-deprecated-code) to make sure that I'm doing this correctly. My brain is fuzzy.

[2021-12-17 18:30] #1890 closed, assigned to eri-trabiccolo

[2021-12-17 18:33] thomasplevy commented on #1889
This is fixed by #1887 right?

[2021-12-17 18:34] thomasplevy commented on #1886
@pondermatic open a draft PR and I'll review

[2021-12-17 18:40] eri-trabiccolo commented on #1889
Nope it's not.

[2021-12-17 18:44] nrherron92 commented on #1891
Closing: We figured out the "issue" is that the links were the #llms-locked-lesson links which aren't meant to be clickable, so when I recreated it with the same links I ran into the same issue instead of trying to access the lesson itself which does show the notice!

[2021-12-17 18:44] #1891 closed, assigned to eri-trabiccolo

[2021-12-20 17:15] thomasplevy opened #1895 "Add @pondermatic as a contributor via wp.org readme frontmatter"
https://github.com/gocodebox/lifterlms/blob/trunk/.wordpress-org/readme/01-header.md

@pondermatic let me get your WordPress.org username and we'll get you added as a contributor :+1:

[2021-12-21 09:26] toyinogun commented on #1583
HS-182941

[2021-12-21 16:17] eri-trabiccolo opened #1897 "Dev-600: certificates/achievements reporting are not paginated and don't show scheduled posts"

[2021-12-21 16:51] #1897 closed, assigned to thomasplevy

[2021-12-21 16:54] #1889 closed, assigned to thomasplevy

[2021-12-22 10:29] eri-trabiccolo opened #1900 "Dev 600: cannot properly export an awarded certificate"
### Reproduction Steps

+ View an awarded certificate
+ Click on Save
+ Download the certificate html
+ Open it

### Expected Behavior

+ I would expect to see the html of the earned certificate

### Actual Behavior

+ I see the html of the website home page

### Error Messages / Logs

n/a

### This issue has been recreated:
+ [x] Locally
+ [ ] On a staging site
+ [ ] On a production website
+ [ ]

[2021-12-22 11:19] eri-trabiccolo opened #1901 "Dev 600: Students cannot see their awarded certificates"
### Reproduction Steps

+ Award a certificate to a student
+ Log in as that student
+ Navigate to the awarded certitficate

### Expected Behavior

+ I'd expect to see the certificate

### Actual Behavior

+ I'm redirected to the home page

This is due to the fact that the awarded certificate, which [used to be publicly queryable](https://github.com/gocodebox/lifterlms/blob/5.6.0/includes/class.llm

[2021-12-22 11:19] eri-trabiccolo commented on #1900
this is just a side effects of #1901

[2021-12-22 11:19] #1900 closed, assigned to thomasplevy

[2021-12-22 11:39] eri-trabiccolo opened #1903 "Dev 600: Legacy Template label might be confusing?"
When looking at the awarded certificate list table, there can be some items with the label "Legacy Template", plus this items have the action link "Migrate Template", no matter whether they were manually awarded or they actually had a "certificate template".
I think this might be a bit confusing, not sure how to call that though, but Legacy Template doesn't refer to the awarded certificate's paren

[2021-12-22 15:02] thomasplevy commented on #1903
What do you suggest?

[2021-12-22 15:08] eri-trabiccolo commented on #1903
just "Legacy" for the label and "Migrate legacy certificate" for the action link?

[2021-12-22 15:11] pondermatic commented on #1886
@gocodebox/engineering, Should we leave recently deprecated items in LifterLMS 6.0.0? Maybe leave deprecated items since LifterLMS 5.0.0 released June 22, 2021, alone?

[2021-12-22 18:13] thomasplevy commented on #1886
@pondermatic Yea, don't remove any upcoming (as of yet unreleased) deprecations in 6.x.

Anything in 5.x can be removed (and I'd like it to be). There's no timeline on the amount of time required to pass between a deprecation and a removal. I would say that 6 months is more than enough.

[2021-12-22 18:14] thomasplevy commented on #1903
Sounds good to me <3

[2021-12-22 18:18] #1901 closed, assigned to thomasplevy

[2021-12-22 19:17] pondermatic commented on #1886
@thomasplevy,
[`LLMS_Notifications::dispatch_processors()`](https://github.com/gocodebox/lifterlms/blob/5.6.0/includes/notifications/class.llms.notifications.php#L117) was deprecated in 3.38.0, and is only used in [`LLMS_Notifications::__construct()`](https://github.com/gocodebox/lifterlms/blob/5.6.0/includes/notifications/class.llms.notifications.php#L101) if the `llms_processors_async_dispatchin

[2021-12-22 19:21] #1903 closed, assigned to thomasplevy

[2021-12-22 19:24] thomasplevy commented on #1886
If anyone was using the filter to disable async processing they *would have* been met with the deprecation warning. I suppose what you are suggesting is *technically* the correct way to do this and the filter should have been introduced as deprecated but... I doubt anyones actually using this and if they are they are *already aware* they are using deprecated functionality due to the deprecation no

[2021-12-22 19:28] pondermatic commented on #1886
Your logic makes sense to me. I had not thought about the warning from the deprecated function. I will remove both the filter and the function.

[2021-12-22 19:52] pondermatic commented on #1886
@thomasplevy,
While removing the deprecated [`LLMS_Person_Handler::get_available_fields()`](https://github.com/gocodebox/lifterlms/blob/5.6.0/includes/class.llms.person.handler.php#L544) function, I found calls to it from [LifterLMS ConvertKit](https://github.com/gocodebox/lifterlms-convertkit/blob/trunk/includes/class-llms-integration-convertkit.php#L138) that allow compatibility with LifterLMS <

[2021-12-22 20:33] pondermatic commented on #1886
I may have found some code that should have been deprecated in 4.4.3 but wasn't.

## [`LLMS_AJAX_Handler::create_lesson()`](https://github.com/gocodebox/lifterlms/blob/5.6.0/includes/class.llms.ajax.handler.php#L1146)
+ calls [`LLMS_Post_Handler::create_lesson()`](https://github.com/gocodebox/lifterlms/blob/5.6.0/includes/class.llms.post.handler.php#L145), which was deprecated in 4.4.3 and has no

[2021-12-22 20:34] thomasplevy commented on #1886
Leave it

Leave it for now. I'd love to say drop it and bump version support of CK to 6.0 but that will require a coordinated release. Better to drop it after 6.0 is actually released. That does mean we need to leave a function in the core that we don't want to but that's fine for now.

[2021-12-22 20:40] thomasplevy commented on #1886
AJAX methods probably should have been deprecated / removed in version 3.x, I'm betting... In any event. I think the semantically correct thing to do is mark them as deprecated now and remove them later. However, knowing that they currently *do not work* since they call methods that do not exist the better thing to do would probably be just to remove them outright since they're broken. If someone

[2021-12-22 20:51] pondermatic commented on #1886
That sounds like a very good idea to me. I didn't know about the timing of another 5.x release before the 6.0 release.

[2021-12-23 20:59] pondermatic commented on #1886
@thomasplevy, do you want me to run the deprecated [`lifterlms_created_person`](https://github.com/gocodebox/lifterlms/blob/5.6.0/includes/forms/class-llms-form-handler.php#L455) action hook through `do_action_deprecated()`, or just just remove it? It occurred to me that we should warn developers.

[2021-12-23 21:08] pondermatic commented on #1886
@thomasplevy,
The deprecated [`llms_get_minimum_password_strength()`](https://github.com/gocodebox/lifterlms/blob/5.6.0/includes/functions/llms-functions-deprecated.php#L180) function is only used in
[`LLMS_Frontend_Assets::enqueue_inline_pw_script()`](https://github.com/gocodebox/lifterlms/blob/5.6.0/includes/class.llms.frontend.assets.php#L142), which is not used anywhere. Should we remove `LLMS

[2021-12-23 21:32] pondermatic commented on #1886
@thomasplevy, I'm removing the deprecated `wp-background-processing` library directory, which is the last thing in [`includes/libraries`](https://github.com/gocodebox/lifterlms/tree/5.6.0/includes/libraries). Should we remove `includes/libraries` as well?

[2021-12-23 21:44] #1888 closed, assigned to thomasplevy

[2021-12-23 22:36] #1892 closed, assigned to thomasplevy

[2021-12-23 22:43] thomasplevy opened #1907 "Merge code interface"

[2021-12-23 22:43] #1907 closed, assigned to thomasplevy

[2021-12-23 22:44] #561 closed

[2021-12-24 13:41] pondermatic commented on #1895
@thomasplevy, my wordpress.org username is `pondermatic`.

[2021-12-27 16:45] pondermatic commented on #1886
@thomasplevy,
The [`llms_get_quiz_theme_setting()`](https://github.com/gocodebox/lifterlms/blob/5.6.0/includes/functions/llms.functions.quiz.php#L151) function is deprecated, but used in [`LLMS_Admin_Builder::get_custom_schemas()`](https://github.com/gocodebox/lifterlms/blob/5.6.0/includes/admin/class.llms.admin.builder.php#L120) and `LLMS_Quiz::toArrayAfter()` to maintain backward compatibility.

[2021-12-27 17:29] thomasplevy commented on #1886
Use `do_action_deprecated()` for now.

[2021-12-27 17:30] thomasplevy commented on #1886
Yes

[2021-12-27 17:30] thomasplevy commented on #1886
Not yet. We're still using this in the labs plugin as far as I can remebmer

[2021-12-27 19:28] thomasplevy opened #1908 "[6.x] Todo Items"
## Beta.1 Blockers

+ [x] Create welcome text in db upgrade notice
+ [x] #1894
+ [x] ~Add google font embedding for certificate exports... I think it will be possible to rip their content into a data-uri and embed the fonts when exporting.~
+ [x] Check codebase for `@todo` items
+ [x] #1931
+ [x] #1932
+ [x] Student dashboard for certs/achievements using new code?
+ [x] determine what the minimum

[2021-12-27 20:55] pondermatic commented on #1886
`lifterlms_created_person` is also triggered in these add-ons:
- Formidable Forms
- Gravity Forms
- WooCommerce
- WPForms

They also trigger the newer `lifterlms_user_registered` action hook.

Should I leave the add-ons alone, or submit PRs that change `do_action()` to `do_action_deprecated()`?

[2021-12-27 23:08] thomasplevy commented on #1886
PRs for the add-ons please <3

[2021-12-27 23:30] thomasplevy opened #1910 "[6.x] Release Timeline"
Proposed release schedule (subject to change) for LifterLMS version 6.0.0. All dates are approximate, plus or minus a day or so.

The final public release date will be no earlier than the proposed date (but could be later depending on how the testing phases go). We'll do at least one RC and may drop the second RC. We'll keep at least 10 days between rc.1 and the stable release.

The biggest change

[2021-12-27 23:37] thomasplevy commented on #1895
@pondermatic thanks, also added to .org repo as a support rep in case you ever need to post something there you'll have a flag on your name (or something, I think)

[2021-12-27 23:38] #1895 closed, assigned to thomasplevy, pondermatic

[2021-12-28 20:28] pondermatic commented on #1886
@thomasplevy,
While removing the deprecated[ `LLMS_Section::get_order()`](https://github.com/gocodebox/lifterlms/blob/5.6.0/includes/models/model.llms.section.php#L273) method, I noticed that the similar [`LLMS_Lesson::get_order()`](https://github.com/gocodebox/lifterlms/blob/5.6.0/includes/models/model.llms.lesson.php#L270) was not deprecated. Want me to make it deprecated?

[2021-12-28 21:54] pondermatic commented on #1886
@thomasplevy,
While removing the deprecated [`LLMS_Post_Handler::create_lesson()`](https://github.com/gocodebox/lifterlms/blob/5.6.0/includes/class.llms.post.handler.php#L145), I noticed that it is being used by [`LLMS_AJAX_Handler::create_lesson()`](https://github.com/gocodebox/lifterlms/blob/5.6.0/includes/class.llms.ajax.handler.php#L1146), which isn't being used anywhere and would break if it

[2021-12-28 22:35] thomasplevy commented on #1886
OKay!

[2021-12-28 22:36] thomasplevy commented on #1886
This should be handled like the other item above you noticed in this situation. I don't want to *remove something* that will break something that isn't deprecated. So deprecate the other thing and we can remove in 5.x before release (or remove some other time)

[2021-12-28 23:58] pondermatic commented on #1886
`LLMS_AJAX_Handler::create_lesson()` is already broken. The call stack uses `LLMS_Section::count_children_lessons()`, which was removed in LifterLMS 4.0.0.

[2021-12-29 00:23] thomasplevy commented on #1886
Regardless... like I said above seems like the best avenue forward in my opinion: https://github.com/gocodebox/lifterlms/issues/1886#issuecomment-999867641

If you disagree with me propose a better solution (or just do it and don't ask my opinion :-p)

[2021-12-29 17:33] pondermatic opened #1912 "References to class methods and properties in changelogs"
**TL;DR**: Should `::` be used in changelog files (not DocBlocks) even on non-static methods and properties?

There are two categories of changelogs.
1. the `@see` tag in PHPDoc DocBlocks
2. files in `/.changelogs/` or the `CHANGELOG.md` file

Which operator should references to class methods and properties in changelogs use?
1. use the static [Scope Resolution Operator `::`](https://www.php.net/m

[2021-12-29 20:08] thomasplevy commented on #1912
@pondermatic

I'm almost certainly entirely to blame for inconsistency. I've never taken the time to determine what the best approach is. In general I think I loosely follow always using `::` because it seems that's what WordPress does in the codex, see non-static methods: https://developer.wordpress.org/reference/classes/wp_query/get/

I say that we follow the PHPDoc spec and always use `::`. I a

[2021-12-29 20:54] thomasplevy opened #1913 "[6.x] Certificate title block should be registered only on certificate and my certificate posts"
### Reproduction Steps

+ Navigate to a post (or page or any other post type)
+ Add the certificate title block

### Expected Behavior

+ block shouldn't be found

### Actual Behavior

+ Block is found, but doesn't load if added to the editor

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

[2021-12-29 21:31] thomasplevy opened #1914 "[6.x] Cert title block font options don't work on WP 5.8 and earlier"
I think it's because I'm leveraging font-settings found in core that's added on 5.9 for FSE.

I haven't double checked this but it seems like the classnames used for the CSS aren't added to the rendered block markup.

I'm thinking that since this will be officially released after 5.9 is released, we can disabled the font selector on 5.8 and note that 5.9 is necessary to use this feature in favor o

[2021-12-30 22:10] #1912 closed, assigned to thomasplevy

[2021-12-30 23:00] pondermatic commented on #1886
@thomasplevy, in addition to `LLMS_Lesson::get_order()`, I'm also going to deprecate [`LLMS_Lesson::set_parent_course()`](https://github.com/gocodebox/lifterlms/blob/5.6.0/includes/models/model.llms.lesson.php#L669) because it uses the same logic as the deprecated [`LLMS_Section::set_parent_course()`](https://github.com/gocodebox/lifterlms/blob/5.6.0/includes/models/model.llms.section.php#L310).

[2021-12-31 15:40] thomasplevy commented on #1886
Yes... except I do think that `LLMS_Lesson::get_parent_course()` is used quite a bit internally... possibly explaining why it wasn't deprecated. I'm okay with making the updates and deprecating anyway but please make sure there's not too many add-ons using it.

As war as the use of `absint()`, the replacement would be `get( 'parent_course' )` which is already run through `absint()` in the post mod

[2022-01-03 20:53] pondermatic commented on #1886
`LLMS_Lesson::get_parent_course()` is only used in LifterLMS core and LifterLMS REST. I will submitted a PR for each.

[2022-01-03 21:44] #1913 closed, assigned to thomasplevy

[2022-01-04 16:26] thomasplevy opened #1918 "PHP & WP Support Drop"
In conjunction with the release of (and added support for) PHP 8.1, LifterLMS will drop support for PHP 7.3. [LifterLMS maintains support for all PHP versions which are receiving active security support](https://lifterlms.com/docs/minimum-system-requirements-lifterlms/#supported-versions) and [PHP 7.3s EOL was reached in Decemeber 2021](https://www.php.net/eol.php).

The supported PHP versions wil

[2022-01-05 00:00] thomasplevy commented on #1473
This was resolved with the release of version 5.x

[2022-01-05 00:00] #1473 closed, assigned to thomasplevy

[2022-01-05 00:01] thomasplevy commented on #526
Resolve with the release of version 5.x

[2022-01-05 00:01] #526 closed

[2022-01-05 00:01] thomasplevy commented on #495
Resolved with the release of 5.0

[2022-01-05 00:01] #495 closed

[2022-01-05 00:15] thomasplevy commented on #728
Closing due to inactivity. We haven't received any feedback on similar issues since my last comment in 2019.

Open to reopening in the future for further improvements or feedback but closing for now.

[2022-01-05 00:15] #728 closed

[2022-01-06 19:28] mikesimpson416 commented on #710
This issue is still relevant in 2022. I have just installed WordPress, Kadence theme and Lifter LMS and I get this on my course catalogue page.

It looks so unprofessional to have a bit of text like this appearing and it doesn't seem editable.

[2022-01-06 19:42] BurlesonBrad commented on #710
@mikesimpson416 : It is 'editable' 🤷‍♀️🤷‍♂️ .....mostly

It's over here on line 390:
https://github.com/gocodebox/lifterlms/blob/trunk/includes/class.llms.post-types.php#L390

Edit it however you'd like, but .... at least now 'ya know where it is ;-)

[2022-01-10 15:40] thomasplevy commented on #710
@nrherron92 is this a recent change in Kadence or has this existed in Kadence for a while?

[2022-01-10 16:26] nrherron92 commented on #710
Hey all!

This setting can be turned off in Kadence by going into Appearance->Customize->LifterLMS->Course Archive and hiding the description setting for Course Archives

![image](https://user-images.githubusercontent.com/47434271/148800278-f992309d-18d9-4a6b-b0a4-ed3eb3c4f873.png)

[2022-01-10 20:49] thomasplevy commented on #1824
@eri-trabiccolo Can you start working on this as a rush job. We have less than 15 days. You have some experience with our theme support system already so that's why I'm putting it on you.

[2022-01-10 21:58] chrisbadgett commented on #710
I've noticed this on Kadence for a while and have used Natalie's method to hide it in the past.

[2022-01-10 22:53] BurlesonBrad commented on #710
Right.  But that is not a programmatic and practical solution.

Site authors should always be able to utilize their 'Course Description'.  _(much in the same way WC store owners would as well)_  The whole point is that there should not be some type of "not-removeable-for-the-average-consumer" text that magically appears in the description.

Many people use that area to display anything from SEO da

[2022-01-11 18:30] thomasplevy commented on #1824
@eri-trabiccolo to be clear my hope is to release this *prior* to 6.x so this should be written against `dev` / 5.x

[2022-01-11 18:31] thomasplevy commented on #1849
@pondermatic when you're feeling better here's a quick fix to tackle

[2022-01-11 20:57] thomasplevy commented on #1914
Fixed by https://github.com/gocodebox/lifterlms/commit/bf11ceffe6885aaf5c170dab2d7e2a355d0b3cf6 and https://github.com/gocodebox/lifterlms/commit/62e69a11cbafa5570876613ef5c5ee8a7e47980e

[2022-01-11 20:57] #1914 closed, assigned to thomasplevy

[2022-01-13 17:04] magicemilymiddleton opened #1930 "Version 6.0.0-alpha.2 Selecting Student on Certificate Award page causes site not to respond"
### Reproduction Steps

Head to wp-admin < Engagements < Awarded Certificates < 'Award Certificate' (the add new button) < head to the 'Student' area and try to select a student to award to

<img width="2560" alt="Screen Shot 2022-01-13 at 10 44 06 AM" src="https://user-images.githubusercontent.com/76497148/149372217-95cf6095-4117-4655-a775-ce6d8806d171.png">

Video showing issue:
https://www.loom

[2022-01-13 17:51] thomasplevy commented on #1930
@willmiddleton-lifterlms I can't reproduce on the latest (dev) version. I'm going to hold on this and see if it's already fixed (accidentally). I'll have you recheck on the next alpha release

[2022-01-13 21:04] pondermatic commented on #1886
@gocodebox/engineering,
Now that we warn developers about the deprecated [`lifterlms_created_person`](https://github.com/gocodebox/lifterlms/blob/dev-600-remove-deprecated-code/includes/forms/class-llms-form-handler.php#L457) action hook, many unit tests, including [`LLMS_Test_Controller_Registration::test_register()`](https://github.com/gocodebox/lifterlms/blob/dev-600-remove-deprecated-code/test

[2022-01-14 16:03] thomasplevy commented on #1886
@pondermatic

I didn't realize we were still using this hook internally. IT should be removed from [LLMS_Engagements::get_trigger_hooks()](https://github.com/gocodebox/lifterlms/blob/f9c3d762b7cc7be2bcc81b939ef78e1ee475a1f0/includes/class.llms.engagements.php#L236) and conditionally re-added only if the hook has actions associated with it (that can be checked with https://developer.wordpress.org/r

[2022-01-14 17:02] pondermatic commented on #1886
@thomasplevy, just making sure I understand.

[`LLMS_Engagements::get_trigger_hooks()`](https://github.com/gocodebox/lifterlms/blob/f9c3d762b7cc7be2bcc81b939ef78e1ee475a1f0/includes/class.llms.engagements.php#L221)
1. should return `lifterlms_user_registered`, which replaced `lifterlms_created_person`
2. should only return `lifterlms_created_person` if it has actions associated with it

[`LLMS_Eng

[2022-01-14 19:45] thomasplevy commented on #1886
Yes!

[2022-01-14 21:53] thomasplevy opened #1931 "[6.x] Adjust certificate syncing to "award" syncing so that achievements can also be synced"
During testing I realized that we should be able to sync both certificates and achievement

I propose that the work on syncing certificates from #1866 should be refactored to include achievement.

I've browsed through the code and there is, unfortunately, quite a bit of code that needs to be reworked but I believe it is possible to rework the syncing functionality to apply to both certificates and

[2022-01-14 21:55] thomasplevy opened #1932 "[6.x] add post table row for Cert & Achievement templates that links to the filtered list of awards for the given template."

[2022-01-14 21:56] thomasplevy opened #1933 "[6.x] Add template syncing to the cert and awarded cert post tables"
As a post row action

I think that a bulk action *should* also be possible (spawning multiple processors) but if the bulk action isn't possible then that's fine, I think.

This will be dependent on #1931 as currently achievments don't have any sync functionality

[2022-01-14 22:13] thomasplevy opened #1934 "[6.x] Welcome message & blog post link"
We need a link to use in the "Read more" button presented with the welcome message following an upgrade to version 6.0

Ideally we could have a link to *something* for the (public) beta, but I'm happy to link to an issue on GitHub as well in lieu of a "preview" blog post.

Beta 1 should be out sometime next week. I'd need a link for a real blog post before 6.0 stable release (early feb at the earl

[2022-01-14 23:52] thomasplevy opened #1935 "LifterLMS 6.0.0 Prerelease Testing & Feedback"
## General Feedback

Testing a prerelease of LifterLMS 6.0.0 and have feedback? Let us know your thoughts below

## Theme Compatibility

We should test compatibility with themes we [recommend](https://lifterlms.com/recommended-resources/#themes)

We will consider a theme to be compatible if no obvious visual issues are seen when viewing a certificate on screen or in the print preview dialog when t

[2022-01-14 23:59] thomasplevy commented on #1930
@willmiddleton-lifterlms can you retest this with alpha.3 and let me know if this issue persists?

[2022-01-17 16:44] magicemilymiddleton commented on #1930
@thomasplevy - no longer an issue on my end

[2022-01-17 17:45] thomasplevy commented on #1930
Awesome!

[2022-01-17 17:45] #1930 closed, assigned to nobody

[2022-01-17 18:57] nrherron92 opened #1938 "OceanWP Conflict with Terms and Conditions Checkbox"
### Reproduction Steps

+ HS-184740 (not urgent there's an easy fix/work around)
+ Enable OceanWP with LifterLMS
+ Make sure to enable terms and conditions
+ Go through a checkout

### Expected Behavior

+ The terms and conditions checkbox shows up as a square in the normal way

### Actual Behavior

+ there is a line instead of a box

### Error Messages / Logs

[code]

### System and Environment I

[2022-01-17 19:35] nrherron92 opened #1940 "[6.0] BuddyBoss Conflict Certificates"
### Reproduction Steps

+ Activate BuddyBoss
+ Create a new default certificates
+ Open certificate

### Expected Behavior

+ The certificates looks like it does in the block editor

### Actual Behavior

+
![image](https://user-images.githubusercontent.com/47434271/149828044-c9695c8f-9150-46cc-9d74-7eea9876bc7b.png)
![image](https://user-images.githubusercontent.com/47434271/149828087-419a5b30-aa5

[2022-01-17 21:30] nrherron92 opened #1941 "[6.0] OceanWP Printing Background"
### Reproduction Steps

+ OceanWP + LifterLMS 6.0
+ Create a certificate
+ Click the print option

### Actual Behavior

+ The certificate background (llms-certificate-container) becomes inactive and the certificate background disappears.

![image](https://user-images.githubusercontent.com/47434271/149838442-00fe5668-d4e1-488b-aeb3-15e61e3c7537.png)

### Error Messages / Logs

+ Include any relevan

[2022-01-18 15:44] #1941 closed, assigned to thomasplevy

[2022-01-18 15:50] nrherron92 opened #1944 "[6.0] Genesis Theme Print Issue"
### Reproduction Steps

+ Install Genesis Theme (Note this same issue affects child themes of gensis)
+ Create a new default certificate name it and publish
+ Open certificate and click print
+ (can be fixed with: .llms-certificate-container.cert-template-v2 { box-sizing: border-box; } )

### Actual Behavior

+ ![image](https://user-images.githubusercontent.com/47434271/149962513-0d62d84e-0cbf-4d0

[2022-01-18 15:58] #1886 closed, assigned to pondermatic

[2022-01-19 16:20] pondermatic opened #1947 "PHP_CodeSniffer excludes src directory"
### Reproduction Steps

1. [Install WordPress locally](https://make.wordpress.org/core/handbook/tutorials/installing-wordpress-locally/) using a checkout from SVN or Git.
2. Clone the LifterLMS repo to `src/wp-content/plugins/lifterlms`.
3. Run PHP_CodeSniffer. `composer run check-cs-errors`

### Expected Behavior

There should be around 764 files sniffed.
[code]

### Actual Behavior

0 files are

[2022-01-19 16:48] thomasplevy commented on #1947
We'll deal with this after we finish WP 5.9 / FSE and get 6.0 into at least an RC state

[2022-01-19 17:00] #1944 closed, assigned to nrherron92

[2022-01-21 16:15] nrherron92 opened #1949 "[6.0] Divi Removes Default Content in Certificates"
### Reproduction Steps

+ Install Divi
+ Create a new certificate
+ Choose the default editor to build the certificate in Gutenberg as expected

### Expected Behavior

+ You see our default template settings to edit or keep.

### Actual Behavior

+ Divi's removed all of our default content
https://www.loom.com/share/10d0f2facf4c41789d8eceb228e4b16c

### Error Messages / Logs

+ Include any relevan

[2022-01-21 16:29] thomasplevy commented on #1949
@nrherron92 that "content" you're missing is the default certificate block template. Which is helpful as a starting point but not *essential* to build certificates. Can you let me know if you can actually build a certificate (just add some content, doesn't have to be pretty) and check the frontend output after saving.

Ideally, the option to use the divi builder on certificates *won't* exist... Al

[2022-01-21 16:39] nrherron92 commented on #1949
@thomasplevy oh yeah you can build a custom one and it works just the same as any other theme for display and print

the divi builder does work! you can use their builder but it get wonky when you try to print, but essentially if you use the Divi builder it will switch you back to legacy certificates

[2022-01-21 16:42] thomasplevy commented on #1949
Okay thanks @nrherron92 I'm going to leave this open... if we can find some time to investigate compatibility more closely we will, otherrwise if it *works* but is a "little wonky" I'm going to call that good enough for Divi for launch. I don't want to have to add custom theme support internally for every theme but for this one we might have to.

I'm not opposed to letting divi users switch over t

[2022-01-21 16:42] thomasplevy commented on #1949
Though Divi users will hate me for saying that probably

[2022-01-21 17:40] nrherron92 opened #1950 "[6.0] Pop Up Mini Certificate Oversized"
### Reproduction Steps

+ create a certificate
+ complete the trigger or assign the certificate to a user
+ view the pop up for the certificate awarded on the front end

### Expected Behavior

+ You can see the pop up and click the option to view the full certificate
![image](https://user-images.githubusercontent.com/47434271/150574349-1b6b93b1-368c-46b9-b516-cd3977df13d2.png)

### Actual Behavior

[2022-01-25 16:46] nrherron92 commented on #1935
+ [x] Astra
+ [x] Authority Pro
+ [x] BuddyBoss - issue open
+ [ ] Course Maker Pro
+ [x] Divi - issue open
+ [ ] Emerson
+ [x] Genesis - fix pending
+ [x] Kadence
+ [ ] Magazine Pro
+ [x] Monochrome Pro
+ [x] Neve
+ [ ] Ocean WP - fix pending
+ [x] Page Builder Framework
+ [x] Revolution Pro
+ [ ] Sage
+ [ ] Tribe
+ [ ] Tutorque
+ [ ] Ventura

Additionally we should ensure compatibility with rece

[2022-01-25 17:34] magicemilymiddleton opened #1953 "Instructor role users don't show as options for Course Authors"
### Reproduction Steps

- head to a site with LifterLMS (a site that has at least 1 admin and 1 instructor)
- /wp-admin
- head to Courses
- Bulk Edit one of your courses
- Head to try and change the 'Author'
- The Instructor users don't appear in that dropdown to change the author of the course to an 'Instructor' user
- Only admins appear in the dropdown

<img width="1680" alt="Screen Shot 2022-01

[2022-01-25 17:49] thomasplevy commented on #1953
@willmiddleton-lifterlms at a glance this is because the "Author" dropdown suffers from this issue https://github.com/gocodebox/lifterlms/issues/735

We've created our own author-like role in the instructor and based on how WordPress determines which users are considered "Authors" it's not strictly possible to easily get instructors into the authors list here.

Since the introduction of "Instructo

[2022-01-25 20:38] nrherron92 opened #1954 "[6.0] Twenty-Twenty Makes Everything Huge"
### Reproduction Steps

+ Twenty-Twenty Theme + Make a Certificate (Note: twenty-twenty two does the same thing)
+ If you just do the default and publish you get a certificate that looks like this:
![image](https://user-images.githubusercontent.com/47434271/151054177-a1926cef-15a5-422a-9c0d-09c99ecea522.png)

+ If you go ahead and remove the default spacers there is still some oversized spacing wh

[2022-01-26 16:35] magicemilymiddleton commented on #1953
It's not a huge priority, since making the user an 'Author' would also work as a workaround

<img width="1927" alt="Screen Shot 2022-01-26 at 10 25 26 AM" src="https://user-images.githubusercontent.com/76497148/151203892-fe3d38c0-b1cb-4c8f-ad66-261ed46b4bb5.png">

I think the primary concern is that this area in the Course Catalog page shows the post author rather than the primary instructor, so u

[2022-01-26 16:38] #710 closed

[2022-01-26 16:38] #1824 closed, assigned to eri-trabiccolo

[2022-01-26 16:38] #1849 closed, assigned to pondermatic

[2022-01-26 17:11] thomasplevy commented on #1953
Mmm you're right... Somewhere we've introduced a regression that's causing the author to not be updated when the instructor list is upgraded. I'm going to open a new issue for that and leave this open as a feature improvement related to the quick editor.

[2022-01-27 16:55] thomasplevy commented on #1950
This is actually happening on other themes too and isn't a divi-specific issue as far as I can tell

[2022-01-27 17:00] nrherron92 commented on #1950
yeah I just noticed it does this on twenty-twenty one too

[2022-01-27 17:12] thomasplevy opened #1956 "[6.x] Cert title typography selector is broken since WP 5.9-rc4"
WP Core now includes typography selection for themes that support site editing. On Twenty Twenty-Two, for example, our custom typography shows up alongside typography from the theme's settings.

I didn't realize this is how it was working. I think the solution should be to filter the available typography and figure out how to force it on for non FSE themes.

![Screenshot_2022-01-27_10-11-01](https

[2022-01-27 20:30] nrherron92 opened #1958 "[6.0] Magazine Pro Theme Display None Affecting Certificate"
### Reproduction Steps

+ make a new certificate or open existing one

### Actual Behavior

+ From what I can tell the Magazine Pro Theme is bundling all of the header/body/footer content together so when we display none for the primary nav it removes all the content

+
![image](https://user-images.githubusercontent.com/47434271/151438621-92c6d854-0731-4448-a2e3-fc58ea7be0e5.png)

+
![image](https

[2022-01-28 16:13] nrherron92 opened #1959 "[6.0] Return to (student) Dashboard (from certificate screen)"
**Is your feature request related to a problem? Please describe.**
Students no longer see the header or menu on certificates and will want a way to go back to their dashboard or other content that isn't the back button

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/47434271/151581823-d4fc8b3e-a546-4264-ad00-a993252de95a.png)

[2022-01-28 16:14] eri-trabiccolo commented on #1959
jeez, she's right. dammit!

[2022-01-28 16:15] nrherron92 opened #1960 "[6.0] Reset to Default in Certificate Builder"
**Describe the solution you'd like**
A reset to default button in the certificate builder like what we have for forms, so if something breaks or the user does too many weird changes they don't like we can get it back to the default easily to fix the issue!

[2022-01-28 18:52] thomasplevy commented on #1960
Useful method: https://developer.wordpress.org/block-editor/reference-guides/data/data-core-block-editor/#gettemplate

[2022-01-28 21:08] pondermatic opened #1962 "[6.0] display controller sync errors"
[`LLMS_Controller_Certificates::sync_awarded_certificate()`](https://github.com/gocodebox/lifterlms/blob/dev-600/includes/controllers/class.llms.controller.certificates.php#L195) adds a `WP_error` object instead of a string to the meta box errors array. [`LLMS_Admin_Metabox::output_errors()`](https://github.com/gocodebox/lifterlms/blob/dev-600/includes/abstracts/abstract.llms.admin.metabox.php#L29

[2022-01-28 22:58] thomasplevy commented on #1962
@pondermatic is something you can cleanup in your current project since you're already working on some refactoring of these syncing mechanisms?

Seems like you can just change the WP_Error to an error string an move on. But I'm wondering if I'm missing something bigger here...?

[2022-01-31 13:32] pondermatic commented on #1962
Yes, I can clean this up.

The unit tests need WP_Error because they are looking for specific codes. I'll teach [`LLMS_Admin_Metabox::output_errors()`](https://github.com/gocodebox/lifterlms/blob/dev-600/includes/abstracts/abstract.llms.admin.metabox.php#L297) how to output the message from WP_Error.

[2022-01-31 13:40] eri-trabiccolo commented on #1962
@pondermatic
This looks an oversight from me :)
I think you can safely turn this:
https://github.com/gocodebox/lifterlms/blob/dev-600/includes/controllers/class.llms.controller.certificates.php#L214-L221
into
[code]

About

Yeah, I actually added those wp error returns just for testing purposes, didn't mean to display nothing to the user.

[2022-01-31 14:19] pondermatic commented on #1962
@eri-trabiccolo
I've updated [`LLMS_Admin_Metabox::output_errors()`](https://github.com/gocodebox/lifterlms/blob/dev-600/includes/abstracts/abstract.llms.admin.metabox.php#L297) to handle WP_Error objects, so now we can test for an error code and still output a string on the admin pages.

[2022-01-31 14:24] pondermatic commented on #1962
@gocodebox/engineering
I'm thinking that all of the new sync errors generated in [`LLMS_Controller_Certificates`](https://github.com/gocodebox/lifterlms/blob/dev-600/includes/abstracts/abstract.llms.admin.metabox.php) should be run through `LLMS_Meta_Box_Award_Engagement_Submit::add_error()` so that they are displayed on the admin pages. It doesn't looks like they are displayed right now.

[2022-01-31 14:37] eri-trabiccolo commented on #1962
Yeah they're not, see my:

above.

I honestly don't think those errors are for the end user. Do we usually tell the user the nonce is invalid or that the action requested requires an id but that id is missing? Those checks are relevant for us, to avoid processing invalid actions.
I wouldn't want to pollute the admin notifications area with them. Also they are not something users can reproduce if n

[2022-01-31 20:11] #1959 closed, assigned to thomasplevy

[2022-01-31 20:11] #1956 closed, assigned to thomasplevy

[2022-01-31 23:26] pondermatic commented on #1962
If the sync errors are not for the user, and they're currently hidden under the block editor anyway, how about we handle `llms-sync-awarded-certificate-invalid-template` the same way we do the others by returning a `WP_Error` and don't add it to `LLMS_Meta_Box_Award_Engagement_Submit::$errors`?

[2022-01-31 23:55] thomasplevy commented on #1962
I think in this scenario where the error is being added to the metabox *we do* wish to display the error message to the user.

So we can switch it from a WP_Error to a string... If we have to modify a test, modify a test.

[2022-02-01 17:18] magicemilymiddleton opened #1965 "[6.0] When awarding certificate - option to pull in certificate template"
**Is your feature request related to a problem? Please describe.**
When awarding a certificate, we want to pull in a template to associate that individual awarded certificate with, so in future updates of the certificate template, it can sync and make it faster to recreate certificate from a course program for example.

https://www.loom.com/share/e6b4c3d2cb3d4ebebac72b1d3ff5f098

**Describe the so

[2022-02-02 16:03] thomasplevy commented on #1965
I like this idea a lot... A few thoughts I'm having about it... You're opinion appreciated @eri-trabiccolo

A) Should we simply add a searchable select field to lookup templates? EG: create a new awarded certificate and then select the template from the sidebar?

B) Alternatively we could "hijack" the interface when loading a new certificate and pop a one-time use modal that says "Would you like t

[2022-02-02 17:01] eri-trabiccolo commented on #1965
@thomasplevy
I'm for B) as well.

I think we need 3 entry point:
1) from the template editor, as you suggested: pop-up with only a student selector...
2) from the student reporting, as you suggested: pop-up with only a template selector or "start from scratch"
3) Add new from the awarded certificates post list table: pop-up with a student selector AND a template selector/start from scratch - stude

[2022-02-02 17:18] thomasplevy commented on #1965
Yea I think that makes sense. Why are you saying we don't need to care about drafts? Are you saying that it should *always* automatically award the cert (create it as published)?

I'm thinking that by default it should but it wouldn't be that much additional work to at least add an option to create it as a draft (scheduling it could be omitted, if they want to schedule, create a draft and then sch

[2022-02-02 17:19] thomasplevy commented on #1965
Also: I think we could build this as a single react (button + modal) component that can be loaded into the 3 different areas passing in a "context" parameter which will determine which selectors are to be displayed.

We haven't yet loaded react outside of the block editor but it's actually quite easy to do. I wouldn't call it lightweight as far as a code footprint is concerned but my guess is that

[2022-02-02 17:30] eri-trabiccolo commented on #1965
Agree!

[2022-02-02 17:38] eri-trabiccolo commented on #1965
I mostly think:
- does make sense changing the status of a published certificate into a draft?
- should we allow to change template/student when a cert is in draft status?

Also, what happens when we create and awards as draft? Is the engagement related to the awarding fired?
I guess it's not... Well I think we have the same "problem" with the scheduled.
I think we need also a `post_status` transi

[2022-02-02 17:53] thomasplevy commented on #1965
It's currently setup so that the *awarding action* (which will fire the notification that the student earned a certificate) only runs the *first time* a certificate is published:

https://github.com/gocodebox/lifterlms/blob/dev-600/includes/controllers/class-llms-controller-awards.php

Specifically see: https://github.com/gocodebox/lifterlms/blob/19a5b1e67a4ad7b0cbff6caf027d890f62f7a95e/includes/c

[2022-02-02 17:54] thomasplevy commented on #1965
If we allow changing the template.... I guess we should... it should treat it as an update, in my opinion... What does the interface for changing a template look like? I guess that would be select + confirm the change and reload (merging the new data serverside)

[2022-02-02 18:08] eri-trabiccolo commented on #1965
Yeah I think your code, and mine prior to this, didn't think about the fact that that the action should be triggered when a post transitions to `published` the first time. So if I create a certificate in `future` status the action should run when it will be published.

Yeah you're right.

You're right on this too, dammit.

Yeah, confirm the change with a warning on what's going to happen.

[2022-02-02 18:17] thomasplevy commented on #1965
The way it's written right now it'll trigger the creation action / award notification when the scheduled post is published. Since this is currently running on `save_post_{$post_type}`. I am pretty sure I looked into this and that when a scheduled post is published it'll run `wp_update_post()` to update the post_status property, triggering this hook and causing the notification to be generated.

[2022-02-02 18:26] eri-trabiccolo commented on #1965
Ohh yeah, fine so.

[2022-02-02 22:37] thomasplevy opened #1966 "Admin notices are printed at `admin_print_styles`"
5+ years ago I did this. Why?

https://github.com/gocodebox/lifterlms/blob/18d938219de427cbf4c57894dc7b81c87ebafd45/includes/admin/class.llms.admin.notices.php#L60

[2022-02-03 08:35] eri-trabiccolo commented on #1966
Dunno man, you were such a different person back then...

[2022-02-03 22:45] thomasplevy commented on #1958
@nrherron92

Does this happen with just genesis (no child) also?

[2022-02-03 22:49] nrherron92 commented on #1958
@thomasplevy no it only happens on this specific child theme

[2022-02-03 22:51] thomasplevy commented on #1954
@nrherron92 Twenty Twenty doesn't look like this at all for me
![Screenshot_2022-02-03_15-50-37](https://user-images.githubusercontent.com/1290739/152442465-0d86382b-f5f6-4613-8ed2-7aa9a17c3a19.png)

I see you're on 1.8, the latest version is 1.9... I can't imagine that has too much of an impact but can you double check what you're seeing for me?

What I'm seeing is a bit under sized but I think t

[2022-02-03 22:53] thomasplevy commented on #1958
In that case can this be reported over to the theme developers as a compatibility issue. The CSS rule in question isn't even from 6.0 so certificates will be blank with this theme on 5.x and earlier.

[2022-02-03 23:54] thomasplevy commented on #1950
@gocodebox/engineering @gocodebox/success @chrisbadgett

Thoughts on this as a potential solution to the problem identified here...

https://user-images.githubusercontent.com/1290739/152448592-b387730d-8fed-491b-a57b-83444fea5612.mp4

The current strategy creates "mini" certificate by stripping most html / styles (except text) and putting htem in a little frame.

With certificates now having much

[2022-02-04 10:38] eri-trabiccolo commented on #1950
Is "Welcome" the actual certificate title?
Anyways I like this solution. I'm with you.

[2022-02-04 14:16] nrherron92 commented on #1950
I like this solution! This looks super slick. It also looks like it's "loading up" the certificate for you to go see!

[2022-02-04 15:38] thomasplevy commented on #1950
Yes, that was the title of this cert. Very inventive.

[2022-02-04 15:40] thomasplevy commented on #1950
Is that problematic though? Since it won't ever actually load it there... I figure since the notification is auto-dismissed it's okay but I don't want users to feel like it's *supposed* to be loading and it's just taking too long because "LifterLMS is slow" or whatever...

[2022-02-04 15:49] nrherron92 commented on #1950
Oh yeah good point. I feel like because it is auto dismissed it is fine. To me, it seems like you should click on it to see the certificate fully loaded. I like that it seems like it's baking. But you're right, some people will probably think that it's an indication of a lag or their site loading slow if it dismisses before it fully loads... maybe we could have the other information like under a b

[2022-02-04 15:55] thomasplevy commented on #1933
@pondermatic I don't believe you tackled this in #1946

I'm going to keep this on you but I'd like all the current code on that PR solidified and approved before adding this. This can be tackled as a separate PR.

[2022-02-04 16:14] nrherron92 opened #1969 "Course Completed Header Not Sorting Correctly"
### Reproduction Steps

+ HS-185936
+ Head into _LifterLMS->Reporting->Courses->Select a Course->Students_
+ From the clickable sorting headers click on Completed

### Expected Behavior

+ The students should be organized by date completed

### Actual Behavior

+ Not that.

https://www.loom.com/share/e09dc01cd16a4e9d8b0d08c61bd7ef82

### Error Messages / Logs

+ Include any relevant error messages

[2022-02-04 17:58] eri-trabiccolo commented on #1950
Maybe old users can think that but... not sure. I don't think it's something we should really care about. What if we just remove that sweeping effect?

[2022-02-04 18:16] eri-trabiccolo opened #1972 "[6.0] Certificate's inner elements are responsive and probably they should be not"
### Reproduction Steps

+ Create a certificate template with the default content
+ View it
+ emulate a mobile device

### Expected Behavior

+ I would expect it to be not responsive, e.g. the columns not stacked, or the font-size kept as in desktop viewport

### Actual Behavior

+ The certificate's inner elements are responsive

### Error Messages / Logs

n/a

### This issue has been recreated:
+

[2022-02-04 18:17] eri-trabiccolo commented on #1972
The best would be to have the certificates completely unresponsive.
If we can't achieve this we should at least prevent the columns to stack on mobile (with a simple CSS override).

[2022-02-04 22:08] robbiefarai opened #1974 "Instructors and instructor assistants are able to view courses to which they are not assigned"
### Reproduction Steps

+ Add the instructor role to a user
+ login as the instructor and go to the courses in the back end
+ you will be able to see and click view on any other course and view the content even though you are not enrolled

### Expected Behavior

+ Not able to see other instructors courses and content therein

### Actual Behavior

+ able to view and see all of the content for all c

[2022-02-07 22:53] thomasplevy commented on #1974
Looks like we've created this issue here:

https://github.com/gocodebox/lifterlms/blob/18d938219de427cbf4c57894dc7b81c87ebafd45/includes/class.llms.view.manager.php#L396-L401

For roles other than admin/lms manager we should be additionally checking on the user's permissions for the requested course.

[2022-02-07 22:58] thomasplevy commented on #1954
@nrherron92 :arrow_up:

[2022-02-08 14:48] nrherron92 commented on #1954
@thomasplevy sorry I missed this before.... but I still see the issue?

https://www.loom.com/share/9c139abd058241f880390cf9c274e19b

[2022-02-08 14:54] eri-trabiccolo commented on #1954
It looks very big here too, I'm with Natie

[2022-02-08 18:26] nrherron92 opened #1976 "Twenty-Twenty-Two Theme Conflict with Quiz Images"
### Reproduction Steps

+ turn on Twenty-Twenty Two theme
+ Create a quiz with multiple choice pictures

### Expected Behavior

+ the images show up within contained sizes

### Actual Behavior

+ super distorted images: <3

<img width="1376" alt="image" src="https://user-images.githubusercontent.com/47434271/153052199-c3226789-3322-47d1-bedb-613ccad07f58.png">

### Error Messages / Logs

+ Include

[2022-02-08 18:33] thomasplevy commented on #1976
@eri-trabiccolo giving this to you as a low-priority theme compat fix when you're done with whatever else you have on your plate

[2022-02-08 18:34] thomasplevy commented on #1976
@nrherron92 man do i love a good screenshot when I see one <3

[2022-02-09 13:22] pondermatic opened #1981 "Deprecate unused abstract LLMS_Update class"
The abstract LLMS_Update class is not used in any LifterLMS project and should be deprecated.

[2022-02-09 15:39] thomasplevy opened #1982 "Document the `llms_new_{$this->model_post_type}` filter"
Maybe we can take this occasion to add a the documentation to this filter?

_Originally posted by @eri-trabiccolo in https://github.com/gocodebox/lifterlms/pull/1946#discussion_r802432246_

Document the `llms_new_{$this->model_post_type}` filter in `LLMS_Post_Model::create()`.

[2022-02-09 16:05] nrherron92 opened #1983 "Password Key Invalid Issue"
### Reproduction Steps

+ I think this is different from the WPEngine/Flywheel issue.
+ HS-176845 (credentials in one pass)
+ Turn off all plugins but LifterLMS + LaunchPad
+ In an incognito window do a password reset

### Expected Behavior

+ Normally we see this with our resets the cookie stays even after the redirects:
<img width="812" alt="image" src="https://user-images.githubusercontent.com/

[2022-02-09 16:11] thomasplevy commented on #1983
@nrherron92 what's the webhost? Are there any MU or dropin plugins or server-level caching mechanisms in effect?

[2022-02-09 16:17] nrherron92 commented on #1983
@thomasplevy webhost is Bluehost and they swear all server side caching is off. There was a caching plugin active on the site but it's been flushed and turned off

[2022-02-09 16:19] nrherron92 opened #1984 "Conflict with SendinBlue"
### Reproduction Steps

+ HS-185311
+ Trigger a LifterLMS email with _SendInBlue's Newsletter, SMTP, Email marketing and Subscribe forms by Sendinblue_ plugin active
+ I know the issue comes from their plugin because if it is turned off so that they are not acting as an SMTP on the site our emails send as normal, but I don't know if it is something we should fix or Sendinblue should be fixing.
+ I

[2022-02-09 17:00] thomasplevy commented on #1984
@eri-trabiccolo can you triage this for us please

[2022-02-09 18:18] thomasplevy commented on #1983
Alright it looks like this has to do with trailing slashes in the URL.

I can reproduce the issue by changing my site's permalink structure from `/%postname%/` to `/%postname%`

When we generate an endpoint URL, we stick a slash on the end though, regardless of the permalink structure:

https://github.com/gocodebox/lifterlms/blob/91177745854fca180652d70ca524efee35c51bc5/includes/functions/llms.fun

[2022-02-09 18:22] thomasplevy commented on #1983
@nrherron92 a temporary workaround for this user would be to suggest switching to using a trailing slash. This shouldn't have any real effect on the functionality of the site since WordPress generally accepts URLs in either format regardless of the defined permalink structure... Although I can't promise that there will be absolutely no problems.

Or wait until a patch is issued.

[2022-02-11 15:51] #1932 closed, assigned to eri-trabiccolo

[2022-02-11 16:23] #1931 closed, assigned to pondermatic

[2022-02-11 20:42] #1910 closed, assigned to thomasplevy

[2022-02-11 20:57] nrherron92 opened #1992 "Existing Courses not upgrading progress bar in reporting"
### Reproduction Steps

+ HS-186321
+ On both live and staging, existing courses don't accurately update in reporting.
+ Previously existing lessons are also not loading for edit (the user says he doesn't have this issue on the live site) I think this could be related though.
+ If you complete a lessons and then go into _LifterLMS->Status->Tools and Utilities_ to clear the reporting cache the upda

[2022-02-14 16:38] eri-trabiccolo commented on #1984
@thomasplevy
I can confirm on the production website this issue exists.
At the moment the staging website is not reachable (@nrherron92 is working on it).
I created a sendinblue (free) account and managed to reproduce the issue locally.
The problem is "simple", but it's their fault.
Basically they override `wp_mail()` they missed this piece from the original code:
https://github.com/WordPress/word

[2022-02-14 16:44] nrherron92 commented on #1984
@eri-trabiccolo is this something we can patch or do they need to talk to SendInBlue about the override?

[2022-02-14 16:55] eri-trabiccolo commented on #1984
@nrherron92
To me it's a Sendinblue bug:
They are overriding a wp core function, `wp_mail`. The wp original function accepts as `recipients` stuff like `John Doe <john@doe.it>`, and is able to parse it. The Seninblue override, instead, doesn't account for that format, and expects the `recipients` to only be the email address `john@doe.it`.
But we're doing nothing wrong, we are correctly using a Wo

[2022-02-14 18:36] thomasplevy commented on #1984
@eri-trabiccolo can you find anyplace to report the issue to the sendinblue devs so we don't have to just tell the customer "it's their problem"

[2022-02-14 20:57] chrisbadgett opened #1993 "Course Restrictions Dates Not Printing in Notice"
### Reproduction Steps

Add Course Enrollment and Time Period dates to course restrictions.

### Expected Behavior

Dates would be visible on front end in notice.

### Actual Behavior

Dates not visible
![Business_Budgeting_–_My_Academy-2](https://user-images.githubusercontent.com/12163552/153945065-32ad585d-5e19-480e-9242-e5edd42a5a0c.png)

![Edit_Course_‹_My_Academy_—_WordPress](https://user-ima

[2022-02-14 21:02] eri-trabiccolo commented on #1993
@chrisbadgett
Is that a cloned course? If so the issue, most likely, is this one:
https://github.com/gocodebox/lifterlms/issues/1212

[2022-02-15 09:54] eri-trabiccolo commented on #1984
@thomasplevy
Yesterday I already couldn't find a way to contact them aside from the wp support forum or directly at [contact@sendinblue.com](mailto:contact@sendinblue.com).
I (today) opted then for the support forum:
https://wordpress.org/support/topic/mail-not-sent-if-the-recipient-is-in-the-format-foo/
Let's see.

@nrherron92 ^

[2022-02-15 11:21] eri-trabiccolo commented on #1993
yeah @chrisbadgett I verified it's the same issue.
Basically, if you look in the various restriction messages you'll see something like:
`Enrollment in this course opens on [lifterlms_course_info id="2253" key="enrollment_start_date"].`
where that `id="2253"` should be `id="2793"`, the current course id, but, because of the bug in #1212, it retains the `id` of the course from which the clone gener

[2022-02-15 11:21] #1993 closed, assigned to thomasplevy

[2022-02-15 14:16] thomasplevy commented on #1984
@nrherron92 Outside of developing an integration (which I don't think would be to *fix* this issue, but maybe to clone behavior from our MC or CK integrations) I think we're safe to alert the user to the WP.org topic and close this out on our side.

Are we all in agreement?

[2022-02-15 14:20] nrherron92 commented on #1984
@thomasplevy @eri-trabiccolo on it! Thanks for all the help fellas <3

[2022-02-15 14:20] #1984 closed, assigned to eri-trabiccolo

[2022-02-15 14:39] eri-trabiccolo commented on #1949
@thomasplevy @nrherron92
I did a clean install of Divi, and as far as I can see, the Divi Builder is not enabled by default for the Certificate Templates and Awarded Certificates post types.
If they want to use the builder there they have to go in Divi -> Theme Options -> Builder -> Post Type Integration -> Enable Divi Builder On Post Types
and select the aforementioned post types.
If they do that

[2022-02-15 15:21] thomasplevy commented on #1949
@eri-trabiccolo Good points on all fronts. I think we'll leave it as is and return in the future should more information is revealed (likely in the form of a lot of complaints)

[2022-02-15 15:21] #1949 closed, assigned to eri-trabiccolo

[2022-02-15 18:05] chrisbadgett commented on #1950
I like the placeholder solution. Looks cleaner. I also agree to not have the loading/sweeping effect as I was staring at it waiting it to load some content.

[2022-02-15 20:58] thomasplevy opened #1997 "Checkout broken on Twenty Twenty Two Theme"
### Reproduction Steps

+ Load the checkout screen using the 2022 theme
+ Observe the JS errors in the console

[code]

### Notes

This, I think, is a change in how FSE themes handle asset enqueue... On this line we conditionally enqueue the PW strength meter JS: https://github.com/gocodebox/lifterlms/blob/trunk/includes/forms/class-llms-form-field.php#L788

But this line never runs because on the

[2022-02-15 21:14] chrisbadgett commented on #1993
It was a cloned course. That makes sense @eri-trabiccolo. Thanks!

[2022-02-15 22:27] #1950 closed, assigned to thomasplevy

[2022-02-15 22:59] #1842 closed, assigned to thomasplevy

[2022-02-15 22:59] #1850 closed, assigned to thomasplevy, pondermatic, eri-trabiccolo

[2022-02-15 22:59] #1966 closed, assigned to thomasplevy

[2022-02-15 22:59] #1974 closed, assigned to nobody

[2022-02-15 22:59] #1976 closed, assigned to eri-trabiccolo

[2022-02-15 22:59] #1983 closed, assigned to thomasplevy

[2022-02-16 09:31] eri-trabiccolo commented on #1997
Sorry @thomasplevy this is due to the fact that I tend to disable the password strength meter :/
Anyways we can fix it in a simple way.

[2022-02-16 16:01] thomasplevy commented on #1972
@eri-trabiccolo We talked briefly about some potential solutions here. Want to try some of that out and let me know if any of those (or other) ideas could be a viable solution?

[2022-02-16 16:02] thomasplevy commented on #1969
@pondermatic this dropped off my radar, do you have time today to have a look?

[2022-02-16 17:53] eri-trabiccolo commented on #1972
@thomasplevy
Looks like I'm not able to avoid the "responsiveness" by setting a fixed content as meta viewport. E.g.:
`<meta name="viewport" content="width=500, initial-scale=1">`
just doesn't seem to be honored at all.
And I don't have any idea on how to fix this unfortunately.
I think we can tell the columns block to not stack on mobiles in certificates, but I wouldn't know how to avoid other CS

[2022-02-16 19:28] thomasplevy commented on #1972
@eri-trabiccolo dare I say this is the stupidest thing I've ever done:

[code]

https://user-images.githubusercontent.com/1290739/154340877-f251fa58-f133-4c65-ba87-8bf792630506.mp4

[2022-02-16 19:32] thomasplevy commented on #1972
What is that monstrosity? I'll tell you... On page load it finds every max and/or min-width MQ and REMOVES IT so that nothing on the page will be responsive... ever...

This *does actually work* however it fails spectacularly if the theme is mobile-first. As this will leave only mobile styles. I can't imagine we could actually figure out a way to determine if a theme is truly mobile first programm

[2022-02-16 21:07] thomasplevy commented on #1972
I can't figure out a descent way to filter the default value of `isStackedOnMobile` to `false` for the columns block. I'm going in circles and for now I'm moving on... If you want to take a stab at it go ahead...

I'm currently leaning towards creating a forked version of the column block that has the stacking options removed. And then de-registering the core columns block for certificate post typ

[2022-02-16 21:41] pondermatic opened #2001 "LLMS_Block_Templates::generate_template_slug_from_path() directory separator"
### Reproduction Steps

[code]

### Expected Behavior

`'llms_template' === $template_slug`

### Actual Behavior

`'llms_dPress\src\wp-content\plugins\lifterlms/templates/block-templates/template' === $template_slug`

### Cause

The path is built [here](https://github.com/gocodebox/lifterlms/blob/trunk/includes/class-llms-block-templates.php#L78) with '/' between the `templates` and `block-templat

[2022-02-17 08:43] eri-trabiccolo commented on #2001
@pondermatic will replacing:
`				strpos( $path, $dirname . DIRECTORY_SEPARATOR ) + 1 + strlen( $dirname ),`
with:
`				strpos( $path, $dirname . '/' ) + 1 + strlen( $dirname ),`

fix the issue on Windows?

[2022-02-17 09:38] eri-trabiccolo opened #2004 "[6.0] Reset to Default in Achievement Template in the Awarded Achievement Editor"
exactly like we do with certificates, except that we'll do it in a classic metabox:
https://github.com/gocodebox/lifterlms/issues/1960

[2022-02-17 09:41] eri-trabiccolo commented on #1960
~@thomasplevy
Shall we do that with legacy certificates too?~
stupid trabiccolo, there's no default template for legacy certificates.

[2022-02-17 11:26] toyinogun opened #2005 "Voucher cannot be searched for on the vouchers page"
### Reproduction Steps

Go to your dashboard
Go to the vouchers page
Try searching for a voucher

### Expected Behavior

It should search and return the voucher that contains the search field

### Actual Behavior

It gives this error:
![image](https://user-images.githubusercontent.com/62220599/154471693-a84a145e-c00a-41e3-a8aa-40616483ec62.png)

### Error Messages / Logs

+ Include any relevant er

[2022-02-17 11:52] eri-trabiccolo commented on #1972
@thomasplevy
I tried as well, I keep on getting validation error b/c of the mismatch between the `save` result and the `edit` result.
Then the block actually works as expected, in any case I see there's no easy way to hide the stacking option in the inspector.

So I guess the forked version is the best solution here.

[2022-02-17 12:44] thomasplevy commented on #2004
We'll... The default template doesn't exist for achievements... What we're resetting in #1960 is the certificate's block template.

[2022-02-17 12:46] pondermatic commented on #2001
Yes, that will fix the issue.

[2022-02-17 12:52] eri-trabiccolo commented on #2004
ahah <3

[2022-02-17 12:52] #2004 closed, assigned to thomasplevy

[2022-02-17 12:53] #1960 closed, assigned to thomasplevy

[2022-02-17 15:24] thomasplevy commented on #2005
@eri-trabiccolo did you already start working on this or have you just confirmed the bug?

[2022-02-17 15:30] eri-trabiccolo commented on #2005
@thomasplevy just confirmed, I can work on it though.

[2022-02-17 23:56] thomasplevy opened #2008 "Admin metabox assets unnecessarily loaded on post table screens"
This needs further investigation, but piggy-backing off the conversation at https://github.com/gocodebox/lifterlms/pull/2007 and the bug #2005

The admin metabox JS asset files (see below) are loaded based on a check against `global $post_type` which I believe will exist on post tables and on the edit-post.php & post-new.php screens.

https://github.com/gocodebox/lifterlms/blob/d52e8861662efe9d79d

[2022-02-18 00:22] pondermatic opened #2009 "[6.0] Certificate Editor Broken"
I've narrowed it down to something in the "reset template" feature added in commit 7041771863bf0d3c8f75d922bbf8d3735746f14f.

### Reproduction Steps

1. Checkout out the `dev-600` branch (the last commit as of this writing is ec4790e7ad345b32448be8aaf17b8d90a4841586 on 2022-02-16 at 11:25 AM CST).
2. Create a new certificate template, edit an existing certificate template, or edit an awarded certi

[2022-02-18 00:57] thomasplevy commented on #2009
@pondermatic have you tried this on a stable version (not 5.8.0-src) yet?

I'd at least like you to try it on 5.8.3-src

[2022-02-18 01:34] pondermatic commented on #2009
I finally got it to work after doing these steps to my WordPress 5.8.0-src install.
1. `composer install`
2. `npm install`
3. `npm run build:dev`, which aborted during the `ugilfy:core` grunt task

However, editing a LifterLMS certificate works again! Even the title block works now.

[2022-02-18 01:40] thomasplevy commented on #2009
I think you might want to consider switching off 5.8.0-src and move to at least 5.8.3-src

[2022-02-18 01:41] #2009 closed, assigned to thomasplevy

[2022-02-18 11:38] eri-trabiccolo commented on #1992
@nrherron92
The issue is limited to one "old" course right?
Looks like the issue is (at least) that that course has all the lessons as children of only one section BUT this section's course saved id is not the correct one.
Basically (@thomasplevy), on the staging website, I printed the value of that section `_llms_parent_course` meta, and it's an array of like 20 values (with a clear repetition):

[2022-02-18 12:19] toyinogun commented on #1774
HS-187017

[2022-02-18 18:31] eri-trabiccolo commented on #1992
@nrherron92
About the old lessons edit issue:
The issue is the one above.
I'm sorry I have no idea on how that could have been happened to be honest.
There's a way to fix it but requires custom code (2 PHP lines of code actually).

About the student progress issue. I would like to know a couple of students that had some progresses... I keep on opening student reports of people who didn't complete

[2022-02-18 19:36] thomasplevy commented on #1954
I had added bootstrap to my site to debug something with PDFs (via an enqueue via an MU plugin) and it was causing everything to render real small (on every theme) and I simply didn't realize it cause I'm a dumbie.

[2022-02-21 14:54] eri-trabiccolo commented on #1992
@thomasplevy
so the issue as said above, that the course has one section and this section's parent course is an array of like 20 courses (none of them exists, at least not anymore). I don't know how this could've happened, I cannot reproduce it, I cannot find anything in our code that would produce that .
That said, progress not working issue is related to this as well, because as soon as a studen

[2022-02-21 16:35] thomasplevy commented on #1992
@eri-trabiccolo

Since we can't exactly explain it do you think the best course of action is to break our rules and get the users permission to add this code (via a snippets plugin) and run it, then remove it?

The cached progress can be manually updated by marking a lesson incomplete and recomplete it (via the reporting screens on the admin panel). Of course that's not really viable if we have a

[2022-02-21 16:36] thomasplevy commented on #1969
@pondermatic do you have capacity to look into this? Or should I reassign?

[2022-02-21 16:39] #1962 closed, assigned to pondermatic

[2022-02-21 20:21] eri-trabiccolo commented on #1992
@thomasplevy yeah we can break our rules.

About the tool, not sure, maybe yes. It might be massive though, ok we'll use a bg process mmm ok let's do it.

[2022-02-21 20:27] thomasplevy commented on #1992
I don't want to spend time on it if it's something taht we can't figure out how it happened.... If you and @nrherron92 think you can fix this with a PHP snippet let's just do that and move on.

[2022-02-21 20:33] eri-trabiccolo commented on #1992
Ok.
Ad I (not explicitly) said the db shows some signs of merging/migration (posts guid show different domains), so I think somewhat that might be the cause.

[2022-02-21 20:53] pondermatic commented on #1969
@nrherron92, I am able to reproduce the issue and am working on a fix.

[2022-02-22 09:17] eri-trabiccolo commented on #1992
@nrherron92
so as thomas said:

Once we run the code, as said before, the user will be able to edit the old lessons THEN:
a) The cached progress can be manually updated by marking a lesson incomplete and recomplete it (via the reporting screens on the admin panel).
[as far as I can see in the reporting - on the staging website - they have less than 50 students (including the test ones) for their m

[2022-02-22 15:09] nrherron92 commented on #1992
@eri-trabiccolo I'll let him know and see what the user thinks!

[2022-02-22 17:00] pondermatic opened #2012 "SQL Error on reporting course overview when course has no lessons"
### Reproduction Steps

1. Create a course without any lessons.
2. Navigate to Reporting -> Courses -> select the course without lessons

Fixed by #1875.

### Expected Behavior

No SQL error is displayed or logged to the PHP error log.

### Actual Behavior

An error message is displayed and logged to the PHP error log.

### Error Messages / Logs

+ Include any relevant error messages or log files

[2022-02-22 18:34] #1774 closed, assigned to eri-trabiccolo

[2022-02-22 19:16] #1969 closed, assigned to pondermatic

[2022-02-22 19:16] #1997 closed, assigned to eri-trabiccolo

[2022-02-22 19:16] #2001 closed, assigned to eri-trabiccolo

[2022-02-22 19:16] #2005 closed, assigned to eri-trabiccolo

[2022-02-22 19:16] #2012 closed, assigned to pondermatic

[2022-02-22 19:32] #1933 closed, assigned to pondermatic

[2022-02-22 19:43] #1934 closed, assigned to chrisbadgett

[2022-02-22 20:07] thomasplevy commented on #1954
It looks like the twentytwenty theme doesn't include the same editor styles as it does frontend styles... This may have to do with changes in the block editor apis since the theme was released and since it's an oldish theme now I'm guessing updates weren't released to the theme to accommodate since, in most circumstance, the visual discrepencies between the editor and the frontend are going to hav

[2022-02-22 21:01] nrherron92 opened #2015 "Number/Letters for Image Quiz Questions hovering on certain themes"
### Reproduction Steps

+ With 2022 Theme, OceanWP, Divi (or anything from what I can tell that sets the numbers at the top of the images instead of the bottom)
+ Create a quiz with picture images either multiple choice or reorder
+ This happens on 6.0 as well but isn't _exclusive_ to 6.0

### Expected Behavior

+ The number/letter order associated with each image should be on the image:
<img widt

[2022-02-22 21:10] thomasplevy commented on #2015
@nrherron92

What's the criteria here? Do themes have this kind of setting? Have you seen other themes that do this? I'd like an exhaustive list because "numbers at the top of images" isn't really a theme setting that I'm aware of.. I'd like to know *exactly* which themes were seeing this on instead of a vague rule like this.

[2022-02-22 21:10] pondermatic opened #2016 "[6.0] LLMS_User_Achievement meta key 'achievement_content' is deprecated"
### Reproduction Steps

1. In the WordPress admin menu, navigate to LifterLMS -> Engagements -> Awarded Achievements.
2. Click the "Award Achievement" button. Editing an awarded achievement also triggers the warning.

### Expected Behavior

No warnings in the PHP error log or in [Query Monitor](https://wordpress.org/plugins/query-monitor/).

### Actual Behavior

A PHP deprecated warning message is

[2022-02-22 21:42] nrherron92 commented on #2015
@thomasplevy I'll spend some time tomorrow morning getting a bigger list together or seeing if it actually is just isolated to those three!

[2022-02-22 22:03] thomasplevy commented on #1972
I can't make this work by forking the block either. The columns block is very complicated and in order to get this working we're going to have to copy code from 5 or 6 different files in the WP core... this feels like a maintenance nightmare to me.

I'm currently back to messing with every single possible combination of filters I can find to change the default value without popping the validation

[2022-02-23 15:50] #1972 closed, assigned to thomasplevy, eri-trabiccolo

[2022-02-23 15:51] nrherron92 commented on #2015
The ones I've found so far are:
OceanWP
Divi
Genesis
Twenty Twenty-Two
Twenty Nineteen
Twenty Twenty-One
ElevateWP
GeneratePress

[2022-02-23 22:25] thomasplevy commented on #1965
I've made some progress

https://user-images.githubusercontent.com/1290739/155419488-14158d0c-519b-4471-98b5-b0676e687824.mp4

[2022-02-23 23:22] thomasplevy opened #2021 "[6.x] certificate {sequential_id} only increments when programmatically inserting an awarded certificate"
Currently not easily reproducible via the UI but there's a design flaw in:

https://github.com/gocodebox/lifterlms/blob/c3e2b51ad322bb6bb60ab95a642dd9ed88ec545f/includes/models/model.llms.user.certificate.php#L108-L119

If we create a new awarded certificate via the REST API and set it to have a parent, this code won't run and therefore the sequential ID won't be set properly.

Changes I'm working

[2022-02-24 08:52] eri-trabiccolo commented on #2021
Mmm, yeah it should be moved out of the model's `after_create()` method also because the sequential_id should be set once the post is `published` not just created.

[2022-02-24 15:33] thomasplevy commented on #2021
good point

[2022-02-24 16:16] #2016 closed, assigned to eri-trabiccolo

[2022-02-24 17:04] nrherron92 commented on #2015
@thomasplevy I can tackle this too if that's okay <3

[2022-02-24 17:06] eri-trabiccolo opened #2024 "[6.x] Certificate default template: Validation error for the Spacer block in WordPress 5.8 block editor"
### Reproduction Steps

+ with wp 5.8
+ create a new certificate template
+ look at the console log

### Expected Behavior

+ No validation error

### Actual Behavior

+ Validation error

### Error Messages / Logs

[code]

### This issue has been recreated:
+ [x] Locally
+ [ ] On a staging site
+ [ ] On a production website
+ [ ] With only LifterLMS and a default theme

### Browser, Device, and Op

[2022-02-24 17:06] thomasplevy commented on #2015
@nrherron92 go for it :+1:

[2022-02-24 17:06] eri-trabiccolo opened #2025 "[6.x] No Stack on mobile option for the block columns on WordPress 5.8"
This means that in our certificate templates the columns will automatically stack on mobiles.
I think we can just don't care about this, but I wanted to note it.

[2022-02-24 17:14] thomasplevy commented on #2025
I think we'll accept this as a "this is the way it works" and "if you have a problem with it, upgrade to 5.9"

[2022-02-24 17:14] #2025 closed, assigned to thomasplevy

[2022-02-24 17:19] thomasplevy commented on #2024
It looks like the height attribute used to be a number and is now a string (with pixels included) but I'm not sure that explains this warning exactly...

I'm going to dump this off me and someone else can review in greater detail to come up with a solution.

[2022-02-25 14:05] thomasplevy commented on #1958
@nrherron92 any update on this from the devs?

[2022-02-25 14:10] thomasplevy commented on #1935
@nrherron92 any updates on this list, how are you feeling generally about theme compat and 6.0?

[2022-02-25 14:12] nrherron92 commented on #1958
Not yet! I'll give them a bump!

[2022-02-25 14:19] nrherron92 commented on #1935
@thomasplevy I think it works pretty solidly with any well built theme! The only thing I still want to teat is with the PDF integration. I think I had an issue open before that we needed to wait for the update on?

[2022-02-25 15:47] eri-trabiccolo commented on #1940
@nrherron92
Both this issue and https://github.com/gocodebox/lifterlms/issues/1935#issuecomment-1050885603 (which you refer to [here](https://github.com/gocodebox/lifterlms/issues/1935#issuecomment-1050892417)) depend on the fact that, in the upcoming LifterLMS 6.0.0 (beta [here](https://github.com/gocodebox/lifterlms/releases/tag/6.0.0-beta.2)) we've updated our certificate template(s), and theme

[2022-02-25 16:34] #2021 closed, assigned to thomasplevy, eri-trabiccolo

[2022-02-25 16:35] #1954 closed, assigned to eri-trabiccolo

[2022-02-25 16:37] #1965 closed, assigned to thomasplevy

[2022-02-25 16:40] nrherron92 opened #2029 "[6.0] Default Custom Certificate Size"
Create UI for a new selectable size in default certificates (LifterLMS->Engagements) that allows you to still create a custom size per certificate that way if a user wants to globally change their custom size they can do it once under their default settings.

[2022-02-25 17:27] nrherron92 opened #2030 "[6.0] Assigned Certificates are updated to new default image"
### Reproduction Steps

+ In 5.x create a certificate and get it assigned to a user
+ Upgrade to 6.0
+ Go into LifterLMS->Reporting->Student->View previously assigned certificate

### Expected Behavior

+ The certificate will maintain the legacy settings from when it was assigned

### Actual Behavior

+ It is updated with the new default 6.0 template background (the content on the certificate rema

[2022-02-25 23:37] pondermatic commented on #2024
This issue happens even when editing a standard WordPress post in 5.8.3 and 5.9.0. It is not caused by LifterLMS and is fixed in WordPress 5.9.1.

While it is true that the spacer block attributes changed from a number in WordPress [5.9.0](https://github.com/WordPress/wordpress-develop/blob/5.9.0/src/wp-includes/blocks/spacer/block.json#L9-L12) to a string in [5.9.1](https://github.com/WordPress/w

[2022-02-25 23:37] #2024 closed, assigned to pondermatic

[2022-02-25 23:49] pondermatic opened #2031 "[6.0] Block validation failed for `llms/certificate-title`"
### Reproduction Steps

1. Edit or create a new certificate template.

### Expected Behavior

No errors in the JavaScript console about `llms/certificate-title`.

### Actual Behavior

An error in logged in the JavaScript console about `llms/certificate-title`.

### Error Messages / Logs

[code]

### System and Environment Information

WordPress 5.9.1, 5.9.0, but not 5.8.3
LifterLMS dev-600 commit

[2022-02-26 00:01] pondermatic commented on #2031
This issue was created by bad data while troubleshooting issue #2024.

[2022-02-26 00:01] #2031 closed, assigned to pondermatic

[2022-02-28 10:06] eri-trabiccolo opened #2032 "[6.x] Engagements using default background, follow default background option changes."
### Reproduction steps
- create a certificate template using default background.
- award that certificate.
- now change the default background settings.

### Expected behavior
- I would expect both the published template (not totally sure on this one) AND (mostly) the awarded certificate retain the "old" default background image.

Our rule has always been that an awarded certificate, once "issued"

[2022-02-28 10:20] eri-trabiccolo commented on #2030
I think this is a bug.
Our db update routine should take care about this. Old awards, which use the default bg, should retain it.

Customers who want to have the legacy backgrounds can use this filter atm:
https://github.com/gocodebox/lifterlms/blob/88024c89140c72d31eae9d032b28cee73390f2a0/includes/traits/llms-trait-award-default-images.php#L51

But I think this should be automatic.
Also, this is,

[2022-02-28 10:46] eri-trabiccolo commented on #1992
@nrherron92 any update on this?

[2022-02-28 14:05] thomasplevy commented on #2032
@eri-trabiccolo this is "working as designed" though I'm open to changing the behavior. However, I'd like to note that *this is the way it works on 5.x currently. When creating (or awarding) a certificate, the background image is *not* attached as a file from the media library. We'd need to programmatically insert a new media lib object every time the default changes and then automatically add tha

[2022-02-28 14:30] pondermatic commented on #2032
I feel that some users may expect that changing the default certificate background will also change it on awarded certificates that use the default. There are probably some users that expect awarded certificates that use the default background to use the same image that was the default when it was awarded.
![emoticon-smileys-split](https://user-images.githubusercontent.com/5377968/156000326-bc3cfd

[2022-02-28 15:20] nrherron92 commented on #1992
@eri-trabiccolo nope the user hasn't gotten back to us

[2022-02-28 15:45] eri-trabiccolo commented on #2032
@thomasplevy

Yeah this is working as designed, and yeah this is they way it "technically" works on 5.x currently. The thing is that there was no option to change the default background before so nobody would ever notice that.

Not really. We just need to insert OUR defaults change, meaning that we need to create media for the old backgrounds, and the new ones we're going to ship in 6.0.
When the

[2022-02-28 16:30] pondermatic commented on #1938
Changing the checkbox style's `display` attribute from `inline` to `inline-block` does indeed correct the width from `auto` to `14px`. In the Chrome, Brave and FireFox web browsers, the default for `display` is `inline-block`.

We will need to research why [`_llms-form-field.scss`](https://github.com/gocodebox/lifterlms/blob/trunk/assets/scss/_includes/_llms-form-field.scss#L73) changes it to `dis

[2022-02-28 22:38] pondermatic commented on #2032
@eri-trabiccolo wrote,

How about bulk sync?

[2022-02-28 22:46] eri-trabiccolo commented on #2032
@pondermatic
Yeah, I didn't mean necessarily one by one. I mean, why I, user,  should be forced to change them because of the plugin deciding to change the defaults?
I think that we took for granted that defaults means "always inherit from global settings", but that's not implicit. Defaults can be "create inheriting from global settings" and that's it.
Additionally, awards without parents cannot b

[2022-03-01 00:13] thomasplevy commented on #1935
@nrherron92 We'll have another version out by end of the week fixing the kadence issue but the pdfs 2.0 beta is now available :+1:

[2022-03-01 01:32] pondermatic commented on #2032
Sounds like if we were to add the ability to update awarded certs when the default cert background changes, we should make it optional. Maybe on the "Certificate Settings" area of the LifterLMS Settings -> Engagements tab?

[2022-03-01 09:27] eri-trabiccolo commented on #2032
Might make sense to have a "Sync" button there that spawns a bg process.
But really, my opinion is that nobody expects such a thing to be happen automatically.
Let me rephrase it: I wouldn't expect that.
I think that customers who opted for using the default background did it b/c of it somewhat fitting their style, their brand. Some of them might have not changed it just for laziness, and I doubt

[2022-03-01 10:07] eri-trabiccolo opened #2033 "Dashboard: Coupon empty link in the order information table."
### Reproduction Steps

+ buy a course with a coupon as a student
+ go to your dashboard/my orders
+ look at the coupon's related row

### Expected Behavior

+ I expect to see the coupon amount, the saved amount, and the coupon code with no link to anything.

### Actual Behavior

+ I do see the coupon amount, the saved amount, and the coupon code BUT the latter is a link with an empty href (for us

[2022-03-01 10:17] toyinogun commented on #1717
HS-188129

[2022-03-01 16:04] thomasplevy commented on #2033
The offending line:

https://github.com/gocodebox/lifterlms/blob/8d7ea3d97b241279b0e70a18a61b29ba8f67f2cf/templates/myaccount/view-order.php#L72

This should just be changed to not be a link

I think this is probably just a copy/paste error from the coupon display on the order info area on the admin panel.

Realistically the formatting of that area could be improved. I'm thinking displaying the co

[2022-03-01 16:09] eri-trabiccolo commented on #2033
Yeah, there's more than one of those (read: there are two :D), see also:
https://github.com/gocodebox/lifterlms/blob/8d7ea3d97b241279b0e70a18a61b29ba8f67f2cf/templates/myaccount/view-order.php#L108

[2022-03-01 16:16] thomasplevy commented on #2032
@gocodebox/engineering

What about addressing this by describing exactly how it works on the admin panel underneath the default option selector:

"Used as the certificate background image for any certificate templates or awards which do not specify their own background image. Changing this background image will automatically update any existing certificate template or award which does not have a b

[2022-03-01 16:20] thomasplevy commented on #2030
I'd add that not only should old awards be migrated, old templates should be migrated too.

[2022-03-01 16:20] thomasplevy commented on #2030
@eri-trabiccolo or @pondermatic either of you have capacity to tackle this in the next day or three please <3

[2022-03-01 16:21] thomasplevy commented on #2030
Also of note that if people want to retain the legacy background they can grab them out of the zip file and upload them to the plugin's settings as the defaults. They *can* use the filters but for most users download + upload is a much simpler solution.

[2022-03-01 16:23] thomasplevy commented on #1940
@nrherron92 any update from BuddyBoss on this?

[2022-03-01 16:25] pondermatic commented on #2032
@thomasplevy,
I like your idea of explaining the current behavior to the user. If anyone requests a different behavior, we'll address it then.

[2022-03-01 16:28] thomasplevy commented on #2029
@gocodebox/engineering

The idea here is to add an additional certificate image size that is customizable through a UI on the admin panel under the certificate options.

I think adding a new size (USER_DEFINED) to the list of available certificates and the width / height / unit will be pulled from this set of db options is the way to go here.

This way users can have their own custom size pre-defi

[2022-03-01 16:30] eri-trabiccolo commented on #2032
I could be fine with this for new changes to the defaults made by the users.
But when the users will update to 6.0, as of now, all of their engagements with `default` bg will show the new ones... Am I wrong? I'm not sure this is _expected_

I'm sorry but when you say `existing behavior` you, me and James, read the code and know you are right, but from the regular customer standpoint the default be

[2022-03-01 16:35] thomasplevy commented on #2032
But when the users will update to 6.0, as of now, all of their engagements with default bg will show the new ones... Am I wrong? I'm not sure this is expected

This is addressed in #2030

Existing behavior

Just because they haven't bumped into it doesn't mean it *changes* the existing behavior is any different.

If we fix #2030 and then *TELL* the users how the behavior works you aren't satisfied

[2022-03-01 17:02] eri-trabiccolo commented on #2032
I was saying that saying "that's the existing behavior" doesn't add anything to this conversation since I'm talking about the user experience and the existing behavior wasn't something the user experienced prior to 6.0.
But I understand that probably the discussion on the existing behavior generated from my:

Yeah that's what I think it was their perception.

I will be satisfied.
I forgot about th

[2022-03-01 17:31] thomasplevy commented on #2032
I'm torn on what the best approach is here... so let's put it to a vote:

A) Store the default image as the featured image when creating awards and award templates

In this scenario it will not be possible to blanket change the background image of awards. If you change the image you'll have to manually update the image across all awards / templates that use the image. Templates -> awards is easy b

[2022-03-01 17:51] nrherron92 commented on #1940
not yet! I'll bump!

[2022-03-01 17:56] eri-trabiccolo commented on #2032
I'm not sure either.
I think that my opinion is always that something created with certain defaults should retain them, why shouldn't they?
If I change the default size of a certificate are templates/awards affected by this change? No. Ok you can update the language but it just makes no sense to me.

I'm for A)
and yes this probably means we have to store in a meta when engagements are using defau

[2022-03-01 18:13] eri-trabiccolo opened #2034 "[6.0] Default certificate sizes are not taken into account"
### Reproduction Steps

+ Set the default certificate sizes as e.g. A4
+ Create a new certificate template

### Expected Behavior

+ The selected size should be A4

### Actual Behavior

+ The selected size is not A4 but Letter

[2022-03-01 18:28] thomasplevy commented on #2032
I really don't like option A because the amount of additional code we need to introduce seems overwhelming to me at this stage in the release cycle. I want to release. I don't want to redesign... But if this is the way we need to do it then so be it...

Noting so I don't forget: we'll need to store metadata on post creation and then remove that metadata when the image is updated.

Also... A furthe

[2022-03-01 18:34] manananomas commented on #2032
IMHO - I believe a lot of our users are looking to update their look when they change the background... and by extension would accept the new look on an older cert. Where I see the difficulty is when a course creator gets creative and uses time markers in their artwork -- i.e. 2021 Certification... then if 2023 rolls around and the student needs to re-print an older Cert, it would be mislabeled by

[2022-03-01 18:45] nrherron92 commented on #2032
I'm for: B) Don't store default images as the featured image and always pull the image from the option.

The way I understand it is if you set a default, and then use the default in your templates (without changing it to an individual featured image) you expect the certificates to pull from the default. So if you change the default image it would change it all the places you're using the default.

[2022-03-01 19:31] pondermatic commented on #2032
Here's a good reason to NOT update backgrounds on awarded certificates when the default background image is changed in LifterLMS -> Engagements settings. Some organizations change branding/logos over time.  There are legal and marketing implications for overwriting the images that were appropriate at the time they were awarded.  For example, ownership of a company changing, trademarks, or brand st

[2022-03-01 19:45] chrisbadgett commented on #2032
If a default background aka. "placeholder" is used, a default may be updated to a new placeholder in the future.

If a site admin would like users to create a non fungible version of their certificate built on top of the placeholder, they should encourage the user to "print" it or use LifterLMS PDFs to pull it out of the site as a PDF.

I like the idea of the alert explaining what happens when def

[2022-03-01 19:47] pondermatic commented on #2032
Is adding blockchain technology to LifterLMS engagements a feature request? :)

[2022-03-01 19:47] magicemilymiddleton commented on #2032
I'll vote for B, because that's how themes work with customizer settings and language can fix it and it's not a big deal to me either way. (we have had a few people note that they'd like it to update upon the default)

[2022-03-01 19:52] thomasplevy commented on #2034
Used the wrong option name, good catch

[2022-03-01 19:52] #2034 closed, assigned to thomasplevy

[2022-03-01 20:59] pondermatic commented on #2030
@thomasplevy wrote,

Are you saying that legacy certificates should be **automatically** migrated to the block editor? There's a manual action for that on  the awarded certificates table.

[2022-03-01 21:57] thomasplevy commented on #2030
No, I'm not.

This is about the featured image of certificates and achievements that existed prior to 6.x which did not have a specific image specified.

The database migration should update any existing award or template (achievement and certificate) to use the *old* default image (https://github.com/gocodebox/lifterlms/blob/dev-600/assets/images/optional_achievement.png and https://github.com/go

[2022-03-01 21:58] thomasplevy commented on #2032
Alright we're going to go with B then. You've lost the popularity contest @eri-trabiccolo

Additionally, I'm going to adjust the language from "Default" to "Placeholder" as per @chrisbadgett comment. I think calling it a placeholder as opposed to a "default" is a minor change but carries a lot of weight if you consider the difference between the two words.

[2022-03-01 22:00] thomasplevy commented on #2032
Also of note:

This doesn't help a user who didn't consider that theyd need to change their image but it's what we should be thinking about when we consider how this is supposed to work.

If you *don't want the default image to display* don't use the default image on your certificates.

[2022-03-01 22:01] pondermatic commented on #2030
This is the solution I'm proposing and doesn't require updating the database.
In `LLMS_Trait_Award_Default_Images::get_default_default_image_src()`,
1. call `llms_get_certificate()` to get the current post object
2. if a `LLMS_User_Certificate` object is returned, call `LLMS_User_Certificate::get_template_version()`
3. if `1` is returned, change the default value passed to the `llms_use_legacy_awa

[2022-03-01 22:03] thomasplevy commented on #2030
I like that solution a lot @pondermatic but it won't help us with achievements which don't have a template version...

[2022-03-01 22:05] pondermatic commented on #2030
Do users view past achievements?

[2022-03-01 22:06] thomasplevy commented on #2030
Yes, they can view them on the student dashboard (and admins can view them in reporting screens)

[2022-03-01 22:06] thomasplevy commented on #2030
Do they view them is a different question lol... but tey can

[2022-03-01 22:06] pondermatic commented on #2030
I forgot about the dashboard. I was only thinking about the admin reporting page.

[2022-03-01 22:26] thomasplevy commented on #2032
How's this?

![Screenshot_2022-03-01_15-26-20](https://user-images.githubusercontent.com/1290739/156259329-3995f42f-2f8a-4aa2-beb8-d069eaca68b7.png)
:

[2022-03-01 23:18] pondermatic commented on #2032
Change "A default image used for certificates template or award which does not specify an image." to "A default image used for certificate templates or awards which do not specify an image.".

Or maybe just change "certificates" to "certificate".

[2022-03-02 15:47] nrherron92 commented on #1940
@thomasplevy @eri-trabiccolo heard back and they're looking into it now!

[2022-03-02 16:06] thomasplevy commented on #1940
Awesome! <3

[2022-03-02 16:08] thomasplevy commented on #2032
Good call. Closing!

[2022-03-02 16:08] #2032 closed, assigned to thomasplevy

[2022-03-02 16:09] thomasplevy commented on #2030
@pondermatic do you have an ETA on completion for this? I'm thinking this should be included in the first RC and I'm trying to decide if I should ship another beta or wait on this for RC.1. I want to ship *something* today.

Thank

[2022-03-02 16:29] pondermatic commented on #2030
@thomasplevy, I plan to complete this today. The update functions are coded (although not tested in any way). Now I need to write unit tests and do manual testing.

[2022-03-02 20:10] nrherron92 opened #2036 "[Support Question] Generalized Slowness"
### Reproduction Steps

+ We've reached a point where we don't know how to reply to the user's dev any further. We've discussed this with the customer success manager and decided to relay this to the devs as github issue.
+ HS-187518
+ This issue cannot be reproduced.
+ No one on our team can access the website (non-US IPs are blocked and US IPs hit a 502 error)
+ The user will not provide admin l

[2022-03-02 20:23] thomasplevy commented on #2036
They've said their server has 6 cores, and 10GB of ram

The most expensive / powerful servers in the world matter not one bit when they're not configured properly.

I can speak from personal experience that when we used to self-host LifterLMS.com on AWS EC2 instances we increased CPU cores and RAM every few weeks and continued to have performance issues until we switched over to a WordPress host.

[2022-03-02 20:52] #2029 closed, assigned to eri-trabiccolo

[2022-03-02 23:53] #1935 closed, assigned to thomasplevy, eri-trabiccolo, chrisbadgett, nrherron92

[2022-03-02 23:54] #1908 closed, assigned to thomasplevy

[2022-03-03 09:15] eri-trabiccolo commented on #1992
I'm closing this, let's reopen it when and if the user will reply.

[2022-03-03 09:15] #1992 closed, assigned to eri-trabiccolo

[2022-03-03 16:47] thomasplevy commented on #1958
I'm assuming we haven't heard back yet @nrherron92

If that's the case let's close this issue and take the theme down off the site/store as a recommendation, temporarily until we can get this issue resolved.

[2022-03-03 17:12] #1958 closed, assigned to nrherron92

[2022-03-03 19:05] UVLabs opened #2038 "Check if user passed a quiz - helper function"
I'm adding more Lifter support to our theme. I'm wondering if there's a helper function to pull the past quiz attempts of a user by passing the user ID.

I can write the function but wondering if there's something already. Wasn't able to find anything that will seem to work here: https://developer.lifterlms.com/reference/

Also I tried this snippet: https://github.com/gocodebox/snippets/blob/trunk

[2022-03-03 19:21] thomasplevy commented on #2038
Hey @UVLabs

Check out this class: https://developer.lifterlms.com/reference/classes/llms_student_quizzes/

And specifically this method: https://developer.lifterlms.com/reference/classes/llms_student_quizzes/get_all/

Let me know if you need anything further direction

[2022-03-03 19:22] thomasplevy commented on #2038
Also, I've just deleted that code snippet (it was from 2016). It was invalid in the current form of LifterLMS. In version 2.x and earlier quiz data was stored as user meta, since LifterLMS 3.0 we've changed the data structure to be stored in custom tables.

[2022-03-03 20:44] pondermatic opened #2039 "[6.0] Awarding a new achievement uses the deprecated meta key 'achievement_title'"
### Reproduction Steps

1. In the WordPress admin menu, navigate to LifterLMS -> Awarded Achievements
2. Click on the "Award Achievement" button.
3. Add a title, select a user, and click on the "Award" button.

### Expected Behavior

I expected to go back to the list of awarded achievements page without any errors.

### Actual Behavior

PHP errors are displayed (I have `WP_DEBUG` turned on).

###

[2022-03-03 22:14] UVLabs commented on #2038
Thank you @thomasplevy after some digging into the code I was able to figure it out.

In case someone else comes across this:

[code]

[2022-03-03 22:14] #2038 closed, assigned to thomasplevy

[2022-03-04 15:54] #2030 closed, assigned to pondermatic

[2022-03-04 18:24] thomasplevy commented on #854
@pondermatic's question about database tables in the system report (which are present in the site-health screen) got me thinking we should prioritize this. It's not anything that anyone will really care about but it is a small improvement that will

A) Help us reduce our code footprint by getting rid of redundant code (server and wp core config stuff that already exists in site health provided by

[2022-03-04 20:37] pondermatic opened #2045 "[6.0] Use of deprecated items during personal data export"
### Reproduction Steps

1. In the WordPress admin menu, navigate to Tools -> Export Personal Data.
2. Enter the username of email address of a student with awarded certificates and achievements.
3. Uncheck the "Confirmation email" checkbox.
4. Click the "Send Request" button.
5. In the table, click the "Download personal data" link.

### Expected Behavior

No new warnings in the PHP error log.

##

[2022-03-04 23:28] thomasplevy commented on #2045
This is a good catch.

If a fix isn't in place by the time we get started shipping on Monday we'll do a fast-follow up Tuesday with this included, not going to delay release for a deprecation warning on something only an admin would ever see (if they were running with error reporting on)

[2022-03-08 13:49] thomasplevy commented on #2036
@nrherron92 anything for us to do here?

[2022-03-08 14:19] nrherron92 commented on #2036
@thomasplevy Will closed the ticket so I think we're good here for now.

[2022-03-08 14:19] #2036 closed

[2022-03-08 16:42] #290 closed

[2022-03-08 16:42] #463 closed

[2022-03-08 16:42] #535 closed

[2022-03-08 16:42] #669 closed

[2022-03-08 16:42] #859 closed

[2022-03-08 16:42] #1027 closed

[2022-03-08 16:42] #1078 closed

[2022-03-08 16:42] #1081 closed

[2022-03-08 16:42] #1082 closed

[2022-03-08 16:42] #1640 closed, assigned to nobody

[2022-03-08 16:42] #2015 closed, assigned to nrherron92

[2022-03-08 16:42] #2033 closed, assigned to eri-trabiccolo

[2022-03-08 17:33] yewzy opened #2050 "LifterLMS PDF 2.0 composer dependency require a PHP version ">= 8.0.2""
### Reproduction Steps

1. Install LifterLMS PDF 2.0.0
2. Activate the plugin

### Expected Behavior

Plugin successfully installed

### Actual Behavior

The whole site is unable to be accessed due to a Fatal Error:
`Fatal error: Composer detected issues in your platform: Your Composer dependencies require a PHP version ">= 8.0.2". You are running 7.4.19. in C:\laragon\www\lifter-test\wp-content\p

[2022-03-08 17:37] yewzy commented on #2050
Apparently symfony/css-selector requires php 8.0.2
https://packagist.org/packages/symfony/css-selector

[2022-03-08 17:50] thomasplevy commented on #2050
@yewzy thanks for bringing this to our attention. We're shipping a hotfix as we speak. I'm assuming you are able to recover from the error in the meantime but if you need any assistance with how to recover your site from a  fatal error please open a support request at lifterlms.com/my-account/my-tickets

[2022-03-08 17:54] yewzy commented on #2050
Thanks @thomasplevy for the quick response! No worries, I've disabled the LifterLMS PDF plugin through FTP.

[2022-03-08 18:02] #2050 closed, assigned to thomasplevy

[2022-03-08 18:08] thomasplevy commented on #2050
@yewzy LifterLMS PDFs 2.0.1 includes dependencies suitable for use on PHP 7.4, https://make.lifterlms.com/2022/03/08/lifterlms-pdfs-version-2-0-1/

My apologies for this oversight and my appreciation for bringing this to our attention promptly <3

[2022-03-08 19:51] pondermatic opened #2051 "Merge conflict in lifterlms_template_student_dashboard_my_grades()"
The is a merge conflict in the DocBlock of [`lifterlms_template_student_dashboard_my_grades()`](https://github.com/gocodebox/lifterlms/blob/trunk/includes/functions/llms.functions.templates.dashboard.php#L524).

[2022-03-08 20:02] #2045 closed, assigned to pondermatic

[2022-03-08 20:05] nrherron92 opened #2052 "LifterLMS Forms + Essential Addons for Elementor"
### Reproduction Steps

+ HS-188601
+ LifterLMS + Elementor + Essential Addons for Elementor
+ Head into LifterLMS ->Forms
+ Hover over one of the forms and you'll see "EA Duplicator" click the duplicator

### Expected Behavior

+ The forms can't be cloned
+ Though, they can't be cloned normally, so if you're using a third party plugin to get around this that's kind of on the user?

### Actual Beh

[2022-03-09 04:37] santanamic opened #2054 "[6.0] Version downgrade does not restore certificate image"
### Reproduction Steps

+ Upgrade to version 6

After updating to version 6 I realized that the certificate image is no longer a metafield to be the featured image of the post.

The problem is that when I go back to the old version that image is not there. In fact I can see that the `_llms_certificate_image` field was deleted when updating.

It would be interesting to maintain compatibility.

[2022-03-09 09:13] eri-trabiccolo commented on #2054
@santanamic
Thanks for reporting this.

I see what you mean, although the featured image of the post is a meta field: `_thumbnail_id`.

This only happens with old certificates if you ran the DB update to migrate data to 6.0 (which is not automatic - it requires a button to be pressed), and for newly created certificates.
LifterLMS 6.0.0 is a major release, it introduces breaking changes to the API

[2022-03-09 12:48] pondermatic commented on #2054
If we were to support downgrading LifterLMS back to 5.x, we would need a "Downgrade Database" feature that unmigrated the database changes. While this is technically possible, I don't think we've ever offered the ability to downgrade. Have we ever had requests to downgrade before?

[2022-03-09 14:28] thomasplevy commented on #2054
Hey @santanamic

Thanks for upgrading and reaching out with this suggestion. Before we dig any deeper into what's happened here I'd like to note a few things on these changes that I think is relevant:

1) Moving to use featured image functionality as opposed to custom meta keys allows us (and other developers) to use WordPress core APIs and interfaces. This allows a learner codebase (less custom c

[2022-03-09 15:43] santanamic commented on #2054
Ok i can understand.

I suggest some changes in the database upgrade:

1 - Update must not remove legacy data from postmeta table or any other table.
2 - User should have the option to remove this legacy data. Let's call this 'Legacy Data Removal'. This option can be shown via notification in the WordPress dashboard. It would be important to point out that removing this data would make dowgrande u

[2022-03-09 15:54] thomasplevy commented on #2054
@santanamic

Why not? Given that we added backwards compatibility functions so that the migrated (not removed) data is still accessible via the old meta keys why should our update *not* remove data?

This is a different approach to a database migration but it's, essentially, the same thing as what we already did. The notification provides a link to the changes that will be made should you proceed

[2022-03-09 16:40] santanamic commented on #2054
I have a custom addon. It adds a backside image to the certificate and some other merge codes. This will be broken in version 6. When this happens, users will try to revert to version 5.x... You can predict the problem.

I believe users could not be hostage to version 6.X.

I think you're exaggerating when you say 'rewrite our entire migration strategy'. When developing your strategy, were there n

[2022-03-09 16:48] thomasplevy commented on #2054
@santanamic

I don't intend to be dismissive, but it's hard to approach a change without knowing what problem the change would solve. Now I understand -- you have code that isn't working correctly after release. Let's work on that problem.

A ton... And we addressed this by adding backwards compatiblity code that reroutes `get_post_meta()` requests to the migrated keys to their new location.

Are

[2022-03-09 18:16] #2054 closed, assigned to thomasplevy, eri-trabiccolo

[2022-03-10 09:05] eri-trabiccolo commented on #2052
The thing is that our forms are not meant to be cloned/duplicated (not in the core plugin at least, we can debate on whether implement our cloning system in the add-on). Reasonably we cannot 100% prevent 3rd parties cloning the form posts, but we could mitigate this, by deciding that our core forms can only have the actions.
- `view`
- `edit`
Basically we define an `allowlist` and filter out the d

[2022-03-10 11:14] toyinogun opened #2056 "The LifterLMS import doesn't seem to be connecting"
### Reproduction Steps

Go to the dashboard and go to LifterLMS >> Import
You'll see something like this as shown in the screenshot:
![image](https://user-images.githubusercontent.com/62220599/157650437-b4e40aa2-1cba-4421-b60e-89c4e0b5ba86.png)

### Expected Behavior

It should show the courses with their featured images

### Actual Behavior

As shown in the screenshot

### Error Messages / Logs

[2022-03-10 11:39] eri-trabiccolo commented on #2056
Thanks @toyinogun
there seems to be a fatal error on the academy website.
https://academy.lifterlms.com/
@thomasplevy not sure where to move this, we don't seem to have a proper repo for that website.

[2022-03-10 11:50] chrisbadgett commented on #2056
Likely the same issue in the setup wizard as well
<img width="1258" alt="LifterLMS_Setup_Wizard_‹_My_Academy_—_WordPress" src="https://user-images.githubusercontent.com/12163552/157656188-a71e75f3-7616-447f-868d-c3f2777b1397.png">

[2022-03-10 11:53] chrisbadgett commented on #2056
Removed Academy link from LifterLMS.com menu until resolved.

[2022-03-10 15:28] thomasplevy commented on #2052
@eri-trabiccolo I wonder if we should change our strategy of determining which forms are core and which ones are added via other means (be it duplication via a 3rd party plugin or via creation via custom fields).

Instead of using `_llms_form_is_core` metdata, we could create a new option that stores the `WP_Post` ids of the core forms (as an array).

I haven't read through all of the code to dete

[2022-03-10 15:38] eri-trabiccolo commented on #2052
I actually thought about this as well, and could make sense, yeah, but I also thought that for this very problem it still won't prevent the duplication, it will just allow for trashing after duplication. Actually at the moment we filter out non-core forms, so we would need to change this behavior too in order to allow the deletion :D

I don't know man, I think keeping track is pretty good, but I d

[2022-03-10 16:09] thomasplevy commented on #2052
@eri-trabiccolo we have several reports of people being unable to delete "core" forms that were created (somehow) in error though: https://github.com/gocodebox/lifterlms/issues/1685

I haven't been able to identify the cause of these duplications in #1685 but the end result is the same: forms exist that cannot be cleaned up.

I don't think telling people they need to manually delete them via code

[2022-03-10 16:21] eri-trabiccolo commented on #2052
I thought the same, yeah should work. Yeah let's do it.

[2022-03-10 16:51] magicemilymiddleton opened #2057 "Odd Formatting on Student Dashboard for Courses if you're using Elementor Canvas and Kadence Theme"
### Reproduction Steps

1. Install Kadence Theme, Elementor Plugin, LifterLMS plugin
2. Enroll in 3 courses
3. Visit the dashboard page
4. Edit your dashboard page in Elementor
5. Under the Elementor page settings, select 'Elementor Canvas' as your page layout
6. Check the dashboard and you should see the first course jumps to the second line

Video Demo
https://www.loom.com/share/6f7dd21f91ef40f7

[2022-03-10 17:04] magicemilymiddleton opened #2058 "Merge codes on certificates don't work when part of a reusable block"
### Reproduction Steps

1. Install LifterLMS
2. Make a certificate
3. Add a merge code
4. Add your merge code to a reusable block
5. View your certificate and it should display the merge code instead of what data the merge code should grab

video reproduction:
https://www.loom.com/share/ebf99da1642e4bf0b082e2b4b875f651

### Expected Behavior

The content the merge code should show would show up

#

[2022-03-10 18:09] nrherron92 opened #2059 "Genesis layouts on courses reverts to default when making changes"
### Reproduction Steps

+ HS-187447
+ I've reached out to StudioPress but we're still waiting to hear back about Magazine Pro...
+ LifterLMS + Genesis Theme + Genesis Sample Child theme + Genesis Pro
+ Create a course and add a Genesis Layout
+ Click onto a setting in the layout like columns and make a change like trying to create three columns

### Expected Behavior

+ Three columns appear

### A

[2022-03-10 20:11] nrherron92 opened #2060 "Database Update Won't Complete"
### Reproduction Steps

+ HS-188815
+ Rollback LifterLMS to 5.10 and then update to 6.0
+ Run the database updater

### Expected Behavior

+ The database updates and restores legacy certificates.

### Actual Behavior

+ The update doesn't complete.

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### System and Environment Information

<details>
<summary>Syste

[2022-03-10 23:23] thomasplevy commented on #2060
@nrherron92 Can you request error logs for the site? And error logging to be enabled on the staging site?

I've reviewed all the logs and all the updates are queued but they're not running

You noted this happened on a production site but the ticket's initial system report is a staging url.

It's possible that WP CRON isn't functioning well on the staging site and that could be preventing the upda

[2022-03-10 23:46] thomasplevy commented on #2058
Alright...

Resuable blocks are stored as a reference in the post's content, eg:

[code]

Other blocks are stored literally (the content in the post's content:

[code]

When we merge data into the merge codes we do a literal find and replace on the merge strings. So... when we find and replace against a resuable block the merge code is nowhere to be found.

---

We can handle this at "runtime" for

[2022-03-10 23:50] thomasplevy commented on #2059
@nrherron92 credentials in 1pass aren't working to debug this. Do you have a copy of this setup on a temp site we can review in the meantime?

[2022-03-10 23:51] thomasplevy commented on #2059
I'm asking because I am COMPLETELY unfamiliar with Genesis (last time I truly worked with it in any serious capacity was like 2015) and I was hoping to kickstart debugging on an existing site instead of learning how to set all of this stuff up from scratch.

[2022-03-10 23:51] thomasplevy commented on #2059
I also have no idea if I have a license to genesis somewhere

[2022-03-10 23:52] thomasplevy commented on #2057
@willmiddleton-lifterlms do you have this running on a myliftersite.com site that we can have a quick look at to expedite debugging?

[2022-03-11 13:27] eri-trabiccolo commented on #2058
I'm missing something here...

At the moment we can use merge codes in awards, and they are not exploded until the award is published. This means that for drafts and scheduled awards `{first_name}` is stored in the award's content as it is.
When this draft or scheduled award becomes `published` then the merge codes are exploded and saved with their values: `{first_name}` becomes `{Dude}`.

Can't w

[2022-03-11 15:05] nrherron92 commented on #2059
@thomasplevy yes! sorry I had it set up for you on myliftersite in the system report, forgot I had that turned on for debug, and then started debugging something else.

It's all set up here again: https://natalie-test-site.myliftersite.com/wp-admin/post.php?post=1444&action=edit

If you drag the columns to be 3 instead that's a quick way to see it happen.