[2019-05-17 08:13] eri-trabiccolo opened #861 "Order enrollment metabox: do not display the "Delete enrollment" button when there's no enrollment."
### Reproduction Steps
1) Go edit an order that has an enrollment with status `enrolled`
2) Click on the 'Delete enrollment' button
3) The enrollment will be deleted, and you'll still see the 'Delete enrollment' button for no reason.
![Schermata 2019-05-17 alle 10 02 10](https://user-images.githubusercontent.com/7689242/57912850-9cebd800-788b-11e9-8699-515fb9e82299.png)

### Expected Behavior

I w

[2019-05-17 09:35] eri-trabiccolo opened #863 "Mark complete/Take quiz button not showing anymore"
### Reproduction Steps

Visit a lesson and you'll see no Mark Complete/Take a quiz button.

Issue introduced in:
https://github.com/gocodebox/lifterlms/commit/9324bbd7bc3a92d29b5fa839c12454e6c5a8077a
we should run the `is_a` check against `$lesson` not the `$post`

### Expected Behavior

I'd expect to see the Mark Complete/Take a quiz button.

### Actual Behavior

I dont's see the Mark Complete/Ta

[2019-05-20 00:24] BurlesonBrad commented on #859
sending beer 🍺

[2019-05-20 03:00] yojance commented on #859
@thomasplevy

Would something like this work?

[code]

[2019-05-20 15:29] thomasplevy commented on #859
@yojance I believe it might, good thinking!

[2019-05-20 19:06] #861 closed

[2019-05-20 19:07] #863 closed

[2019-05-20 19:13] #858 closed

[2019-05-20 19:18] #402 closed

[2019-05-20 19:32] eri-trabiccolo commented on #592
I'm completing this and I was wondering:
1) Should we extend this to the Student's table "Enrollment" field:

since it links to the Courses stab?
I guess so, and so I did.
Also because the "Membership" fields already takes into account "private" memberships...

2) When exporting the student's table data should or should we not export "private" courses/memberships?
I'm truly not sure about this...

[2019-05-21 18:26] #607 closed

[2019-05-21 18:28] thomasplevy opened #869 "Admin/Instructor can't view checkout as self if they're enrolled in the course"
### Reproduction Steps

+ Login to WP as an admin (or instructor)
+ Enroll yourself in a course
+ Attempt to review an access plan for the course on the frontend

### Expected Behavior

+ User should be able to use "View as" settings found on courses/memberships to view the checkout as a visitor / enrolled student

### Actual Behavior

+ User is displayed the enrolled notice via #867 (good)
+ user

[2019-05-23 16:53] actual-saurabh opened #870 "[Capabilities] Export and Clone links should check `edit_course` capability"
Unlike the link to Builder which checks the `'edit_course'`capability: https://github.com/gocodebox/lifterlms/blob/f93a34750bfc8b2390239129a112fb5f3686b43d/includes/admin/post-types/post-tables/class.llms.admin.post.table.courses.php#L35, the export and clone links check the `'edit_post'` capability: https://github.com/gocodebox/lifterlms/blob/cdbee2b4b3bfabf3339bd6870f3d3af8e9227da0/includes/admi

[2019-05-27 12:35] eri-trabiccolo opened #871 "Backslash added before quotes in access plan description."
### Reproduction Steps

Create or update an access plan's description, adding whatever string containing a quote or double quote, e.g. => `I'm a believer`.

### Expected Behavior

Would expect to see the `I'm a believer` as access plan description.

### Actual Behavior

I see `I\'m a believer` as access plan description.

### Error Messages / Logs

n/a

### System Information
not relevant

### Bro

[2019-05-29 06:08] inokesh opened #873 "Instructor reports"
**I.** At the moment I'm seeing a problem - the data in the reports for instructors are not displayed correctly. Instructor courses, enrolled Students, assignments have no information. The quizzes table shows all quizzes, not just those where the instructor is the author.

Access to the test platform (Fresh install, only add courses/instructors/students):
[amber-goose.w6.wpsandbox.pro](http://ambe

[2019-05-31 12:38] eri-trabiccolo opened #875 "PHP Notice: Undefined variable: order_clause in wp-content/plugins/lifterlms/includes/abstracts/abstract.llms.analytics.widget.php on line 305"
### Reproduction Steps

+ With WP in [debug mode](https://wordpress.org/support/article/debugging-in-wordpress/#example-wp-config-php-for-debugging)
+ From your dashboard navigate through LifterLMS - Reporting - Sales

### Expected Behavior

No errors/notices

### Actual Behavior

PHP notice raised

### Error Messages / Logs

`PHP Notice:  Undefined variable: order_clause in /srv/www/wordpress-one

[2019-06-01 08:07] actual-saurabh commented on #385
I have added a new method here: https://github.com/gocodebox/lifterlms/blob/452bf6b175546f772bded79b6f34d9603c767e85/includes/models/model.llms.access.plan.php#L695-L773

If this makes sense, I'll go ahead and modify the templates and such to use this `is_trial_available_to_user()` method in place of `has_trial()` where appropriate.

[2019-06-05 19:51] eri-trabiccolo commented on #740
Really weird issue.
I've reproduce the issue following the described steps, and I get different charts mostly anytime I refresh the page:
- take 1 (note that also the axis are wrong):
![Schermata 2019-06-05 alle 21 39 15](https://user-images.githubusercontent.com/7689242/58985078-d2c11400-87da-11e9-9af3-0900fda2d3ac.png)

- take 2:
![Schermata 2019-06-05 alle 21 43 00](https://user-images.githubus

[2019-06-07 18:04] eri-trabiccolo opened #879 "Reporting -> Quizzes table shows quizzes from all the courses to Instructors with no courses"
...or with courses with no lessons :D

### Reproduction Steps

- Make sure you have some quizzes :)
- As admin/llms_manager create an instructor user and don't assign any course to him/her
- Log out and log in as the just created user
- From your dashboard go through LifterLMS -> Reporting
- Click on the Quizzes tab

### Expected Behavior

Should see no quizzes listed.

### Actual Behavior

You'll

[2019-06-07 18:18] eri-trabiccolo opened #880 "Allow adding custom columns to some reporting tables"
### Reproduction Steps
As reported in https://github.com/gocodebox/lifterlms/issues/873 (bullet III)
try to use [this code](https://lifterlms.com/docs/adding-custom-columns-reporting-tables-export-files/) in order to add custom column e.g. to the Courses table.

### Expected Behavior
I would see the custom column added filled with the custom chosen value .

### Actual Behavior
You will see the cus

[2019-06-07 18:18] eri-trabiccolo commented on #873
Hi @inokesh,
many thanks for your appreciation and sorry for the late reply.

Thanks for this detailed report!
Let me go throughout your points:

I can see the issue on the test platform, though I'm not able to reproduce it on my local install :/
I'm going to further investigate into this!
Meantime the fact that the only available data are on the quizzes tab and that all the courses quizzes are di

[2019-06-08 09:55] inokesh commented on #873
Hey, @eri-trabiccolo! Thanks for your answer and all the explanations!

Maybe the problem was on my side. If I can reproduce it on a test platform, I will write about it here. Sorry to bother you :)

I wasn't quite correct. I would like the instructor to have access only to his own courses/lessons/quiz and assignment without restrictions and without this option. At this point, if you don't add his

[2019-06-10 14:33] eri-trabiccolo commented on #873
Ah, I now I see what you mean. Thanks for the clarification!

:D

[2019-06-10 16:41] actual-saurabh commented on #401
Related #879 #873

[2019-06-10 16:57] actual-saurabh commented on #873
@inokesh This is a fairly large post and for usability, each issue should be created separately with details. @eri-trabiccolo has already broken a few of the issues down into separate ones.

I'd request you to post feedback/suggestions for reporting (still in beta) on the appropriate channel here: https://lifterlms.com/docs/lifterlms-reporting-beta/ We're aware of permission issues but haven't bee

[2019-06-10 16:57] #873 closed

[2019-06-15 16:03] actual-saurabh opened #883 "[Access Plan] Errors with variations in decimal and thousand separator in Price input"
Set thousand separator to `.` and decimal separator to `,` under LifterLMS > Settings > {Tab} CHECKOUT > {Screen Section} Currency Options

Issue 1: Input type number seems to only support `.` as a decimal separator and doesn't accept thousand separator.

+ Now, the placeholder seems to indicate that the expected decimal separator is `,`
![Screenshot 2019-06-15 at 9 14 28 PM](https://user-images.g

[2019-06-18 17:54] actual-saurabh opened #884 "[i18n] Checkout Notice is not translatable"
https://github.com/gocodebox/lifterlms/blob/3.33.0/includes/shortcodes/class.llms.shortcode.checkout.php#L59 is not i18nised.

[2019-06-21 15:35] actual-saurabh commented on #420
https://rateyo.fundoocode.ninja/

[2019-06-21 15:54] actual-saurabh opened #887 "[Reviews] Extraneous metadata rows added for every post type"
The review metadata saving is hooked into saved posts and no post type is checked in https://github.com/gocodebox/lifterlms/blob/cdbee2b4b3bfabf3339bd6870f3d3af8e9227da0/includes/admin/class.llms.admin.reviews.php#L32 and https://github.com/gocodebox/lifterlms/blob/cdbee2b4b3bfabf3339bd6870f3d3af8e9227da0/includes/admin/class.llms.admin.reviews.php#L159-L187

Additionally, even for posts where the

[2019-06-24 12:30] eri-trabiccolo opened #888 "Login form doesn't display fine when bootstrap4 style is enqueued"
Need to enqueue bootstrap4 CSS or use a theme/plugin which enqueues it.
![Schermata 2019-06-24 alle 14 18 37](https://user-images.githubusercontent.com/7689242/60018549-fc5bb580-968b-11e9-9de5-e2b9111a5f05.png)

The user reporting this issue is using the theme Airi Theme which is based on bootstrap4 as far as I can see.

The issue resides on the fact that one of the llms form wrapper CSS classes i

[2019-06-24 12:37] badpenguin commented on #566
i wonder if deleting records from $prefix_lifterlms_user_postmeta table is enough to reset things

[2019-06-24 12:48] badpenguin commented on #566
This worked for me. Its easy to reset all courses of a student. If you need to reset a specific course it requires coding:

my user_id=2
and the couse_id is 130

**Remove lesson completion:**
[code]
To remove a specific course the "post_id" of the specific lesson must be added to the where.

**Remove quizzes:**
[code]
Same as above, for specific course you need to add quiz_id to the where clause w

[2019-06-24 17:54] thomasplevy commented on #566
@badpenguin your queries will do the trick but we of course want to have a UI to make course progress resetting simple for everyone, not only those with SQL knowledge.

[2019-06-24 17:58] badpenguin commented on #566
That means that you will accept a patch that will introduce this features?

[2019-06-24 18:15] thomasplevy commented on #566
@badpenguin

Possibly. We haven't marked this as a `good first issue` or as `help wanted` as it does require us to do a lot of UX development / design and will require probably quite a few changes across various areas of the codebase. We don't mind collaborating on more complicated things -- of course -- but please note that if you are going to patch it we're probably going to request changes and

[2019-06-24 18:24] thomasplevy commented on #888
I can't find any CSS in our stylesheets that use this class. I think it may have been used in v1 of LifterLMS and removed but the HTML was never updated.

My concern would be if 3rd party themes reference this class, if we change it, it will cause new issues.

I don't know the *best* way to deprecate a CSS class but that's probably what we should be doing here. Maybe adding an HTML comment *above*

[2019-06-24 18:30] thomasplevy commented on #385
@actual-saurabh this looks great. The only change I'd make would be that the returns of the `is_trial_available_to_user()` method should be filterable just to expose an entry point should anyone want to customize the behavior further... Like if they wanted to retain existing functionality they could always return true.

[2019-06-24 18:34] eri-trabiccolo commented on #888
I'm not sure how much bootstrap 4 is widespread as of now, but I think it will (and possibly future versions of bootstrap will still follow this pattern: they dropped the `xs` infix as bs is more and more mobile first).
I agree on the deprecation thing.

[2019-06-24 18:38] thomasplevy commented on #880
These methods should filter using the `filter_get_data()` method as seen here: https://github.com/gocodebox/lifterlms/blob/master/includes/admin/reporting/tables/llms.table.course.students.php#L160

[2019-06-24 18:42] eri-trabiccolo commented on #880
Yes.

[2019-06-24 18:43] badpenguin commented on #566
Possibly :) Resetting all the users course make sense for when developing new courses, that my use's case. Its also the easier to do from an SQL point of view.

I've added a red danger link in /wp-admin/admin.php?page=llms-reporting&tab=students&stab=courses&student_id=2

And then i use an admin_post hook to execute the operation only for system admins.

So i've it already implemented.

If that's

[2019-06-24 18:49] thomasplevy commented on #888
You're probably right but in any event I'd like to hold on adding compatibility code to LifterLMS until we know it's a more widespread issue.

For now let's just add a deprecation of the class and keep an eye on it to see if there's more we should do in the future.

[2019-06-24 20:00] thomasplevy commented on #566
@badpenguin

Can you post a screencap for me please?

[2019-06-24 23:58] #871 closed

[2019-06-25 00:05] #875 closed

[2019-06-25 09:56] badpenguin opened #889 "nginx - upstream sent too big header while reading response header from upstream"
### Reproduction Steps

From the WP users's list i'm trying to enroll 72 users to a course.

On Nginx it generates a 502 bad gateway response and in the webserver's logs i see the following message:
[code]

The fix is to raise the fastcgi buffer sizes:
[code]

I think you should consider adding this suggestion to the documentation or probably rewrite the mass enroll features to use a POST request

[2019-06-25 13:54] badpenguin commented on #566
Here is where i put the link: https://snag.gy/1KAGj2.jpg

If you can describe me wich is the button to copy the css style, where to place it, and what to do after the operation is finished, i think i'll have a little time to do it.

Is there also a dev chat on slack, spectrum, gitter, etc. somewhere?

[2019-06-25 14:43] thomasplevy commented on #889
Thanks for the feedback.

Since the default users list is 20 users per page this is one of those (assumed) known issues, like, for example, if you were to change the list to 10000 it would *allow you to do so* but would likely result in timeouts from the server.

I took a look at the suggestion of switching to `POST` instead of `GET` for the form submission however the user table is wrapped in a f

[2019-06-25 14:43] #889 closed

[2019-06-25 14:53] thomasplevy commented on #566
Thanks

Button classes provided by LifterLMS can be found here: https://github.com/gocodebox/lifterlms/blob/master/assets/scss/_includes/_buttons.scss#L102

This kind of button should be `llms-button-danger`

However what we'd actually prefer here is that each row has an action button to reset progress on that course specifically. This could look something like the student management table on each

[2019-06-25 17:32] #870 closed

[2019-06-25 18:07] #740 closed

[2019-06-26 17:28] alexmustin opened #891 "Cannot disable Setup Wizard from within Theme code"
Currently, the only way to disable the Setup Wizard is by using a plugin.

We need a solution that can allow us to disable the Setup Wizard from within the Theme code.

### Reproduction Steps

+ Review plugin code to find the settings which force the Setup Wizard to run
+ Attempt to change these settings in Theme's functions.php file
+ Install LifterLMS
+ See Setup Wizard still runs

I tried to ad

[2019-06-26 17:37] thomasplevy commented on #891
@alexmustin

You could try using `remove_submenu_page()` in the interim: https://codex.wordpress.org/Function_Reference/remove_submenu_page

Additionally, as noted on slack you were wanted to actually __stop the first-time install redirect to the setup wizard__ not actually disable the entire wizard. This filter won't stop the redirect (which is possibly another bug that there's a separate filter

[2019-06-26 17:39] thomasplevy commented on #891
There's also a semantic argument here about what themes and plugins are responsible for. The traditionally "accepted" definition (and I realize this is a bit reductive) is that themes handle display and plugins handle functionality. The setup wizard is a function of the plugin and really isn't something that I feel themes should need to disable.

As I understand your issue your theme is a Genesis

[2019-06-26 17:40] alexmustin commented on #891
@thomasplevy You are absolutely correct -- we're looking to stop the **first-time install redirect** to the setup wizard.

We are developing a Genesis child theme which runs an automated process to install and activate plugins, so we only need the setup disabled during this time. We do want to keep the ability for users to run the Setup Wizard later after the theme is installed.

[2019-06-26 17:43] thomasplevy commented on #891
Got it. I am going to leave this issue open to discuss with some other devs and see if anyone else disagrees that themes should be able to completely disable the setup wizard.

However, the real issue to get you moved along is why the filter `llms_prevent_automatic_wizard_redirect` doesn't work for you like it does for me.

Have you made any progress on determining why that may not be working for

[2019-06-26 17:48] thomasplevy commented on #891
Here's the steps I took to see whether or not the filter works:

1. Setup a fresh WP install (one that's NEVER had LifterLMS installed on it).
2. Add `add_filter( 'llms_prevent_automatic_wizard_redirect', '__return_true' );` to the very last line of the functions.php file
3. Install & Activate LifterLMS

Without the filter, I'd expect to be redirected to the setup wizard. During my test I was not

[2019-06-26 17:54] alexmustin commented on #891
@thomasplevy - That is correct. Those are the exact steps I'm taking.

[2019-06-26 18:03] alexmustin commented on #891
Ok I apologize but I just realized I never activated **my theme** first; since it was a fresh install, the default TwentyNineteen theme was still activated so of course my code was never executed.

This filter does work. Sorry for the n00b oversight.

Should I close this issue?

[2019-06-26 18:05] thomasplevy commented on #891
@alexmustin

Cool. I'd like to leave it open and I'll review the initial item about the ability to completely disable with the team during our next bugscrub.

I'll close it after the discussion or reprioritized accordingly.

Thanks!

[2019-06-27 05:35] actual-saurabh commented on #560
## Global Codes

Some merge codes are related to the WP site or the LMS and could work irrespective of where they are used. They can be namespaced as

`site_{key_name}`

From https://developer.wordpress.org/reference/functions/get_bloginfo/, the following can be picked up:

 * site_title
 * site_description
 * site_url
 * site_admin_email

Some branding related stuff can also be added:

 * site_lo

[2019-06-27 05:38] actual-saurabh commented on #560
## Course Codes on Course Elements

In addition to cases where a course or membership is the object of the trigger, for course elements, it might make sense to also make the course level merge codes available.

In the current trigger object is in a course, fetch the course and allow using its merge codes as well.

[2019-06-27 05:47] actual-saurabh commented on #560
## Handling unavailable merge codes
If the same engagement result is used for multiple engagement objects (same certificate for a course and a section of another course), some merge codes might not be available in some of the cases.

In such a case, instead of displaying the raw merge code, the better idea seems to be to remove the merge code altogether, log the error and display a notice to admin

[2019-07-01 17:09] actual-saurabh opened #892 "[Reporting] Student courses table is sortable by completion date in UI but no sorting logic exists"
The completion date column is sortable in UI here https://github.com/gocodebox/lifterlms/blob/3.33.2/includes/admin/reporting/tables/llms.table.course.students.php#L400-L404 but there's no code to support sorting by enrollment here: https://github.com/gocodebox/lifterlms/blob/3.33.2/includes/admin/reporting/tables/llms.table.course.students.php#L273-L307

[2019-07-02 15:47] eri-trabiccolo opened #893 "Getting LLMS_Post_Model raw properties"
Implementing the Courses resource rest-api we often need to access to the model's "raw" properties.

Unless I'm not missing something, sometimes, this is not really straightforward using the model api. For instance, how can I get the Course's raw content?
`$course->get('content')` will give me the [llms_content for that course](https://github.com/gocodebox/lifterlms/blob/3.33.2/includes/abstracts/

[2019-07-03 14:59] eri-trabiccolo commented on #893
I'm going to submit a PR, we can discuss on.

The thing is that, as you know, the magic `__get` is invoked only when a property is not directly "accessible", hence it depends on the context. If you look at the PR you see that I call the `___get` as soon as the `$raw` parameter is true, which is not exactly the same thing... It should be called only if both conditions are met.
Can we improve this i

[2019-07-08 20:17] nrherron92 opened #897 "Membership Catalog Missing Author Name"
### Reproduction Steps

Set authors on Memberships and save.
Open Membership Catalog Page.
The author name will be missing from the memberships in the catalog.
$args in function llms_get_author( $args = array() ) will come back black for user_id on Membership Catalogs.

### Expected Behavior

Should show author name for memberships

### Actual Behavior

Author name does not display

[2019-07-08 20:42] msfette commented on #883
For the placeholder value the decimal separator should be used from the Settings, because when changed to `,` it has to be a `,`

[2019-07-08 20:48] msfette commented on #883
The same Problem exists if you try to make a refund in the backend of an order or when you try to enter a manual payment for an order.

![grafik](https://user-images.githubusercontent.com/36194931/60841456-29eb4780-a1d2-11e9-9b5d-67c7f29da2aa.png)

[2019-07-09 08:27] foepsen commented on #727
Hi Thomas! Just wanted to know if this enhancement is scheduled meanwhile? Or if not: Do you have an idea for a workaround like just round up/down the result just for displying it?

Thanks, foepsen

[2019-07-09 19:01] thomasplevy commented on #727
@foepsen this issue is to provide a way to filter rounding precision **only** when displaying the progress on screen.

There's no easy way (or specific filter) to filter only in this one condition.

However, you *can* use the general filter on the `LLMS_Student::get_progress()` method: https://developer.lifterlms.com/reference/classes/llms_student/get_progress/

EG:

`add_filter( 'llms_student_get

[2019-07-10 08:04] foepsen commented on #727
Hi @thomasplevy !
Thanks for your quick reply. I added this filter via the customization plugin and it works like a charme! Did I get it right that this filter is only affecting the displayed results while the original result stored in the DB is still a floating number?
On the other hand adding the Mode PHP_ROUND_HALF_UP should prevent the case that users aren't able to finish a course because of

[2019-07-10 15:25] thomasplevy commented on #727
@foepsen

Correct.

I've never seen this reported as an issue. If you're seeing this happen could you open a *new issue* and provide me with all the requested information and reproduction steps.

[2019-07-11 12:29] actual-saurabh commented on #897
This is due to the post type support parameter missing the author element: https://github.com/gocodebox/lifterlms/blob/88ae26c902da29e8765d2e8b29b46e635dc3b075/includes/class.llms.post-types.php#L463. Just need to add that to fix.

[2019-07-11 12:32] actual-saurabh commented on #897
https://github.com/gocodebox/lifterlms/commit/41fcdc92fa9dd873e9c1405e0f162b7214f88c72

[2019-07-12 16:00] #893 closed

[2019-07-12 16:07] thomasplevy opened #899 "Unused and unofficially deprecated functions should be explicitly marked as deprecated"
There are quite a few unused functions/methods that were unofficially deprecated during the LifterLMS 2.x -> 3.x release. These methods are largely undocumented and have been separated from the rest of the methods in their classes by moving them to the bottom of the class and adding a bunch of empty lines.

The affected classes are (mostly) model classes.

These classes should be reviewed and any

[2019-07-15 16:10] monbro commented on #888
+1 having Bootstrap compatibility would be great. I got the same issue when loading bootstrap.

[2019-07-15 17:06] nrherron92 opened #901 "Order Notes Visual Error"
“Order notes” are showing high numbers of comments in the WP dashboard than are available to edit. The order notes saved as comments are supposed to be filtered out of the comment screen but the numbers are still counting on the comment screen.

To recreate:
1 Make an order
2 Go to Comments on the WP Dashboard
3 Where you have the option to go from All, Mine, Pending, etc. there will be more comme

[2019-07-15 17:20] thomasplevy commented on #888
@monbro are you a theme developer? If you're doing this from a theme can you let me know what theme you're using so I can gauge it's popularity. At this moment we're not planning on adding compatibility code but if there are some really well-used themes that this will make life easier for I'll consider it. Although if you are already supporting LifterLMS a small bit of CSS in the theme takes care

[2019-07-15 20:01] monbro commented on #888
Hey Thomas, I am a web dev, but not working on a prticular theme. Thank a lot for the feedback. I get the point. Thanks anyway so far for your great work on lifterLMS!

[2019-07-18 21:02] nrherron92 opened #905 "Outlook Email Ignoring Formatting"
### Reproduction Steps

Send a Student Welcome email to a Gmail account and an Outlook account.

### Expected Behavior

The Gmail account looks as the Student Welcome email is expected to look.

Example: https://www.dropbox.com/s/epp1sbnzpt4bb5h/gmailexample.png?dl=0

### Actual Behavior

However, on Outlook the margin and padding CSS is being ignored, which causes the logo to left align instead o

[2019-07-24 17:56] thomasplevy commented on #816
closed by #904

[2019-07-24 17:56] #816 closed

[2019-07-29 14:40] eri-trabiccolo opened #908 "Metaboxes: access/enrollments period toggles should just clear the dates"
see https://github.com/gocodebox/lifterlms-rest/issues/16#issuecomment-508250705
A simple db update should then take care of cleaning the legacy data.

[2019-08-02 15:10] eri-trabiccolo opened #909 "Should LLMS_Post_Model property update return false if the previous value equals the new one?"
At the moment when updating an llms post model property which **is** a post_meta, if the new value equals the old value the `set` method return `false` (`set_bulk` can return a `WP_Error`).

This desn't happen if we update a model property which **is not** a post_meta, e.g. the `content` or the `title`. This is not consistent given the fact that we use the same "interface".

Ideally I should be ab

[2019-08-02 16:48] thomasplevy commented on #909
This stems from using `update_post_meta()`:

Source: https://codex.wordpress.org/Function_Reference/update_post_meta

This inconsistency is an oversight. Regardless of the database table or update function used it should have the same behavior. You're correct.

I think that we should make this change however the `LLMS_Abstract_Post_Model` class is used by almost every add-on and the `set()` method

[2019-08-06 09:38] eri-trabiccolo commented on #908
Issue title udpated, we need something similar for the prerequisites.

[2019-08-07 18:36] eri-trabiccolo opened #910 "After updating one of the LLMS_Post_Model "post properties" we should set the object's $post via `get_post`"
At the moment we do this:
https://github.com/gocodebox/lifterlms/blob/master/includes/abstracts/abstract.llms.post.model.php#L1029-L1032

But we should re-fetch the WordPress post as there when updating a post there are some properties that, depending on others being set, might be altered.
A typical example would be the post status that would pass from `publish` to `future` when setting the post c

[2019-08-14 23:45] #910 closed

[2019-08-23 15:59] paaljoachim opened #914 "Auto creation of pages overwrites existing site pages"
### The problem
During the setup of LifterLMS there is the option to have the LifterLMS pages installed. If a page with the same name exists on the site Lifter will overwrite this page.

### Expected Behavior
If a page with the same name exists for instance courses then LifterLMS will automatically create a courses-2 page and use that for the LifterLMS Course Catalog. The user can then rename the

[2019-08-23 16:34] paaljoachim opened #915 "(All) Courses screen"
**Is your feature request related to a problem? Please describe.**
I am looking at the information below the title of the course I made.

![Screen Shot 2019-08-23 at 18 32 53](https://user-images.githubusercontent.com/5323259/63608115-73ea8a00-c5d4-11e9-99ae-6925708890f1.png)

This looks pretty messy. There is too much information below the course title. Shortening the info here will help. The sit

[2019-08-23 17:01] thomasplevy commented on #915
@paaljoachim

This is part of the WordPress core UI on a posts table. The excerpt shows when you have "Excerpt View" enabled as the View Mode under Screen Options.

I don't disagree that this looks a little bit messy but I also think that it's not that ideal to display 100 courses on a screen but if you choose to do so you can.

If you do wish to show the excerpt you can remove other columns in th

[2019-08-23 17:05] thomasplevy commented on #914
This is intentional behavior.

We attempt to identify if the page already exists by slug, existing options already saved to the database, pages that already exist with differing names that have the expected content (eg: the student dashboard should have the `[lifterlms_my_account]` shortcode, etc...

Since the setup wizard can be rerun an infinite number of times we attempt to update -- instead of

[2019-08-23 17:05] #914 closed

[2019-08-28 13:00] paaljoachim commented on #915
Hey Thomas. From the initial experience it looked like the "Excerpt View" was on by default (I had forgotten about the option of List or Excerpt views). After having updated LifterLMS a moment ago I noticed that "Excerpt View" is off.

[2019-08-29 16:01] nrherron92 opened #917 "PayPal Redirect Comes Back to "Only pending orders can be confirmed." Instead of Complete Payment"
### Reproduction Steps

- Update to most current LifterLMS v. 3.34.4
- Attempt to make a payment through PayPal.
- When PayPal sends you back to the site it comes back to: 'Only pending orders can be confirmed. View your order history for more information' and you're not able to complete the payment.
- The order stays in payment pending.

### Expected Behavior

- Make payment with PayPal
- When Pa

[2019-08-29 17:05] #917 closed

[2019-08-30 11:57] paaljoachim commented on #914
I just know that I had some problems with LifterLMS taking over a course page. So on the live site I decided not to use the wizard and instead manually create the pages.

[2019-09-03 19:47] jdelta-RBS commented on #344
@thomasplevy What, by chance, was the security hole closed in 3.8.0? Nothing seems to point to this in https://github.com/gocodebox/lifterlms/releases/tag/3.8.0

[2019-09-03 19:57] thomasplevy commented on #344
@jdelta-RBS

[2019-09-04 16:58] eri-trabiccolo opened #920 ""Your settings have been saved." keeps on popping out even if I don's save any settings change."
### Reproduction Steps
Just navigate to LifterLMS->Settings
![Schermata 2019-09-04 alle 18 57 52](https://user-images.githubusercontent.com/7689242/64275508-fa448b80-cf45-11e9-94ac-fbea23e23aee.png)

### Expected Behavior

That notice shouldn't appear unless I save a setting.

### Actual Behavior

The notices keeps on popping out even if I don't save.
It also means that the `LLMS_Admin_Settings::s

[2019-09-04 18:22] #920 closed

[2019-09-04 20:45] thomasplevy commented on #510
This particular issue has been resolved.

[2019-09-04 20:45] #510 closed

[2019-09-05 12:08] Guillaume-Tnk opened #922 "Bootstrap 4 navbar mobile misbehaving when lifterLms is active"
Bug with mobile menu, not staying open when lifterlms is active with understrap theme

### Reproduction Steps

- Install understrap theme [https://understrap.com/](url)
- Install and activate understrap child theme [https://understrap.com/understrap-child-themes/](url)
- Create some pages
- Create a menu and ad pages to it
- Install and activate lifterLms
- view website in mobile view with dev too

[2019-09-05 17:15] thomasplevy commented on #922
@Guillaume-Tnk any idea what piece of LifterLMS code is causing the issue?

[2019-09-05 17:21] Guillaume-Tnk commented on #922
Unfortunately no, I just know it's coming from LifterLms because when I deactivate the lifterLms plugin, the problem disappears.
To be sure, I set a new WordPress install with just the theme and lifterLms nothing else as you can see from my video and the problem is there.

[2019-09-05 17:23] eri-trabiccolo commented on #922
@thomasplevy collapse(.min).js

[2019-09-05 20:08] Guillaume-Tnk commented on #922
Any quick fix to get the menu to behave appropriately?

[2019-09-06 16:51] thomasplevy commented on #922
@Guillaume-Tnk

You could try de-enqueing the offending conflicts in your child theme's functions.php file.

I don't have a timeline for fixing a theme conflict I've just been made aware of but I'd be very happy to have your help working on this.

Otherwise you'll have to wait until my and @eri-trabiccolo capacity becomes freed up to start slogging away on this issue backlog, which realistically w

[2019-09-11 12:33] actual-saurabh opened #924 "[Orders] Editing access expiry sets it to today's date due to an error in input filtering"
In this line: https://github.com/gocodebox/lifterlms/blob/3.35.2/includes/admin/post-types/meta-boxes/class.llms.meta.box.order.submit.php#L137, the filter always returns false without the `FILTER_REQUIRE_ARRAY` flag which then sets all the remaining values to 00:00, leading to the expiry being updated to today's date at 00:00 hours which automatically expires the order and unenrolls the student.

[2019-09-14 00:17] SaeedMasri opened #927 "The new update of Google Chrome cause a glitch in the course edit page."
Hello,
I think the new update of Google Chrome cause a glitch in the course edit page. It happens when you open more than tab of the course settings or with a long content in your course page, an overlapping occurs like the screen shot:

![bug](https://user-images.githubusercontent.com/44070679/64900986-4655a580-d695-11e9-8250-dd6aa8c112a8.png)

Chrome version 77.0.3865.75 (Official Build) (64-bit

[2019-09-14 01:41] thomasplevy commented on #927
@SaeedMasri This isn't actually a bug in LifterLMS, it's a bug in Chrome (from what I can find).

Here's the Chrome bugs:

https://bugs.chromium.org/p/chromium/issues/detail?id=1003556
https://bugs.chromium.org/p/chromium/issues/detail?id=1002969

And he's the issue in the Gutenberg project: https://github.com/WordPress/gutenberg/issues/17406

There's a potential workaround with a bit of PHP / CSS

[2019-09-14 01:41] #927 closed

[2019-09-14 01:44] thomasplevy commented on #927
@SaeedMasri it looks like this is actually already fixed with the Gutenberg plugin. You can install the latest plugin to fix as a holdover to what I imagine will be included in a future WP release. It looks like the Chrome bugs are already fixed on Chrome 78 (dev) and slated for release on Oct 22

[2019-09-14 02:29] SaeedMasri commented on #927
I'm using Firefox until then, thanks!

[2019-09-16 17:23] #924 closed

[2019-09-17 12:20] eri-trabiccolo opened #930 "Last seen column can show wrong dates"
This is because this line:
https://github.com/gocodebox/lifterlms/blob/3.36.0/includes/admin/reporting/tables/llms.table.students.php#L180
assumes that the data stored in `$value` is a string.
This is not always true when `$value` is `$student->get( 'last_login' );` because the usermeta `llms_last_login` data format can be either a:
- `timestamp` -> https://github.com/gocodebox/lifterlms/blob/3.36

[2019-09-17 16:30] thomasplevy opened #932 "Add TwentyTwenty Theme Support"
Tentative release with WP Core 5.3, November 12, 2019

https://make.wordpress.org/core/2019/09/06/introducing-twenty-twenty/

https://github.com/WordPress/twentytwenty

- [ ] Theme Wrappers
- [ ] CSS Support
- [ ] Declare Theme Support

[2019-09-17 16:58] eri-trabiccolo opened #933 "Improve LLMS_Database_Query performances when no pagination information is needed"
See:
https://github.com/gocodebox/lifterlms/pull/928#discussion_r325180248

Basically we can avoid counting the found rows when executing db queries if we don't need pagination information.

[2019-09-17 17:11] thomasplevy commented on #933
@eri-trabiccolo This made a lot of sense in the comment but now that I'm looking at it I'm not sure what criteria we can use to determine if pagination information is *not needed.* As the example we could assume that if `per_page` is 5 or 1 or something we probably *don't* need pagination but that's a dangerous assumption to make.

I think what you were suggesting is adding a `no_paging` argument

[2019-09-17 17:28] eri-trabiccolo commented on #933
Wait I'm not sure I have clearly explained what I have in mind.
In my idea we could instantiate a `LLMS_Database_Query` (extended) object with some arguments, and one of them could be `no_found_rows`.
`LLMS_Database_Query` should have no criteria nor has to assume anything.
The "controller" (meaning the one which would instantiate an `LLMS_Database_Query` ) must know whether or not it needs pagina

[2019-09-17 22:41] #930 closed

[2019-09-17 22:46] thomasplevy commented on #933
@eri-trabiccolo

Yes, absolutely. In the above example we'd need to modify two methods in the `LLMS_Query_User_Postmeta` class:

https://github.com/gocodebox/lifterlms/blob/09c3353aaeb2a8785868f2cf1cf67c4146e94068/includes/class.llms.query.user.postmeta.php#L27

This should should set the "no_found_rows" to `false` by default.

And:

https://github.com/gocodebox/lifterlms/blob/09c3353aaeb2a8785868

[2019-09-18 07:17] eri-trabiccolo commented on #933
Yes you're still following, but I'd say to set the default `no_found_rows` to `false` in the abstract class, here:
https://github.com/gocodebox/lifterlms/blob/3.36.0/includes/abstracts/abstract.llms.database.query.php#L156

and then modify the method you said:
https://github.com/gocodebox/lifterlms/blob/09c3353aaeb2a8785868f2cf1cf67c4146e94068/includes/class.llms.query.user.postmeta.php#L197

and

[2019-09-18 14:19] thomasplevy commented on #933
@eri-trabiccolo All sounds good, do it up.

We should make these changes to any class that extends the abstract

There's a few other ones in core, assignments has one, and I think there's two in the REST plugin

[2019-09-18 14:39] #879 closed

[2019-09-18 14:41] #401 closed

[2019-09-19 15:03] actual-saurabh opened #937 "[Instructor Meta Box, Mine Post Table Filter] Default instructor information doesn't get saved with blocks"
I was investigating an issue with the Mine(%d) filter on the posts table for course and membership post types and found
https://github.com/gocodebox/lifterlms/blob/master/includes/admin/post-types/post-tables/class.llms.admin.post.table.instructors.php#L106-L123

It expects all the instructors from the metadata and doesn't consider author information.

This led me to
https://github.com/gocodebox/l

[2019-09-19 16:07] actual-saurabh opened #938 "[Membership Restriction] Membership restriction IDs don't save"
Saving Membership on restrictions doesn't work. On refreshing the editor, the `_llms_is_restricted` field saves but not the membership IDs at `_llms_restricted_levels`.

I tested this and found that this line sets the value to `false`

https://github.com/gocodebox/lifterlms/blob/09c3353aaeb2a8785868f2cf1cf67c4146e94068/includes/abstracts/abstract.llms.admin.metabox.php#L398

Since membership IDs a

[2019-09-19 16:31] actual-saurabh commented on #938
Maybe, the filter could be set conditionally based on the type of field?

[2019-09-19 16:45] eri-trabiccolo commented on #938
Yeah, something similar to what I did here -> https://github.com/gocodebox/lifterlms/pull/923/files#diff-fe4c4aca8d1a4c6fbfc2abba17ef7309R402

maybe we can generalize it better, introducing two fields 'params' such as:
`filter_input` (default to `FILTER_SANITIZE_STRING`)
`filter_input_flags` (default to `array()`)

[2019-09-19 17:01] eri-trabiccolo commented on #933
I've pushed a PR for this in #939 BUT I don't consider it complete. I've just added the logic to make the use of `no_found_rows` query param work.
I've opened it so that, if you have time, you can give me your feedback while I'm still working on it.

[2019-09-19 20:10] thomasplevy opened #940 "Delete User data when a user is deleted"
Migrated from #263

- [ ] Unschedule recurring payments, delete orders
- [ ] Delete data from lifterlms_user_postmeta table
- [ ] Delete quiz attempts
- [ ] Delete events from the lifterlms_events table
- [ ] Delete notifications from the lifterlms_notifications table

[2019-09-24 05:19] thomasplevy opened #942 "Modify to accommodate WP 5.0 and earlier"
https://github.com/gocodebox/lifterlms/blob/09c3353aaeb2a8785868f2cf1cf67c4146e94068/includes/abstracts/abstract.llms.post.model.php#L1097

See discussion in Slack: https://teamcodebox.slack.com/archives/C05476CSR/p1569299100013500

We can pretty easily modify to use pre 5.1 functions instead of bumping support to WP 5.1 or later

[2019-09-24 07:16] eri-trabiccolo commented on #942
Let's go with `if ( ! empty( $error->errors ) )` then.

[2019-09-24 08:38] eri-trabiccolo commented on #942
We actually have occurrences of `has_errors()` in the rest-api code too.
I'm going to make a PR there too, and update those PRs which make use of it: I guess we have to support the same WP version throughout the codebase...

[2019-09-24 13:11] eri-trabiccolo opened #944 "Gap above lesson's video with the LaunchPad theme (or any other theme/plugin using fitvids.js)"
### Reproduction Steps
With the latest LifterLMS version, latest LaunchPad theme version, and *no other* plugin installed:
- add a video to a whatever lesson using the Lesson Settings, Video Embed Url field:
![Schermata 2019-09-24 alle 14 22 22](https://user-images.githubusercontent.com/7689242/65511156-d89c4b80-ded6-11e9-9742-7cb0d4ef5cca.png)

- Update and view the lesson in front.

### Expected

[2019-09-24 14:56] #942 closed

[2019-09-24 14:58] thomasplevy commented on #944
I've put off adding responsive video support for years and years due to theme conflicts and then I finally cave and create new theme conflicts. Great.

[2019-09-24 15:00] eri-trabiccolo commented on #944
Let's go with the prudent approach if you agree :D

[2019-09-24 15:01] thomasplevy commented on #944
@eri-trabiccolo more prudent is the best solution agreed.

[2019-09-24 15:57] eri-trabiccolo commented on #940
I'm possibly going to break this in several PR so that the review process would be easier.

[2019-09-24 17:06] thomasplevy opened #946 "Coding Standards Updates Mega Issue"
We currently exclude quite a few coding standards rules. Most of these rules are related to docblock and comment styling. Some require updates to code and tests. This issue is a mega issue to track all of the updates that should be made.

To see files that need updates, check the [phpcs.xml](https://github.com/gocodebox/lifterlms/blob/master/phpcs.xml) file and delete/comment out the corresponding

[2019-09-24 17:10] thomasplevy commented on #659
Closing in favor of #946

[2019-09-24 17:10] #659 closed

[2019-09-24 17:29] thomasplevy commented on #940
Sounds good

[2019-09-24 18:06] #944 closed

[2019-09-24 21:16] #938 closed

[2019-09-26 23:45] thomasplevy opened #950 "Client-side events tracking breaks when using "plain" permalinks"
### Reproduction Steps

+ Enable "plain" permalinks on a site
+ Log in and visit a course
+ leave the course and enter a section

### Expected Behavior

+ `page.load` and `page.exit` events should be stored in the DB for the user.

### Actual Behavior

+ No events are stored.

### Error Messages / Logs

The events fail silently and don't record any errors.

Temporarily adding a log to the event va

[2019-09-27 13:17] eri-trabiccolo opened #951 "Cannot delete enrollments with non 'order_X' trigger from the enrollment metabox in the order edit screen."
### Reproduction Steps

+ In admin open the order edit screen on an order which has a related enrollment to a course triggered by the order itself:
![Schermata 2019-09-27 alle 14 06 32](https://user-images.githubusercontent.com/7689242/65768036-10ea9680-e130-11e9-862c-b16812129acd.png)
+ Update the enrollment status to non active, e.g. Expired.
+ Now go edit the course related to the order and fro

[2019-09-27 14:16] eri-trabiccolo opened #952 "Deleting membership enrollment doesn't delete related courses auto-enrollments."
### Reproduction Steps

+ Create two courses and a membership.
+ Set the membership auto enrollment so that who enrolls the membership automatically enrolls the two courses too.
+ from the Student Management meta box, still in the membership edit screen, enroll a student
+ The student will be auto-enrolled to the two courses above (verify it)
+ Now from the same Student Management meta box, still

[2019-09-27 15:44] thomasplevy commented on #951
@eri-trabiccolo
I think -- let me know if this makes sense -- that the enrollment metabox should only exist on the order when the order is the trigger for the enrollment.

If the order is no longer the trigger (because the admin has reactivated manually this way) then the order is no longer responsible for the enrollment and if they want the student to start paying again a new order needs to be in

[2019-09-27 15:57] eri-trabiccolo commented on #951
Ideally I agree but the thing is that I guess long term users are used, at least, to see the enrollment information there. Where else can they see it?

Also as of now consider that if an admin becomes the new trigger, and then cancels the enrollment, if you go change the enrollment status from the order edit screen the new trigger will be the order :D
Also if someone deletes the enrollment from th

[2019-09-27 17:15] thomasplevy commented on #951
I don't know...

Okay... what's the whole point of tracking triggers:

To prevent an admin from detaching an enrollment from an order accidentally... For example, if a student places an order and is enrolled and then an admin cancels the enrollment from the the student metabox the order would continue billing.

The "trigger" records what initiates the enrollment and then forces an admin to only ma

[2019-09-27 18:11] #952 closed

[2019-09-27 20:08] thomasplevy commented on #937
@actual-saurabh can you have a look at this commit and let me know if you feel it adequately resolves the issue encountered here: https://github.com/gocodebox/lifterlms-blocks/commit/6bbc14105e7f4b0cbac853e87b280f126e464af3

[2019-09-28 20:15] thallesbrandao commented on #905
Hey @nrherron92

Could you reactivate the links?

[2019-09-29 16:37] thomasplevy commented on #905
@thallesbrandao darn. These were dropbox links for a user who reported the issue in support. I should have downloaded and reuploaded them manually immediately but it didn't occur to me.

The problem, really, was that Outlook *ignores padding*.

So a header with a background looked like this:

[code]

Instead of
[code]

[2019-10-01 16:11] yojance commented on #946
I'll like to claim the following directory:
https://github.com/gocodebox/lifterlms/tree/master/includes/abstracts

[2019-10-01 16:48] thomasplevy commented on #788
This was resolved in 3.35.0

[2019-10-01 16:48] #788 closed

[2019-10-01 17:33] thomasplevy commented on #620
Have a customer report of this warning but I'm struggling to recreate...

[2019-10-01 17:38] eri-trabiccolo commented on #620
Found the way.
Create a course with no "Course Time Period", or anyways with an empty start date.

Create a lesson of this course with a drip setting Method as "After course start date" and set e.g. 2 days.

Visit the course page as admin, but use the View manager to view it as student (non enrolled in that course).
Look at either the syllabus and/or your error log.

[2019-10-01 17:41] thomasplevy commented on #620
Woooo thanks @eri-trabiccolo, patch incoming

[2019-10-01 17:53] thomasplevy commented on #620
@eri-trabiccolo figured it out... I think this stems from the Lesson "Prerequisites" tab on the lesson options metabox from allowing users to choose the "Start Date" prereq settings for a lesson even when the course *does not have* a start date.

The course builder runs a check like this but the lesson metabox does not.

The above patch will prevent the warning for lessons already in this state bu

[2019-10-01 20:11] #620 closed

[2019-10-03 15:21] nrherron92 opened #956 "Sales Reporting page does not hold filter specification"
### Reproduction Steps

+ Go to LifterLMS->Reporting->Sales
+ Select Toggle Filters
+ Choose to sort by either a Student, Membership, or Course and Apply Filter
+ Statistics do not change from total sales
+The bar graph sometimes changes color and date but does not reflect correct pricing.

No Filter: https://imgur.com/ruaR7SJ
Filter by Course: https://imgur.com/r92p62f
Filtered by Course: https:/

[2019-10-09 13:41] nrherron92 opened #957 "LifterLMS Reporting show Assignment Attempt upon enrollment"
### Reproduction Steps

+ Create an assignment in a LifterLMS Course
+ Enroll a student into that course without accessing it or going through the course to the assignment.
+ On _LifterLMS->Reporting->Assignments_ choose the newly created Assignment then go to the tab _Submissions_ there will be a listed submission attempt there listed as incomplete.

### Expected Behavior

+ For assignment attemp

[2019-10-11 13:00] widevents commented on #259
Hi Andrea, I need to get the id of the course to which a lesson belongs to pass a value of an ACF custom field through a parameter. How do you think I could get that ID? I have read your article but my level is still not very high and I would appreciate it if you could help me with this problem by writing down the code.

Thank you!!

[2019-10-11 15:36] thomasplevy commented on #259
@widevents,

If you're on a lesson page:

[code]

If you need more help hop into the `#developers` channel at lifterlms.com/slack and we can look at your code more specifically to help you out, GitHub is best used for issues and bug reports, not help with custom code

[2019-10-13 02:21] pondermatic opened #959 "`LLMS_Admin_Import->upload_import()` expects `LLMS_Generator->set_generator()` to return WP_Error."
### Reproduction Steps

1. Upload `lifterlms/tests/assets/import-fake-generator.json` to the LifterLMS Importer page at `/wp-admin/admin.php?page=llms-import`.
1. `LLMS_Admin_Import->upload_import()` is called.
1. `LLMS_Generator->set_generator()` is called and the returned value is checked for a WordPress error.

### Expected Behavior

[`is_wp_error( $generator->set_generator() )`](https://github

[2019-10-13 02:36] pondermatic opened #961 "LLMS_Admin_Import->upload_import() does not handle Windows backslashes."
### Reproduction Steps

1. Host WordPress on Windows OS.
1. Open the LifterLMS Importer page at `/wp-admin/admin.php?page=llms-import`.
1. Choose a file to upload.
1. Click on the `Import` button.

### Expected Behavior

Normal processing of import file.

### Actual Behavior

On screen error message: "The supplied file cannot be processed by the importer."

### Options

1. Add `$_FILES['llms_impor

[2019-10-13 19:56] thomasplevy commented on #961
Removing `wp_unslash()` is *not* an acceptable option as it will cause potential sanitization issues.

I feel like replacing the escaped backslashes with an unescape slash in the file import is going to break imports on non Windows systems. Am I wrong about that? I'll have to set up a test case to try this out though

[2019-10-18 08:43] eri-trabiccolo opened #964 "Gap above lesson's video with self hosted videos"
### Reproduction Steps

With the latest LifterLMS version, latest LaunchPad theme version, and no other plugin installed:

- add a self-hosted video to a whatever lesson using the Lesson Settings, Video Embed Url field.
- Update and view the lesson in front.

### Expected Behavior

No gap should appear above the video.

### Actual Behavior

Gap above the video.
![Schermata 2019-10-18 alle 10 42 13

[2019-10-21 10:47] eri-trabiccolo commented on #964
@thomasplevy
the PR #965 won't solve the issue of the user here:
https://wordpress.org/support/topic/latest-version-whitespace-between-video-and-header/
as it addresses only the `.wp-video` wrappers, while the user video has this kind of structure:
![Schermata 2019-10-21 alle 12 40 36](https://user-images.githubusercontent.com/7689242/67198980-6f89f400-f400-11e9-8604-418a2a52f6b3.png)

I'm not sur

[2019-10-21 15:44] thomasplevy commented on #964
@eri-trabiccolo i assumed this was the same issue. I don't want to convolude this with Wistia complications. Especially since this would actually result from the user opting to utilize Wistia's in-built responsive video library "Video Foam" which is superfluous and can be fixed with a checkbox.

Thanks for the heads up

[2019-10-21 15:55] eri-trabiccolo commented on #964
@thomasplevy I rapidly looked at the wistia docs on embedding responsive videos, and even if I didn't get how the user could have done it I had the impression it could be avoided, that's why I've asked for more info, so I'm with you, FWIW :D

[2019-10-21 15:59] thomasplevy commented on #964
I'm pretty sure it's just a checkbox to enable/disable the responsive part in the embed.

It passes the data in via a query string variable, I think. In advanced videos we can filter it out to prevent this (and also prevent the loading) but for anyone using Wistia with just the core they'll have to do this manually with the checkbox or by modifying their embed codes

[2019-10-21 16:02] eri-trabiccolo commented on #964
Yeah thought about the the query string as anything else would be stashed there.

[2019-10-22 09:55] eri-trabiccolo opened #967 "Membership: quotes in Restricted Content Notice are encoded hence the default shortcode doesn't work as expected."
### Reproduction Steps
+ Create a new membership (default settings are enough) called "New Legen wait for it dary Membership"
+ Create a post or edit a post and restrict it to be visible only to the members of the just created membership.
+ As logged out user visit the post above.

### Expected Behavior

I should see the post restricted and a notice saying:

_You must belong to the **New Legen wai

[2019-10-22 12:38] eri-trabiccolo opened #969 "Conflict with the Divi theme: Number of courses in the course catalog overridden by Divi setting"
### Reproduction Steps

+ set Divi as active theme
+ in Divi -> Theme Options set the **Number of Posts displayed on Archive pages** to 1
+ go to your courses catalog page

### Expected Behavior

Expect to see a page showing N courses where N is the number set in LifterLMS -> Settings -> Courses -> Course Catalog Settings -> Courses per page

### Actual Behavior

1 course per page displayed

also

[2019-10-22 15:42] thomasplevy opened #971 "Form field gateway radio css issue"
the description fields in the payment gateway radio select for checkout should display the description icons as inline elements (instead of block-level elements).

Astra has smartly added CSS to make this happen but this should be the default layout without any additional theme CSS.

![Purchase_–_llms-73_test](https://user-images.githubusercontent.com/1290739/67303816-d3b3c300-f4a7-11e9-963e-80357

[2019-10-22 20:18] eri-trabiccolo commented on #777
Had to dig a little bit in order to find at least the piece of code that generates this conflict.
It turned out to be this:
https://github.com/gocodebox/lifterlms/blob/3.36.2/assets/js/llms-metabox-product.js#L768

Or better, the "couple":
https://github.com/gocodebox/lifterlms/blob/3.36.2/assets/js/llms-metabox-product.js#L755
and
https://github.com/gocodebox/lifterlms/blob/3.36.2/assets/js/llms-

[2019-10-24 16:33] thomasplevy commented on #777
@eri-trabiccolo

Yep. I agree. I'd like to ditch the metabox all together and allow access plan management via a block editor "plugin" which will allow plans to be managed in a modal overlay. See gocodebox/lifterlms#2061

If you have a easily accessible Yoast install they've moved their snippet editor metabox into the block editor sidebar/modal combination and it's real slick. Of course it doesn't

[2019-10-24 16:44] eri-trabiccolo commented on #777
@thomasplevy
Yeah I saw Yoast SEO.
I'm with you about the _sigh_ but given how the block editor evolves maybe 2030.

[2019-10-24 17:10] #777 closed

[2019-10-24 17:13] #884 closed

[2019-10-24 17:17] #969 closed

[2019-10-24 17:21] #956 closed

[2019-10-24 18:34] thomasplevy commented on #959
Closed by pull #960 & commit https://github.com/gocodebox/lifterlms/commit/f497106cc5a8437e303e1fb57a908e6da129f503

[2019-10-24 18:34] #959 closed

[2019-10-24 18:35] #964 closed

[2019-10-24 18:36] thomasplevy commented on #964
@eri-trabiccolo

was there a support ticket we need to update when this is released?

[2019-10-24 18:50] eri-trabiccolo commented on #964
This was reported from one of our addon users who already had a custom CSS in place that fixed 99% of the issue, I gave him the 1% left.

[2019-10-24 20:30] #967 closed

[2019-10-24 21:57] thomasplevy commented on #777
@eri-trabiccolo could you update the support ticket related to the Elementor aspect of this issue and let the user know this has been resolved in 3.36.3.

Thanks!

[2019-10-24 21:57] thomasplevy commented on #956
@nrherron92 I believe we have an open support request about this issue. Could you update the user and let them know this is resolved in 3.36.3 (now available)

[2019-10-25 13:17] eri-trabiccolo commented on #777
done

[2019-10-28 15:53] eri-trabiccolo opened #976 "Conflict with CartFlows (which requires WooCommerce): visiting a CartFlows checkout page results in 404."
### Reproduction Steps

+ Install and activate WooCommerce and create a product;
+ Install and activate CartFlows (https://wordpress.org/plugins/cartflows/);
+ Create a flow;
+ Setup CartFlows Step Checkout (Woo) so to bind it to a WooCommerce product;
+ Visit the just created checkout page.

### Expected Behavior

I should see the checkout page I've just created.

### Actual Behavior

I'm brought

[2019-10-31 16:25] eri-trabiccolo commented on #976
Reported also here:
https://wordpress.org/support/topic/issue-due-to-priority-added-to-pre_get_posts/

[2019-10-31 21:17] thomasplevy commented on #976
Fix one conflict create 5 new ones. Programming is fun.

[2019-11-01 16:06] #191 closed

[2019-11-01 16:26] #976 closed

[2019-11-04 15:28] eri-trabiccolo opened #983 "Content restriction notices not shown on a "redirected" sales page."
### Reproduction Steps
(reported by a user who also provided a video)
+ set a course sales page redirection to a whatever wp page.
+ as visitor visit a lesson, which requires the above course enrollment, for which you have a direct link.
+ you get redirected to the course page, and then to the sales page you set in the first step.
**(first issue)**
+ repeat the second step above, say 2 times.
+ no

[2019-11-04 16:15] eri-trabiccolo commented on #846
@thomas
why don't we just deprecate `llms_set_user_password_rest_key()`,`llms_verify_password_reset_key()` (which actually is called `llms_verify_password_rest_key()` which is a good reason to deprecate it :P) and use the wp core functions?
Also considering that our `llms_verify_password_rest_key()` doesn't completely "match" `get_password_reset_key()`. In fact, the wp function includes a piece of

[2019-11-04 17:05] thomasplevy commented on #846
@eri-trabiccolo agreed, still low priority though. I welcome arguments and PRs from those affected. I'd prefer not to use internal resources on this at this moment, we have a lot of more pressing issues to resolve.

[2019-11-05 16:53] thomasplevy commented on #983
There's a related issue to consider when talking about whether or not the sales page should display the redirect notice, see #628

My comment on this issue has what I think it a pretty good solution to that issue: https://github.com/gocodebox/lifterlms/issues/628#issuecomment-413241932

However, displaying the notices on a regular page becomes fairly problematic as we don't actually have any way t

[2019-11-05 16:53] thomasplevy commented on #983
@eri-trabiccolo was this reported in HelpScout or is there a WordPress.org forum post about this?

[2019-11-05 23:16] thomasplevy commented on #526
See duplicate #922

[2019-11-05 23:19] #660 closed

[2019-11-06 15:54] eri-trabiccolo commented on #983
We talked about maybe use a pure PHP session for this purpose.
I've explored this a little bit and, although, it's of very simple implementation I don't know :D ... I don't want to open a session (hence write a cookie too) on whatever page (to check if the flag is set) for what, anyways, is not something that will happen very often.
You know, we also should make sure to open the session before any

[2019-11-07 02:10] pondermatic commented on #961
Changes the slash direction on path separators shouldn't be an issue. However, if the uploaded file name contains a backslash, that might be a problem.

Try this test script.
[code]

If this works for you, I can clean it up, add it to `LLMS_Admin_Import->upload_import()` and submit a PR.

[2019-11-07 18:59] thomasplevy commented on #839
Related #290

[2019-11-11 17:13] thomasplevy commented on #961
See related https://github.com/WordPress/WordPress-Coding-Standards/issues/1720

[2019-11-11 23:06] #932 closed

[2019-11-12 19:04] thomasplevy commented on #983
![](https://github.trello.services/images/mini-trello-icon.png) [test](https://trello.com/c/oZiI2DRh/1-test)

[2019-11-13 16:06] eri-trabiccolo opened #986 "twentytwenty: course information div misaligned"
### Reproduction Steps

+ visit a course, with course information block, using the twentytwenty theme

### Expected Behavior

+ I expect to see all the blocks aligned to the center

### Actual Behavior

+ the course information block is aligned to the left

![Schermata 2019-11-13 alle 16 50 23](https://user-images.githubusercontent.com/7689242/68780126-134c7580-0636-11ea-8341-ee5d67e73d4f.png)

Th

[2019-11-13 21:54] thomasplevy opened #988 "Add a filter to allow customization of the frequency of `LLMS_Sessions::end_idle_sessions()`"
**Code in question**

https://github.com/gocodebox/lifterlms/blob/914f43d5857348216022c3e838cfbe265410fd0d/includes/class-llms-sessions.php#L59-L62

**Is your feature request related to a problem? Please describe.**

Currently it's not possible to customize the frequency with this cleanup action is run on a background process.

**Describe the solution you'd like**

Add a filter to the "every_five_

[2019-11-13 21:58] thomasplevy commented on #988
See ticket # 104523

[2019-11-13 22:15] eri-trabiccolo commented on #988
Why shouldn't it? That's a singleton, so
`remove_action( 'llms_end_idle_sessions', array( LLMS_Sessions::instance(), 'end_idle_sessions' ) );`
will remove the action, and it can be added to another hook, of course the removal must happen after the `LLMS_Sessions` has been instantiated. Am I wrong?

[2019-11-13 22:30] eri-trabiccolo commented on #983
See ticket # 103202

[2019-11-13 22:34] #986 closed

[2019-11-13 22:36] thomasplevy commented on #988
@eri-trabiccolo ah yea... I think you're right that probably would work. I looked at that solution real quick. It still needs as a filter anyway though. It'll be far less customization code to filter it than to remove the action and add it back in. There will still be a weird cronjob running to that'll trigger a non-action if you go the removal route. Adding a filter needs to happen regardless, I

[2019-11-13 22:39] eri-trabiccolo commented on #988
Ah yeah the filter hook way is better, I thought you meant the `remove/add` thing as a temporary workaround to provide while we implement and deploy the filter solution.

[2019-11-14 19:12] #988 closed

[2019-11-14 19:30] #850 closed

[2019-11-15 15:57] eri-trabiccolo opened #990 "Twenty Twenty: PHP Warnings (and some llms element's background not correctly styled)"
### Reproduction Steps

Visit a course page with Twenty Twenty

### Expected Behavior

e.g. no PHP warnings

### Actual Behavior

PHP warnings like below.

### Error Messages / Logs

[code]

### System Information

LifterLMS 3.37.1
WordPress 5.3.0
Twenty Twenty 1.0.0

This is due to this recent change in Twenty Twenty

https://github.com/WordPress/twentytwenty/commit/6081c459edee77ed029c4d2108404e

[2019-11-20 16:37] eri-trabiccolo opened #992 "Some (most of) client side events are not tracked when using some themes, e.g. LaunchPad"
### Reproduction Steps
This can be reproduced with a lot of client side events, e.g. page.exit, addon event e.g. video.*, but it's much more evident whit av events.

+ Activate the LaunchPad theme
+ av addon enabled
+ As logged in student visit e.g. a lesson with a video
+ play a video, pause the video, do whatever you know should log an event
+ complete the video
+ complete the lesson (with the m

[2019-11-22 16:55] thomasplevy commented on #992
@eri-trabiccolo

Thanks for the research and finally figuring out what's actually going on here.

As far as the SiteGround staging issue is concerned please let me know what the results of the communication with them are regarding the support conversations you've had separately (or here, whatever).

As to fix the issue, since it is a LP issue I'd be hesitant to fix it in the core but you've also i

[2019-11-22 16:58] #983 closed

[2019-11-22 17:00] #990 closed

[2019-11-22 17:02] thomasplevy commented on #495
This is fixed by forthcoming changes in the customize branch: https://github.com/gocodebox/lifterlms/tree/customize

[2019-11-22 18:12] eri-trabiccolo commented on #992
Yes it's not an LP issue, to me it's a llms issue that LP highlights.
I'm going to submit a PR.

[2019-11-22 19:53] #992 closed

[2019-11-22 21:08] thomasplevy opened #994 "Checkout notice for already enrolled users should link to the product instead of the dashboard"
**Is your feature request related to a problem? Please describe.**

From https://wordpress.org/support/topic/add-filters-for-you-already-have-access-text/

**Describe the solution you'd like**

Change the link in the message to link to the product (course or membership) permalink.

We should add a filter here as well (as requested by user in .org thread).

**Describe alternatives you've considered

[2019-11-22 21:15] eri-trabiccolo commented on #994
Did someone yell at me?

[2019-11-22 21:46] thomasplevy commented on #994
Very quietly, yes :-p

[2019-11-26 15:52] chrisbadgett opened #997 "LifterLMS Website Checkout Coupon Code Field Not Available on Small Viewport"
### Reproduction Steps

+ Include clear and detailed step by step instructions on how the issue can be reliably reproduced
Try to enter a coupon code on the LifterLMS checkout screen from a smart phone

+ Include screenshots where applicable
+ Record a video if possible (if you post a video please still include a text version of your recreation steps!)

### Expected Behavior

+ Include a concise d

[2019-11-26 23:11] #961 closed

[2019-11-27 20:36] eri-trabiccolo opened #999 "Twenty Twenty: Theme header and footer displayed in the single certificates"
### Reproduction Steps

+ Visit a single certificate page using the Twenty Twenty theme

### Expected Behavior

+ I expect to see the certificate with no theme header and footer.

### Actual Behavior

+ I see the certificate page with the theme header and footer

Also, do you think that even the body background should be "stripped" in the single certificate?
I think so...

### Error Messages / Log

[2019-11-28 00:03] thomasplevy commented on #999
Header and footer can be hidden with CSS `display:none;` I wish there was a better way but I haven't found one since there's no simple standardized way to to add footers and headers to a theme.

Yes, we should override it to white if possible.

[2019-12-02 22:03] #999 closed

[2019-12-06 00:29] #776 closed

[2019-12-06 00:30] thomasplevy opened #1002 "Coding Standards: use `// phpcs:ignore` for disabling a rule for a single line instead of `// phpcs:disable`"
A quick search shows several instances of this issue which could be causing us to miss important CS issues in various files.

[2019-12-06 00:39] #1002 closed

[2019-12-06 19:39] eri-trabiccolo opened #1003 "Course builder: On lesson creation, if the server timeouts you might end up having N duplicates of the lesson."
I don't have standard reproduction steps for this, I can force this, so...

+ force a timeout after a lesson is created, but before any response is returned to the ajax call, e.g. adding a php delay (`sleep`) here:
https://github.com/gocodebox/lifterlms/blob/3.37.4/includes/admin/class.llms.admin.builder.php#L911
(of course the delay must be so that the server timeouts :P so it depends on your ser

[2019-12-10 00:32] thomasplevy commented on #846
This is resolved on the customize branch and will be included in a future version of LifterLMS

[2019-12-13 14:43] eri-trabiccolo opened #1005 "Warning: Invalid argument llms.functions.notice.php on line 107"
**This issue has been reported on wp.org:**
https://wordpress.org/support/topic/invalid-argument-llms-functions-notice-php-on-line-107/
and on hs # 107502

### Reproduction Steps

+ make sure you have the debug enabled
+ make sure one of your courses has a **Sales Page Content** option set to **Redirect to WordPress Page** and a redirection page set
+ as "visitor" (also make sure you have cleaned

[2019-12-17 17:28] eri-trabiccolo opened #1008 "PHP 7.4 compatibility: PHP Deprecated: implode(): Passing glue string after array is deprecated. Swap the parameters in /srv/www/wordpress-one/public_html/wp-content/plugins/lifterlms/includes/abstracts/abstract.llms.admin.table.php on line 526"
### Reproduction Steps

+ Edit a course, for instance

### Expected Behavior

+  no php warning

### Actual Behavior

+ got php deprecation warning

### Error Messages / Logs

[17-Dec-2019 17:24:08 UTC] PHP Deprecated:  implode(): Passing glue string after array is deprecated. Swap the parameters in /srv/www/wordpress-one/public_html/wp-content/plugins/lifterlms/includes/abstracts/abstract.llms.ad

[2019-12-17 22:16] eri-trabiccolo commented on #1005
Also reported in another hs ticket: # 107394

[2019-12-18 00:06] thomasplevy commented on #1005
@eri-trabiccolo this dropped off my radar, sorry. I'll include and build a release tomorrow.

[2019-12-19 18:50] chrisbadgett opened #1009 "LifterLMS Custom Fields Not Saving and Freezing Edit Access to Form Editor"
### Reproduction Steps

Log into Chris's custom fields test site and try and access the edit screen of any of the 3 forms

https://teamcodebox.slack.com/files/U054KDVAA/FRWBGRELU/fullscreen_12_19_19__1_40_pm-2.png

https://teamcodebox.slack.com/files/U054KDVAA/FRWBGREBE/fullscreen_12_19_19__1_40_pm.png

### Expected Behavior

+ Include a concise description of what you expected to happen (but didn

[2019-12-19 22:13] thomasplevy commented on #1008
Probably just a transposition typo, easy enough fix.

[2020-01-06 19:07] thomasplevy opened #1010 "Error reported by WP 5.2 error detection"
### Reproduction Steps

Error reported by WP 5.2 error detection and sent via email

This was encountered on a LifterLMS 30-day demo trial site.

I don't know exactly how to recreate but wanted to record the error

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### System Information

<details>
<summary>System Report</summary>
WP 5.3.2
LifterLMS 3.37.8
[code]

[2020-01-07 17:08] thomasplevy commented on #897
Should memberships actually display authors/instructors?

[2020-01-07 17:13] thomasplevy commented on #1003
If an error of any kind is received should kill the autosave mechanism, prevent saving from being attempted manually, and pop a notice informing the user they should reload the page to continue

we could possibly also store the current course outline data in local storage and make a comparison on reload to see what was actually saved (and what was only locally saved) and provide an option to resto

[2020-01-07 23:28] #1005 closed

[2020-01-07 23:39] #1008 closed

[2020-01-09 21:40] thomasplevy opened #1011 "Update Action Scheduler Library to version 3.0"
https://github.com/woocommerce/action-scheduler/releases/tag/3.0.0

[2020-01-17 00:15] thomasplevy opened #1012 "Add PHP 7.4 testing"
Add PHP 7.4 to the testing matrix.

Adjust all the "latest" version tests (like test coverage) to run on 7.4

[2020-01-17 00:16] thomasplevy commented on #1012
There's a few new "issues" reported via PHPCS if running that on 7.4, the e2e-2 branch updates phpcs, wpcs, and lifterlms-cs to the latest version where this is fixed.

[2020-01-17 00:17] thomasplevy opened #1013 "Move from CirceCI to travis and enable e2e tests"
e2e testing environment and initial tests are on the e2e-2 branch

[2020-01-17 23:54] thomasplevy commented on #488
Prioritized for development. I have this working locally but I need to write some tests before submitting the PR and deploying. ETA: Tuesday of next week to help resolve some active support tickets encountering this issue. Namely: 1052037475/109172?folderId=349322

[2020-01-20 20:15] #1012 closed

[2020-01-21 20:42] #488 closed

[2020-01-23 23:03] thomasplevy opened #1016 "Legacy CSS causing visual issue on WP Core admin select boxes"
### Reproduction Steps

1. Login to admin panel
2. Navigate to Settings -> Reading Settings
3. Observe the visual issue on the select boxes for "Static Page" options (background is repeating)

https://recordit.co/wzoNtYhx9L

Originally reported at https://wordpress.org/support/topic/possible-bug-conflict-with-wordpress-readings-setting/

### Error Messages / Logs

N/A

### System Information

WP C

[2020-01-23 23:05] thomasplevy commented on #1016
Offending css is located at

https://github.com/gocodebox/lifterlms/blob/9c499cf58314e0178694ede732a32a2352cef9ec/assets/scss/admin/_main.scss#L176-L189

Specifically `background: none`

I'm not positive what this CSS was supposed to do. A quick evaluation leads me to believe that whatever it was doing was related to the legacy course builder from core versions 1 & 2 but I'm not positive.

[2020-01-23 23:21] thomasplevy opened #1017 "CSS and JS loaded on menu page causing UX issues on navigation menu screen"
### Reproduction
CSS (related to ui-sortable placeholders) and JS (can't determine what) causes menu reordering via drag and drop to feel broken. I don't think it actually is impossible to manage but it appears (visually looks) like you're not moving your menus around due to the css.

https://recordit.co/3Atdwvrox0

Originally reported at https://wordpress.org/support/topic/possible-bug-conflict-w

[2020-01-23 23:23] thomasplevy commented on #1017
Javascript loads on this page even though it doesn't due to

https://github.com/gocodebox/lifterlms/blob/9c499cf58314e0178694ede732a32a2352cef9ec/includes/class.llms.ajax.php#L132

The CSS is likely related to legacy issues noted in https://github.com/gocodebox/lifterlms/issues/1016#issuecomment-577919252

Need to investigate the impact of removing this css

[2020-02-05 13:55] actual-saurabh opened #1019 "Object doesn't support property or method 'assign', on Internet Explorer"
### Reproduction Steps

No special steps needed. On IE, this line produces an error
https://github.com/gocodebox/lifterlms/blob/master/assets/js/llms.js#L1902 because this method is unsupported in IE: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign#Browser_compatibility

This is ideally resolved by using a modern browser which can be Edge as promoted

[2020-02-05 16:29] thomasplevy commented on #1019
Source file: https://github.com/gocodebox/lifterlms/blob/master/assets/js/app/llms-tracking.js#L99

[2020-02-05 16:31] thomasplevy commented on #1019
Since WP core support ie >= 11 we should as well: https://make.wordpress.org/core/handbook/best-practices/browser-support/

[2020-02-05 16:33] thomasplevy commented on #1019
We can replace assign with jQuery `$.extend` without adding any new dependencies

[2020-02-10 14:24] actual-saurabh commented on #640
https://github.com/gocodebox/lifterlms/issues/840

[2020-02-10 14:26] actual-saurabh commented on #840
It is a difficult one because there is no option to manually correct the issue, except by editing serialized attempt information directly into the database.

##Possible Solutions

###On Attempt Screen (Manual Grading):
 1. Orphaned answers show a warning (question doesn't exist).
 1. An option to delete orphaned question's answers.
 1. An option to manually grade answers whose questions don't exis

[2020-02-10 18:51] actual-saurabh opened #1020 "[Orders] Add support for sequential/ incremental invoice number in purchase receipts"
## Intro

Some countries (EU, India, etc) have a legal requirement of a sequentially incremental invoice/purchase receipt for every incoming transaction.

## Proposal

Add a serial number merge code to purchase receipts. Based on user feedback, I have created a gist that does this in a slightly hacky way in the meantime: https://gist.github.com/actual-saurabh/a479571b6ceb5e6b32e30f31575050f0

It i

[2020-02-10 20:05] thomasplevy commented on #1020
@actual-saurabh I didn't do a full review but this looks generally good to keep working towards adding as a core feature.

A few notes:

+ I think this could probably just be enabled by default. By that I mean it will always generate sequential numbers (we don't need to enable it with a setting). The default template doesn't need to change but anyone wanting to using sequential numbers can add the

[2020-02-11 19:52] #1019 closed

[2020-02-11 19:53] thomasplevy commented on #1019
@actual-saurabh & @eri-trabiccolo this is resolved in 3.37.8 which will be released in the next few hours. Please update support tickets accordingly.

[2020-02-11 20:27] thomasplevy commented on #1019
@actual-saurabh & @eri-trabiccolo correction: 3.37.9

[2020-02-12 16:53] eri-trabiccolo opened #1022 "Restrict site by membership level (without redirection), doesn't work as expected in singular course and membership"
### Reproduction Steps

+ Create a Membership
+ Create a Course
+ on the Restrictions tab select "Stay on page" for **Restricted Access Redirect**
+ leave the other settings as they are by default (Display a Message and Restricted Content Notice)
+ navigate through your dashboard -> LifterLMS (Settings) -> Membership
+ as **Restrict site by membership level** search and set the just created member

[2020-02-12 17:00] thomasplevy commented on #1022
This is expected behavior.

Course and membership content (the actual post content displayed on the course / membership permalink) is not considered privileged. The children (lessons) of a course and the connected content (of a membership) are not available and are considered privileged.

The reasoning behind this is that if you restrict your entire site users will not be able to gain access to an

[2020-02-12 17:02] thomasplevy commented on #1022
Also of note: if a user determines that the content of their course / membership *should be privileged* there's course and membership level settings so they can show alternate content to enrolled / non-enrolled users and those settings can be utilized in association with site-wide restrictions to ensure that privileged content isn't shown to non-enrolled users.

[2020-02-12 17:12] eri-trabiccolo commented on #1022
So courses and memberships are not considered privileged when the Restricted Access Redirect in the Membership is set as "Stay on page", but they are considered as privileged when the same setting is set to any redirection option?

[2020-02-12 18:07] eri-trabiccolo opened #1023 "Restrict site by membership level, redirect to a WordPress page produces infinite loop"
### Reproduction Steps

1. Create a Membership
2. on the Restrictions tab select Redirect to a "WordPress page" for Restricted Access Redirect
3. Select a WordPress page
4. leave the other settings as they are by default (Display a Message and Restricted Content Notice)
5. navigate through your dashboard -> LifterLMS (Settings) -> Membership
6. as Restrict site by membership level search and set t

[2020-02-13 16:15] thomasplevy commented on #1023
WIP looks pretty good.

While you're there -- unrelated -- the privacy policy page should be whitelisted too.

[2020-02-13 21:36] zachNDTC opened #1026 "Adding external URLs to Quiz descriptions escapes quotes"
### Reproduction Steps

When creating a quiz, add a link to the description section. Once saved, if you refresh the page and view the URL it escaped quotations. Example, if I put in this code

`<p><a href="https://docs.google.com/" target="_blank" rel="noopener">Click here to view the email</a></p>`

After saving it appears like this:

`<p><a href="\&quot;https://docs.google.com/\&quot;" target="\

[2020-02-14 00:29] thomasplevy commented on #1026
@zachNDTC thanks for the bug report.

We'll have a look at this and let you know when we've verified and come up with a solution.

@eri-trabiccolo would you please verify this when you get started next and let me know what you think about it.

My guess is that this is a valid issue resulting from some accidental overly-aggressive data santization.

[2020-02-14 10:27] eri-trabiccolo commented on #1026
@zachNDTC
@thomasplevy
I've tried to reproduce the issue on my end without any luck, everything works fine here:
![Schermata 2020-02-14 alle 11 13 11](https://user-images.githubusercontent.com/7689242/74522788-2ebc6a80-4f1c-11ea-88de-3bbee41008ef.png)
![Schermata 2020-02-14 alle 11 13 21](https://user-images.githubusercontent.com/7689242/74522791-2fed9780-4f1c-11ea-9f85-18b4b665e8ff.png)
![Scherma

[2020-02-14 15:51] cryptexvinci commented on #922
@Guillaume-Tnk

You can insert this snippet to dequeue the collapse js

`add_action( 'wp_enqueue_scripts', 'um_theme_remove_collapse_js', 100 );

if ( ! function_exists( 'um_theme_remove_collapse_js' ) ) {
    function um_theme_remove_collapse_js() {
       wp_dequeue_script( 'collapse' );
    }
}`

[2020-02-19 19:41] Guillaume-Tnk commented on #922
This is working! Thank you very much.

[2020-02-19 19:49] #1023 closed

[2020-02-19 22:40] thomasplevy commented on #1026
@zachNDTC I'm also unable to recreate using the steps you've provided. Could you check back in with us and try this on a site with no other plugins installed and a default theme like 2019 or 2020.

Thanks

[2020-02-20 22:48] thomasplevy opened #1027 "Add utility function for escaping and quoting a string."
This function is used, primary, as an `array_map()` call back function to escape/sanitize and then wrap quotes around strings which will usually be joined into a comma-separated list that can be dropped into an `IN()` condition in SQL queries.

I've found myself recreating this class method in several LifterLMS add-ons so it would be generally useful to convert this class method into a core functi

[2020-02-21 00:12] thomasplevy commented on #839
Ticket needs follow up upon resolution: HS#85934

[2020-02-21 17:49] thomasplevy commented on #1026
@zachNDTC Closing this issue since we cannot recreate it. If you wish to provide additional information as requested please reply and we'll reopen.

Best,

[2020-02-25 18:24] eri-trabiccolo opened #1028 "Possible issue when cloning a course with quotes in the classic block"
I'm not able to reproduce this issue on my end, but this has been reported by one of our customers, and I want to keep track of it in case other similar cases will pop up:
hs # 108804

The customer says:

### System Information

<details>
<summary>System Report</summary>

[code]

</details>

I wonder if there's any connection with #1026
except for our plugins, any other shared? ACF Pro at least, a

[2020-02-25 21:14] eri-trabiccolo opened #1029 "Adding an existing lesson to a course "removes" the lesson's author"
### Reproduction Steps

+ create a lesson and verify it has an author assigned
+ create a course
+ open the course builder, create a section and add the previously created lesson to this course
+ save
+ check the lesson's author

### Expected Behavior

+ I would expect to still see the same lesson author as before adding the lesson to the course

### Actual Behavior

+ no lesson author anymore

##

[2020-02-26 16:36] thomasplevy commented on #1029
the offending function is here:

https://github.com/gocodebox/lifterlms/blob/09c3353aaeb2a8785868f2cf1cf67c4146e94068/assets/js/builder/Models/Course.js#L60-L95

We need to replace the object of instructor information with the ID for the duplication, I think.

That should fix it.

[2020-02-27 12:46] nrherron92 opened #1030 "Conflict between LifterLMS Quizzes and Starter Templates plugin"
### Reproduction Steps

Install LifterLMS and Starter Templates (https://wordpress.org/plugins/astra-sites/)
Go into the Course Builder and add a quiz.

### Expected Behavior

The quiz in the Course Build should load to allow you to edit the settings.

### Actual Behavior

The spinning wheel of death keeps loading and loading so you can't edit the settings.

### Error Messages / Logs

JS error:

[

[2020-02-27 19:28] thomasplevy commented on #1028
Customer has noted that the issue goes away with ACF Pro disabled.

[2020-02-27 19:29] thomasplevy commented on #1026
Reopening this as it may be recreateable with ACF Pro per #1028

[2020-02-27 19:31] eri-trabiccolo commented on #1028
I knew it was it!

[2020-02-27 21:20] thomasplevy commented on #1030
Astra Sites loads the `@wordpress/wp-editor` module as a dependency which overwrites the "old" `wp.editor` instance that would provide access to TinyMCE

It looks like WordPress added a reference to the TinyMCE editor via `wp.oldEditor` during the 5.0 release:

https://github.com/WordPress/WordPress/blob/556c6d80d81afadc377f7382e8344b79b1f71da6/wp-includes/script-loader.php#L365-L371

It should be

[2020-02-28 11:53] nrherron92 opened #1034 "bbpress forum is cleared out of course when quick edit is used"
### Reproduction Steps

Inside editing a course, add a bbPress forum and save

view COURSES list.

Click "Quick Edit" and check a box next to another Category, then click Update.

When you go back into the course and select the bbPress tab. The forum previously saved is now gone.

### Expected Behavior

Quick edit should not affect saved bbPress forums inside courses.

### Actual Behavior

Using q

[2020-03-02 10:42] nrherron92 opened #1035 "Conditionally Hide Menu Pages Based on Membership"
**Describe the solution you'd like**
It would be great to hide specific pages in menu depends on your memberships level. Something similar to the menu conditional plugin where you can set what menu items are seen based on loggedin/logged out status. Or I'm pretty sure the WP Fusion integration does this but he's looking for something in the default when building menus.

HS-113004

[2020-03-02 18:03] thomasplevy commented on #1035
This feature request has been moved to the feature request system.

[2020-03-02 18:03] #1035 closed

[2020-03-02 19:31] #1030 closed

[2020-03-02 19:35] #1016 closed

[2020-03-02 19:35] #1017 closed

[2020-03-02 19:39] #1029 closed

[2020-03-02 21:30] thomasplevy commented on #378
Closing as a stale issue.

[2020-03-02 21:30] #378 closed

[2020-03-03 00:12] #1034 closed

[2020-03-03 00:57] thomasplevy commented on #1034
@nrherron92 fixed in 3.37.11, please update related HS tickets. Thanks

[2020-03-03 00:57] thomasplevy commented on #1030
@nrherron92 fixed in 3.37.11, please update related HS tickets. Thanks

[2020-03-03 00:57] thomasplevy commented on #1029
@eri-trabiccolo  fixed in 3.37.11, please update related HS tickets. Thanks

[2020-03-03 09:00] nrherron92 opened #1037 "WooCommerce causing LifterLMS password reset looping"
### Reproduction Steps

Turn on LifterLMS and WooCommerce.
Do not install or turn on LifterLMS WooCommerce integration.
Set LifterLMS Dashboard to its own dashboard page.
Set WooCommerce my account to its own my account page.
From the logged out LifterLMS Dashboard click password reset and run through the process.
With WooCommerce active, even with no crossing of my account page/dashboard settings

[2020-03-03 14:29] eri-trabiccolo opened #1038 "Quotes encoded in some engagement's emaill inputs (text)"
### Reproduction Steps

+ In Engagements -> Emails add a new Email
+ Add a string with some quotes as Email Subject and as Email Heading
+ Trigger an engagement

### Expected Behavior

+ The email Subject and Heading text should show the quotes

### Actual Behavior

+ The email Subject and Heading text show the encoded (single) quotes: `&#39;`: the option value is encoded before saving and display

[2020-03-03 16:23] thomasplevy commented on #1038
@eri-trabiccolo thanks

Do you have time to write up a PR?

[2020-03-03 16:31] eri-trabiccolo commented on #1038
Sure!

[2020-03-03 16:32] eri-trabiccolo opened #1039 "Orphan quizzes (deletion) edge case"
### Reproduction Steps

Reported by a user.

I don't have a way to reproduce this programmatically, but the idea is that one can have quizzes which are linked to a lesson but this lesson has not quizzes attached or has a different quiz attached.
The issue can be reproduced with the affected site's db: in LifterLMS -> Reporting -> Quizzes you could see more than one quiz "attached" to the same less

[2020-03-03 17:36] eri-trabiccolo commented on #1038
@thomasplevy
Look that also the:
- Achievement title
- Achievement content (this is a textarea actually...)
- Certificate title

are now sanitized with the `FILTER_SANITIZE_STRING` (with no specific flags) before saving.
Even if they don't produce any visual issue as these values are displayed in "html contexts", I think we should ask ourselves how do we want these data to be saved once for all :D

[2020-03-03 19:56] eri-trabiccolo opened #1041 "PHP Notice when entering Appearance -> Menus IF a student dashboard endpoint has been cleared"
### Reproduction Steps

from your wp dashboard
+ go to LifterLMS -> Settings -> Accounts
+ clear the **View Achievements** endpoint
+ save
+ navigate to Appearance -> Menus

### Expected Behavior

+ Nothing weird

### Actual Behavior

+ PHP Notice

### Error Messages / Logs

[code]

### System Information

LifterLMS 3.37.11

### Browser, Device, and Operating System Information

n/a

### Related U

[2020-03-04 17:31] nrherron92 opened #1043 "Revisions in Gutenberg within Lifter lessons"
**Describe the solution you'd like**
In the Gutenberg editor for posts and pages there is a setting you can click to see revisions added to the post or page. The customer would like for this to also be accessible in LifterLMS lessons and courses.

HS-113325

[2020-03-04 21:45] thomasplevy commented on #1038
See my note on #1040

[2020-03-05 00:11] thomasplevy opened #1044 "Feature Addition: Native Akismet Spam Integration"
Mostly functional WIP at https://github.com/gocodebox/lifterlms/tree/feature/akismet

Purpose:

Send user registration data through the Akismet API prior to user signup during checkout and/or open registration.

Todo:

#### Bugs

- [ ] Bug: integrations list shows the integration as enabled regardless of whether or not it is

#### Moderation

Akismet recommends having a "moderation" queue to allow

[2020-03-05 00:21] #1041 closed

[2020-03-05 19:13] #1038 closed

[2020-03-05 19:15] thomasplevy commented on #1043
Courses, lessons, and memberships should all support revisions. I'm not sure why they don't. It may be an oversight dating back to the initial release of LifterLMS which no one has noticed / asked about before.

[2020-03-06 22:53] #1043 closed

[2020-03-09 16:01] eri-trabiccolo opened #1049 "Possible PHP Warning trying to reference to a property of a non object in class.llms.comments.php"
Ok the this issue title is weird, I see. The "problem" is that we don't have a real way to reproduce the issue one of our customer reported if not forcing it.
@nrherron92 and I bet on a conflicting plugin, although I think is something we should handle better.
Ah and of course, the visible issue, is that our order notes (so try to have some order notes too) etc were counted as comments.

### Repro

[2020-03-09 16:07] thomasplevy commented on #1049
@eri-trabiccolo

Agreed.

And it's an easy enough fix. Thanks for figuring out how it could happen and putting in the effort to get some sort of reproduction steps.

[2020-03-09 16:08] thomasplevy commented on #1049
Also, this is very likely unrelated to the issue at hand but may be worth tackling while working on this issue: https://github.com/gocodebox/lifterlms/issues/901

(To whoever ends up working on this)

[2020-03-09 16:13] eri-trabiccolo commented on #1049
I was about to link this to the other issue but I was distracted by slack :P

[2020-03-09 17:34] thomasplevy commented on #1049
~ A ~~real~~ Slack User

[2020-03-09 20:07] eri-trabiccolo commented on #1049
same notice here:
HS-113564

[2020-03-09 20:31] eri-trabiccolo commented on #1049
@thomasplevy
WPForms (lite) is the shared (between the two cases) plug-in that causes this issue.
IMHO it's because they use a different (newer) version of the action scheduler library which is loaded in place of our one.
something must have changed in that library and that filter I referenced before is not called the same way as before.

[2020-03-10 09:56] nrherron92 commented on #1049
Also this ticket: HS-113729

[2020-03-10 15:26] thomasplevy commented on #1049
@eri-trabiccolo

Have you reproduced this yet?

I haven't run tests on 3.x of the action scheduler, see #737 for related

[2020-03-10 15:28] thomasplevy commented on #1049
@nrherron92 for all affected users disabling WP_DEBUG_DISPLAY "fixes" the issue acceptably since it's a warning (not an error) it will fail silently with no major issues other than the visible error message is not pleasing. Having error reporting disabled in production is advisable anyway for a whole host of reasons.

I'll take a closer look at this today since it's probably related to a new confl

[2020-03-10 15:29] eri-trabiccolo commented on #1049
@thomasplevy
yes I reproduced it yesterday.

[2020-03-10 15:52] nrherron92 commented on #1049
@thomasplevy I went ahead and updated users about turning the display off!

[2020-03-10 17:09] eri-trabiccolo opened #1051 ""actions" column in quizzes reporting should be called "Actions" not "Average Grade""
### Reproduction Steps

+ just go in the quizzes reporting and look at the last column

### Expected Behavior

+ Should be called Actions

### Actual Behavior

+ It says "Average Grade"

### Error Messages / Logs

n/a

### System Information

Liftelms 3.37.11

### Browser, Device, and Operating System Information

n/a

https://github.com/gocodebox/lifterlms/blob/3.37.11/includes/admin/reporting/ta

[2020-03-10 18:11] thomasplevy opened #1053 "Payment "integrations" chaotic simulation tests failing on CI (but rarely locally)"
These "Chaos" tests are built on random numbers. This is likely a big mistake to add randomization to a test but it maybe kind of worked to help us randomly encounter weird niche scenarios where our schedulers are failing.

In any event this is a list of failing tests collected in a single place to help us figure out the common links between the failures and then we can use that to find the issue

[2020-03-10 18:13] #1051 closed

[2020-03-10 20:14] #1049 closed

[2020-03-10 20:14] #901 closed

[2020-03-11 16:39] thomasplevy opened #1056 "Deprecate the `LLMS_Svg` class"
Since LifterLMS 3.0 we've been relying on FontAwesome icons in favor of inline SVG icons.

There are 2 places in the LifterLMS core where SVG icons are still used:

+ [x] `LLMS_Metabox_Voucher::codes_section_html()`
+ [x] `LLMS_Metabox_Checkbox_Field::output()`

Both of these uses should be replaced with equivalent icons from FontAwesome and then the `LLMS_Svg` class (and it's sole function) shoul

[2020-03-11 17:51] thomasplevy opened #1059 "Classes to be deprecated"
These legacy classes should be marked as deprecated:

https://github.com/gocodebox/lifterlms/blob/master/includes/class.llms.post.handler.php
https://github.com/gocodebox/lifterlms/blob/master/includes/class.llms.person.php
https://github.com/gocodebox/lifterlms/blob/master/includes/class.llms.number.php
https://github.com/gocodebox/lifterlms/blob/master/includes/class.llms.lesson.handler.php
http

[2020-03-11 21:05] thomasplevy commented on #1049
@nrherron92 and @eri-trabiccolo

This is now fixed in 3.37.12 -- please notify any users waiting on an update from us

[2020-03-11 21:05] thomasplevy commented on #1043
@nrherron92 released in 3.37.12

[2020-03-11 21:06] thomasplevy commented on #1041
@eri-trabiccolo fixed in 3.37.12

[2020-03-11 21:06] thomasplevy commented on #1038
@eri-trabiccolo included in 3.37.12

[2020-03-13 12:25] nrherron92 opened #1061 "Courses duplicate and disappear on page breaks in student dashboard my courses tab"
### Reproduction Steps

1. Have the course per page in the LifterLMS Course settings set to create a page break with the number of courses a student is enrolled in. (For this customer it was 9)

2. Have the student enrolled in enough courses to populate at least two pages.

3. Go into the Dashboard My Courses tab and switch between the two pages with the pagination.

### Expected Behavior

The cou

[2020-03-13 13:20] eri-trabiccolo commented on #1061
I think it depends on the fact that by default we order by `menu_order` which in most of the cases it's `0` for all the courses (I think no-one sets this wp value :D) so that param alone can be a good orderby clause when having pagination.

This looks exactly like the following (solved) issue:
https://github.com/gocodebox/lifterlms/issues/853

We can adopt the same approach.

[2020-03-17 14:48] eri-trabiccolo opened #1064 "Fatal checking the current user is instructor of Certificate or Achievement"
### Reproduction Steps

Cannot reproduce it, customers haven't provided with reproduction steps yet

### Expected Behavior

+ no PHP error logged/reported

### Actual Behavior

+ PHP error logged/reported

### Error Messages / Logs

site 1:
[code]

site 2:
[code]

### System Information
site 1:
<details>
<summary>System Report</summary>

[code]

</details>

site 2:
<details>
<summary>System Report

[2020-03-17 15:34] eri-trabiccolo commented on #1064
of course we can fix it even without reproduction steps, but I wonder what is producing this error...

[2020-03-17 19:38] #1064 closed

[2020-03-20 16:03] toyinogunseinde commented on #1064
Also reported in HS-114483

[2020-03-22 09:29] toyinogunseinde opened #1068 "Courses not added to groups"
### Reproduction Steps

On the Admin Dashboard, click on groups.
Select the group or add a new one.
Select the course you want to add to the group and click on save.
It acts like it's saved but when you come back to the settings page, the course is gone.
Memberships can be added and work just fine but not for courses
This makes sure no course is added to the group.
Here is a link to a short video:

[2020-03-22 10:09] eri-trabiccolo commented on #1068
Hi @toyinogunseinde
thanks!
This, more than an issue with courses, seems to be an issue with that specific course - specifically with the fact that that course has a `'` in the title. Did you already try with another course?
If I'm right then this is a known issue (happens with other special chars too, like `&`, `-` etc.) which is going to be fixed in the next groups addon release (which as you kn

[2020-03-22 10:32] toyinogunseinde commented on #1068
Thanks, @eri-trabiccolo. It sure works without the characters as you said. Thanks :)

[2020-03-22 10:32] #1068 closed

[2020-03-22 10:39] eri-trabiccolo commented on #1068
Thanks for reporting @toyinogunseinde
I'm going to update the groups issue referencing to this one.

[2020-03-23 10:52] nrherron92 opened #1069 "Drip Warning Does not display with BuddyBoss"
### Reproduction Steps

Using BuddyBoss theme set up a course with prerequisites or drip settings.
Go through the first course to mark complete and hit the prereq/drip setting where it bumps you to the main course page. There is no warning as expected for why the user is back on the main page.

### Expected Behavior

There should be a standard LifterLMS warning that lets users know when they can a

[2020-03-23 13:32] toyinogunseinde opened #1070 "Groups addon can't be deleted in WordPress dashboard"
### Reproduction Steps

Install the group addon
Then try deleting the addon.
It just shows deleting and does not delete or anything

### Expected Behavior

Meant to delete just like every normal plugin
HS - 114990

### Actual Behavior

+ Include a concise description of what actually happens (but isn't supposed to)

### Error Messages / Logs

+ Include any relevant error messages or log files
[cod

[2020-03-24 15:02] eri-trabiccolo commented on #1069
I tried to reproduce this with drip settings on a lesson, set to be "released" on a specific date.
It worked fine, cannot reproduce it locally mmm.

[2020-03-26 11:42] nrherron92 opened #1072 "Login Session Table causing time issues"
### Reproduction Steps

The issue is caused by table growing increasingly large and thus increasing the time of login, which eventually leads to drop in and impossibility of log. (TBH I don't totally understand this issue, Rocco just asked me to open a github issue!)

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

HS-115379

[2020-03-26 14:08] eri-trabiccolo commented on #1072
@thomasplevy this looks a lot like the issue we already discussed also reported in HS-111598
we proposed to stop recording page.* events for the moment, so to keep that table small until we redesign it.

[2020-03-26 15:07] toyinogunseinde opened #1073 "Nginx Helper"
### Reproduction Steps

Make sure the Nginx Helper plugin is installed.
Try to add a lesson to a section.
The save button rolls for a while and brings the error "1. Undefined(0 Timeout)"

### Expected Behavior

Should work as appriopriate

### Actual Behavior

The save button rolls for a while and brings the error "1. Undefined(0 Timeout)"

### Error Messages / Logs

+ Include any relevant error m

[2020-03-26 19:55] thomasplevy commented on #1072
@eri-trabiccolo sounds good.

[2020-03-26 20:22] thomasplevy commented on #1073
While I can recreate this issue after about 45 minutes of debugging I cannot figure out why this is happening. I don't know if this is something that we'll be able to fix from within LifterLMS.

[2020-03-26 20:23] thomasplevy commented on #1073
It appears that what's happening is that PHP is timing out as a result of the cache purging performed by the plugin

[2020-03-26 20:49] thomasplevy commented on #1073
@toyinogunseinde I've opened an issue on the nginx-helper GitHub. Could you please direct the customer to this issue over there and ask if they'd consider reaching out directly to the developers of the plugin for assistance. After a review I'm really not sure what LifterLMS can do here to fix this. We could probably solve it with some custom code.

A "workaround" I could propose would be to disabl

[2020-03-26 21:20] thomasplevy commented on #1069
@nrherron92 is there anything more we can or should be doing here? i haven't actually taken a stab at recreating with buddyboss but I will if you want some more backup.

[2020-03-27 19:23] #1072 closed

[2020-03-27 19:25] #1061 closed

[2020-03-31 18:16] vertika1 opened #1075 "Student Dashboard Notifications endpoint displaying email preferences instead of notifications"
After upgrading to 3.37.15, the student dashboard notifications endpoint is displaying email preferences instead of notifications.

<img width="685" alt="Capture" src="https://user-images.githubusercontent.com/62865899/78060645-8179a680-7351-11ea-9379-42e2600f2786.PNG">

I believe it is due to these lines, specifically 693:
https://github.com/gocodebox/lifterlms/blob/29a23f074b2a79f4af02b3c3d4de29

[2020-03-31 18:30] eri-trabiccolo commented on #1075
Thanks @vertika1 yeah that `s` it's a typo indeed!

[2020-03-31 22:50] #1075 closed

[2020-04-01 15:46] thomasplevy commented on #1069
Closing this out as customer got help from BuddyBoss resolving the issue.

[2020-04-01 15:46] #1069 closed

[2020-04-02 10:00] nrherron92 opened #1077 "Pagination does not work in BuddyBoss default pages"
### Reproduction Steps

+ Install BuddyBoss Platform -- This is what grants you their members page. (BuddyBoss->Pages->Members) The theme doesn't matter you can set this to a default Twenty-Twenty theme.
+ Go into LifterLMS and make sure the integration is turned on so that our courses page shows up on their Members page.
+ Go into LifterLMS Settings for courses and make sure the number of courses

[2020-04-02 16:33] thomasplevy opened #1078 "Add "Sync" options when updating an engagement (cert, achievement)"
When an admin edits the template for a cert or achievement (collectively "engagement") there should be an option to "sync" the changes to all pre-existing engagements which were generated from that template.

- [ ] Add a "Sync" button to the admin edit post UI
- [ ] When the button is clicked it should perform an "update" on earned engagements generated from the template.
- [ ] We should spawn a b

[2020-04-02 17:09] eri-trabiccolo commented on #1077
Summarizing:
- same issue happens with buddypress too, of course, since the bp and bb kinda share the same core and we add our "endpoints" to the buddypress(boss) profile page using the buddypress hooks api
- the issue happens because we display our dashboard templates inside the buddypress profile page content AND we use to filter the paginate links there:
https://github.com/gocodebox/lifterlms/b

[2020-04-03 10:54] nrherron92 opened #1079 "Divi/WooCommerce/Lifter Compatibility Issue"
### Reproduction Steps

+ Install and activate most recent version of Divi
+ Install and activate WooCommerce
+ Install and activate LifterLMS (without wc integration)
+ Make sure Divi builder is turned on for Courses post type
+ It's also a little easier to see this issue if you turn on Divi's setting for classic editor but it shows in Gutenberg too
+ Go into a course and choose edit with Divi. I

[2020-04-03 12:46] thomasplevy commented on #1079
Will this happen on any other post types or just courses?

[2020-04-03 12:48] nrherron92 commented on #1079
It happens on courses and memberships. Divi loads on lessons and certificates with Woo on normally

[2020-04-03 12:50] eri-trabiccolo commented on #1079
@thomasplevy courses and memberships, our products.
I've found in the Divi code where this happens.

As already happened with another plugin, their code is just checking if the global `$product` is set, and assumes that's a wc product. Then it calls a WooCommerce filter, which, once again, assumes that the global $product contains a wc product.

[2020-04-03 12:52] thomasplevy commented on #1079
Legacy code is going to kill me ..

[2020-04-03 13:01] eri-trabiccolo commented on #1079
Contact et devs would be great, any chance?

[2020-04-03 13:23] thomasplevy commented on #1079
Working on it

[2020-04-03 13:23] thomasplevy commented on #1079
@eri-trabiccolo could you post relevant lines of code in Divi where this check is being made please

[2020-04-03 13:29] eri-trabiccolo commented on #1079
sure, well, better to link the function where a check is missing:
The function is: `et_fb_woocommerce_tabs()`, located in Divi/includes/builder/functions.php

To me (tested) this line (line 1165 of that file):
`	if ( ! isset( $product ) && et_is_woocommerce_plugin_active() ) ) {
`
can be turned into
`	if ( ! isset( $product ) && et_is_woocommerce_plugin_active() || ! wc_get_product( $product ) ) {

[2020-04-03 13:37] thomasplevy commented on #1079
@nrherron92 if you haven't done so already please alert affected users that we're going to do our best to see if ET can get his resolved from their side and that they could open a support request with ET to let them know they're affected by this issue and that may help get this resolved sooner. It would be good to direct them to this issue so that if ET devs do get alerted they'll have this inform

[2020-04-03 15:12] eri-trabiccolo commented on #1077
So I've been not able to allow pagination for the "main" nav item pages, I think it's a bp bug/restriction.

I wend with the b-plan, filtering the pagination links so that:
example.local/members/admin/courses/page/2
turns into
example.local/members/admin/courses/courses/page/2

[2020-04-03 15:52] toyinogunseinde commented on #1079
Another ticket HS-116450

[2020-04-03 16:18] #1077 closed

[2020-04-03 16:36] thomasplevy opened #1081 "Update default images"
These images haven't been updated since LifterLMS 1.0.

The certificate has our old logo on it. Personally, I think a new background image should contain *no* logos in favor of a generally useful border that anyone could actually use.

The achievement icon just looks terrible. We can all be honest about that, right? I would prefer to see a gold star badge type thing that looks generally appealing

[2020-04-03 17:00] thomasplevy opened #1082 "Reduce code redundancy of code shared between certificates and achievements"
Since certificates and achievements are quite similar in how they are created, earned, generated, etc... we can reduce duplicate code by creating a shared abstract base class that can be utilized by both elements.

The class `LLMS_Certificate` is only ever used by `LLMS_Certificate_User` (which extends it)

The fact that this hierarchy exists was created to allow other types of certificates to exi

[2020-04-04 13:30] toyinogunseinde opened #1083 "Deleted Voucher code still works"
### Reproduction Steps

Create a voucher code in the orders tab.
Verify the code works.
Delete the ~code~ voucher *post* and try the code again.
It still works

### Expected Behavior

The code isn't expected to work since it's been deleted

### Actual Behavior

Code continues to work

### Error Messages / Logs

HS-116461

[2020-04-06 17:25] eri-trabiccolo commented on #1083
@toyinogunseinde
I don't seem to be able to reproduce this...
Are you deleting the code or the whole voucher?

Looks like the issue happens when deleting the voucher without deleting the codes.
Can you confirm?

Thanks

[2020-04-06 18:44] toyinogunseinde commented on #1083
@eri-trabiccolo
Yes, you're correct. This happens when the voucher is deleted without deleting the codes. Looks like it's still stored in the tables or something.

Thanks

[2020-04-07 12:07] toyinogunseinde opened #1084 "Conflict with IdeaPush Plugin"
### Reproduction Steps

Install and activate the Plugin [Ideapush](https://wordpress.org/plugins/ideapush/)
Click on any course(backend)
All existing access plans are gone.
https://www.loom.com/share/44c90c92c7874f03827e1d843aee56f5

### Expected Behavior

I believe it shouldn't remove the access plans

### Actual Behavior

Removes the access plans in courses

### Error Messages / Logs

HS-116748

[2020-04-07 13:16] thomasplevy commented on #1084
Can you open the JS console and check if any errors are reported?

[2020-04-07 14:10] toyinogunseinde commented on #1084
Yes, I saw some error there
`llms.js:2189 waiting...
llms.js:2189 waiting...
post.php?post=1879&action=edit:1 [DOM] Found 12 elements with non-unique id #_ajax_nonce: (More info: https://goo.gl/9p2vKq) <input type=​"hidden" id=​"_ajax_nonce" name=​"_ajax_nonce" value=​"01db1caaa8">​ <input type=​"hidden" id=​"_ajax_nonce" name=​"_ajax_nonce" value=​"01db1caaa8">​ <input type=​"hidden" id=​"_ajax_n

[2020-04-07 15:03] eri-trabiccolo commented on #1084
@thomasplevy && @toyinogunseinde
the issue depends on the fact that that plugin registers a taxonomy called `status` and that we use a query arg named `status` here:
https://github.com/gocodebox/lifterlms/blob/3.37.16/includes/models/model.llms.product.php#L71

I haven't really looked at this in depth, just followed the thread: the query performed in `LLMS_Product::get_access_plans()` returns an e

[2020-04-07 15:25] thomasplevy commented on #1084
@eri-trabiccolo please test the theory and let me know the results

[2020-04-07 15:27] eri-trabiccolo commented on #1084
which theory?
Do you meant "It'll fix the issue." ?
Sorry, it was: "It fixes the issue.". I tested it before writing.

About the `post_status` I've just verified we create access plans as `published` and don't see where we could set their status to anything else.

[2020-04-07 15:34] thomasplevy commented on #1084
It's supposed to be "post_status" and I typoed and never noticed it because there's no reason a plan would ever have any other status. I guess I meant "test if there's any drawbacks" which I can't imagine there being any

I didn't realize you already tested that it works when changing.

If you don't see a problem submit a pr and I'll deploy later today

Thanks

[2020-04-07 15:35] thomasplevy commented on #1084
@toyinogunseinde please update customer that we've located the source of the issue and we should have it resolved in a release in the next 24 to 48 hours

[2020-04-07 16:08] thomasplevy commented on #1079
Bumping my contact...

[2020-04-07 16:13] thomasplevy commented on #1073
@toyinogunseinde we're checking back in on this issue and the issue I opened on their GitHub has had no movement on it. Is this ticket still open? Has the customer had any success reaching out to the developers?

[2020-04-07 16:58] toyinogunseinde commented on #1073
@thomasplevy The ticket is closed but I've got another customer with the same issue as well. HS-116652

[2020-04-07 17:01] thomasplevy commented on #1073
@toyinogunseinde please have the customer's reach out to the developers of the nginx plugin directly. This isn't something that we're going to be able to fix but I'd like to leave the issue open for now

[2020-04-07 23:15] thomasplevy commented on #1083
@toyinogunseinde a fix is in the works, let the customer know we should have this resolved in the next 24-48 hours

[2020-04-07 23:34] #1084 closed

[2020-04-07 23:37] thomasplevy opened #1087 "Add voucher table cleanup when an llms_voucher post is deleted"
When a voucher post type is deleted we should have relationship cleanups to drop records from the voucher to product xref table and the voucher code table

Cleanup class: https://github.com/gocodebox/lifterlms/blob/master/includes/class.llms.post.relationships.php

Partially related to #1083

[2020-04-08 04:40] andrey-agp commented on #1079
another one https://app.intercom.com/a/apps/hrpt54hy/inbox/inbox/2206660/conversations/26515826903

[2020-04-08 13:29] parfilov commented on #624
+1

[2020-04-08 14:21] nrherron92 opened #1088 "Emails Not Sending After Failed Email for Deleted Course"
HS-116009

It looks like there's a notification that was sent for a course that's been deleted so the notification is failing to send and there's like 30 notifications in the queue with no new notifications being sent.

Any emails related to LifterLMS Courses/Memberships/Purchases do not seem to send though a password email reset has sent and a notice of manual enrollment has been sent.

[2020-04-08 16:17] thomasplevy opened #1089 "Reset password use of `lostpassword_post` doesn't pass `WP_Error`."
The core `lostpassword_post` hook (https://developer.wordpress.org/reference/hooks/lostpassword_post/) added a second parameter (a `WP_Error` object in version 4.4.0.

We haven't updated our password flow to mimic this behavior which means any developer hooking into this hook would have to add a custom handler to incorporate our password reset flow into their code.

https://github.com/gocodebox/li

[2020-04-08 17:38] #1083 closed

[2020-04-09 13:34] eri-trabiccolo commented on #1037
This doesn't occur in https://github.com/gocodebox/lifterlms/tree/3.38.0 (while still occurs with #1092 applied).

[2020-04-09 15:17] thomasplevy commented on #1037
I was not trying to fix this in #1092

[2020-04-09 15:19] eri-trabiccolo commented on #1037
@thomasplevy Yeah I know, was just a note for me, sorry <3

[2020-04-10 08:37] toyinogunseinde commented on #1079
Another ticket here: HS-117249

[2020-04-10 09:22] toyinogunseinde opened #1093 "Deleting Orders does not reflect on the settings(Net sales) page"
### Reproduction Steps

Make an order
Delete the order

### Expected Behavior

I assume it should be deleted from Net sales on the settings page

### Actual Behavior

It doesn't get deleted

HS-116661

[2020-04-10 09:24] toyinogunseinde commented on #1093
Never mind. I had to delete from the trash as well.

[2020-04-10 15:16] thomasplevy commented on #1079
I have been connected with some people at ET but haven't heard back from them since 4/7. I just sent a little reminder email to check on the status.

[2020-04-10 15:19] #846 closed

[2020-04-10 15:19] #1089 closed

[2020-04-10 15:20] thomasplevy commented on #1093
Reporting should exclude items in the trash anyway though, reopening

[2020-04-10 15:29] eri-trabiccolo commented on #849
This PR of yours @thomasplevy has been accepted:
https://github.com/woocommerce/woocommerce/pull/23660

that's the filter we actually needed, and it will also solve #1037!

[2020-04-10 16:41] eri-trabiccolo commented on #888
reported here too:
https://wordpress.org/support/topic/customization-need-on-purchase-form/

[2020-04-10 22:18] #1037 closed

[2020-04-11 10:32] toyinogunseinde opened #1095 "Access plan Checkout Redirect to Custom URL fails"
### Reproduction Steps

Create an access plan on a course.
Change checkout redirect to Custom URL and put the URL
When checking out, it takes you to thedomain.com/wp-admin

### Expected Behavior

Meant to redirect to the specified URL

### Actual Behavior

Redirects to thedomain.com/wp-admin

HS-117227

[2020-04-11 11:04] toyinogunseinde commented on #1079
We are seeing an increase in this number HS-117387

[2020-04-11 12:57] thomasplevy commented on #1079
@toyinogunseinde Please continue letting customers know that we are trying to work with ET to resolve this issue. If you haven't already told them, please ask them to reach out to ET as well to see if they can get any assistance from ET directly instead of relying on us to be solely responsible for resolving this conflict. Thank you.

[2020-04-11 13:40] thomasplevy commented on #1088
@eri-trabiccolo I haven't had time to look into this, can you have a closer look if you have some time.

I thought I had some way to recreate it but it didn't work

[2020-04-11 14:03] eri-trabiccolo commented on #1088
@thomasplevy
Short answer: I will.
Long:
I actually tried to reproduce this issue, but with no luck. I need to take another look into this, I wonder if there's something else blocking... and what is actually blocked: the email sending or the scheduled process (in this case other processes could be as well).

[2020-04-11 19:11] toyinogunseinde opened #1096 "Change the currency in sales reporting tab"
### Reproduction Steps
Change your currency to something else apart from Dollars
Go to Reporting >> Sales
It still stays at Dollars
![image](https://user-images.githubusercontent.com/62220599/79052754-8fbca200-7c30-11ea-95e2-2e7b3ff2db1c.png)

### Expected Behavior
Supposed to change the currency to the currency in settings

### Actual Behavior

Still remains at Dollars

[2020-04-13 15:05] nrherron92 opened #1097 "Quizzes Jump around on smaller screens"
### Reproduction Steps

Create a quiz with at least four answers in a multiple choice.
Make your screen smaller.
Go through the quiz.

### Expected Behavior

Smooth transitions between questions.

### Actual Behavior

The page jumps around as every new question loads creating a "flicker"

HS-116437

[2020-04-13 17:27] toyinogunseinde opened #1098 "Twilio Integration doesn't work"
### Reproduction Steps

Create an SMS engagement and try to do that engagement

### Expected Behavior

Meant to send a message

### Actual Behavior

Doesn't send any SMS message

HS-117540

[2020-04-13 17:41] thomasplevy commented on #1079
@toyinogunseinde @nrherron92 we're going to have to resolve this from our side, fix pending at #1099, awaiting code review and will hopefully be able to ship tomorrow

[2020-04-13 19:38] thomasplevy commented on #1098
@toyinogunseinde moving to Twilio plugin

[2020-04-13 19:44] thomasplevy commented on #1097
@nrherron92

Can you update this with a more thorough description of a "flicker"?

I loaded up a quiz on a small screen and I don't see anything weird going on... I guess I don't really know what I'm looking for. I know describing a flicker feels like an impossible task but I have no idea what I'm looking for based on this description.

[2020-04-13 19:50] thomasplevy opened #1100 "It should not be possible for an administrator to change their role to "Instructor""
### Reproduction Steps

+ Login to admin panel as an administrator
+ Visit Admin->Users
+ Select yourself using the checkbox
+ Select "Instructor" from the bulk role change dropdown on the top of the page
+ Click "Change" button

### Expected Behavior

+ The WP core prevents admins from changing their role to any role without the `edit_users` capability and this behavior would be expected trying t

[2020-04-13 22:00] thomasplevy commented on #1095
@toyinogunseinde looks like the issue is actually a regression introduced in version 3.34.0 and occurs only when redirecting to a domain other than than the current site's domain.

PR #1101 should get merged in and released in next 48 hours

[2020-04-14 03:36] zainirfani commented on #888
Dear Team, Thanks for cooperation, We resolve this Issue through our JUGAAD theory if you need how please visit this link [( http://www.whatdigi.com/lifter-lms-resolving-lifter-lms-login-page-issue/)]

[2020-04-14 11:02] nrherron92 commented on #1097
It happens on a small screen where you can't see all the answers or the questions really long creating a scroll. With there being a scroll when you go from one question to the next the page takes a second to settle on where you previously scrolled to in the last question creating the jumping around/flicker effect. There's also a video of it here:  https://www.loom.com/share/62ba94da9523459bbb2cc34

[2020-04-14 11:06] nrherron92 opened #1102 "Reviewing Old Quizzes that have been changed causes critical error"
### Reproduction Steps

+ Create a quiz
+ Take the quiz (as a student so it shows up in reporting)
+ Go back to quiz and remove a question or delete it.
+ Go into reporting to review the quiz for the student.
+ Attempt to save the review.

### Expected Behavior

+ the review saves

### Actual Behavior

+ it throws an error

### Error Messages / Logs

+ Include any relevant error messages or log fi

[2020-04-14 12:22] thomasplevy commented on #1102
@nrherron92 this is a duplicate of #840

[2020-04-14 12:22] #1102 closed

[2020-04-14 17:41] #1079 closed

[2020-04-14 17:42] #1095 closed

[2020-04-15 10:38] toyinogunseinde opened #1103 "Reporting is not captured for mobile users"
### Reproduction Steps
Enroll for a course on your phone.
Watch the first few lessons.
Check reporting tab on LifterLMS

### Expected Behavior

Either Desktop or mobile, it should record the progress of the student

### Actual Behavior

Not recording progress from mobile. Only records via desktop/laptop

HS-117743

[2020-04-15 11:43] eri-trabiccolo commented on #1103
@toyinogunseinde
what do you mean with "watch the first few..."?
I guess, "complete the first few lessons". Right?

Also, is it something you've been able to reproduce?

[2020-04-15 11:46] toyinogunseinde commented on #1103
@eri-trabiccolo Yes, I meant complete few lessons.
I was able to reproduce this on my test site and I found same issue

[2020-04-15 12:02] eri-trabiccolo commented on #1103
thanks @toyinogunseinde ! <3

[2020-04-15 12:46] eri-trabiccolo commented on #1103
@toyinogunseinde I'm not able to reproduce this.
Have you already cleaned the Student Progress Cache under Status -> Tools ?

[2020-04-15 14:19] toyinogunseinde commented on #1103
@eri-trabiccolo That was the issue. Thanks a lot!! :)

[2020-04-15 14:19] #1103 closed

[2020-04-16 01:37] ericnicolaas opened #1104 "User registration for user with apostrophe in email results in 403 Forbidden Error"
### Reproduction Steps

1. In WordPress dashboard, go to Users > Add New.
2. Add anything for the username.
3. Make the email address something with an apostrophe in the local-part. i.e. `eric's@test.dev`
4. Submit user.

### Expected Behavior

The user should be created normally.

### Actual Behavior

You get a 403 Forbidden Error if LifterLMS is enabled; with core WP, it works as expected.

Like

[2020-04-16 02:41] thomasplevy commented on #1104
@ericnicolaas I'm not seeing this issue, that doesn't necessarily mean it's not a legitimate issue but we're going to need some more information from you to move forward.

Could you please confirm this happens with only LifterLMS and a default theme (say twentytwenty) installed (and no other plugins).

Could you also post a copy of your LifterLMS System Report for us to have a look at

Thanks

[2020-04-16 13:48] toyinogunseinde commented on #535
HS-117849 I feel once disabled from the endpoint, it shouldn't be in the dashboard as well(thereby using CSS to hide it). From the perspective of a customer, If i remove something from an endpoint, that means i don't need that feature. I do not need to use extra CSS to remove it

[2020-04-16 17:07] thomasplevy commented on #535
Agreed, that's why we've added this is a bug @toyinogunseinde :-D

[2020-04-17 11:52] nrherron92 opened #1105 "LifterLMS Block Enrollment Visibility does not save with Atomic Blocks or Vdo Cipher"
### Reproduction Steps

+ Install Atomic Blocks (or Vdo Cipher)
+ Add an AB Block to a course.
+ Set the restriction to anything but the default and save.
+ Refresh the page.

### Expected Behavior

+ The restriction settings would be saved and applied to the block on the front end.

### Actual Behavior

+ The settings get reset to the default

HS-117815 (Atomic Blocks)
HS-117906 (VdoCipher -- he

[2020-04-17 14:58] thomasplevy commented on #1105
Transferring to blocks repository

[2020-04-17 16:03] thomasplevy commented on #1088
https://github.com/gocodebox/lifterlms-assignments/pull/35/files

[2020-04-17 16:05] thomasplevy commented on #1088
@eri-trabiccolo did some detective work and found that this is happening as a result of a "notification" post type in the user's database (so a plugin conflict) coupled with a bug in the LifterLMS Assignments plugin causing the `LLMS_Notification` class to attempt to be constructed via `llms_get_post()`

This particular issue will actually be resolved by several updates from both the core and the

[2020-04-17 16:06] thomasplevy commented on #1104
@eri-trabiccolo when you have a free moment can you attempt recreation steps and let me know if you're seeing this issue or not.

[2020-04-17 16:21] eri-trabiccolo commented on #1104
@thomasplevy
cannot reproduce either mmm

[2020-04-17 16:59] thomasplevy commented on #1104
@ericnicolaas please let us know if you can provide the additional information requested above and we'll reopen.

[2020-04-17 16:59] #1104 closed

[2020-04-17 17:16] eri-trabiccolo opened #1108 "PHP notices when entering Gamipress Tools or Settings admin screens"
### Reproduction Steps

+ Install Gamipress plugin
+ Install LifterLMS plugin ;)
+ Make sure you have the debug log on
+ From your wp dashboard navigate through Gamipress -> Settings

### Expected Behavior

+ No PHP notices

### Actual Behavior

+ PHP notices printed

### Error Messages / Logs

[code]

### System Information

<summary>System Report</summary>

[code]

### Browser, Device, and Opera

[2020-04-17 18:53] parfilov opened #1110 "Untranslatable strings"
Hello! I’m Lifter LMS Russian PTE. There are some untranslatable strings in the plugin and here I want to place some of them. Please don’t close this issue for some time while I’m working at translation. I’ll post strings when I’ll find them.

[2020-04-17 18:55] parfilov commented on #1110
The first part is Catalog & Search Visibility options.

**Strings**
- Catalog & Search Visibility
- Visible
- Catalog Visibility
- Visible in the catalog and search results.
- Catalog only
- Only visible in the catalog.
- Search only
- Only visible in search results.
- Hidden
- Hidden from catalog and search results.

[2020-04-17 18:56] parfilov commented on #1110
Enrollment Visibility settings.

**Strings**
- Enrollment Visibility
- Display to
- everyone
- enrolled users
- non-enrolled users or visitors
- logged in users
- logged out users

[2020-04-17 18:57] parfilov commented on #1110
Coupon Settings General tab doesn't inherit the translation.

[2020-04-17 20:48] parfilov commented on #1110
Coupon General Settings

**String**
When checked, the coupon can apply a discount to an access plan's "Trial Price"

[2020-04-17 21:41] thomasplevy opened #1111 "Coupon Settings General tab doesn't inherit the translation."
Coupon Settings General tab doesn't inherit the translation.

_Originally posted by @parfilov in https://github.com/gocodebox/lifterlms/issues/1110#issuecomment-615410166_

[2020-04-17 21:42] thomasplevy commented on #1110
A great deal of this is resulting from a complete lack of localization in [lifterlms-blocks](https://github.com/gocodebox/lifterlms-blocks). Historically this stems from having developed blocks very quickly since we kept hearing that the block editor was going to be delayed months and months and then we all collectively realized that Matt was not having any of that and it shipped on time surprisin

[2020-04-17 21:44] thomasplevy opened #1112 "Coupon General Settings"
Coupon General Settings

**String**
When checked, the coupon can apply a discount to an access plan's "Trial Price"

_Originally posted by @parfilov in https://github.com/gocodebox/lifterlms/issues/1110#issuecomment-615456691_

[2020-04-17 21:47] thomasplevy commented on #1110
@parfilov I've moved the confirmed issues to other independent issues. "Epic" issues with multiple issues across various files and codebases gets hard to track! If you see other strings or issues could you open new issues for them instead of posting them as comments on this one epic thread? WE'll get to all of them (I promise) and I don't actually care how many issues there are or you open I just

[2020-04-17 22:04] #1108 closed

[2020-04-17 22:40] parfilov commented on #1110
@thomasplevy [this](https://github.com/gocodebox/lifterlms/issues/1110#issuecomment-615409076) strings are not a part of blocks
Here they are.
<img width="660" alt="Catalog   Search Visibility" src="https://user-images.githubusercontent.com/12493645/79619437-25fb3700-810d-11ea-8bcc-baeff9b916ef.png">

[2020-04-17 22:42] parfilov commented on #1110
@thomasplevy and [this](https://github.com/gocodebox/lifterlms/issues/1110#issuecomment-615409484) strings are here:
<img width="660" alt="Enrollment Visibility" src="https://user-images.githubusercontent.com/12493645/79619533-770b2b00-810d-11ea-9a8e-dc45f8912727.png">

[2020-04-17 22:45] parfilov commented on #1110
Ok. I'll try to create 1 issue for 1 string or strings group.

[2020-04-17 23:19] thomasplevy commented on #1110
@parfilov

Well yes, you're right, these are not in "blocks" but it's all rendered via JS in the block editor so it suffers from the lack of localization identified by gocodebox/lifterlms-blocks#3

I'm going to close this particular issue in favor of that existing issue.

Thanks for your reports and if you find anything else let us know.

Best,

[2020-04-17 23:20] #1110 closed

[2020-04-19 14:29] wpp-github opened #1114 "The course page of one course displays other course information"
In a course page, when the mouse continues to slide, the page information of other courses will be loaded automatically. How to solve this problem

[2020-04-19 14:42] thomasplevy commented on #1114
@wpp-github

The information in the issue template is absent from your issue, could you please edit your issue and add the requested information from the template

Posting a video of your issue would help a lot. I'm note sure what you're describing here.

[2020-04-19 14:55] wpp-github commented on #1114
http://47.96.7.125/index.php/test-0416-page/
If you enter the details page of a course，for example http://47.96.7.125/index.php/course/face-rec/, not only the course information will be displayed, but also the information of other courses will appear when the mouse continues to scroll

[2020-04-20 00:43] ericnicolaas commented on #1104
My apologies — I've since tested this on a blank install with just Lifter and it works there, so must be something else in our environment causing the issue.

[2020-04-20 03:02] #1114 closed

[2020-04-20 16:54] thomasplevy commented on #1104
@ericnicolaas glad to hear you figured it out

[2020-04-20 16:54] #1111 closed

[2020-04-20 16:54] #1112 closed

[2020-04-20 17:12] #1088 closed

[2020-04-21 15:32] nrherron92 opened #1116 "Course outline not unmarking lessons complete when quiz attempt removed"
### Reproduction Steps

+ Add the course outline to a course
+ Add a quiz to the course
+ Take the quiz
+ Go into Reporting and remove quiz attempt
+ Clear student reporting cache
+ Go back into the course and look at the syllabus

### Expected Behavior

+ The lesson for the quiz should be marked as incomplete not crossed out

### Actual Behavior

+ it's still crossed out.

HS-118408

[2020-04-23 08:00] eri-trabiccolo opened #1118 "Fatal when downloading a certificate if mbstring PHP module not installed/enabled"
The mbstring PHP module is optional, so I think we need a fall back.

### Reproduction Steps

+ On a server where the mbstring PHP module is not installed/enabled download/save a certificate
+ Check the error log

### Expected Behavior

+ I expect to download the certificate without any issues

### Actual Behavior

+ Cannot download the certificate

### Error Messages / Logs

[code]

### System In

[2020-04-23 09:02] toyinogunseinde opened #1119 "Add reveiews manually"
### Reproduction Steps
I know reviews can be added from the frontend of the course but you can't select the course the review is for at the backend.

Go to Courses >> Reviews >> Add new.
There's no option to map the review to a course.

### Expected Behavior

There should be a checkbox or Course field option

### Actual Behavior

No course field option

HS-118735

[2020-04-23 15:03] thomasplevy commented on #1119
Please add this as a feature request on the Trello board

[2020-04-23 15:03] #1119 closed

[2020-04-23 15:28] thomasplevy commented on #1116
@eri-trabiccolo do you have some capacity to have a look at this?

[2020-04-23 15:34] eri-trabiccolo commented on #1116
mmm yeah, I think it should be "easy" because we should be able to unmark the lesson completed if the trigger is the quiz whose attempt we just removed.

[2020-04-24 15:59] eri-trabiccolo opened #1120 "Fatal when downloading a certificate if mime_content_type PHP function not available."
### Reproduction Steps

+ On a server where the PHP function `mime_content_type()` is not available download/save a certificate

### Expected Behavior

+ I expect to download the certificate without any issues

### Actual Behavior

+ Cannot download the certificate due to a fatal error

### Error Messages / Logs

It should be a classic PHP fatal for non existent functions.

### System Information

[2020-04-27 14:32] toyinogunseinde opened #1121 "Enrollment End date rule is not obeyed"
### Reproduction Steps

On a course, Go to Restrictions
Put any start date
Put an end date(like yesterday or two days ago)

### Expected Behavior

Should not allow users enroll for the course.

### Actual Behavior

Users can still enroll even after enrollment date has lapsed.

### Error Messages / Logs

HS-119283

[2020-04-27 15:17] thomasplevy commented on #1121
@toyinogunseinde

Is the access plan that's allowing enrollment a *free* access plan?

[2020-04-27 15:22] toyinogunseinde commented on #1121
@thomasplevy Yes, it's a free plan

[2020-04-27 15:23] thomasplevy commented on #1121
This logic here: https://github.com/gocodebox/lifterlms/blob/bd78c8c04aaa20073b649c64d93834de9d53491d/templates/product/pricing-table.php#L20

Allows free access plans to bypass enrollment restrictions.

This logic (of allowing free) is intended to allow free access plans to be purchased without any access plans enabled, however it's creating this issue while fixing that one.

[2020-04-27 15:26] thomasplevy commented on #1121
This is a pretty easy fix, I should have it reworked in a few hours

[2020-04-28 15:55] toyinogunseinde opened #1122 "Post Excerpt doesn't get updated(either deleted or removed)"
### Reproduction Steps

Open up a course.
Type an excerpt to the right sidebar(not the one below the editor)
Click on update.

### Expected Behavior

Meant to either remove or update to the latest excerpt on it

### Actual Behavior

If there was an excerpt before, it won't get deleted and if there was none before and you add one, it'll get deleted

### Error Messages / Logs

HS-119283
https://www.

[2020-04-28 16:18] thomasplevy commented on #1122
@toyinogunseinde I see Elementor is enabled. Have you ruled out plugin conflicts yet?

[2020-04-29 14:41] toyinogunseinde commented on #1122
Likely to be a plugin conflict. Just tried on a fresh site and it worked!

[2020-04-29 15:45] thomasplevy commented on #1122
@toyinogunseinde

Do you have time to determine the conflicting plugin and then get back to me so we can determine if we can fix it in the core?

[2020-04-29 15:48] toyinogunseinde commented on #1122
@thomasplevy  I'm working on that already. I Will let you know as soon as I'm able to get something. Thanks

[2020-04-29 16:13] #1121 closed

[2020-04-29 16:23] thomasplevy opened #1128 "Spelling error in variables passed to product/pricing-table.php template"
`$purchaseable` instead of `$purchasable`

In template:

https://github.com/gocodebox/lifterlms/blob/147a433eeb8fb9415f8096034d2eea75eb67c8a7/templates/product/pricing-table.php

In template function:

https://github.com/gocodebox/lifterlms/blob/147a433eeb8fb9415f8096034d2eea75eb67c8a7/includes/functions/llms.functions.templates.pricing.table.php#L223-L229

Test has spelling error (no real errors

[2020-04-29 18:00] #1128 closed

[2020-04-29 19:22] thomasplevy commented on #1013
Moved to Travis

[2020-04-29 22:14] thomasplevy commented on #1121
@toyinogunseinde this is fixed in LifterLMS 3.38.0

[2020-05-01 07:30] toyinogunseinde opened #1131 "Users should not be able to select lesson prerequisites outside of current course"
### Reproduction Steps

Open a lesson in lesson editor(Not course builder)
Enable prerequisites and try to select a lesson. You'll notice all lessons from different courses show up as well

### Expected Behavior

Meant to show the lessons in the current course as a prerequisite

### Actual Behavior

Shows all lessons in all courses

HS-119847

[2020-05-01 13:29] toyinogunseinde opened #1132 "Bbpress Forums not private"
### Reproduction Steps

Install Bbpress and activate
Create a forum and attach the forum to a course.

### Expected Behavior

The forum should be accessed by students only enrolled in that course

### Actual Behavior

Anyone with the forum link can access the course(read-only)

HS-119870

[2020-05-01 16:41] toyinogunseinde commented on #1120
Any news on this yet? HS-119399

[2020-05-01 16:55] eri-trabiccolo commented on #1120
@toyinogunseinde not yet.

[2020-05-01 17:11] eri-trabiccolo opened #1133 "Certificate image can be cut off"
### Reproduction Steps

It can be reproduced with the Launchpad theme and the default certificate, even if it's not that visible (or maybe not visible at all because the default certificate has some white gap all around).

It gets more visible if you set a bigger body/content font-size and/or line-height.
Or even more if the theme doesn't align images vertically to the middle (e.g. **Divi**).

All

[2020-05-04 14:27] eri-trabiccolo commented on #1132
@thomasplevy
This is because we now save the attached bb forum id as string (this is an unwanted side effect after the big inputs sanitization youknowhatimean), but still try to retrieve it as integer:
https://github.com/gocodebox/lifterlms/blob/3.38.0/includes/integrations/class.llms.integration.bbpress.php#L232

The values used to be something like:
`a:1:{i:0;i:2299;}`

while now they are like:

[2020-05-04 18:30] thomasplevy commented on #1132
@eri-trabiccolo thanks for digging into this. Seems like a reasonable cause for the regression.

Regarding other places where the filter is used could you please open that as a new issue to investigate so we don't lose track of it in this. I don't want to bundle that into this issue.

Also, can you take on the fix since you've already dug into it?

[2020-05-04 19:01] eri-trabiccolo commented on #1132
@thomasplevy ok, will do that tomorrow, need to better investigate on what's better between FILTER_VALIDATE_INT and the current sanitization + `absint()` .

[2020-05-04 19:40] #1133 closed

[2020-05-05 06:55] toyinogunseinde commented on #1120
@thomasplevy @eri-trabiccolo This is the third time the customer is sending an email to check-in. It seems urgent to him. Thank you :)

[2020-05-05 09:45] eri-trabiccolo commented on #1132
@thomasplevy I was partially wrong, the issue has been introduced only recently:
https://github.com/gocodebox/lifterlms/commit/30cc2696f524ae1f1504d3ae2f422c4d0ced8ceb#diff-87d6397af0c5d22875aac53a3692fb6b

[2020-05-05 14:31] toyinogunseinde opened #1135 "Divi doesn't recognize LifterLMS quizzes as a custom post type"
### Reproduction Steps

Install Divi
Customize your header and styles.
Launch course builder and insert a quiz into a lesson.

### Expected Behavior

When you launch the quiz, it's meant to still take the global header settings and not go to default header settings

### Actual Behavior

Goes to default header settings.

This is the header that has been customized

[image removed]

When you click o

[2020-05-05 14:36] eri-trabiccolo commented on #1132
@thomasplevy
While I finishing the PR I had in mind, I realized that we should actually keep on saving forum ids as array of strings. Here's the reason:
If we look at this query LIKE clause:
https://github.com/gocodebox/lifterlms/blob/3.38.0/includes/integrations/class.llms.integration.bbpress.php#L232
`				'%' . sprintf( 'i:%d;', absint( $forum_id ) ) . '%'`

we don't differentiate (and I think w

[2020-05-05 16:39] thomasplevy commented on #1122
@toyinogunseinde can I get an update on whether or not we've determined if this is in fact a plugin conflict or not?

[2020-05-05 16:49] thomasplevy commented on #1135
@toyinogunseinde from my perspective this is not really a bug in LifterLMS or DIvi and while the behavior is obviously not ideal it's not like #1079 where LifterLMS + Divi is unuseable as a result of the conflict.

At this moment we're not going to change the LifterLMS core to support this. I'm not sure why Divi isn't recognizing quizzes but it's not. It's not our responsibility to make sure every

[2020-05-05 16:49] #1135 closed

[2020-05-05 21:00] markwill890 commented on #1131
This seems to be the exact opposite of what I requested (opened as a ticket with LifterLMS support)

The requirement is to be able to create prereqs on lessons outside of the current course. I do that right now, by editing post (lesson) properties. But that can’t be done via the Builder, which was my request. It’s an important feature for me on which I am heavily reliant.

However, the documented

[2020-05-05 21:16] thomasplevy commented on #1131
@markwill890

Thanks for the clarification on your issue. Unfortunately what is happening here is a bug. The behavior you're *relying on* which you are considering a feature is a bug from a development perspective. By that I mean that we write and maintain the code and the code is actually not functioning as we have intended it to function.

Fortunately we all get to work together to determine whe

[2020-05-05 21:44] thomasplevy opened #1136 "Travis builds failing due to composer timeouts"

[2020-05-06 10:58] toyinogunseinde commented on #1122
@thomasplevy For some reason, it doesn't update on the Default LifterLMS course but it does for other courses. I just tried this on my test site. Also, if you clone a course from the Default LifterLMS course, it does the same thing.

[2020-05-06 11:04] eri-trabiccolo commented on #1122
@toyinogunseinde no other plugins active?

[2020-05-06 14:19] toyinogunseinde commented on #1122
@eri-trabiccolo Yeah, No plugins or add-ons available. Just LifterLMS core

[2020-05-06 15:13] thomasplevy commented on #1122
That's an interesting observation and will help out a bit. Knowing this can you relay this to the customer so we can de-prioritize knowing that it does actually work and more than likely the issue lies in metadata on the course import?

[2020-05-06 16:10] thomasplevy commented on #1136
Added environment variable in travis settings: `COMPOSER_PROCESS_TIMEOUT=1200` (20 minutes)

There's likely some more we can do to improve the test coverage script but this should work for now

[2020-05-06 16:10] #1136 closed

[2020-05-06 16:18] #1132 closed

[2020-05-06 16:49] toyinogunseinde commented on #1122
@thomasplevy Customer has been updated with this information.

[2020-05-06 16:57] eri-trabiccolo commented on #1118
@thomasplevy I'm still documenting about that, I'm not sure `htmlspecialchars_decode(utf8_decode(htmlentities($htmls, ENT_COMPAT, 'UTF-8', false)));`
is the correct solution here.
I'm seeing different approaches in WP, e.g. using a symfony polyfill .

given the fact that as far we know we only have 1 user affected by that and that he fixed the issue by asking his hosting provider to enable the mul

[2020-05-06 17:01] thomasplevy commented on #1118
@eri-trabiccolo if the affected user is under control let's move this to future and investigate further when we have more reports or some additional breathing room.

If you could post a link to the polyfill as used in the WP core that would be cool so we don't lose it too, please!

[2020-05-06 17:04] eri-trabiccolo commented on #1118
sorry, meant WP world, e.g. Caldera Forms, Back WP Up use it:
https://github.com/inpsyde/backwpup/tree/master/vendor/symfony/polyfill-mbstring

[2020-05-06 17:56] thomasplevy commented on #1118
ah okay

[2020-05-11 16:00] #1120 closed

[2020-05-11 17:15] thomasplevy opened #1141 "Update build process to use `llms-dev pot` in favor of `gulp pot`"
Currently the `llms-dev pot` command will not work because it will always automatically ignore the `/vendor` directory which means the `lifterlms-rest` and `lifterlms-blocks` will not be scanned for translations when generating the pot file.

In order to overcome this we can use the `--merge` argument from the underlying `wp cli i18n make-pot` command. In order to do this we must start generating

[2020-05-11 17:19] lukecav commented on #462
Any progress on updating LifterLMS to use the more current version of WP Session Manager?
https://github.com/ericmann/wp-session-manager/releases/tag/4.2.0

[2020-05-11 17:21] thomasplevy commented on #462
@lukecav

This is on our backlog still

[2020-05-11 17:53] lukecav commented on #462
@thomasplevy

Any ETA?

[2020-05-11 19:56] thomasplevy commented on #462
@lukecav It's currently on the [future](https://github.com/gocodebox/lifterlms/milestone/18) milestone with no eta as it has not been prioritized.

It's been prioritized this way as we don't see a lot of issues resulting from the use of this library and, for those who do have problems it can easily be disabled with little impact (as noted [above](https://github.com/gocodebox/lifterlms/issues/462#i

[2020-05-11 20:21] lukecav commented on #462
WP Session Manager version 1.2.2 will only delete 1000 expired sessions every 12 hours so if a site has higher expired sessions then those will not be removed.

[2020-05-12 13:29] eri-trabiccolo opened #1142 "PHP Warning when deleting a quiz attempt"
### Reproduction Steps

+ From LifterLMS -> Reporting -> Quizzes visit the Attempts screen (so you need at least a quiz with an attempt)
+ Click on a quiz attempt
+ Delete the attempt

### Expected Behavior

+ Attempt deleted with no warnings

### Actual Behavior

+ Attempt deleted but with warnings

### Error Messages / Logs

[code]

### System and Environment Information

[code]

This issue has

[2020-05-12 14:31] eri-trabiccolo commented on #1142
I'm actually working on #1116 and unless you have something against it I will ship a fix for this in the PR for that issue.

[2020-05-12 16:10] thomasplevy commented on #1142
@eri-trabiccolo sounds good

[2020-05-13 00:09] thomasplevy commented on #462
@lukecav thanks for the information. Work has begun to remove the library, we've weighed the pros and cons of upgrading vs. removing and decided to build the functionality we require into the core and remove the 3rd-party dependency. Likely we're a few weeks out from a release in the core but work has begun.

[2020-05-13 15:10] nrherron92 opened #1143 "LifterLMS Quiz Screen not Loading in Builder"
### Reproduction Steps

+ Open the builder for a course
+ Attempt to look at a quiz in the course

### Expected Behavior

+ The quiz settings and questions should load

### Actual Behavior

+ there appears to be a javascript error that loads and loads
+ you have to look at a different lesson setting and come back to the quiz to get it to load

### Error Messages / Logs

+ Include any relevant erro

[2020-05-14 00:30] thomasplevy commented on #462
A few notes I don't want to lose:

1) The library hasn't been upgraded because there's been no security issues and it's been unclear to me until Monday that there was a clear scaling issues with the lib.
2) In determining how to resolve this issue, I found that the latest version of the library does not resolve this particular issue:

https://github.com/ericmann/wp-session-manager/blob/b5cafd92162

[2020-05-14 16:59] toyinogunseinde opened #1146 "Student isn't removed when a course is removed from a membership"
### Reproduction Steps

Create a membership
Add one or two courses
Enroll in the membership
Now, remove a course from the membership

### Expected Behavior

I expect the student to be removed from the course since the course isn't in the membership anymore

### Actual Behavior

The student still has access to the course

### Error Messages / Logs

+ Include any relevant error messages or log files

[2020-05-14 17:14] thomasplevy commented on #1146
@toyinogunseinde

My assumption is that by "remove the course from the membership" you mean "remove the course from the list of the membership's auto-enrollment courses. Is this correct?

If this is the correct reproduction step then this is technically working "as written" but not exactly as expected..

This gets *really complicated* really quickly because the whole issue here results from a wide

[2020-05-15 08:26] toyinogunseinde commented on #1146
@thomasplevy

I totally understand you but I was also convinced that it should work the same way. I will suggest that a more acceptable method will be to remove students from a course if a course is removed from membership.

I know this isn't a bug but more like a feature enhancement.

Thanks for your understanding

[2020-05-15 13:58] eri-trabiccolo commented on #1143
In this specific case the issue is due to a question which has no `question_type` set.
The JS error was also accompanied by a PHP one:
[code]
I'm not sure how this could've happened but it did, so I think we have to find a way to avoid this kind of situation.

[2020-05-19 11:43] eri-trabiccolo commented on #922
https://wordpress.org/support/topic/lifterlms-incompatible-with-arilewp-theme/

[2020-05-19 18:55] #1013 closed

[2020-05-19 18:55] #1143 closed

[2020-05-20 07:37] toyinogunseinde commented on #266
@thomasplevy @eri-trabiccolo I don't think this bug was fixed. I just created a free course locally and set the course end date to 18th May 2020.

I was still allowed to enroll for the course. I believe if the course end date has passed, it should remove the access plan block or even deactivate the access plan or something

[2020-05-20 07:42] eri-trabiccolo commented on #266
@toyinogunseinde according to the issue's labels: Type: Bug, Status: Can't Recreate
and the fact that this issue is still open I agree with you: this bug is not fixed.
I think that Thomas, as stated in his second comment, just forgot how to reproduce it, that's why he added Status: Can't Recreate.
Those are only my speculations of course :D

So yeah the issue should still be there.

[2020-05-20 13:22] eri-trabiccolo commented on #266
Toyin and I discussed about this, here's a summary of the status quo:
1) In the LifterLMS 3.38.0 changelog we can read:
"Fixed an issue causing free access plans to bypass course enrollment restrictions like capacity and enrollment time periods."
**enrollment restrictions**: **capacity and enrollment time periods** are the keys here.
As matter of fact that refers to the issue https://github.com/go

[2020-05-20 13:22] #266 closed

[2020-05-20 15:05] thomasplevy commented on #266
This is correct. This is the way it should work and it's not a bug.

Enrollment Dates and Course Dates (the time period when you are eligible to complete content) are two separate concepts with their own sets of restriction rules.

Ideally if you have a course which *ends* you'd want to setup enrollment dates to match that but you don't have to.

Perhaps we should have a discussion around whether

[2020-05-20 15:12] thomasplevy opened #1156 "LLMS_Abstract_User_Data::get_id() should always return an int"
https://github.com/gocodebox/lifterlms/blob/dcc6bdf184661cf3e9cf5d36803cbff72f51f524/includes/abstracts/llms.abstract.user.data.php#L180-L189

Return value should be passed through `absint()`

[2020-05-20 15:52] toyinogunseinde commented on #266
Thanks for the clarification @thomasplevy and @eri-trabiccolo. I was obviously confused. Many thanks.

[2020-05-21 09:42] nrherron92 opened #1159 "Yoast conflict on prereq setting dropdown in lessons"
### Reproduction Steps

+ Turn on LifterLMS
+ Turn on Yoast
+ Go into edit a lesson
+ Go down to the settings for the lesson and open the prereq screen

### Expected Behavior

+ The dropdown will look like you would expect a dropdown select menu to look

### Actual Behavior

+ The dimensions of the dropdown are out of proportion, you can't see what you selected, and the view bar takes up 100% widt

[2020-05-22 10:27] toyinogunseinde opened #1162 "Adding a coupon to a trial access plan removes the stripe payment gateway"
### Reproduction Steps

Add a trial pricing to a course, it can look this way:
![image](https://user-images.githubusercontent.com/62220599/82658250-9589a800-9c1e-11ea-8c58-f0844b4e8529.png)

Edit: A *free* trial with a coupon must be used to show this issue

Then create a coupon removing maybe 5% off the price and apply it on the purchase page.
You'll notice the stripe gateway disappears.

### Exp

[2020-05-26 15:34] eri-trabiccolo opened #1163 "Certificates printing: they can be shifted in an undesirable way"
### Reproduction Steps
This is something I've been able to reproduce under pretty specific circumstances but the issue itself is generic, that's why I report this here and not in LaunchPad where I've been (and our customer is) able to reproduce it.

+ With the LaunchPad theme
+ Create a certificate with an image with the following size: 1123(w)x794(h)px - which should be the size in pixels of the

[2020-05-26 15:54] thomasplevy commented on #1163
@eri-trabiccolo

since the issue here, I'm pretty certain, is the print-area margins that are automatically added how do you propose we "fix" this issue without also creating a lot of issues for users who don't have their image set to the full margin-less width/height of an a4 piece of paper?

[2020-05-26 16:23] eri-trabiccolo commented on #1163
@thomasplevy
The problem is the `.container` element in LP, that wraps the certificate container element, and has a width set to less than 100% (80%). This element's position is `relative`, so the certificate container elements, whose position is absolute in `print` media, refers to it and it's shifted on the right by 10% of the page's width.

My proposal is just that that we reset the `.container

[2020-05-26 21:14] eri-trabiccolo commented on #922
@thomasplevy maybe candidate for v4?

[2020-05-26 22:50] thomasplevy commented on #922
Yea good idea, I'll have a look at this later today or tomorrow.

[2020-05-27 16:05] thomasplevy commented on #1081
https://drive.google.com/drive/u/1/folders/0Bw2pzOxBity2VEtMTndqUFlFVDg?usp=sharing

[2020-05-27 22:59] thomasplevy commented on #1141
This has been added to LifterLMS REST as of beta.12

[2020-05-28 13:25] eri-trabiccolo commented on #933
An example where where this can be useful:
When checking if a lesson is complete we don't need to know the total results of the query, so we don't need to perform another query to retrieve the `FOUND_ROWS()`.

In this particular edge case the customer has 1 course with 16 sections and 206 lessons.
When displaying the course syllabus widget we perform:
- 16 queries to retrieve all the lessons per e

[2020-05-28 22:05] #1163 closed

[2020-05-29 17:48] thomasplevy commented on #899
Resolved via changes in #1161

[2020-05-29 18:16] thomasplevy commented on #682
Build instructions now exist at https://github.com/gocodebox/lifterlms/blob/master/docs/installing.md

[2020-05-29 18:16] #682 closed

[2020-05-29 18:20] thomasplevy commented on #1073
Closing as unfixable -- all attempts to communicate with the plugin developers have been unsuccessful.

[2020-05-29 18:20] #1073 closed

[2020-05-29 23:16] thomasplevy opened #1173 "LifterLMS 4.0.0 Beta Feedback"
This issue serves as a place for any comments or feedback on LifterLMS 4.0.0 that do not require or warrant an independent bug or  issue.

If you've found a bug or issue please open a [new issue](https://github.com/gocodebox/lifterlms/issues/new?template=Bug_Report.md).

[2020-05-29 23:45] thomasplevy opened #1174 "LifterLMS 4.0.0 3rd Party Compatibility"
This issue serves as a way for us to track confirmations of 4.0.0 compatibility with 3rd party plugins, integrations, and themes.

+ [x] [AffiliateWP](https://lifterlms.com/product/affiliatewp/)
+ [x] [Astra](https://lifterlms.com/product/astra/)
+ [ ] [Beaver Builder + LifterLMS](https://lifterlms.com/product/beaver-builder-lifterlms/)
+ [ ] [BuddyBoss for LifterLMS](https://lifterlms.com/product

[2020-05-30 19:52] liveaspankaj opened #1176 "Minor bug. Notice: Trying to get property 'post_content' in Course listing page"
Course listing page:
https://www.screencast.com/t/95Y27FYRKiT

Message: Notice: Trying to get property 'post_content' in Course listing page

[2020-05-31 17:29] thomasplevy commented on #1176
@liveaspankaj could you update your issue to include the information asked for in our issue template at https://github.com/gocodebox/lifterlms/issues/new?template=Bug_Report.md

[2020-06-01 09:54] eri-trabiccolo commented on #731
HS-122081

[2020-06-01 20:24] thomasplevy opened #1177 "[4.0.0-beta.1] Clean plugin install via zip file skips setup wizard auto-launch"
### Reproduction Steps

+ Install 4.0.0-beta.1 as a plugin via Zipfile on a new site (I think new is important)

### Expected Behavior

+ Setup wizard should automatically launch

### Actual Behavior

+ Setup wizard does not automatically launch

This issue has be recreated:
+ [x] Locally
+ [ ] On a staging site
+ [ ] On a production website
+ [x] With only LifterLMS and a default theme

[2020-06-02 03:04] toyinogunseinde commented on #1162
Any update on this?

[2020-06-02 16:26] thomasplevy commented on #1176
@liveaspankaj closing due to insufficient information. Please reply by following the issue template and we'll reopen.

Thanks

[2020-06-02 16:26] #1176 closed

[2020-06-02 20:57] GabrielGallagher opened #1178 "MySQL 8.0 Incompatibility"
This query is incompatible:
SELECT metas.post_id
			FROM wp_postmeta AS metas
			JOIN wp_posts AS posts on posts.ID = metas.post_id
			WHERE metas.meta_key = '_llms_bbp_forum_ids'
			AND metas.meta_value REGEXP 'a:[0-9][0-9]*:{(i:[0-9][0-9]*;(i|s:[0-9][0-9]*):\"?[0-9][0-9]*\"?;)*(i:[0-9][0-9]*;(i|s:[0-9][0-9]*):\"?245801\"?;)'
			AND posts.post_status = 'publish';

A possible alternative:
mysql> S

[2020-06-02 21:01] thomasplevy commented on #1178
@GabrielGallagher could you edit this to include the information we've requested in the bug report template please: https://github.com/gocodebox/lifterlms/issues/new?template=Bug_Report.md

I asked you to post this here instead of in slack because it lets me ask all of those questions in one go instead of asking them one at a time

Thanks!

[2020-06-03 13:34] eri-trabiccolo opened #1181 "llms notices not displayed on Checkout page (e.g. Payment gateway errors) when Slim SEO plugin enabled."
### Reproduction Steps

+ Install and activate the plugin [Slim Seo](https://wordpress.org/plugins/slim-seo/)
As not logged in user:
+ Reach the checkout page, e.g. by clicking on the Enroll button of the LifterLMS sample course
+ Fill all the required fields making sure to use an email address of **an already existing user**, e.g. your admin email.
+ Click on the checkout form submit button
+ The

[2020-06-03 14:14] thomasplevy commented on #1181
Is there any way to reproduce this with the manual gateway? Maybe by trying to checkout with an existing username / email address? Would we encounter the same issue that way?

[2020-06-03 15:01] eri-trabiccolo commented on #1181
@thomasplevy yeah you can reproduce it either that way, or even by trying to login (so filling the login form in the checkout page) with a non existing email+pw.
Well I wanted to present the user's case (even because a payment error not shown is more important I think). :)

[2020-06-03 15:21] thomasplevy commented on #1181
I'm asking about other ways to recreate it (without an add-on) in order to propose that we open an issue in the Slim SEO repo reporting this issue with an offer to submit a PR in order to fix this issue as we could do almost exactly what their current WC integration does in order to fix this

[2020-06-03 15:25] eri-trabiccolo commented on #1181
Yes yes I got it man :)
I know you have a reason if you ask about something.
I just added my reason about proposing only one case.
I had to add the other ways to reproduce the issue in Thoughts :D

[2020-06-03 15:31] thomasplevy commented on #1181
@eri-trabiccolo can you update reproduction with non-stripe steps also please, I'll reach out to the devs a bit later

[2020-06-03 15:43] eri-trabiccolo commented on #1181
@thomasplevy edited the reproduction steps.

[2020-06-04 16:03] nrherron92 opened #1183 "Multiple Role affecting Admin Permissions"
### Reproduction Steps

+ Install any plugin that lets you have multiple roles
+ On an admin account (not your main one) add a secondary role of student/subscriber
+ Jump into that account
+ Go back to the Users page and try to edit a user

### Expected Behavior

+ the main "admin" role should grant permissions to edit users

### Actual Behavior

+ the student role keeps the admin from editing use

[2020-06-04 17:44] annrra opened #1184 "LifterLMS 4.0.0 Beta - not possible to start a quiz"
### Reproduction Steps
Create a course with lesson and quiz inside
Try to start the quiz

### Expected Behavior
User should be able to start taking the quiz

### Actual Behavior
Take Quiz button loads empty quiz page without quiz content and questions listed

[2020-06-04 18:28] thomasplevy commented on #1184
Thanks @annrra !

[2020-06-04 23:01] thomasplevy commented on #1178
@GabrielGallagher could you at the very least provide me with the error message you're seeing?

[2020-06-04 23:19] thomasplevy commented on #1177
Unable to reproduce after initial occurrence

[2020-06-04 23:19] #1177 closed

[2020-06-04 23:22] thomasplevy commented on #1184
Resolved in 4.0.0-beta.2: https://github.com/gocodebox/lifterlms/releases/tag/4.0.0-beta.2

[2020-06-04 23:22] #1184 closed

[2020-06-08 21:35] thomasplevy commented on #1162
@toyinogunseinde I am unable to recreate... I'm not seeing what you're describing on my end, everything appears to be working as expected

Here's a screencap showing the way I setup a coupon, an access plan, and the checkout screen with the coupon applied and the Stripe gateway still displaying (contrary to what I'd expect based on the report)

![Screenshot_2020-06-08_14-34-11](https://user-images

[2020-06-08 21:45] eri-trabiccolo commented on #1162
@thomasplevy
I was able to reproduce this issue, but as far as I recall it happened when the trial was free (and yeah as you can imagine, with whatever gateway).

[2020-06-08 22:19] thomasplevy commented on #1162
@eri-trabiccolo ah, yes, thank you, a free trial shows the issue

[2020-06-09 00:16] thomasplevy commented on #1162
@toyinogunseinde a fix is "in the works" but it kind of hurt my head a little here... I need to review again tomorrow (and @eri-trabiccolo is going to look at it too). I don't have an ETA for release but it's being actively worked on.

[2020-06-09 19:45] #1162 closed

[2020-06-10 14:18] eri-trabiccolo opened #1195 "PHP Notice: Undefined variable: coupon in templates/checkout/form-gateways.php on line 15"
### Reproduction Steps

+ Create a course with plan with a recurring payment e.g. 10$ every year for all time
+ Buy it with whatever gateway
+ (If the gateway was not manual) Access your order history and click on the just placed order

### Expected Behavior

+ no error/warning logged

### Actual Behavior

+ php warning logged

### Error Messages / Logs

+ Include any relevant error messages or lo

[2020-06-10 16:24] thomasplevy opened #1196 "Importer does not import images from the post_content or custom fields (except featured images)"
### Reproduction Steps

+ Create a course with images in a course, lesson, quiz, etc... post_content or in any custom fields designed for an image (image question types, for example)
+ Export the course
+ Import the course into another site

### Expected Behavior

+ The images would imported into the media library of the site where the course is imported (how like the featured images are)

### Act

[2020-06-10 18:09] eri-trabiccolo opened #1198 "Deprecated entities to be removed in 5.0"
I open this to track of all the deprecated files/functions/etc. that should be removed in 5.0

- [x] [`class LLMS_Processor_Table_To_Csv`](https://github.com/gocodebox/lifterlms/blob/3.40.0/includes/processors/class.llms.processor.table.to.csv.php) deprecated since 3.28.0
- [x] Methods deprecated in #1511 should be removed from the codebase. See https://github.com/gocodebox/lifterlms/commit/54e736

[2020-06-11 14:13] eri-trabiccolo commented on #1181
proposed a PR https://github.com/elightup/slim-seo/pull/16

[2020-06-11 19:54] thomasplevy commented on #1181
PR Merged, closing!

[2020-06-11 19:54] #1181 closed

[2020-06-12 09:01] eri-trabiccolo opened #1202 "4.0.0-beta3 db update: missing callbacks"
### Reproduction Steps

+ Update to 4.0.0-beta.3 (you can downgrade and then upgrade)
+ run the db update by clicking on the notice shown in admin
+ look at the updater log

### Expected Behavior

+ I expect the update going smooth, and the updater log showing no issues

### Actual Behavior

+ The updater log shows that an action callback is missing

### Error Messages / Logs

+ Include any releva

[2020-06-12 15:32] thomasplevy commented on #1202
I cannot for the life of me figure out how this function was removed, did I never add it to the migration stack?

[2020-06-12 15:55] eri-trabiccolo commented on #1202
I don't know what we did on this :(

[2020-06-12 16:02] uncannyowlryan commented on #1174
I can confirm Uncanny Automator worked as expected with the beta we tested.

[2020-06-12 16:14] thomasplevy commented on #1174
@uncannyowlryan thanks so much!

[2020-06-12 16:16] thomasplevy commented on #1202
I must have refactored the update functions to each have a single purpose, updated the function tests, and then never updated the callback list... I was just trying to figure out if i botched a merge.

[2020-06-12 16:16] #1202 closed

[2020-06-12 18:46] #1183 closed

[2020-06-15 12:54] premanshup commented on #1174
@thomasplevy Thanks for the heads up. We can confirm that Astra is working without any issues with the beta version. :-)

[2020-06-15 14:59] thomasplevy commented on #1174
@premanshup thank you!

[2020-06-17 22:03] thomasplevy commented on #1178
Error message:

`(HY000/3692): Incorrect description of a {min,max} interval`

Best I can determine this is an escaping issue, an eloquent articulation of the issue (and solution) can be read at https://forum.osticket.com/d/93783-db-error-3692/21

[2020-06-18 15:33] eri-trabiccolo opened #1207 "Registation widgets in multisite's subsites always show all the sites registrations."
### Reproduction Steps

+ Set up a multisite with 2 sites.
+ Install LifterLMS in both of them :D.
+ Register a new user into the first subsite, aside from the administrator.
+ For each subsite go to e.g. LifterLMS -> Settings and look at the Registrations widget

### Expected Behavior

+ I would expect to see 1 registration on the first subsite, and 0 on the second one.

### Actual Behavior

+ I

[2020-06-18 21:20] qamaruldinhamza opened #1208 "Issue in Course Builder for Drag Events"
Hi,

I discussed this issue with you already on slack and my employer also sent you an email.

This issue is related to Backbone events, actually, the events are working fine when we click on add new course or module, but those are not working when we add a new course or module by dragging the button, can you please have a look into it and fix it out as soon as possible,

Thanks,
Qamar

[2020-06-18 21:32] thomasplevy commented on #1208
@qamaruldinhamza Please update this issue to follow the issue template

[2020-06-18 21:51] thomasplevy commented on #1207
@eri-trabiccolo please do not start work on this

We will be phasing those widgets out in Q3 with a redesign of the "General" settings landing tab where these dashboard widgets are located.

We will ensure that the replacement addresses this issue but since we A) Do not currently "officially" support multisite and B) Are going to be replacing these items in reporting we *do not* need to spend time

[2020-06-19 07:26] eri-trabiccolo commented on #1207
@thomasplevy

Yeah, I see. Actually I haven't really started worked into this, I just needed to understand what was the issue in the first place, and reproducing it I've been a little bit drifted out :D

I've already mentioned A) to the customer and didn't set any expectation, just said I was about to log it on our issue tracker. I'm going to update to user with further information. Thanks.

[2020-06-22 20:36] thomasplevy commented on #1208
The issue here is that the custom backbone events that we trigger when a lesson is added to the course is only triggered on *click*, it is not triggered when a lesson is dropped into the course via drag and drop.

These methods are not called when dropping:

https://github.com/gocodebox/lifterlms/blob/09c3353aaeb2a8785868f2cf1cf67c4146e94068/assets/js/builder/Views/Elements.js#L113

https://github

[2020-06-22 20:37] thomasplevy commented on #1208
@qamaruldinhamza thanks for updating the issue with more information. Again, I was the developer that spoke to you about this and I did provide you with a suggested workaround to use jQuery to watch these events that are missing from the core, have you tried that? Is it not working?

Regardless we'll fix this but I always like to know if workarounds are working to help me prioritize the severity o

[2020-06-22 20:45] thomasplevy commented on #1208
@qamaruldinhamza

It looks like we already have a solution for you in place using the WP core's JS hooks api:

https://github.com/gocodebox/lifterlms/blob/09c3353aaeb2a8785868f2cf1cf67c4146e94068/assets/js/builder/Models/Lesson.js#L103

Can you try using this?

[2020-06-22 20:46] qamaruldinhamza commented on #1208
I tired those jQuery events, those were not working but yes the events with
backbone are working on click. We are still facing it.

On Tue, Jun 23, 2020 at 1:37 AM Thomas Patrick Levy <
notifications@github.com> wrote:

--
*Sincerely *
*Qamar Ul Din Hamza*
Web Developer, Programmer & Android Developer
*Phone #: +923365087979*

[2020-06-22 20:47] qamaruldinhamza commented on #1208
ok mate, I will try it and let you know. Thanks

On Tue, Jun 23, 2020 at 1:46 AM Thomas Patrick Levy <
notifications@github.com> wrote:

--
*Sincerely *
*Qamar Ul Din Hamza*
Web Developer, Programmer & Android Developer
*Phone #: +923365087979*

[2020-06-23 09:29] nrherron92 opened #1211 "Quiz Giving incorrect points when changing answer"
### Reproduction Steps

+ create a multiple choice quiz with at least 2 questions
+ take the quiz
+ answer question 1 correct
+ go the the next question
+ go back to question 1 and change the answer to the wrong answer
+ continue the quiz and complete it

### Expected Behavior

+ the point is not awarded for the wrong answer

### Actual Behavior

+ while the question is marked as wrong, the point

[2020-06-23 09:35] nrherron92 opened #1212 "Cloned courses retain original course id in open/close settings"
### Reproduction Steps

+ Clone a course that has a course open date

### Expected Behavior

+ the cloned course does not have the course open date saved
+ the cloned course has it's own id number saved in the shortcode for open date

### Actual Behavior

+ it retains the information for course open and the previous course's id in the metabox

### System and Environment Information

<details>
<sum

[2020-06-23 15:40] thomasplevy commented on #1212
Looks like this was recorded as a bug (#298) but the commit that closed that bug doesn't actually address the issue.

[2020-06-23 15:42] thomasplevy commented on #1212
@nrherron92 I've set this as low severity for a fix in the future since there appears to be no related affected customer and it's pretty simply (albeit annoying) to fix this following the cloning.

[2020-06-23 15:43] thomasplevy commented on #1212
@nrherron92 I would expect that the open date would be cloned though. I think the bug / unexpected behavior is that the ID is not replaced, right? But we should be copying all the course information (like the original open date). Right?

[2020-06-23 15:57] thomasplevy commented on #1211
@nrherron92 fix in the works.

[2020-06-23 16:16] nrherron92 commented on #1212
Yes, the id bit is the main issue. Also yeah this can be super low, it's just a thing we noticed while working on a ticket that was for an unrelated issue. Also it's super easy to fix manually, Rocco mostly just wanted a note so it was on the radar!

[2020-06-25 15:12] eri-trabiccolo opened #1220 "Should we delete students progress (etc.) as well when deleting an enrollment?"
Since v3.33.0 we introduced the ability to delete a student enrollment via the Students table (in course/membership) and/or from the Order meta box.
The student enrollment deletion just deletes strict enrollment information like:
[code]

Should we delete also the student completion progresses (and at this point quizzes, assignments etc)?

This question has been raised in HS-125484 where _we_ consi

[2020-06-25 15:26] thomasplevy commented on #1220
@eri-trabiccolo yes, we should, of course.

[2020-06-25 15:34] eri-trabiccolo commented on #1220
Oh I see, thanks <3

[2020-06-25 18:31] #462 closed

[2020-06-25 18:31] #888 closed

[2020-06-25 18:31] #899 closed

[2020-06-25 18:31] #922 closed

[2020-06-25 18:31] #1011 closed

[2020-06-25 18:31] #1178 closed

[2020-06-25 18:31] #1211 closed

[2020-06-25 18:32] #1056 closed

[2020-06-27 14:51] #1173 closed

[2020-06-27 14:51] #1174 closed

[2020-07-02 18:09] eri-trabiccolo opened #1227 "Firefox says that the llms-tracking cookie will be rejected soon because of missing/incorrect attributes"
### Reproduction Steps

+ With the FireFox Browser
+ Login as whatever user
+ Visit the front
+ Open the dev tools and look at the console

### Expected Behavior

+ I expect to see no llms cookie relates warnings

### Actual Behavior

+ I see a warning related to the llms-tracking cooke that will be rejected soon

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

[2020-07-07 14:54] eri-trabiccolo commented on #1116
WIP in https://github.com/eri-trabiccolo/lifterlms/tree/issue/1116, needs more manual tests and brand new unit tests

[2020-07-07 15:41] thomasplevy commented on #1116
@eri-trabiccolo WIP looks pretty good with a quick review. I saw one area where I think we might want to run the var(s) through `absint()` when adjusting to a strict comparison. Since there's not a lot o existing test coverage here and WP notoriously passes string numeric IDs I get nervous about these areas.

https://github.com/gocodebox/lifterlms/compare/trunk...eri-trabiccolo:issue/1116#diff-256

[2020-07-07 18:45] chrisbadgett opened #1229 "When setting a tooltip the icon doesn't load"
### Reproduction Steps

+ Set a tooltip with an icon here: https://polished-wildflower.myliftersite.com/wp-admin/admin.php?page=llms-settings&tab=integrations&section=gravityview
+ Contact Zack Katz with any clarifying questions: https://github.com/zackkatz

### Expected Behavior

+ Icon loads with tooltip

### Actual Behavior

+ when adding a setting field with a tooltip ($field['desc_tooltip']),

[2020-07-07 20:47] thomasplevy commented on #1229
@zackkatz can you weigh in? The error message shows a reference to an asset that *does not exist* in the LifterLMS codebase.

Can you provide some example code you're using?

It looks like you're attempting to use part of the internal API that is never actually used by LifterLMS. It's not actually *deprecated* but it's some legacy code that hasn't been actually used since 2014.

[2020-07-07 21:04] zackkatz commented on #1229
@thomasplevy using the `LLMS_Abstract_Integration::get_integration_settings()` method to define settings, I took a look at the available field options and saw the `$field['desc_tooltip']` option. That's what I did: set a field tooltip.

This is also used by Lifter:

[code]

In class.llms.admin.settings.php line 802:

[code]

That's what I believe isn't loading properly.

[2020-07-07 21:42] thomasplevy commented on #1229
@zackkatz

Well the issue which is allowing this to "work" in the core (but not for you) is that for some reason (which I am not going to attempt to explain because I don't know where to even start trying to understand why it's working this way) our checkbox fields *do not display* tooltips question marks and this is the only place where this complicated logic would actually end up showing a toolt

[2020-07-07 21:44] zackkatz commented on #1229
@thomasplevy This is _not_ urgent. I just figured I'd share the issue with Chris, since I found it while developing a GravityView integration.

[2020-07-07 21:52] thomasplevy commented on #1229
@zackkatz Thanks for raising it -- in the future if you need to bring something to our attention just open a new issue here or Slack me at https://lifterlms.com/slack

[2020-07-09 07:56] kosmavm commented on #800
@thomasplevy we are not there yet, but we are intending to grow the course over the next year that covers a year's worth of content. From the way things are going, I anticipate ~50 lessons per term. I am tracking this issue, maybe by the time you address it, we will have enough content to be a guinea pig :)

[2020-07-09 17:25] thomasplevy commented on #800
@kosmavm we actually mentioned this in our bug scrub this week and while we are not officially prioritizing anything here we are aware of the issues here with very large courses and are kicking around some ideas about how to solve this. Betas will certainly be released when we implement changes here so please keep your eye out.

[2020-07-12 23:20] qamaruldinhamza commented on #1208
hi, I tried llms_lesson_model_init also, but it's not helping when we are adding Lesson by dragging, can I know what is the status and when it will be available in the plugin?

[2020-07-13 16:45] thomasplevy commented on #1208
@qamaruldinhamza can you show me the code you're using that's not working?

At this moment I do not plan on adding a "fix" since the actions you're reporting initially are part of the internal API and are not technically malfunctioning as far as what they are intended to do.

Since there are existing hooks using the WP JS hooks api (noted above) I'd prefer to get these working.

I'd like to have a

[2020-07-13 18:31] thomasplevy opened #1236 "Preview management wp-admin menu icon uses old logo"
### Reproduction Steps

+ Log in as an admin
+ Visit the frontend of course
+ Look at the "View as" menu on the top right of the WP Admin bar

### Expected Behavior

+ See the "new" logo as the icon

### Actual Behavior

+ The old icon is visible

[2020-07-13 20:40] thomasplevy commented on #408
Closed in Version 4.0.0

[2020-07-13 20:40] #408 closed

[2020-07-13 20:45] adriannutiu commented on #752
Found the solution here and it's working https://core.trac.wordpress.org/ticket/16841.

Adding below code in functions.php shows the Instructors in the Author box in Guttenberg.

//fix instructors not showing as authors
$blogusers = get_users( 'role=instructor' );
foreach ( $blogusers as $user ) {
   $user->add_cap('level_1');
}

[2020-07-13 20:47] thomasplevy commented on #526
Collapse and Transition removed in #922

TopModal is being removed in fields branch

[2020-07-13 20:51] #699 closed

[2020-07-14 07:25] eri-trabiccolo commented on #1236
That's used in the merge code buttons too (see #1241).
In the "View as" menu on the top right of the WP Admin bar we could use https://github.com/gocodebox/lifterlms/blob/4.1.0/assets/images/lifterlms-icon.png it fits quite nice.
But we cannot use it in the merge code buttons, as it's white and has very low contrast with the button's background, which is a light grey.

[2020-07-14 15:25] eri-trabiccolo commented on #1116
@thomasplevy when deleting a quiz, at the moment, we delete the related quiz attempts with a db query (), but we don't mark the related lesson as incomplete, i think we should as well.
Let me know if you agree and if you think we should integrate that in #1237 or treat it in a different PR.

[2020-07-14 16:19] eri-trabiccolo opened #1238 "Deprecate LLMS_Quiz::get_lessons"
https://github.com/gocodebox/lifterlms/blob/4.1.0/includes/models/model.llms.quiz.php#L252

It relies on a `LLMS_Lesson` post meta we don't use anymore `_llms_assigned_quiz`, and on the fact that a quiz could be associated with more than one lesson, which is not the case anymore as well.

[2020-07-15 09:09] nrherron92 opened #1239 "Limit Attempt Switch-Number is a text field"
### Reproduction Steps

+ Open a quiz lesson in the builder
+ Look at the CSS structure for Limit Attempts

### Expected Behavior

+ I guess it should be a number field?

### Actual Behavior

+ it's a text field that accepts numbers just fine.

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### System and Environment Information

<details>
<summary>System Rep

[2020-07-15 15:22] thomasplevy commented on #1239
@nrherron92 thank the customer, inform them this is a development oversight and will be resolved in a future release, however, since this is __very__ low severity ask the customer to kindly use numbers (as is intended).

[2020-07-15 15:23] thomasplevy commented on #1236
@eri-trabiccolo could you open a new issue for the other issue referenced in your comment please.

[2020-07-15 15:28] nrherron92 commented on #1239
@thomasplevy will do

[2020-07-15 16:17] eri-trabiccolo opened #1241 "Merge codes button icon uses old logo"
### Reproduction Steps

+ Login as admin
+ Visit LifterLMS->Settings->Notifications
+ Edit any notification
+ Look at the Merge Codes button

### Expected Behavior

See the "new" logo as the icon

### Actual Behavior

The old icon is visible

### Error Messages / Logs

n/a

### System and Environment Information

LifterLMS 4.1.0

This issue has be recreated:
+ [x] Locally
+ [x] On a staging site
+

[2020-07-17 20:05] thomasplevy commented on #609
This has been open for more than 2 years, after reviewing today I've determined that the `after_llms_mark_{$status}` for a lesson *should* be triggered after the course and section are updated.

What's happening in the method is that the lesson is marked as complete, then the section, then the course.

The `llms_mark_{$status}` fire in this order and the "after" hooks are in the reverse order as a

[2020-07-17 20:05] #609 closed

[2020-07-19 12:09] qamaruldinhamza commented on #1208
HI thomas,

Can I have an example of any  WP JS hooks, I am not able to find anything
related to them, otherwise refer a documentation link please.

Thanks

On Mon, Jul 13, 2020 at 9:45 PM Thomas Patrick Levy <
notifications@github.com> wrote:

--
*Sincerely *
*Qamar Ul Din Hamza*
Web Developer, Programmer & Android Developer
*Phone #: +923365087979*

[2020-07-20 16:52] thomasplevy commented on #1208
@qamaruldinhamza

Here's the docs from the WP core: https://developer.wordpress.org/block-editor/packages/packages-hooks/

We added usage of JS hooks prior to the release of the block editor so this package was not yet natively available in WordPress, so in order to use it on this page you'll want to reference it under the `window.llms` object instead of the `window.wp` object.

Here's a quick exa

[2020-07-21 22:11] skaparate opened #1247 "Reading the Shop Page ID"
Hello,

I'm not sure if this is a bug or not, that's why I post it as a question.

In the file [includes/class.llms.template.loader.php](https://github.com/gocodebox/lifterlms/blob/d03d07630f827cdab3f725920393a54405224397/includes/class.llms.template.loader.php#L465), line 465, there is this check:

[code]

`llms_shop` appears to be an error, since it's not created anywhere on the (base?) code (I'

[2020-07-21 23:16] #869 closed

[2020-07-21 23:16] #1039 closed

[2020-07-21 23:16] #1116 closed

[2020-07-21 23:16] #1142 closed

[2020-07-21 23:16] #1156 closed

[2020-07-21 23:16] #1229 closed, assigned to nobody

[2020-07-21 23:16] #1236 closed, assigned to nobody

[2020-07-22 12:25] eri-trabiccolo opened #1248 "LLMS_Abstract_Database_Store extending classes are not defining the `$type` property generating ugly and generic hook names."
In the abstract class we define the `$type` property as an empty string: https://github.com/gocodebox/lifterlms/blob/4.2.0/includes/abstracts/llms.abstract.database.store.php#L78

Then we rely on the fact it would have been defined in the extending classes when triggering the following action hooks:
https://github.com/gocodebox/lifterlms/blob/4.2.0/includes/abstracts/llms.abstract.database.store.p

[2020-07-22 16:02] thomasplevy commented on #1248
@eri-trabiccolo working on this now

[2020-07-22 16:10] eri-trabiccolo commented on #1248
@thomasplevy I think that we should still keep `'llms__created'` and `'llms__updated'` right? because `$type` can still be empty  (e.g. thinking about a 3rd party), or if we want to not allow that, well we should deprecate those hooks... still we can't remove them now, right?

[2020-07-22 16:23] thomasplevy commented on #1248
@eri-trabiccolo since this is a bug and the documentation states that 3rd parties *should override* I do not think we should keep bug hooks. If a 3rd party created an integration using our abstract and then relies on our bug hooks (which are very clearly bugs if you look at it for even a second) then I'm sorry.

Keeping the bugged hooks meaning we need to *add new buggy-looking hooks* and I just d

[2020-07-22 16:25] thomasplevy commented on #1248
I might be wrong and stubborn. Am I wrong? Should we add in a second set of hooks to preserver potential integrations relying on `__` hooks?

[2020-07-22 16:28] thomasplevy commented on #1248
I'll just leave them in, sigh.

[2020-07-22 16:35] thomasplevy commented on #1248
This gets complicated to preserve...

If we add events to our objects and want to preserve `__` hooks we have to add a deprecated call to the deprecated hook, eg:

[code]

However, if a 3rd party did extend and didn't define an `$type` property, we now call the hook twice. That means we then need to also run a new check to see if the `$type` is defined, only call the deprecated hook if the type *i

[2020-07-22 16:37] thomasplevy commented on #1248
[code]

I think this is what we need to do...

[2020-07-22 16:38] eri-trabiccolo commented on #1248
yeah <3

that is an easy win afterall!

[2020-07-23 12:57] eri-trabiccolo opened #1250 "When updating a non publicly_querable (or with rewrite=false) post type the update message shouldn't contain the View permalink, which leads to 404"
### Reproduction Steps

+ Login as admin
+ Update a non public pt, e.g. Order/Email...
+ Look at the update message

### Expected Behavior

+ I'd expect to see something "Order updated".

### Actual Behavior

+ I see "Order updated. View Order." with "View Order." being a link to https://whatevers.com/?post_type=llms_order&p=4173, which, once followed, produces a 404

### Error Messages / Logs

n/

[2020-07-23 17:15] nrherron92 opened #1251 "Live Theme Preview Causing Error"
### Reproduction Steps

+ Switch into Twenty-Twenty Theme
+ Attempt a live preview of another theme

### Expected Behavior

+ You can live preview.

### Actual Behavior

+ There's an error thrown on a white screen of doom

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### System and Environment Information

<details>
<summary>System Report</summary>

[code]

[2020-07-23 18:55] toyinogun opened #1255 "Make the plan length in the Access plans a free text field or accomodate more months/years"
**Is your feature request related to a problem? Please describe.**
A user wants a payment plan of 48 payments of $x every month but the access plan cap is 24 months. This means the customer can't do this access plan.

**Describe the solution you'd like**
Perhaps a free text in the plan length for months/years

**Describe alternatives you've considered**
N/A

HS-128786

[2020-07-23 19:05] thomasplevy commented on #1255
https://github.com/gocodebox/lifterlms-gateway-paypal/issues/30

[2020-07-24 18:43] thomasplevy commented on #1247
@skaparate

Thanks for your bug report. At a glance this does look like a bug, however, I'm struggling to find the actual impact of this bug as it looks like the condition itself may be superfluous. Can you help me with some reproduction steps that illustrate the impact of this issue?

Thanks

[2020-07-24 18:46] thomasplevy commented on #1247
@skaparate thanks for your bug report, this does look like a typo -- it should be `shop` not `llms_shop`, however, I don't see any way to actually create an issue as a result of this bug. The or condition here appears to be more or less superfluous (another problem). I might be missing something though.

Do you have some recreation steps you can share that illustrate the impact of the bug so we ca

[2020-07-24 20:11] skaparate commented on #1247
@thomasplevy Thanks for your answer!

I'm not really sure if it's a bug xD (I selected the question category when I created the topic, but I must have removed it later)...

The thing is, I was trying to set the page to the course catalog to a different page (nuestros-cursos in spanish), but that didn't work. Note that I'm not trying to modify the page in any way, **it's a basic page with the title

[2020-07-27 15:34] zackkatz opened #1258 "Pagination breaks for [lifterlms_courses] shortcode when embedded on homepage"
I know embedding things on the homepage can cause issues. This is likely one of those times :-)

### Reproduction Steps

- Embed a `[lifterlms_courses]` shortcode on the homepage
- Set it to display a limited # of courses so they will be paginated
- Go to homepage, click on the pagination links and the courses won't update

### Expected Behavior

The courses update based on the page # clicked

###

[2020-07-27 15:47] thomasplevy commented on #1258
@zackkatz this is *expected* but not desired behavior. We do not apply custom pagination rules that apply to the homepage. We've *considered* reworking the way permalink rewriting works in general so that our permalink structures apply on both the root (homepage) and everywhere else but it hasn't been something we've ever had any actual issues or reports of people *requiring* so we haven't priorit

[2020-07-27 15:50] zackkatz commented on #1258
@thomasplevy Not a blocker. I'll just remove the pagination. I agree with the severity assessment :-)

[2020-07-27 15:53] thomasplevy commented on #1258
@zackkatz thanks

[2020-07-28 09:30] toyinogun commented on #1122
HS-129308

[2020-07-28 18:22] #1248 closed, assigned to thomasplevy

[2020-07-28 18:22] #1251 closed, assigned to thomasplevy

[2020-07-28 18:23] thomasplevy commented on #1251
@nrherron92 fixed in 4.3.0

[2020-07-28 18:39] nrherron92 opened #1261 "New Hide Content Shortcode"
**Describe alternatives you've considered**
A shortcode that has an extra indicator to either hide content or show content to members of a certain course/membership:

[code]

[2020-07-28 23:02] thomasplevy opened #1262 "Search is accessible when site is restricted to a membership"
### Reproduction Steps

+ Create a membership
+ Set the site to be restricted to this membership via the "Restrict site by membership level" global setting
+ As a logged out user visit the search page for the site (append ?s=whatever to the site's home url)

### Expected Behavior

+ Visitor will be served the sitewide restriction notice / redirect / etc...

### Actual Behavior

+ User can see sear

[2020-07-30 14:44] eri-trabiccolo commented on #1227
@thomasplevy
looks like we're not doing the same when resetting the cookie, we could do this:
[code]
oh no well, this short version of setcookie is introduced in PHP 7.3, so we cannot use it yet, and we cannot set the `samesite` attribute in PHP<7.3 with `setcookie` :(

[2020-07-30 16:18] thomasplevy commented on #1227
@eri-trabiccolo

From what I've been able to determine Mozilla is treating cookies with no SameSite as "none" meaning the cookie cannot be read anywhere and Chromium is treating cookies without a SameSite as "Lax" meaning they can be read across origins. [source](https://blog.chromium.org/2019/10/developers-get-ready-for-new.html) -- I think I'm reading it right at least...

As far as making this

[2020-07-30 16:55] eri-trabiccolo commented on #1227
@thomasplevy
I think I'm with you, maybe, anyways, we can anyways set the `secure` param as `llms_is_site_https() && is_ssl()`.
Nowadays non https websites are pretty rare (right?), so in most of the cases we'll have this fixed even if SameSite is unset (and treated as `none` by FireFox), right?

[2020-07-30 18:04] kresimirdelac opened #1265 "LIFTER GROUPS - the invitation to a groups is case sensitive (BUG)"
### Reproduction Steps

if you invite someone with Name.Surname@domain.com and that user uses name.surname@domain.com when registering (disparities in email address conventions like these happen a lot in corporate world), the person will not be added to that group after registering.

### Expected Behavior

should not be case sensitive.

### Actual Behavior

+ Include a concise description of what

[2020-07-30 19:49] thomasplevy commented on #1265
@kresimirdelac

Thanks for reporting this. I've confirmed there is a bug here and I've made a copy of this in our LifterLMS Groups repository. Further progress will be updated there and I'm going to close this issue as it's out of scope for the LifterLMS core repository.

If you require direct follow up about this issue once it's been closed please send an email to help@lifterlms.com and one of us

[2020-07-30 19:49] #1265 closed, assigned to nobody

[2020-07-30 23:16] thomasplevy commented on #1227
@eri-trabiccolo I think you're right, nice catch.

It looks like `setcookie( 'llms-tracking', '', time() - 60, COOKIEPATH ? COOKIEPATH : '/', COOKIE_DOMAIN, llms_is_site_https() && is_ssl() );` kills the warning and then we don't need to worry about any version comparisons here, right?

This doesn't 100% solve the problem but we can switch to using the new cookie syntax for setting cookies in a fe

[2020-08-01 13:51] eri-trabiccolo opened #1268 "JQMIGRATE: 'ready' event is deprecated"
### Reproduction Steps

+ Open browser's console in front

### Expected Behavior

+ No warnings logged

### Actual Behavior

+ Warning logged

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### System and Environment Information

[code]

This issue has be recreated:
+ [x] Locally
+ [x] On a staging site
+ [x] On a production website
+ [x] With only LifterLMS

[2020-08-01 21:40] eri-trabiccolo commented on #1053
Thomas found it to be due to something actually expected with `strtotime( +n months )` because months haven't the same number of days.
We've found this is not critical so we decided to only accommodate the tests in the commit below:
https://github.com/gocodebox/lifterlms/commit/4e245fc0986f7ebe3366ee4220a171ae15f1129b

[2020-08-01 21:45] eri-trabiccolo commented on #897
I think they shouldn't.

[2020-08-03 15:45] thomasplevy commented on #897
@eri-trabiccolo yea, I agree. Should we close this?

[2020-08-03 17:03] eri-trabiccolo commented on #897
@thomasplevy
I need to verify what actually happens now with the block editor. I might be wrong but I remember that, unlike what happens with the classic editor, with the block editor a `post_author` is always set as the one who created the post. The `'author'` cpt support would just allow for changing it (with a "meta box").
In this case we have to explicitly return no authors for membership post

[2020-08-03 22:07] thomasplevy commented on #1268
This has been a wild 5 hours... Got kind out of hand but PR is incoming.

[2020-08-04 13:32] eri-trabiccolo commented on #897
@thomasplevy
I was looking into this but, the thing is that I cannot reproduce the issue anymore.
The Membership's author is always displayed in catalogs, and since the post type doesn't suppor the author you cannot change it from the one who actually created the membership.
So... if the issue is that the membership's author is missing in memberships catalog, well that does not seem to be true any