[2022-03-11 15:13] nrherron92 commented on #2060
@thomasplevy the user clarified he hasn't actually run the update on the live site yet.

The logs for staging are enabled, and I'm not seeing any errors. I went ahead and added WP Crontrol too and there's a bunch of old stalled CRON jobs not running.

I think he should add WP Crontrol to the production site to see if this is also the case there then reach out to his host about fixing it?

[2022-03-11 15:52] thomasplevy commented on #2060
I think that advising to run on the live site knowing there could be a potential issue is not advisable at this time.

That said if there's a bunch of stalled crons on the staging site this is almost certainly the cause of the issue. If crons aren't running then crons.

![Screenshot_2022-03-11_08-49-42](https://user-images.githubusercontent.com/1290739/157901205-483e6520-38aa-45bf-a264-ba55eba9f73

[2022-03-11 15:53] thomasplevy commented on #2060
I see that the host has stated that crons are running and the user has provided a bunch of logs to prove as much but the screen there (via WP Crontrol) is showing errors. I know we can't say the host is wrong exactly but in this case it's pretty clear that the *site itself* is saying that it's not functioning. The cron process *may* be running on the server (and likely is) but WordPress doesn't us

[2022-03-11 16:05] thomasplevy commented on #2058
@eri-trabiccolo we *could* but the problem is the content of the reusable block *is not stored* in the post's content. If we merge the data into the reusable block's content on publish then merge that data into *all the certificates that use that reusable block*

[2022-03-11 16:23] eri-trabiccolo commented on #2058
Oh no sorry, I meant that when publishing the reusable block becomes "static" . Meaning that I was basically quoting:

And we do that when an awards is published (or when syncing and and the awards is already published).
Doesn't make sense?

[2022-03-11 16:25] nrherron92 opened #2063 "Divi Templates Ignore Membership Restrictions on Posts"
### Reproduction Steps

+ HS-188870
+ Go to Divi --> Theme Builder and create a default website template and click the Save button
+ Create a global header, body and footer for the layout and save the layout
+ Create a new page and restrict access to that page to a membership
+ Navigate to the page while not logged in and you will see the page content is displayed
+ Go back to the Divi Builder and

[2022-03-11 16:27] thomasplevy commented on #2058
@eri-trabiccolo oh... yea I see what you mean.

So yea we could:

Allow ~merge codes~ reusable blocks to be used on certificates

For templates, we can merge the data on the frontend during runtime/display
For awards we make the reusable blocks static and then merge / save into the post content.

Users could then add a reusable block to an awarded certificate directly and on publish / award (or sa

[2022-03-11 16:28] thomasplevy commented on #2058
The problem with this is that if creators are *expecting* the resuable block to be able to be changed they *cannot do it*. EG: it becomes detached from the reusable block. Realistically we should be advising users *not to use reusable blocks in awarded certs* and instead use them in the templates only. They can manage the content of the awarded certs from the template in favor of trying to use reu

[2022-03-11 16:37] eri-trabiccolo commented on #2058
Yeah, I think we can just inform them that, like it happens with the merge codes, reusable blocks, convert to static `values` when the awards are published.
Does it make sense?
Like ok you can use them, but that's the rule.

[2022-03-11 16:41] thomasplevy commented on #2058
Seems fair, I agree.

@gocodebox/success any other thoughts? @chrisbadgett ?

[2022-03-11 18:18] eri-trabiccolo commented on #2063
So I confirm this and add that it could be solved by _just_ lowering our priority here to 100:
https://github.com/gocodebox/lifterlms/blob/dev/includes/class.llms.template.loader.php#L39

as the Divi theme uses the same filter hook to do their things at 98 and 99.

Have to ponder/test the impact of this.
Meantime users can exclude the restricted pages by creating an empty layout and assigning it t

[2022-03-11 19:16] pondermatic commented on #2058
I agree. Dynamic on the template. Static on the award.

[2022-03-14 15:35] thomasplevy commented on #2057
@willmiddleton-lifterlms any update for us here?

[2022-03-14 17:52] eri-trabiccolo commented on #2059
I've investigated into this and:
1) the issue regards to the Advanced Columns block, and it happens when you change/set the columns number
2) that block is part of the [Genesis Blocks](https://wordpress.org/plugins/genesis-blocks/) plugin (free), and it happens with whatever theme
3) the issue happens also with a custom post type (not part of LifterLMS) which specifies a default template.

[code]

[2022-03-15 16:24] magicemilymiddleton commented on #2058
@thomasplevy I ran into this while fixing an issue for a client, but haven't heard anyone else bring it up

[2022-03-15 16:26] magicemilymiddleton commented on #2057
@thomasplevy oh yeah, sorry I check in here on my open tickets like once a week: **_lifterlms-6-docs-will_** that's myliftersite that it's on that site can be broken/tested with

[2022-03-15 16:37] thomasplevy commented on #2057
@gocodebox/engineering can someone have a look at this site today and get me update on the cause here please?

[2022-03-15 17:36] nrherron92 opened #2065 "Custom Sales Content Limit"
### Reproduction Steps

+ HS-189132
+ Create a course and use the custom sales content option
+ With long form content the sales content cuts off at around 8k words or 45k characters which prevents long form sales content.
+ I have some example copy on myliftersite if needed

### Expected Behavior

+ All the content in the sales content box should show up

### Actual Behavior

+ The content is get

[2022-03-15 17:40] thomasplevy commented on #2065
@nrherron92 We'll dig deeper into this but this is likely going to be a limitation of the database table size. We could institute a word count limit and notification to let users know what the limitations are.

In the meantime I think using the custom page option (in favor of the custom content option) would be an acceptable workaround.

[2022-03-15 18:17] eri-trabiccolo commented on #2057
@thomasplevy
So the thing is that Kadence adds these classes to our course loop ul wrapper:
`grid-cols grid-sm-col-2 grid-lg-col-3`
Kadence styles them using the grid system:
[code]
this is not `compatible` with the fact that we display an empty "table" before our ul list wrapper:
[code]
that pseudo element, is a column of the grid :D

Kadence itself accounts for this problems on its pages, e.g. o

[2022-03-15 18:40] thomasplevy commented on #2057
@eri-trabiccolo conceivably switching over to flex cols (dropping the clearfix pseudo element) could fix this? Also rendering the matchHeight jquery plugin unnecessary, too, I think.

Would this introduce too many theme compat issues you think?

[2022-03-15 18:57] eri-trabiccolo commented on #2057
@thomasplevy
Yeah the flex cols would allow us to get rid of matchHeight (which is actually used in the pricing table too).

It might conceivably create an issue with some themes like astra and kadence that add custom classes to style the columns, but sooner or later we have to do this. Shall we go with a beta for this change?

[2022-03-15 21:19] pondermatic commented on #2065
@nrherron92, "Sales Page Custom Content" is stored in a WordPress database field that is limited to 64K bytes. Some characters use more than one byte, so the limit can be lower. For now, using a WordPress page as the sales page is a better option for long form sales content. WordPress pages can store up 4M bytes.

@gocodebox/engineering
"Sales Page Custom Content" is stored in `wp_posts.post_excer

[2022-03-15 21:29] thomasplevy commented on #2065
Thanks for looking into this @pondermatic

I don't think we should endeavor to move the storage location at this time. I'd rather call this a known limitation and institute some level of validation on the field (client-side validation is probably sufficient).

@nrherron92 I'm going to move this to the backlog as a future improvement (to add validation) and let the customer know the cause of this i

[2022-03-16 12:19] thomasplevy commented on #2057
@eri-trabiccolo I don't want to start another project that's going to require a major version increase right now and I also don't want to add compatibility code for a conflict involving a theme and another plugin.

Let's put the CSS snippet into the snippets repo and @willmiddleton-lifterlms could you write a doc on the known conflict so we have a place to point to (with the above explanation)

We

[2022-03-16 12:20] thomasplevy commented on #2057
Once the snippet & doc are created lets close this

[2022-03-16 14:24] nrherron92 commented on #2059
@eri-trabiccolo I let the user know and linked him to your topic!

[2022-03-16 14:36] thomasplevy commented on #2059
I'm in favor of closing this as it's clearly not a bug in our side. Anyone opposed?

[2022-03-16 14:41] #2059 closed, assigned to eri-trabiccolo

[2022-03-16 14:42] eri-trabiccolo commented on #2057
@willmiddleton-lifterlms here's the snippet: https://github.com/gocodebox/snippets/blob/trunk/theme-compatibility/llms-kadence-elementor_canvas-loop.css

[2022-03-16 14:54] chrisbadgett commented on #2058
Dynamic on the template and static on the award sounds like a fair tradeoff.

[2022-03-16 18:19] nrherron92 opened #2066 "PHP 8 Fatal Error With Forms"
### Reproduction Steps

+ HS-189149
+ PHP must be on PHP 8
+ Turn on Custom Fields
+ Go  into edit the checkout form and add a checkbox field then save
+ Go into your profile and check one of the boxes and save your profile
+ Go into a course and create a free access plan
+ View the course.

### Expected Behavior

+ everything functions as normal

### Actual Behavior

+ there's a fatal error on th

[2022-03-16 20:00] nrherron92 opened #2067 "User's Enrollment Won't Update"
### Reproduction Steps

+ HS-189160
+ Go into user order: #48780 on staging site
+ Try to update order status or enrollment status

### Expected Behavior

+ You can update the status

### Actual Behavior

+ The update button is clickable but nothing happens except an error in Javascript:
An invalid form control with name='' is not focusable.

### Error Messages / Logs

+ Include any relevant error

[2022-03-16 22:39] pondermatic commented on #2066
At first, I was unable to reproduce the issue because of an extra checkout form on my site. After deleting it, I can confirm that this is a bug.

- [ ] `LLMS_Form_Field::get_html_attributes()` should prevent passing an array to `wp_strip_all_tags()`.

@gocodebox/engineering, Should checkboxes in checkout forms be displayed on the free enroll form? If yes, then should the value be serialized if it'

[2022-03-17 12:39] eri-trabiccolo commented on #2066
@pondermatic

I guess so.

I guess we can serialize it as long as we then are able to unserialize it when creating the order.

The problem is that we build the free enroll form from the checkout form by turning all the fields into hidden type fields:
https://github.com/gocodebox/lifterlms/blob/dev/includes/forms/class-llms-forms.php#L700-L703

But we have some field types (`checkbox` and `radio`)

[2022-03-17 16:43] thomasplevy commented on #2067
@gocodebox/engineering anyone have time to review today?

[2022-03-17 16:44] thomasplevy commented on #2060
@nrherron92 any movement here or need for us to look at something new?

[2022-03-17 16:47] nrherron92 commented on #2060
@thomasplevy no, I haven't heard back. I'll close this for now and open again if he does follow up

[2022-03-17 16:47] #2060 closed, assigned to nobody

[2022-03-17 17:53] nrherron92 opened #2069 "Syncing Changes Earned Date"
### Reproduction Steps

+ HS-189146
+ Create a Template->Assign user a certificate from that template
+ Go into template and sync assigned certificates

### Expected Behavior

+ changes to the certificate should take affect but the earned date should remain for earned certificates.

### Actual Behavior

+ While the earned date on reporting and under awarded certificates remains the original earned

[2022-03-17 18:19] thomasplevy commented on #2069
@nrherron92 can you confirm this is using the mergecode `{current_date}` to display the date on the certificate?

[2022-03-17 18:24] thomasplevy commented on #2069
If that's the case then I think what we have here is a need to add a new merge code...

Semantically `{current_date}` would have historically always functioned to output the awarded date. There was no way to update resync or update earned certs so that date would always be the earned date. It would never change.

Now that we can sync this merge code makes less sense but changing it to merge in the

[2022-03-17 18:40] nrherron92 commented on #2069
@thomasplevy yes the template uses {current_date} though the awarded certificate doesn't have a merge code when you edit it. It is just a printed date.

[2022-03-17 19:27] pondermatic commented on #1861
I have a customer that has been affected by this issue.

Both unenrolling and deleting the enrollment can trip this issue.

@thomasplevy wrote:

How can it be determined if "the user should have access to that course from somewhere else"? Not all enrollment triggers are stored. All possible triggering sources will need to be checked. I propose that we add a filter hook that allows all enrollment t

[2022-03-17 19:33] thomasplevy commented on #2069
@nrherron92 alright we'll have to add a new merge code to handle this. When syncing the `{current_date}` is being remerged. Which as I've noted above is the semantically correct (although for existing users probably not expected) behavior.

We can't just change current date but we do need to implement a better solution.

We'll get to work on this right away.

In the meantime there's a few things t

[2022-03-17 19:34] thomasplevy commented on #2069
@gocodebox/engineering I'm not going to be able to get to work on this today or maybe even tomorrow so if anyone has some availability to pick this up it should be pretty quick to implement a new merge code.

[2022-03-17 19:34] pondermatic commented on #1861
This is what I had in mind for the filter.

[code]

[2022-03-17 19:44] thomasplevy commented on #1861
I have never taken the time to create an exhaustive list of triggers. Without looking through each codebase line by line and trying to develop the same list you've done I simply *do not know*.

It looks exhaustive to me but I really don't know.

We'll have to call it good enough for today and if we've missed something we can add later.

[2022-03-17 19:46] thomasplevy commented on #1861
Seems like a good solution to me...

Really we should start storing *every single trigger* so that we can better track the various entry points into things. What we have today is the result of adding functionality over time without considering how these new entry points could be "undone".

The system we have (storing one trigger) "worked" in LifterLMS 1.x but the software is far more complex today

[2022-03-17 19:53] thomasplevy commented on #1861
One thing to note is that autoenroll isn't the only way to connect a membership with a course...

The whole autoenroll system, I think, is vastly abused. And I don't want to get into that today but we also have to denote relationships through members-only access plans.

So if a user gains access to a course through a members-only access plan they should be removed from the course when enrollment i

[2022-03-17 19:55] thomasplevy commented on #1861
It's hard to give a blanket answer to this question...

In certain areas any *should* provide the ability to override every other trigger. If an admin wants to explicitly cancel someones enrollment, for example, they should be able to do so. However I don't think we have any place in the UI currently to enable that to happen. They have to go through other channels to handle it.

So I think we need

[2022-03-17 19:56] pondermatic commented on #1861
@thomasplevy wrote:

That would definitely make solving this issue more straightforward. I wasn't sure if there was a historical reason for [this line](https://github.com/gocodebox/lifterlms/blob/6.0.0/includes/models/model.llms.student.php#L118). If you like, I can see if there's a downside to storing all enrollments?

[2022-03-17 20:05] thomasplevy commented on #1861
My guess -- I can't remember anything for certain related to this -- is that storing duplicates just seemed unnecessary at some point. Like, why would a user need to be enrolled in the same course twice? That's just adding unnecessary information to a table (which would eventually cause performance issues).

---

If the alternative to preventing hypothetical performance issues is preventing bugs (

[2022-03-18 14:02] pondermatic commented on #2067
When the "Update Order" or "Update Status" buttons are clicked, the following error is displayed in the JavaScript console:
`An invalid form control with name='' is not focusable.`

This issue has something to do with the order's "Remaining Payments". When the `llms-num-remaining-payments` input is deleted using the web browser's dev tools, the buttons can be clicked and the form is successfully s

[2022-03-18 14:25] pondermatic commented on #2067
Order 48780 had 0 remaining payments. When changed to 1, the form can be submitted. The input's `min` attribute is 1, so a 0 invalidates the input.

[2022-03-18 14:27] pondermatic commented on #2067
@nrherron92, please let the customer know that we found the bug. I've added this issue to our "to do" list.

[2022-03-18 14:36] pondermatic commented on #2067
@gocodebox/engineering, why can't users set the remaining payments to 0?
[`LLMS_Meta_Box_Order_Details::save_remaining_payments()`](https://github.com/gocodebox/lifterlms/blob/6.0.0/includes/admin/post-types/meta-boxes/class.llms.meta.box.order.details.php#L146)
[`includes/admin/views/metaboxes/view-order-details.php`](https://github.com/gocodebox/lifterlms/blob/6.0.0/includes/admin/views/metaboxe

[2022-03-18 14:49] eri-trabiccolo commented on #2067
@pondermatic
https://github.com/gocodebox/lifterlms/pull/1744#issuecomment-899774164
The idea, if I recall correctly, was that the user shouldn't be able to update the remaining payments to 0. Did we miss the case where the remaining payments were already 0, in that case we shouldn't prevent the order saving...

[2022-03-18 14:51] pondermatic commented on #2067
Yes. When all payments have been made, remaining payments displays 0 and the form can't be submitted anymore.

[2022-03-18 15:45] nrherron92 opened #2070 "LifterLMS Shortcodes from Dropdown don't render in emails"
### Reproduction Steps

+ HS-189435
+ Create a custom email
+ from the mergecode menu copy a shortcode like [llms-user user-email] into the email
+ trigger the email to be sent

### Expected Behavior

+ the shortcode either shouldn't be in the merge code list or should render in the email

### Actual Behavior

+ the shortcode is an option in the merge codes and doesn't render in the email

### Err

[2022-03-18 15:50] thomasplevy commented on #2070
I briefly looked into this when someone reported it on slack yesterday and I'm pretty sure this is an oversight in 6.x where the merge codes were added but never tested.

The shortcodes need special handling to work when they're fired during a background process like with certificates here:
https://github.com/gocodebox/lifterlms/blob/0a5e0a2c7cd522074f1988dd0979e3aa6289a0c3/includes/models/model.l

[2022-03-18 22:19] pondermatic commented on #1861
@thomasplevy wrote:

That's a cool feature. I checked it out and it looks like the association is done through the user's `_llms_restricted_levels` meta and not enrollments.

[2022-03-20 15:35] magicemilymiddleton opened #2071 "Username shows to logged in users on checkout form"
Reported in chat HS-189573
User found workaround by using a column and display conditions on the column to hide the block

### Reproduction Steps
1. Head to wp-admin < LifterLMS < Forms < Billing Information
2. Make sure you have a username field (aka User Login field) on your checkout form
3. Create a course with an access plan on your course
4. View the purchase link and you should see the Usern

[2022-03-21 21:57] pondermatic commented on #2071
The `llms_visibility` block attribute is not getting added to the form. If added manually to the form's post content in the database, the form is rendered correctly.

[2022-03-21 22:00] thomasplevy commented on #2070
Hey @nrherron92 did you confirm this yourself? I looked at this really quickly when someone reported it on slack but my memory (and quick research) proved to be incorrect.

Here's the relevant code: https://github.com/gocodebox/lifterlms/blob/0a5e0a2c7cd522074f1988dd0979e3aa6289a0c3/includes/emails/class.llms.email.engagement.php#L115-L132

I'm now actually even remembering that you and I talked a

[2022-03-21 22:02] thomasplevy commented on #1940
@nrherron92 I'm just checking in on this, no pressure, but do we have an update?

[2022-03-22 11:42] toyinogun opened #2074 "Manual Payment Instructions do not appear on the order page"
### Reproduction Steps

HS-189652
Go to the dashboard then LifterLMS >> Settings >> Checkout >> and enable the manual payment gateway.
Make sure you add your payment instructions.
Try purchasing an access plan using the manual gateway method.
You'll have this kind of order page with no instruction on how to pay:
![image](https://user-images.githubusercontent.com/62220599/159473153-c432fdea-00d8-40

[2022-03-22 11:54] nrherron92 commented on #1940
@thomasplevy not yet. I'll bump the ticket with them!

[2022-03-22 13:51] nrherron92 commented on #2070
@thomasplevy I did test it but very briefly and was able to recreate it when I used the email shortcode (by recreate "it" I mean the email address shortcode does not display the email address on the email when sent).

However, it seems to _only_ apply to the email address shortcode. The others work fine:
<img width="587" alt="image" src="https://user-images.githubusercontent.com/47434271/159497035

[2022-03-22 15:34] thomasplevy commented on #2074
Technically working "as intended" but I do see the UX issue here. I think we can improve this by automatically displaying that first item as expanded instead of requiring some user interaction first.

[2022-03-22 15:48] thomasplevy commented on #2074
[code]

This could help a bit.

Although actually I think this might be a load-order regression due to changes in 6.0, possibly with the way hooks are executed. I'll look a bit deeper into this later today

[2022-03-22 16:42] nrherron92 commented on #1705
HS-189688

[2022-03-22 18:32] nrherron92 opened #2076 "Certificate Sequenced Id Error"
### Reproduction Steps

+ HS-188990
+ Create a template and set the sequenced id to, for example, 9
+ Award a user that certificate
+ Go back in the certificate and update the id to a different number like 182, save and sync

### Expected Behavior

+ The certificates should readjust the numbers via the sync

### Actual Behavior

+ The number does not change on assigned certificates and template th

[2022-03-22 18:47] thomasplevy commented on #1705
@nrherron92 I have this on the indefinite backlog as of this moment. Does this ticket suggest we should adjust priority?

[2022-03-22 18:50] thomasplevy commented on #2076
@pondermatic I see you're looking into this but I wanted to note that once issued, the sequential ID of an awarded certificate *SHOULD NOT CHANGE*. If you adjust the "next sequential id" of the template it is NOT supposed to resequence all the certificates awarded from that certificate.

Additionally, the validation in place is meant so that users cannot accidentally reduce the next sequential ID

[2022-03-22 18:59] nrherron92 commented on #2076
@pondermatic @thomasplevy would this mean as well say a user has the certificate set to 009 and they wanted to change it to just 9 they couldn't do this for the same reasons (and/or) would have to manually just change it on the assigned certificates?

[2022-03-22 19:01] nrherron92 commented on #1705
@thomasplevy For this user the issue seems to be that her students expect their (for example) chrome autofill to take over and this is not updating Alabama to the autofill state, then they don't check their information is correct and just run their payment and get bounced back.

I don't think this is urgent.

We've only had 2 people complain about this since the release (i see i forgot to add the

[2022-03-22 19:13] thomasplevy commented on #2076
@nrherron92 009 and 9 are the same thing. When the sequential ID is output on the awarded certificate it's formatted to be (I think) 6 digits long. So it'll pad 9 to `000009` and 9000 will be come `009000` and 900000 would be the same thing.

When the certificate is awarded, the sequential ID merge code is merged and replaced with the (formatted) next sequential ID and the value is stored to the a

[2022-03-22 19:16] thomasplevy commented on #2076
Also of note, if padding the sequential ID with zeros is not desired we have filters in place for you:

https://developer.lifterlms.com/reference/hooks/llms_certificate_sequential_id_format/

Then `length` property could be reduced to `1` (from `6`) to essentially disable the formatting

[2022-03-22 19:19] pondermatic commented on #2076
I agree that the certificate ID on awarded certs should never change. It is an identifier that is unique to that award.

There may be a bug  that allows the sequence ID to be set too low in the certificate template editor. I'm looking into that and will create a new issue if it is what I think it is.

[2022-03-22 19:33] pondermatic commented on #2076
What I have found may not be a bug, more of an enhancement, so I'll ask here in this issue.
1. Edit a certificate template.
2. Increment the "Next Sequential ID".
3. Click the "Update" button.
4. Decrement the "Next Sequential ID".

The number should not be allowed to go lower than the first updated value. When updated with this "too low" value, an admin notice is displayed: "Updating failed. Inva

[2022-03-22 19:41] pondermatic commented on #2076
This appears to be the problem with that input's ID:
https://github.com/gocodebox/lifterlms/blob/trunk/src/js/admin-certificate-editor/plugin/sequential-id-control.js#L28

[2022-03-22 19:43] thomasplevy commented on #2076
@pondermatic this var should be managed by `useState()` to avoid the bug you're asking about:

https://github.com/gocodebox/lifterlms/blob/0a5e0a2c7cd522074f1988dd0979e3aa6289a0c3/src/js/admin-certificate-editor/plugin/sequential-id-control.js#L19-L24

[2022-03-22 19:44] pondermatic commented on #2076
OK. I'll open a new issue and close this one.

[2022-03-22 19:50] thomasplevy commented on #2076
@pondermatic Let's let @nrherron92 determine if this should be closed or not please

[2022-03-22 20:03] nrherron92 commented on #2076
@pondermatic @thomasplevy followed up with user on the filter. I'll close this out if he doesn't have anything else on this issue!

[2022-03-22 20:12] pondermatic opened #2077 "Certificate Sequence ID Minimum Not Updated"
### Reproduction Steps

Noticed in [HS-188990](https://secure.helpscout.net/search/?query=188990).

1. Edit a published certificate template.
2. Increment the "Next Sequential ID".
3. Click the "Update" button.
4. Decrement the "Next Sequential ID".

### Expected Behavior

The number should not be allowed to go lower than the updated value in step 2.

### Actual Behavior

When updated with this "t

[2022-03-22 20:18] pondermatic commented on #2077
@thomasplevy wrote.

https://github.com/gocodebox/lifterlms/blob/0a5e0a2c7cd522074f1988dd0979e3aa6289a0c3/src/js/admin-certificate-editor/plugin/sequential-id-control.js#L17-L24

[2022-03-23 17:25] nrherron92 commented on #2070
HS-189642

![image](https://user-images.githubusercontent.com/47434271/159759314-63ca266f-1365-4120-9473-b1464e9d5c8e.png)

[2022-03-23 18:16] thomasplevy commented on #2070
@nrherron92 can you let me know if this is an engagement email or a notification? I've been testing engagement emails. These shortcodes don't show in notification emails. But I want to be certain because I'm unable to reproduce any of the issues you (or the users) are encountering...

[2022-03-23 18:18] nrherron92 commented on #2070
@thomasplevy they are engagement emails (I think I mentioned notifications a second ago but I am just bad at reading Finnish! she is using engagement emails as well!)

[2022-03-23 23:06] #2067 closed, assigned to thomasplevy

[2022-03-23 23:06] #2069 closed, assigned to pondermatic

[2022-03-23 23:06] #2074 closed, assigned to nobody

[2022-03-23 23:06] #2051 closed, assigned to thomasplevy

[2022-03-24 15:11] nrherron92 commented on #2076
I think we're good to close this! I'll follow up if the user gets back to us further relating to this issue!

[2022-03-24 15:11] #2076 closed, assigned to thomasplevy

[2022-03-24 15:15] nrherron92 opened #2080 "Buddyboss Menu Setting Certificate Conflict"
### Reproduction Steps

+ HS-189715
+ Activate BuddyBoss + Buddyboss Platform
+ Go into _Appearance->Menus_
+ Create a menu and set it to display "Profile Dropdown"
<img width="482" alt="image" src="https://user-images.githubusercontent.com/47434271/159948460-6f567326-edf2-4b52-b49d-f15dc04f8b70.png">

### Expected Behavior

+ That this shouldn't affect certificates on the backend

### Actual Beha

[2022-03-28 10:17] eri-trabiccolo commented on #2080
@nrherron92
Thanks, I was able to reproduce it.
(note: at least an item must be added to the menu in order to reproduce this issue.)

The thing is that [this filter](https://developer.wordpress.org/reference/hooks/display_post_states/), despite its description, is called whenever `get_post_states($post)` is called, not necessarily when displaying a post list table, so we need to be sure the `$post

[2022-03-29 18:48] pondermatic commented on #2066
@nrherron92, this issue is fixed in the next release of LifterLMS.

[2022-03-29 21:59] pondermatic commented on #2071
Developer Notes:
In the client-side block editor, when a block attribute value equals the default value, the attribute is **not** added to the post content. Since the user login block has only one allowable `llms_visibility` setting, `logged_out`, it is always the default and therefore never saved with the attribute.

Options:
1. ~Save the attribute even when it's the default.~ The WordPress seria

[2022-03-29 22:27] thomasplevy commented on #2071
It *might* be possible to do number one but the block APIs responsible for storing block attributes intentionally don't save default values. If 1 is the preffered solution someone's going to have to figure out how to do it because I don't know how.

[2022-03-30 07:28] eri-trabiccolo commented on #2057
doc can be found here: https://lifterlms.com/docs/fix-for-known-conflict-lifterlms-kadence-theme-and-elementor-canvas-layout-on-student-dashboard/
closing this.

[2022-03-30 07:28] #2057 closed, assigned to eri-trabiccolo, willmiddleton-lifterlms

[2022-03-30 18:52] #2063 closed, assigned to eri-trabiccolo

[2022-03-30 18:52] #2066 closed, assigned to pondermatic

[2022-03-30 18:52] #2080 closed, assigned to eri-trabiccolo

[2022-03-30 19:32] pondermatic commented on #2071
@gocodebox/engineering , I'm leaning toward option 2.v since it is in the llms-blocks project. Does anybody have a preference?

[2022-03-31 07:30] eri-trabiccolo commented on #2071
@pondermatic I'm ok with 2.

[2022-03-31 10:14] toyinogun opened #2092 "Quiz setting does not obey the Limit Attempts setting."
### Reproduction Steps

- Create a quiz
- In the general settings, set the Limit Attempts to 1
- Set the passing percentage to maybe 60%
- Attempt the quiz as a student.
- Try to fail the quiz and then click the back button on the browser.

### Expected Behavior

You should not be allowed to re-take the quiz

### Actual Behavior

You can keep taking the quiz as many times as you want by clicking t

[2022-03-31 10:24] eri-trabiccolo commented on #2092
@toyinogun
I don't seem to be able to reproduce this locally.
You said you reproduced it on a test website, can I look into that?
can you also record a video?

[2022-03-31 11:25] eri-trabiccolo commented on #2092
Talked with Toyin on slack. I was finally able to reproduce the issue, with Firefox, although not with Chrome. Must be due to my Chrome version (on mac).
The thing has to do, as someone would expect, with the browser caching.
Clicking on the browser back button loads the page from the cache (at least on firefox). I rapidly tweaked [this](https://github.com/gocodebox/lifterlms/blob/6.2.0/includes/c

[2022-03-31 15:24] thomasplevy commented on #2092
@eri-trabiccolo all this sounds good to me, thanks

[2022-03-31 15:27] pondermatic opened #2093 "PHP Fatal error on Confirm Payment page with non-existing order"
### Reproduction Steps

1. Go to your WordPress site, but change the URL path to `/purchase/confirm-payment/?order=order-DOES-NOT-EXIST`.

### Expected Behavior

+ A page should load with a message about the order not being found.

### Actual Behavior

+ A PHP Fatal error occurs.

### Error Messages / Logs

+ PHP Fatal error:  Uncaught Error: Call to a member function get() on null in C:\wordpress

[2022-04-01 18:25] thomasplevy commented on #2070
@gocodebox/engineering what am I missing here that I can't recreate?

[2022-04-01 19:15] pondermatic commented on #2070
Here are the steps I performed. It works for me.
1. In the WordPress admin menu, go to Engagements -> Emails.
2. Click the "Add Email Template" button.
3. Set the title.
4. Click the "Merge Codes" button above the email content area.
5. Select "Email Address" or "Student Email Address". `[llms-user user_email]` or `{email_address}` is inserted into the email content text area. Both work for me.
6.

[2022-04-01 19:36] pondermatic commented on #2070
I also tested with all of the `[llms-user X]` shortcodes and all worked.

[2022-04-01 19:37] thomasplevy commented on #2070
@pondermatic just to be clear you're saying you're able to recreate with this steps or it's "working" (you also can't recreate)?

[2022-04-01 19:38] thomasplevy commented on #2070
I see your last comment now and you're probably saying it is working (you can't recreate)

[2022-04-01 19:40] pondermatic commented on #2070
It works on my site. I'm checking out their site now.

[2022-04-01 20:33] pondermatic commented on #2070
I don't see anything on their site that is obviously the culprit. If this were a staging site, we could try turning off most of the plugins. Maybe one of them is using the WordPress [`remove_all_shortcodes()`](https://github.com/WordPress/wordpress-develop/blob/5.9.2/src/wp-includes/shortcodes.php#L118) function?

I did not set up an account to test the email. Is it OK if I do?

[2022-04-01 20:40] thomasplevy commented on #2070
@nrherron92 where did you recreate this? it'd be better to test on a stage rather than in production

[2022-04-04 13:33] nrherron92 commented on #1938
@thomasplevy can I take a crack at this?

[2022-04-04 14:13] thomasplevy commented on #1938
@nrherron92 sure please do <3

[2022-04-04 15:14] nrherron92 opened #2096 "Student Management Won't Enroll"
### Reproduction Steps

+ HS-190281
+ On User's staging site, head into a course, scroll down to student management and try to enroll a student

### Expected Behavior

+ The list of students will load
+ and/or you can specifically search for a student

### Actual Behavior

+ The students won't load in LifterLMS 6.2.0
+ The lists will load on all versions below 6.2

### Error Messages / Logs

+ Inc

[2022-04-04 15:24] thomasplevy commented on #2096
@gocodebox/engineering can I get someone looking at this immediately... If we shipped a bug that's going to affect a lot of sites we need to patch this immediately and I don't have time to work on this due to meetings this morning

[2022-04-04 16:21] nrherron92 commented on #2070
@thomasplevy @pondermatic

Okay I think I found out what's going on here.

The key thing is it has to be a brand new user whose information hasn't been saved before.

If you use an account that already has the email/billing address/ username etc. all saved the information will show up as expected.

However, when you register a brand new user it isn't finding the information so the shortcode shows

[2022-04-04 16:38] eri-trabiccolo commented on #2096
@gocodebox/engineering
This issue depends on the fact that the customer website is installed in a subdir
`https://example.org/subdir`
[but we "think" the rest URL](https://github.com/gocodebox/lifterlms/blob/d5391dba13f099f1e307e114dc7afd45c3b92c3f/assets/js/llms-admin.js#L189) is https://example.org/wp-json/llms/v1 instead of https://example.org/wp-json/subdir/wp-json/llms/v1.

[2022-04-04 19:17] nrherron92 opened #2098 "Aosta missing from Italy Province List"
### Reproduction Steps

+ HS-190584
+ Set checkout to Italy
+ Check the province dropdown for Aosta

### Expected Behavior

+ It isn't technically a province according to some guy named Rocco but AO is used as a mailing code.
+ The argument for adding this I think comes with WooCommerce using this in their dropdown as well, so it seems to be the standard?

### Actual Behavior

+ It's not a provinc

[2022-04-04 20:56] pondermatic commented on #2098
Related to #1686 and [private issue 45](https://github.com/gocodebox/private-issues/issues/45).

[2022-04-05 07:42] eri-trabiccolo commented on #2098
The tricky thing with Aosta is that it's not in a province.
Basically Italy is divided in regions, and usually regions are divided in provinces, but there are some regions, like Val d'Aosta, that have a special statute.
In this very case, the Val d'Aosta region, has no provinces.
Although for all the cities/towns within this region we use to specify AO in the province field.

[2022-04-05 09:46] toyinogun opened #2099 "Comments are not enabled by default when creating a lesson with the Course builder"
### Reproduction Steps

According to this: https://lifterlms.com/docs/discussion-and-commenting-in-courses-and-lessons/#global-settings if enabled, Lessons and courses should have comments enabled by default.

However, when creating a lesson with the course builder, it doesn't follow the setting in the URL above but if you create a lesson by going to Courses >> Lessons >> Add new then the comments

[2022-04-05 10:09] toyinogun commented on #2096
Seems this is also related to this HS-190655

[2022-04-05 12:50] pondermatic commented on #2099
[`LLMS_Lesson::get_creation_args()`](https://github.com/gocodebox/lifterlms/blob/6.2.0/includes/models/model.llms.lesson.php#L241) needs to use [`get_default_comment_status()`](https://github.com/WordPress/wordpress-develop/blob/trunk/src/wp-includes/comment.php#L277).

`LLMS_Post_Model::get_creation_args()` should probably updated as well.

[2022-04-06 08:43] eri-trabiccolo commented on #2099
@pondermatic good catch!
Although I don't think we should update `LLMS_Post_Model::get_creation_args()` as well. Basically we want the comments (and not pings, right?) settings follow the defaults only for the lessons.

[2022-04-07 19:29] #2071 closed, assigned to pondermatic

[2022-04-07 20:57] #2096 closed, assigned to eri-trabiccolo

[2022-04-07 20:57] #627 closed

[2022-04-07 20:57] #2099 closed, assigned to eri-trabiccolo

[2022-04-08 14:04] pondermatic opened #2105 "Dash displayed as HTML entity number when awarding a certificate"
### Reproduction Steps

1. Go to "LifterLMS -> Certificates" and add a certificate template named `en dash - HTML entity number 8211`.
2. Go to " LifterLMS -> Awarded Certificates" and click the "Award Certificate" button.
3. Search for the template created in step 1.

### Expected Behavior

The `-` character should be displayed.

### Actual Behavior

The `-` character is displayed as `&#8211;`.
!

[2022-04-08 15:44] thomasplevy commented on #2105
Good catch

The solution, I think, probably is in the display of the raw field without first decoding: https://github.com/gocodebox/lifterlms/blob/08a5876c09a8a2cb5c199cc17daf4d46b47cdb06/packages/components/src/search-control/post-search-control.js#L39-L48

I think

Probably could have a related issue with the user search control here:

https://github.com/gocodebox/lifterlms/blob/08a5876c09a8a2cb

[2022-04-11 17:39] pondermatic commented on #2070
@nrherron92, I'm still not able to recreate this issue on my local site. The `[llms-user user_email]` shortcode is replaced by the brand new user's email address.

Do any of the LifterLMS user shortcodes work?
| Label | Shortcode  |
|-|-|
| Username | [llms-user user_login] |
| Email Address | [llms-user user_email] |
| First Name | [llms-user first_name] |
| Last Name | [llms-user last_name] |
|

[2022-04-11 17:53] nrherron92 commented on #2070
I don't understand! I can't get any of them to work with a new user!

Email in gmail:
<img width="785" alt="image" src="https://user-images.githubusercontent.com/47434271/162799568-625d7884-73c4-478c-aac9-87812939d4f0.png">

Email on site set up:
![image](https://user-images.githubusercontent.com/47434271/162799215-4b88cc55-6704-424d-9d0b-43054b0344c5.png)

User info:
![image](https://user-images.

[2022-04-11 20:08] pondermatic commented on #2070
While tracing the flow of how the email body is built, my system has suddenly stopped merging shortcodes!

[2022-04-11 20:58] pondermatic commented on #2070
It turns out that the shortcodes are **not** replaced when a user enrolls using a free access plan. If they enroll with a `one-time payment` or an `every X` access plan, the shortcodes are merged. Bug confirmed.

[2022-04-11 21:40] pondermatic commented on #2070
Developer notes:
"Free" Flow:
1. `LLMS_Controller_Orders::create_pending_order()`
2. `LLMS_Payment_Gateway::handle_pending_order()`
3. `LLMS_Controller_Orders::transition_status( 'completed', 'pending' )`
4. `LLMS_Controller_Orders::complete_order()`
5. `llms_enroll_student()`
6. `LLMS_Student::enroll()`
7. `LLMS_Engagements::maybe_trigger_engagement()`
8. `LLMS_Engagements::trigger_engagement()`

[2022-04-11 22:08] thomasplevy commented on #1685
Resolved in #2108

[2022-04-12 20:27] nrherron92 opened #2110 "6.3 BuddyBoss Conflict"
### Reproduction Steps

+ HS-190940
+ HS-191089
+ Enable LifterLMS 6.3
+ Enable BuddyBoss and their Platform
+ Go into LifterLMS->Settings->Integration and make sure BuddyPress is enabled with some menu options added
+ Go into Appearance->Menus and add the BuddyBoss profile to the menu:
<img width="536" alt="image" src="https://user-images.githubusercontent.com/47434271/163047424-9610a8e2-46fe-4c6

[2022-04-12 21:41] thomasplevy commented on #2110
@nrherron92 can you let me know why this is something we should be investigating and fixing when the error message clearly comes from BuddyPress and states something about LD compatibility?

[2022-04-12 22:12] nrherron92 commented on #2110
@thomasplevy It's a new issue that happens with LifterLMS 6.3 and seems to be tied to the update we made with LifterLMS tabs connecting to the BuddyBoss profile navigation.

When the BuddyPress integration is enabled with the tabs you want to link selected, this error is thrown.

If you remove all tab options from the integration settings but leave it turned on then the fatal error goes away.

How

[2022-04-12 22:20] thomasplevy commented on #2110
@nrherron92 if this seems to be related to our recent update then we'll have a closer look, of course. Reading through your report it isn't clear that this seems connected to recent changes.

[2022-04-12 22:33] SaeedMasri opened #2111 "Since version 6.2.0 rolled out we can't use the theme builder of Elementor to design the course & membership archives."
After the 6.2.0 version, the archive template doesn't apply to the course catalog page, and it goes like this:

![image](https://user-images.githubusercontent.com/44070679/163065033-37c4d81d-4b18-4ff7-abcd-6d86b09e66b3.png)

The issue also appear in the FaceBook community too, Will from your team face it here at 7:00 of the live video:

https://www.facebook.com/groups/lifterlmsvip/posts/5018034661

[2022-04-12 22:57] thomasplevy commented on #2111
@SaeedMasri could you please edit your issue to provide us with the information requested in the issue template as found here: https://github.com/gocodebox/lifterlms/issues/new?assignees=&labels=&template=Bug_Report.md

Providing this information accelerates our ability to replicate issue. This is especially important when dealing with plugin and theme conflicts like the one you're raising.

After

[2022-04-12 23:32] SaeedMasri commented on #2111
Done, thanks.

[2022-04-13 08:37] eri-trabiccolo commented on #2110
@thomasplevy
Under the conditions Natalie described, a BuddyBoss function (`bp_nav_menu_get_loggedin_pages()` customization of a BuddyPress function) that loops through all the menu items and does something based on the nav item slug.
E.g.
[code]
Now it happens that, when the subnav slug for our Course tab is, by default, 'my-courses', and BuddyBoss in that case takes for granted that this means L

[2022-04-13 09:46] eri-trabiccolo commented on #2111
@SaeedMasri
thanks for reporting this.
Yes you're right, the issue is related to the recent changes in 6.2.0.
We decreased the priority (higher number) of our filter callback on `template_include` that takes care of loading the right template to fix an issue with the Divi theme builder.

You say:

Actually we introduced that filter specifically to control the priority (that was changed from 10 to

[2022-04-13 09:59] eri-trabiccolo commented on #2111
@thomasplevy
I think we need to split our callback, and call the piece that regards to the single restrictions at priority 100 (or higher) because of https://github.com/gocodebox/lifterlms/issues/2063
and the other templates load at priority 10, so to allow theme builders overrides, but keeping the ability to restrict.
What do you think?

[2022-04-13 13:36] nrherron92 commented on #2110
thanks for looking into this guys! I'll send this information over to BuddyBoss and see if they can get a fix for their expectation of LearnDash in the code! <3

[2022-04-13 14:06] thomasplevy commented on #2111
@eri-trabiccolo I'm not following exactly what you mean... Mostly I want things to work and I'm not interested in adding special compatibility with custom priorities for each builder, especially since they're liable to change their code leaving us looking like we broke something again

[2022-04-13 17:21] SaeedMasri commented on #2111
@eri-trabiccolo Thanks, Rocco,
unfortunately, that snippet didn't fix the issue 😅

[2022-04-13 17:24] eri-trabiccolo commented on #2111
@SaeedMasri mmm weird.
May I ask you where did you place it?

[2022-04-13 17:29] SaeedMasri commented on #2111
@eri-trabiccolo In the functions.php file of my child theme,
Does this restriction/apply filter has a relation to what I'm doing and not reflecting on the course catalog?
https://github.com/gocodebox/lifterlms/blob/dev/includes/class.llms.template.loader.php#L55

[2022-04-13 19:10] eri-trabiccolo commented on #2111
Ohhh @SaeedMasri my bad. I told you you could add that snippet to your child-theme's functions.php but actually id wouldn't work since the filter hook is fired _before_ the child theme's functions.php is executed. What you need is to put it in a plugin or in a must use plugin. You can actually use our _customizations_ plugin and place the snippet there: https://lifterlms.com/docs/how-do-i-add-cust

[2022-04-13 19:23] SaeedMasri commented on #2111
Yes, the snippet worked inside the customizations plugin, thanks @eri-trabiccolo you really rock/Rocco #AptlyNamed :)

[2022-04-13 19:37] pondermatic commented on #2070
@nrherron92, we have found and fixed this issue. I expect it will be included in the next release.

[2022-04-14 15:22] thomasplevy commented on #1686
@chrisbadgett bump :arrow_up:

[2022-04-15 11:13] eri-trabiccolo commented on #2110
@nrherron92
any news on this?

[2022-04-15 13:06] nrherron92 commented on #2110
@eri-trabiccolo it was sent to their dev team according to the support rep I spoke with

[2022-04-15 13:53] nrherron92 opened #2121 "Instructors Allowed to Set Prices on Courses"
### Reproduction Steps

+ HS-191251
+ Create an user with the instructor role
+ Switch into the user
+ Create a course
+ Create an access plan in that course

### Expected Behavior

+ That instructors can't set prices, or at least admin should be able to choose if they are allowed to or not.
+ To some users it is a bug to other's I think it is a feature.

### Actual Behavior

+ Instructors can set

[2022-04-15 15:01] nrherron92 opened #2122 "Instructor's Assistant Permissions"
### Reproduction Steps

+ This isn't connected to a ticket I just found this while looking into the other instructor permissions.
+ Create an instructor's assistant user
+ Assign them to an instructor who has created a course and is the author
+ Switch into that user

### Expected Behavior

+ they can edit courses that are authored by the instructors they’ve been assigned to

### Actual Behavior

[2022-04-15 17:42] eri-trabiccolo commented on #2122
I think instructor's assistants should be able to edit all the posts the parent instructor is an instructor for.
Does this make sense?
If so, what about [this draft](https://github.com/gocodebox/lifterlms/pull/2123)? What do you think @gocodebox/engineering ?

Alternatively we can change the logic and allow assistants to edit whatever the parent instructors can edit, which is a bit different.

[2022-04-15 20:45] pondermatic commented on #2121
If the user can edit the course (or membership), then they can edit anything in the access plan.

@gocodebox/engineering,
Here are my ideas on what it would take to add this feature:
1. Add a way to control the behavior.
    1. Add a WordPress "edit access plan price" capability to the LifterLMS instructor role. Administrators could use a plugin like "User Role Editor" to remove this capability fr

[2022-04-16 12:35] chrisbadgett commented on #1686
Survey in process [here](https://www.facebook.com/groups/lifterlmsvip/posts/5038281446240528/) in the facebook group and via email.

[2022-04-17 02:03] pondermatic opened #2124 "load_reusable_blocks()"
**Is your feature request related to a problem? Please describe.**
`LLMS_Forms::load_reusable_blocks()` is now used when merging certificate content in addition to parsing form blocks. It is no longer used just with forms and belongs somewhere else.

**Describe the solution you'd like**
1. Create a new `llms_load_reusable_blocks()` from the logic in `LLMS_Forms::load_reusable_blocks()`.
2. Update

[2022-04-18 14:27] pondermatic commented on #2122
@eri-trabiccolo, I think your draft PR will work. I'm surprised that instructor assistants can't already edit courses that their parent instructor is an instructor of. (How many times can I use the word "instructor" in a sentence?)

[2022-04-19 15:21] eri-trabiccolo commented on #2121
I really think access plans aren't something instructors should touch at all.
You say prices, but why should they be able to change any other thing except, maybe, titles? :D
Should the change whether they're recurring, or membership restricted and so on? I think they should not, and actually if you check their caps they cannot edit the access plan they created either.

The best would be that we ha

[2022-04-19 17:25] nrherron92 commented on #1940
@eri-trabiccolo @thomasplevy I have an update

The BuddyBoss team are working on a 2.0 release so this issue is on the back burner for them. Once this gets released they'll begin working on this issue (or it may be integrated into the release?) And another issue their theme is causing with LifterLMS.

[2022-04-19 17:29] #1465 closed, assigned to eri-trabiccolo

[2022-04-19 17:29] #1685 closed, assigned to nobody

[2022-04-19 17:29] #1938 closed, assigned to nrherron92

[2022-04-19 17:29] #2052 closed, assigned to eri-trabiccolo

[2022-04-19 17:29] #2058 closed, assigned to pondermatic

[2022-04-19 17:29] #2070 closed, assigned to pondermatic

[2022-04-19 17:29] #2092 closed, assigned to eri-trabiccolo

[2022-04-19 17:29] #2098 closed, assigned to eri-trabiccolo

[2022-04-19 17:29] #2111 closed, assigned to eri-trabiccolo

[2022-04-20 08:52] eri-trabiccolo commented on #2110
@nrherron92 thanks Natie, so I assign this to you.
I think we don't have to do anything on the dev side, for the moment at least.

[2022-04-20 14:20] pondermatic commented on #2121
I don't have an opinion on whether an instructor should or shouldn't be able to edit access plans, but @eri-trabiccolo's implementation plan is a good one.

[2022-04-22 15:40] pondermatic opened #2131 "Initialize Dependencies"
**Is your feature request related to a problem? Please describe.**

When LifterLMS is loaded by WordPress, it is important for some LifterLMS classes to be loaded, instantiated, and hooked into the system in a certain order. See #2070.

**Describe the solution you'd like.**

1. Create a class, named `LLMS_Classes`, extended from the [`WP_Dependencies`](https://developer.wordpress.org/reference/cla

[2022-04-22 15:46] magicemilymiddleton opened #2132 "Hello Elementor theme conflict on quiz formatting"
### Reproduction Steps
1. Install LifterLMS & Hello Elementor free theme from the WordPress repository
2. Create a course with a quiz with a true/false question.
3. View the lesson and take the quiz
4. You should see the last letter goes onto a second line (screenshot below)

<img width="1379" alt="Screen Shot 2022-04-22 at 11 31 59 AM" src="https://user-images.githubusercontent.com/76497148/16474

[2022-04-22 16:53] nrherron92 opened #2133 "Unrestricted Preview Access Not Applying to Instructor Assistant"
### Reproduction Steps

+ HS-191732
+ Create a user with the role instructor assistant
+ Make sure that role is added to unrestricted preview
+ Add them to a course that has drip content that a normal student should not be able to access
+ Try to access the locked content

### Expected Behavior

+ With the unrestricted preview they should be able to get around any prerequisites and drip locks

###

[2022-04-22 17:04] eri-trabiccolo commented on #2132
@willmiddleton-lifterlms
do we have a support ticket related to this?

If so, could you relay the following CSS fix?
[code]

Basically we rely on the fact that most of the themes set the label's `display` property to `block`.

[2022-04-22 17:22] thomasplevy commented on #2132
I wouldn't call this a bug

But I'd say it'd be "safe" (probably?) to add this in the core plugin's CSS file. Maybe @nrherron92 wants to test it for us :-p

[2022-04-22 17:25] eri-trabiccolo commented on #2132
I think it is because we do have an expected behavior which only relies on third party code, not on the default behavior of the element itself.

[2022-04-22 17:32] nrherron92 commented on #2132
@thomasplevy @eri-trabiccolo leave it to me :D

[2022-04-25 08:32] eri-trabiccolo commented on #2131
I don't exactly know how much we need this right now, and probably doesn't matter, but I really like the idea <3

[2022-04-25 14:39] nrherron92 opened #2134 "Dashboard Registration Asterisks Take Over"
### Reproduction Steps

+ HS-191785
+ Staging login on note in ticket.
+ I cannot reproduce this locally.
+ On the user's site and staging site he had added custom labels/titles to his form fields and this was causing the dashboard page to fill up with asterisks when visited while logged out so users could not log in or register
+ When resetting the forms this does fix the asterisk issue, however

[2022-04-25 16:00] thomasplevy commented on #1947
@pondermatic is this fixed by #2130?

[2022-04-25 16:24] pondermatic commented on #1947
@thomasplevy, yes. Thanks for catching this. I forgot I had opened an issue about it.

[2022-04-25 16:25] #1947 closed, assigned to thomasplevy

[2022-04-26 08:43] eri-trabiccolo commented on #2133
@nrherron92 I can't reproduce this issue.
You say:

What do you mean with "add them to a course" as what? Instructors? Students?

1) As long as the assistant is also **[added as a course instructor](https://lifterlms.com/docs/add-multiple-instructors-course/)** they are able to bypass the restrictions.
The same happens with _instructors_.

2) If they expect assistants not assigned to a course, of

[2022-04-26 09:41] eri-trabiccolo commented on #2134
@nrherron92
I've found the issue to be related to the fact that the dashboard shortcode it's placed inside a column.
![Schermata 2022-04-26 alle 11 38 10](https://user-images.githubusercontent.com/7689242/165271083-95ed5c8d-8f1a-4e8a-a731-7096edf9524d.png)
Moving it out from the column(s) fixes the "asterisks" issue.
Although this is just a workaround/alternative, but we have to address this issue

[2022-04-26 10:22] eri-trabiccolo commented on #2134
@gocodebox/engineering
The issue is here:
https://github.com/gocodebox/lifterlms/blob/b154625311e3082e369f7eabc6c529561234658b/assets/js/app/llms-forms.js#L210-L213

 I think this piece code might even be outdated, was made back when we used block columns inside our field blocks for layout purposes (am I recalling it wrong?).

Either we remove that or we need to better define in which condition a

[2022-04-26 13:45] thomasplevy commented on #2133
If we remove the `edit` requirement we'll re-introduce this bug: #1974 (Related fix #1987)

I can see the confusion here but I don't think this restriction doesn't make sense... If we allow these roles all to have blanket access (the way it worked prior to 5.9) we have a pretty big security issue here in the eyes of some folks. So we can't revert that behavior.

We could add an option to allow tru

[2022-04-26 14:12] eri-trabiccolo commented on #2133
Well... the idea was that you could grant view access to a role, without the need of granting edit access too, that the custom role would still need.
But I see your point, description update makes sense.
There are filters already available to tweak this behavior (see my code above).

So, summarizing:
1) this is the expected behavior
2) this behavior has been introduced in v5.9 to fix a bug (see Th

[2022-04-26 14:21] nrherron92 commented on #2134
@eri-trabiccolo okay taking the shortcode out of the columns did fix the star issue! I could manually add the address back without the stars taking over.

Part 2 of the issue: yes, if I do a form reset (in tools) it removes the address block from the form.

[2022-04-26 14:33] eri-trabiccolo commented on #2134
@nrherron92
ok, that's probably because they migrated from a LifterLMS < 5.0, where they set the address fields to be hidden for the registration form.

But my question was: when you reset the forms (in tools), do _our_ reusable blocks back? can you see them when managing the reusable blocks?

[2022-04-26 14:42] nrherron92 commented on #2134
@eri-trabiccolo Only our username(reusable) returns. Our address reusable does not.

[2022-04-26 14:43] nrherron92 commented on #2133
@eri-trabiccolo on it! thank you

[2022-04-26 14:53] eri-trabiccolo commented on #2134
@nrherron92
Ah ok, I see yeah it makes sense.
Basically we don't create all the possible reusable blocks to be used in the forms, but only the ones that are actually used in the installed form.
For LifterLMS < 5.0 users, the installed form's fields depend on the pre 5.0 registration/billing/account settings. So that's ok.

[2022-04-26 15:15] thomasplevy commented on #2122
I am pretty certain that this is working as expected. Instructors Assistant's are supposed to be *added to a course* in order to be able to help with that course.

The reason here is that some instructors may have multiple assistants and each assistant is assigned to a specific course. If we provide blanket access to all content for all of the instructor's assistants then we end up creating a prob

[2022-04-26 15:23] eri-trabiccolo commented on #2122
I think what you say makes sense.
The documentation is wrong then:
https://lifterlms.com/docs/roles-and-capabilities/#instructors-assistant

right?

1. ok
2. yeah, that will be addressed in a fix for #2121
3. yeah, makes sense.

Nice, like in the Future.

Let's stick on this then: let's close this, and the related PR, and open a new issue for the bulk-editing instructors, as nice to have.

[2022-04-26 15:26] eri-trabiccolo opened #2137 "Allow bulk-editing course/membership instructors"
see https://github.com/gocodebox/lifterlms/issues/2122#issuecomment-1109924270

[2022-04-26 15:26] #2122 closed, assigned to eri-trabiccolo

[2022-04-26 15:41] thomasplevy commented on #2121
This is a bug (or possibly a regression). I'm sure that at some point we had logic in place that prevented the product metabox from loading unless the `manage_lifterlms` was present for the current user. But I can't find where that was removed so perhaps I'm wrong and I've simply never noticed the issue.

It's likely that if we close the "bug" and someone will be displeased as it will be considere

[2022-04-26 16:50] thomasplevy opened #2138 "Update documentation related to instructor's assistants"
The documentation is wrong then:
https://lifterlms.com/docs/roles-and-capabilities/#instructors-assistant

_Originally posted by @eri-trabiccolo in https://github.com/gocodebox/lifterlms/issues/2122#issuecomment-1109934499_

The necessary change is that instructor's assistants *can be managed* by their instructor and they can only edit courses their instructor has assigned them to.

We've discusse

[2022-04-26 16:59] thomasplevy opened #2139 "Instructors can add any eligible user role to a course via the Instructors sidebar in the block editor"
### Reproduction Steps

+ Log in as an instructor
+ Navigate to a course or membership that you have access to
+ Use the instructor's section of the block editor plugin sidebar
+ Search for an admin or an instructor or any other role

### Expected Behavior

+ You should only be able to add their assistants to the course

### Actual Behavior

+ You can add any user (reduced to admin, manager, instr

[2022-04-28 07:49] eri-trabiccolo commented on #2121
@thomasplevy
can you just clarify two points to me?

**with 1. I meant that here:**
https://github.com/gocodebox/lifterlms/blob/7a4d6a0f5424210f15fbb753ed4a5f7d483b0360/includes/class.llms.post-types.php#L1091
we also set the `capabilities` property like https://github.com/gocodebox/lifterlms/blob/7a4d6a0f5424210f15fbb753ed4a5f7d483b0360/includes/class.llms.post-types.php#L869
so that we'll have
[

[2022-04-28 13:12] thomasplevy commented on #2121
okay yea that makes sense... I was thinking *all* of the users would be dynamic, and `manage_lifterlms` would automatically have access through the dynamic handler. But I think what you're suggesting makes more sense actually so that roles could be easily customized beyond this (well specifically the lms_manager).

[2022-04-28 16:47] nrherron92 opened #2140 "Certificates Not Editable When Site Language is French"
### Reproduction Steps

+ HS-192061
+ Can't reproduce locally
+ Set the site language to Canadian French
+ Head into _Engagements->Certificates_ and try to edit a certificate
+ Provided site is the staging/testing site for the user

### Expected Behavior

+ You can edit the certificate

### Actual Behavior

+ there is a white screen
+ When the language is switched back to english the certificate i

[2022-04-28 16:50] thomasplevy commented on #2140
@nrherron92 can you get us a copy of the language file the customer is using

Can you also rule out that this is a conflict resulting from usage of the Gutenberg plugin which may contain new backwards incompatible changes not found in the WP core yet please

[2022-04-28 16:54] nrherron92 commented on #2140
@thomasplevy on it for the language file!

I did rule out any plugin conflicts, this happens with just LifterLMS as well

[2022-04-28 17:02] nrherron92 commented on #2140
@thomasplevy @eri-trabiccolo language files now attached on ticket

[2022-04-29 10:17] eri-trabiccolo commented on #2140
thanks @nrherron92
this is the same issue as #1842
Fix is on the way.

Meantime the only workaround I can suggest is to switch the user preferred language (so from the user's profile, not necessarily the website language) to a different language.

[2022-05-03 19:26] pondermatic opened #2142 "Courses tab not shown in BuddyBoss Profile Navigation Customizer"
### Reproduction Steps

+ Install LifterLMS 6.3.0 or 6.4.0.
+ Deactivate BuddyPress if installed. There is a faulty assumption about where a BuddyBoss class file is located.
+ Install BuddyBoss Platform plugin [2.0.0](https://github.com/buddyboss/buddyboss-platform/tree/2.0.0).
+ Ensure that LifterLMS --> Integrations --> BuddyPress is enabled and, in LifterLMS 6.3.0 and above, that "My Courses" i

[2022-05-03 19:42] eri-trabiccolo commented on #2142
Sorry. I was actually aware of this and guiltly I haven't opened an issue.
Although I cannot fix this (that's an easy fix) until https://github.com/gocodebox/lifterlms/issues/2110  is fixed by BuddyBoss, otherwise we'll have a fatal (in the backend too).

[2022-05-06 16:04] nrherron92 opened #2143 "Weeks in Payment Plans should be Total Payments"
### Reproduction Steps

+ Set up an access plan with a payment ever 2 weeks for 12 weeks
+ the 12 weeks should be 12 total payments
+ on the orders page this should also reflect 12 total payments for access plan details

### Expected Behavior

+
![image](https://user-images.githubusercontent.com/47434271/167170464-0bb48136-edf1-4069-bfcc-070f915538ee.png)

### Actual Behavior

+ ![image](https://u

[2022-05-11 16:19] thomasplevy opened #2146 "Theme Development & Testing Guide / Docs"
Let's develop a theme testing and development guide & docs, inspired by [WP's theme dev guide](https://codex.wordpress.org/Theme_Development)

We can cover:

+ LifterLMS-specific post types / templates (courses, lessons, quizzes, etc...)
+ Archive page wrappers / considerations
+ student dashboard considerations
+ theme support declarations
+ sidebars
+ widgets
+ blocks & block templates
+ CSS ove

[2022-05-11 16:20] thomasplevy commented on #2146
@nrherron92 is to take the first pass at putting this together and we'll build it out from there after she gets a draft together

[2022-05-11 17:42] #909 closed

[2022-05-11 17:42] #1835 closed, assigned to eri-trabiccolo

[2022-05-11 17:42] #2140 closed, assigned to eri-trabiccolo

[2022-05-12 10:55] eri-trabiccolo opened #2149 "Cannot create coupons with float Discount Amount"
### Reproduction Steps

+ Add a new coupon
+ as Discount amount insert any floating value, e.g. 99.9
+ click on Publish

### Expected Behavior

+ I'd expect to be able to create a coupon with that discount value

### Actual Behavior

+ I'm asked to insert a integer value between 99 and 100

### Error Messages / Logs

n/a

### System and Environment Information

LifterLMS 6.5.0

### This issue has

[2022-05-12 13:57] pondermatic opened #2150 "Add documentation for the llms_certificate_merge_data filter hook"
**Is your feature request related to a problem? Please describe.**
The `llms_certificate_merge_data` filter hook does not have a DocBlock and is not searchable on the [LifterLMS code reference](https://developer.lifterlms.com/reference/) site.

[2022-05-13 16:13] nrherron92 opened #2151 "Irish provinces Incorrectly Listed as Counties"
### Reproduction Steps

+ https://wordpress.org/support/topic/register-form-fields-error/
+ Switch to Ireland
+ Head to checkout
+ Select the drop down and scroll to bottom:
<img width="336" alt="image" src="https://user-images.githubusercontent.com/47434271/168324194-1147e401-387e-4ef0-b5f7-70670806b4b1.png">

### Expected Behavior

+ these are not used in addresses they're regions (for example U

[2022-05-13 16:20] pondermatic commented on #1940
### Status Update

BuddyBoss 2.0.1 has been released. When using the Astra theme, the certificate template preview looks good in all versions of the BuddyBoss Platform plugin.

With the BuddyBoss theme 1.8.9.1, the certificate preview does not look like it does in the block editor.
![image](https://user-images.githubusercontent.com/5377968/168325011-611478e4-c565-4165-8a35-9547a941608b.png)

Buddy

[2022-05-13 16:22] thomasplevy commented on #2151
See related https://github.com/gocodebox/lifterlms/issues/1686

Our *data* was sourced from open source apis and we've been trying to get user feedback to improve the data which we've learned since 5.0 release is not always accurate or reliable.

I don't have an ETA on an update to this (responses to the form was low).

It's hard to know whether or not any actual set of data is *correct* and trust

[2022-05-13 16:26] thomasplevy commented on #1940
@pondermatic See explanation of this issue in: https://github.com/gocodebox/private-issues/issues/58

This, to my knowledge, has little to do with the buddyboss platform since the template overrides come from the theme

[2022-05-17 12:51] Snoepys commented on #2110
Hi! I have reached without any lucky to Buddyboss forum as @thomasplevy ask me for in Slack 14 days ago. Is there any update with this issue? Have Buddyboss answer you, @nrherron92 ? Still can't be able to reorder courses tab. :(

[2022-05-18 16:29] thomasplevy opened #2152 "Create documentation related to plain permalinks and WP Engine cache exclusions"
@willmiddleton-lifterlms, a rough draft of a KB post about this issue is [here](https://lifterlms.com/?post_type=pp-doc&p=210802&preview=true). Please give it your magic touch.

_Originally posted by @pondermatic in https://github.com/gocodebox/lifterlms/pull/2128#discussion_r873912598_

[2022-05-18 16:32] thomasplevy commented on #2110
@Snoepys thanks for your patience on this.

As of this morning we don't have a firm timeline from BuddyBoss on when we can expect a resolution to this (or a few other minor BuddyBoss conflicts).

The issues we have encountered (like this one) have been relaid to their development team but we don't know when to expect a fix.

[2022-05-18 20:04] nrherron92 opened #2157 "Known Issue: Print dialog issues in Safari and Firefox"
### Reproduction Steps

+ HS-193247
+ Create a certificate
+ Open in Safari
+ Print the cetificate

### Expected Behavior

+ The orientation and size of the certificate should made the settings in the certificate and be confined to a single page

### Actual Behavior

+ the orientation defaults to portrait and splits into two pages:
<img width="684" alt="image" src="https://user-images.githubuserco

[2022-05-18 21:07] thomasplevy commented on #2157
@nrherron92 the root source of this issue is that Safari (and also Firefox) do not support the `@page:size` CSS declaration, which is what we utilize to determine the print dimensions. It's an "experimental" css rule but it is implemented 3/5 "major" browsers: https://developer.mozilla.org/en-US/docs/Web/CSS/@page/size

This rule was chosen to replace other methods used before 6.0 (using body/html

[2022-05-23 14:08] nrherron92 opened #2161 "Divi Update Broke Courses"
### Reproduction Steps

+ HS-193622
+ Install LifterLMS
+ Instal Divi
+ Make sure Courses are editable with builder
+ Try to open a course with the front end builder

### Expected Behavior

+ You can open the course and edit it

### Actual Behavior

+ There's a javascript error that blocks the course from loading in the builder

### Error Messages / Logs

+ Include any relevant error messages or l

[2022-05-23 16:27] eri-trabiccolo commented on #2161
I'm investigated into this but I cannot reproduce exactly the same error.
I see it happens on a Natalie testing website as well, but I can recreate it from scratch, at the moment :/.

[2022-05-23 17:01] eri-trabiccolo commented on #2161
This is how I was able to reproduce it:
- create a course with a theme which is not Divi, create it with the block editor (default)
- switch to Divi
- **make sure Divi forces the classic editor** (Divi -> Theme Options -> Builder -> Enable Classic Editor - Enabled)
- edit the course and click on Edit it with Divi, then on Edit with the Divi Builder, which will take you to the front-end editor.
At

[2022-05-23 19:00] #1717 closed, assigned to pondermatic

[2022-05-23 21:47] magicemilymiddleton commented on #2138
No problem - made that update

[2022-05-23 22:07] #2138 closed, assigned to willmiddleton-lifterlms

[2022-05-23 22:34] magicemilymiddleton commented on #2152
Published: https://lifterlms.com/docs/wp-engine-cache-plain-permalinks-and-password-reset-form/

[2022-05-23 23:05] #2152 closed, assigned to willmiddleton-lifterlms

[2022-05-24 16:38] nrherron92 opened #2163 "Reporting Screen Not Updating Student Count"
### Reproduction Steps

+ HS-193546
+ Log into staging site (or main site) and head into reporting
+ click on reporting for: 5 steps to market your restaurant
+ The student count is 5 but should be much higher
+ enroll a user or unenroll a user and the count doesn't change.
+ clear user reporting cache

### Expected Behavior

+ The reporting should update with the correct student count

### Actual

[2022-05-24 17:00] thomasplevy commented on #2163
@nrherron92 I see WP Crontrol is installed, are crons running correctly on the staging site?

The functions LifterLMS uses to calculate / recalculate run on crons so if the crons aren't running properly that's the reason that the counts aren't updating.

[2022-05-24 18:49] nrherron92 commented on #2163
There is an issue with them on staging I'll have him install to check live

[2022-05-24 19:42] thomasplevy commented on #2163
Also, in case you've forgotten, even on live sites WP_CRON requires *traffic* to function reliably. So if we're dealing with a low traffic site it's possible that even if there aren't any obviously visible cron errors, the cron might not be executing reliably due to low traffic. The crontrol plugin can help you manually trigger crons to execute the calculations in this event to help determine if t

[2022-05-25 08:44] eri-trabiccolo opened #2164 "Fatal (with PHP8) when restoring a post type revision"
### Reproduction Steps

+ Make sure you're running PHP 8+ (otherwise you'll only get a warning)
+ Edit a whatever pots type with a revision
+ Restore a revision
+ Update

### Expected Behavior

+ I expect everything goes fine

### Actual Behavior

+ Fatal error

### Error Messages / Logs

[code]

### System and Environment Information

LifterLMS 6.6.0
WordPress 6.0
PHP 8

### This issue has been r

[2022-05-25 18:46] nrherron92 commented on #2163
Looks like the crons not being triggered was the issue. They've run now on the live site and the issue is resolved! thanks Thomas!

[2022-05-25 18:46] #2163 closed, assigned to nrherron92

[2022-05-25 19:20] nrherron92 opened #2166 "Manual Payment Not Capturing Name"
### Reproduction Steps

+ HS-193690
+ I can't reproduce locally or on staging
+ Purchase a course using the manual payment option
+ Fill out user information and enroll
+ Examples/Links on ticket

### Expected Behavior

+ user's first name/last name and addresses should be captured in the order

### Actual Behavior

+ Only the email appears to be captured

### Error Messages / Logs

+ Include any

[2022-05-26 08:32] eri-trabiccolo commented on #2161
I'm having hard time in reproducing this issue constantly, plus when I'm able I don't know what's the issue, and how could I fix it. :(

[2022-05-26 09:33] eri-trabiccolo commented on #2166
@nrherron92
where's the staging website?

I don't think the issue is related to the manual payment at all.
For what I can see this happens on some forms (customer has several forms) and not only for the First/Last Name.
Basically what happened is that, e.g., the First/Last Name form fields which must be tied to the WordPress's user First and Last name, have become (for some reason we need to inves

[2022-05-30 15:47] pondermatic opened #2169 "Error editing the "Confirm" form blocks."
### Reproduction Steps

1. Use WordPress 6.0. This does not happen with WordPress 5.9.
2. Edit a LifterLMS checkout form.
3. Click on the "Confirm Email Address" block or the "Confirm Password" block.

### Expected Behavior

The block can be edited.
![image](https://user-images.githubusercontent.com/5377968/171025869-de217997-b7f5-432c-969f-5cce888f972a.png)

### Actual Behavior

The block editor

[2022-05-30 15:56] eri-trabiccolo commented on #2169
(@pondermatic maybe move this to lifterlms-blocks?)

[2022-05-30 16:01] pondermatic commented on #2169
@eri-trabiccolo, You're probably correct, but I thought I would troubleshoot it first.

[2022-05-30 17:17] pondermatic commented on #2169
@gocodebox/engineering, this issue is beyond my young React/block editor abilities.

[2022-05-31 23:33] thomasplevy opened #2170 "Possibly deprecated hook"
This action hook should be documented in `complete_transaction()` and add a reference here like:
`This action is documented in complete_transaction()` or something.

_Originally posted by @eri-trabiccolo in https://github.com/gocodebox/lifterlms/pull/2102#discussion_r880206191_

[2022-06-02 17:11] nrherron92 opened #2172 "LTR Next/Previous Question Quiz Buttons"
### Reproduction Steps

+ HS-194589
+ This isn't a bug, I don't think.
+ Using Launchpad or Hello Theme create a quiz with at least 3 questions
+ Take the quiz

### Expected Behavior

+ I don't know that it is necessarily expected, but Danny did point out that it is more intuitive to have the previous question button in the left hand position and the next on the right hand position (think the back

[2022-06-02 19:01] thomasplevy commented on #2172
This is feedback that we've received in the past (though not necessarily in how it relates to RTL). During the upcoming redesign of our site (and related themes) this is a change we *will* be making to LifterLMS itself. At this time the button order can be switched with CSS.

I don't know if this is something that we'll create an option for, it'll likely be a more "sane" default and allow users to

[2022-06-02 19:01] #2172 closed, assigned to nobody

[2022-06-03 17:32] thomasplevy opened #2173 "Implement new gateway feature: `modify_recurring_payments`"
See related: https://github.com/gocodebox/lifterlms-gateway-paypal/issues/52

## Goal

Allow payment gateways to determine if recurring payment details (such as trial end date, next payment date, etc...) can be modified via the admin panel order UI.

The new gateway feature can be added to the [supports](https://github.com/gocodebox/lifterlms/blob/81b1fff19d7b8a97e6a5d2780f800212050c6e1f/includes/

[2022-06-06 14:19] eri-trabiccolo commented on #2173
Well in the constructor, we can check whether `modify_recurring_payments` feature is set, if so use its value, otherwise force `modify_recurring_payments` to be `true` when `recurring_payments` is `true` as well. And this would ensure also the following:

[2022-06-06 15:18] nrherron92 opened #2174 "Course Information Settings Move"
### Reproduction Steps

+ Courses -> Add New
+ The Course Length and Difficulty fields are visible under Course Options -> General
+ Save the course then view on the front end.
+ Jump back into edit the course, and now the Course Length field is now missing in Course Options > General and moved to the Course Information block where it belongs

### Expected Behavior

+ It should always be under the

[2022-06-06 15:54] thomasplevy commented on #2174
The block appears in both places to accommodate usage of the classic editor (plugin) for courses. There's a regression somewhere in the logic that hides the field when the block editor is being used. I'm guessing something has changed in a block-editor related core API to cause the checks to not run in the order they used to. Or, possibly, this has always worked this way and we haven't noticed it.

[2022-06-06 15:55] thomasplevy commented on #2174
@nrherron92 i'm marking this low severity and moving to the backlog because it's relatively minor and I don't see a related user issue. Even if there is a user issue I think confirming the bug and explaining the expected behavior should be satisfactory to the user. If you feel differently let me know.

[2022-06-06 15:58] thomasplevy commented on #2173
@eri-trabiccolo yes but since the abstract payment gateway *does not* currently have a constructor the existing payment gateways generally don't call `parent::__construct()` in their constructor's. They *should* probably do that anyway but they don't. So doing this in the constructor is the logical way to do it but it might mean we need to edit other gateways (we can do our internal ones quite eas

[2022-06-06 16:22] thomasplevy opened #2175 "Incorrect documentation on `get_course()` and `get_lesson()` functions"
https://github.com/gocodebox/lifterlms/blob/3147526e9dd0577824eaf7a3bb0ff644b0d805d5/includes/functions/llms.functions.course.php#L13-L53

Some copypasta errors and etc...

[2022-06-06 16:23] thomasplevy commented on #2175
Also I think the `$args` parameters should probably be deprecated

[2022-06-08 21:27] Snoepys commented on #2110
Hi! I have seen that today BuddyBoss have launch a new update: https://www.buddyboss.com/resources/buddyboss-platform-releases/2-0-3/
LifterLMS - Handled critical issue in the profile screen
I can't update yet but want to know if that update have fixed this issue.
Thanks!

[2022-06-08 22:25] thomasplevy opened #2177 "Form Editor block columns broken on WP 6.0"
### Reproduction Steps

+ On WP 6.0+ visit LifterLMS -> Forms and Edit a form
+ View a field group field (email with confirmation, for example) using the "Columns" layout

### Expected Behavior

+ Fields will appear side by side

### Actual Behavior

+ Fields are correct width but are stacked and the confirmation / second field is offset due to column padding.

![Screenshot_2022-06-08_15-22-38](ht

[2022-06-08 22:46] thomasplevy commented on #2110
@Snoepys I'm not sure, we'll check into it and update this issue when we know more

[2022-06-08 22:47] thomasplevy commented on #2110
@nrherron92 I know we chatted about this earlier this week but if you get some time to check out the latest BB update and let us know if we have more nudging to do or what. Thanks <3

[2022-06-09 17:28] #2164 closed, assigned to eri-trabiccolo

[2022-06-09 19:37] nrherron92 commented on #2110
@thomasplevy yes! It looks like the critical error is fixed on their end, no more fatal error! Though, they still have not addressed the certificates issues. Good to close now I think?

[2022-06-09 19:43] thomasplevy commented on #2110
Thanks. Yes let's close it (we're tracking the certificate issue separately at #1940)

[2022-06-09 19:43] #2110 closed, assigned to nrherron92

[2022-06-10 14:59] nrherron92 opened #2179 "Shortcodes do not render in forms"
### Reproduction Steps

+ HS-195244 (and Slack convo)
+ Head into a form like Edit Account
+ Add a shortcode
+ There is no shortcode block to add
+ but it can be added to a paragraph block
+ Save
+ view on front end

### Expected Behavior

+ The shortcode will render

### Actual Behavior

+ the shortcode does not render

### Error Messages / Logs

+ Include any relevant error messages or log files

[2022-06-10 15:27] thomasplevy commented on #2179
I briefly looked into this when it was first reported on slack and I tested it with the `[courses]` shortcode in a paragraph block on the registration form and it worked as expected.

I theorized there was a plugin conflict or perhaps a problem with the shortcode being used.

I'm not opposed to adding the shortcode block into the forms allowlist by the way. I can't recall any reason why it was exc

[2022-06-10 15:28] thomasplevy commented on #2179
Unless everyone feels differently I don't believe this is a high priority item and I'd prefer to put it back on the backlog unless there's a truly explicit bug

[2022-06-10 15:44] eri-trabiccolo commented on #2179
What theme are you using? I can reproduce the issue.
Btw, workaround: `add_filter( 'llms_get_form_html', 'do_shortcode' );`

[2022-06-10 15:48] nrherron92 commented on #2179
I can also reproduce it with our courses shortcode on Astra, 2021, Kadence, Launchpad

[2022-06-10 15:54] thomasplevy commented on #2179
alright well... I swear I thought it worked the other day but I guess I'm wrong... Sorry!

[2022-06-10 15:55] thomasplevy commented on #2179
In any event, I still don't think this is a high priority issue, does anyone disagree? My thinking: I ship core releases (Rocco probably could, but I'm always involved) and in order to fix this even if it's a small fix I need to ship another core release which takes away from getting paypal finished)

[2022-06-10 15:55] nrherron92 commented on #2179
nope with the work around this can get stuffed in the back of the closet I think! Paypal is more important!

[2022-06-10 16:06] eri-trabiccolo commented on #2179
Yeah I agree with you. <3

[2022-06-10 18:19] nrherron92 opened #2180 "Custom/Third Party Roles Don't Obey Unrestricted Preview Access"
### Reproduction Steps

+ HS-192885
+ Create a custom user based on subscriber/student role with user role editor and add the role to the unrestricted preview setting
+ or add Memberium basic user roles to the unrestricted preview setting
+ create a course/lesson/drip or some other locked content
+ switch into the custom or third party user role and attempt to access the content

### Expected Beha

[2022-06-10 19:08] thomasplevy commented on #2180
Relevant code in question:

https://github.com/gocodebox/lifterlms/blob/898135c8538e5777c7702bda40345d462d729fe1/includes/functions/llms.functions.person.php#L41-L43

This would be where the user gets if the user has *no* roles. I think the issue is actually below this where we are requiring the user to have edit access to the post in question in order to bypass restrictions: https://github.com/go

[2022-06-10 19:11] thomasplevy commented on #2180
@nrherron92 I don't really have a solution in place for your user as they're reporting a break in functionality that we introduced in order to fix a bug / security issue. What do you do when a feature changes because of a BUG and the user considers that bug to be a feature? We say "we fixed a bug" and they say "we broke a feature". These two things are in direct conflict and as the maintainers and

[2022-06-10 19:19] thomasplevy commented on #2180
The user says "broke my user's access to the lesson content which allowed them to bypass restrictions and not force them to enroll in the course to view the lessons."

If the goal is to *not* use enrollment and have completely free / open content without the enrollment system, using this is misusing the setting anyway, I think.

Placing a simple filter on `llms_page_restricted()` might be a better

[2022-06-10 19:25] thomasplevy commented on #2133
@gocodebox/engineering moving this to TO DO alongside #2180 so we can put a stop to confusion here.

[2022-06-10 19:27] nrherron92 commented on #2180
@thomasplevy Thank you for explaining everything! <3

I think you're right, adding roles for custom roles would be overkill or at least something that can be on the back burner, because the bug fix to prevent security violations is way more important for the vast majority of users.

I'll give him the restrictions filter and let him know we will not be changing the code but may consider the idea of

[2022-06-10 19:50] thomasplevy commented on #2180
Sounds good... I'm not really sure what the best solution would be. It would be cool to understand his requirements in more detail. It sounds to me like the use-case is that he's using a custom role for all users so that users don't have to enroll in everything. But I might misunderstand.

In any event, understanding the problem / requirement of the user is useful in determining the best way to im

[2022-06-15 16:05] eri-trabiccolo commented on #883
Fixed  via #1062

[2022-06-15 16:38] nrherron92 commented on #1940
they've fixed this issue!

[2022-06-15 16:38] #1940 closed, assigned to nrherron92

[2022-06-16 07:43] eri-trabiccolo commented on #2142
This is something we can fix now that #2110 is fixed.
Although the problem is that the fix would still generate a fatal for BuddyBoss customers who haven't updated to 2.0.3.
Shall we add a temporary `playnice` for bb<2.0.3? Alternatively I think we can write down some documentation with a filter to add to "disable" the fix.

[2022-06-16 15:25] thomasplevy commented on #2142
@eri-trabiccolo can we conditionally add the fix only for the bb<2.0.3?

[2022-06-16 16:37] eri-trabiccolo commented on #2142
@thomasplevy
Well the thing is a bit different.
In https://github.com/gocodebox/lifterlms/pull/1816 we improved the BuddyPress (hence BuddyBoss) profile tabs integration but I also introduced a regression: https://github.com/gocodebox/lifterlms/pull/1816/files#diff-834d9c037e672d63bff32294a7f741a0871d7cc8e22fd33a25eb799d0ee5be15R129-R134
I basically _decided_ to limit the nav item addition to the

[2022-06-16 16:44] thomasplevy commented on #2142
What is your `playnice` suggestion in that case @eri-trabiccolo ?

[2022-06-16 17:07] eri-trabiccolo commented on #2142
That in the playnice class I add some code that checks the buddyboss version, and if less than 2.0.3 I "disable" the nav items addition in the "admin" context only. So users can still leverage the workaround described here:
https://github.com/gocodebox/lifterlms/issues/2110#issuecomment-1097715674

[2022-06-16 17:13] thomasplevy commented on #2142
Alright that sounds good to me

[2022-06-20 12:55] pondermatic opened #2188 "Capacity not checked at checkout"
### Reproduction Steps

+ Add a course "Course Capacity" enabled and set to 1.
+ Add a free access plan.
+ In web browser 1, log in as user 1 and view the course page.
+ In web browser 2, log in as user 2 and view the course page.
+ In web browser 1 as user 1, enroll in the course.
+ In web browser 2 as user 2, click the "Enroll" button.

### Expected Behavior

+ User 2 should not be allowed to en

[2022-06-20 14:21] pondermatic commented on #2188
Closed in favor of https://github.com/gocodebox/private-issues/issues/8.

[2022-06-21 17:01] thomasplevy opened #2189 "Include google webfonts directly in favor of loading remotely"
In light of this recommendation change (for themes) we should probably get out in front of this and load certificate fonts locally in favor of loading them from Google directly.

https://make.wordpress.org/themes/2022/06/18/complying-with-gdpr-when-using-google-fonts/

Source: https://github.com/gocodebox/lifterlms/blob/f40e79dcb75486e0581d19e0d46c462e1801b3f1/includes/functions/llms.functions.cer

[2022-06-27 17:16] thomasplevy opened #2191 "[7.x] Add new data retention settings for orders and user accounts"
Introduces a collection of admin settings designed to automatically delete abandoned orders from the database after a specified time period (days/weeks/months/years)

+ Inactive accounts - an account which has no enrollments
+ Pending orders - orders with then "llms-pending" status

When running the cron *pending orders* should be deleted first and then the inactive account check should be run.

T

[2022-06-27 17:21] thomasplevy opened #2192 "[7.0] Admin order interface displays invalid user link for pending/incomplete checkout orders"
### Reproduction Steps

+ Initiate checkout using PayPal CP on 7.0-alpha.x
+ Abandon checkout before approving the PayPal payment
+ View the pending order on the admin panel

### Expected Behavior

+ The Buyer Name should *not* be a link because the user does not yet exist in the WP database

### Actual Behavior

+ The Buyer Name is a link but since the user doesn't exist it links to the current u

[2022-07-05 17:08] thomasplevy opened #2196 "Members-only course access plan bulk generator"
## The problem

Users who create memberships and wish to provide access to a large-number of courses end up using the course auto-enrollment feature to add every course to the membership.

The UX (for students) and performance implications of this are not ideal for what the users are trying to achieve: they want the users to have access to all the courses.

## Proposed solution

Building on our "m

[2022-07-05 17:19] eri-trabiccolo commented on #2196
Ok but let's do on save, right?

[2022-07-05 17:28] thomasplevy commented on #2196
Oh yea, on save for sure.

This isn't a fully-fledged feature either... I was just thinking about it and wanted to capture the idea.

For one: if a plan is deleted from the course side the course should be removed from the membership and if the course is removed from the membership the course plan should be removed. Probably.

[2022-07-05 17:29] thomasplevy commented on #2196
I'm thinking this entire UI should be built in react as a block-editor "plugin". Using the strategy we used for some react stuff related to certificates we could also place this interface outside the editor if it should ever become necessary, I think.

[2022-07-07 16:19] nrherron92 commented on #1702
HS-197033 -- I'll give her the custom CSS as a work around!

[2022-07-07 16:28] nrherron92 opened #2199 "Custom Merge Codes Don't Render in Certificates"
### Reproduction Steps

+ Add our snippet for custom merge codes here: https://github.com/gocodebox/snippets/blob/trunk/lifterlms/llms-cert-custom-merge-example.php
+ Add the new custom merge code to a certificate template
+ Save the template
+ Award the certificate

### Expected Behavior

+ The certificate should render the new custom merge code

### Actual Behavior

+ Instead the merge code just

[2022-07-07 16:43] eri-trabiccolo commented on #2199
Thanks for reporting this @nrherron92
so the problem here is that, when a certificate is awarded, we apparently save its content twice:
As you said:
- Users earn a certificate
- it gets the certificate template content, process the merge codes -> save it into the earned certificate content
- then we do something else, like firing that hook from the custom code snippet
- then again we get the certi

[2022-07-10 10:28] eri-trabiccolo opened #2201 "Filter hook duplicated"
https://github.com/gocodebox/lifterlms/blob/3ecaeb454a242ea32b4dd5167582e89d9983122c/includes/models/model.llms.product.php#L286
https://github.com/gocodebox/lifterlms/blob/3ecaeb454a242ea32b4dd5167582e89d9983122c/includes/models/model.llms.product.php#L337

The first one should be 'llms_product_get_restrictions' or just 'llms_product_restrictions' .

[2022-07-12 19:56] #2132 closed, assigned to nrherron92

[2022-07-12 19:56] #2142 closed, assigned to eri-trabiccolo

[2022-07-12 19:56] #2201 closed, assigned to eri-trabiccolo

[2022-07-14 16:29] thomasplevy commented on #2191
![Screenshot_2022-07-14_09-27-27](https://user-images.githubusercontent.com/1290739/179031305-0fee9a71-fc73-4e8c-b9a9-4de9fac8b7bc.png)

@eri-trabiccolo thoughts on this?

+ making it just days because we don't have a combo field box for number input + dropdown
+ are descriptions clear enough?

[2022-07-14 20:03] thomasplevy opened #2206 "CSS scroll-behavior: smooth and HTMLFormElement.reportValidity() on checkout forms"
### Reproduction Steps

+ Add css to site:
[code]
+ Visit checkout
+ Leave at least one required form field blank.
+ Shrink browser window / viewport so that when the "Buy Now" button is visible the blank field is not visible within the viewport.
+ Enter a valid test card into the stripe fields and hit "Buy Now"

### Expected Behavior

+ Browser will automatically scroll the invalid form field int

[2022-07-15 10:46] eri-trabiccolo commented on #2191
@thomasplevy looks good.
I'm all for reducing the complexity and talk only about days.
Descriptions are clear enough yes.

This is a very good feature!

[2022-07-19 00:13] thomasplevy commented on #2166
@eri-trabiccolo just looking through open todos and it looks like https://github.com/gocodebox/lifterlms-blocks/issues/169 is what needs fixing (actually you've already fixed and we're holding).

Is this issue safe to close @eri-trabiccolo and @nrherron92 ?

[2022-07-19 03:45] willmiddleton-lifterlms opened #2210 "LifterLMS Plugin description missing from plugin page in WordPress admin"
### Reproduction Steps

Not 100% sure if this is a bug

1. Install LifterLMS core plugin
2. Go to plugins area
3. click 'View Details'

<img width="1792" alt="Screen Shot 2022-07-18 at 11 42 23 PM" src="https://user-images.githubusercontent.com/76497148/179659929-29cd8885-a000-4619-831e-10c32045d24b.png">

### Expected Behavior
A description would appear

### Actual Behavior
The description does n

[2022-07-19 15:08] nrherron92 commented on #2166
Yes! If @eri-trabiccolo is good to go this can be closed!

[2022-07-19 15:20] eri-trabiccolo commented on #2166
@thomasplevy yeah I think it's fine.

[2022-07-19 15:28] #2166 closed, assigned to nobody

[2022-07-19 20:15] nrherron92 opened #2212 "User Can Create Two Active Orders with Same Access Plan with On Hold Orders"
### Reproduction Steps

+ Create a recurring order
+ Cause the order to fail and go into on hold
+ Go into that course and purchase the same access plan
+ Once that new order is created head into your user dashboard->order history
+ Select the on hold order and update payment method

(Our Notes from the other issue: This would happen regardless of the payment gateway. The idea is that the user sho

[2022-07-19 20:28] thomasplevy commented on #2210
The LifterLMS.com api returns this information and the LifterLMS Helper library injects this into the WordPress `plugins_api()` requests.

The intention is to provide information in that area for plugins not distributed through WordPress.org. We include the LifterLMS core (or other WordPress.org-hosted plugins) in this process in order to facilitate serving betas.

But, this is a bug, we should be

[2022-07-22 12:51] saracomin96 opened #2214 "The province field is missing from the Arezzo province of Italy"
**Reproduction Steps**
In any registration or user modification form where there is the province field

**Expected Behavior**
All the correct provinces of Italy should be displayed

**Actual Behavior**
The province of Arezzo is missing

**Error Messages / Logs**
There is no type of error, Arezzo has not been included

### System and Environment Information

<details>
<summary>System Report</summar

[2022-07-26 19:03] nrherron92 opened #2216 "Award Certificates Shows "No Options""
### Reproduction Steps

+ Go into Awarded Certificates and Award a Certificate
+ HS-198308

### Expected Behavior

+ When clicking on the dropdown to select a student or template there should be a notice that says "start typing" (or some autofill, but the place holder does say "search by name or email" so when it says no options people get confused instead of realizing they need to type something)

[2022-07-26 19:10] thomasplevy commented on #2216
Is the placeholder `Search for a certificate template...` insufficient here?

[2022-07-26 19:14] thomasplevy commented on #2216
I mean I *see* the potential confusion but do we have to have a conditional placeholder or something when they haven't type yet?

Or are we suggesting that it shouldn't automatically display "No options" if they haven't typed yet?

Programmatically I don't feel like this will be the easiest thing to change... but I'm not positive without actually digging into the code... Also, can you help me gaug

[2022-07-27 12:09] eri-trabiccolo opened #2217 "Unwanted headings font-weight override?"
https://github.com/gocodebox/lifterlms/blob/7932ff1e9ab160a66d52d01d838a0a99dec52e71/assets/scss/frontend/_main.scss#L74-L77

I'm not sure why we have that rule in place, but I think we should get rid of it.
Defining the headings font-weight sitewide, it's outside of our scope (and creates me problems with the new theme :P).

Of course changing this might have some drawback but to me it's somethin

[2022-07-28 19:46] #2149 closed, assigned to thomasplevy

[2022-07-28 19:46] #2214 closed, assigned to eri-trabiccolo

[2022-07-28 19:46] #2217 closed, assigned to eri-trabiccolo

[2022-07-29 00:04] thomasplevy commented on #1689
@gocodebox/main any thoughts on how to proceed with this stale issue / conflict?

[2022-07-29 18:49] sekanderb commented on #1689
I think adding the CSS to our documentation would be a good idea until they fix this in their theme. But again, adding CSS for LifterLMS CSS might feel like an edge case for them. So, the only option I can think of having documentation about this issue.

And I agree that the certificate image should fit the viewport or at least scroll if not possible.

[2022-07-29 18:58] nrherron92 commented on #1689
I think we can leave it as a known conflict with that code snippet we can hand over as workaround when users stumble across the issue. I don't think we need to specifically accomodate third party themes for something this small.

[2022-07-29 19:37] thomasplevy commented on #1689
@nrherron92 did we already write the CSS somewhere? If so @willmiddleton-lifterlms on you to write the docs.

[2022-07-30 07:54] davidgalvez commented on #2024
I had the same error message in cosole, it was resolved updating wordpress from 5.8 to 6.0

[2022-08-02 22:25] donaldafeith commented on #2189
The best way I can find to do this would be to have the fonts downloaded in to a folder /fonts/ or some other way and then called to.
Example:
``
 		'imperial-script'     => array(
 			'name'       => 'Imperial Script',
 			'href'       => 'https://the-website-using-them.com/css2?family=Imperial+Script&display=swap',
 			'fontFamily' => 'Imperial Script', ' . $serif,
 		),
``
Or (Not tested just b

[2022-08-02 22:50] thomasplevy commented on #2189
Hey @donaldafeith

There's this: https://github.com/WPTT/webfont-loader

But... I'm not sure using that is necessary for our project here.

My thinking is/was that we'd essentially grab the raw CSS google would load, for example from here: https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap

Then grab copies of the actual fonts (the `.woff2` files is sufficient with IE now "dead")

[2022-08-02 23:11] donaldafeith commented on #2189
I like it. The folders are a lot cleaner compared to what I considered. So, definitely a much better idea. I haven't browsed all of the webfont loader code, but I can see the idea that it has. Something like wget to bring all the fonts. (Which I don't think we would need that if we just include them, and have the folders there... ) Shouldn't need to have them looked at for updating each time. (Rea

[2022-08-05 03:43] donaldafeith commented on #1705
I am pulling a fix for this to help until I can rework the Javascript. Select2 is iffy when it comes to multiple options.

[2022-08-10 16:46] thomasplevy commented on #1689
@nrherron92 and @willmiddleton-lifterlms bump :arrow_up:

[2022-08-10 16:56] nrherron92 commented on #1689
Ah sorry! Yes here:

`.llms-certificate-wrapper {
    overflow: unset !important;
}`

[2022-08-12 18:02] thomasplevy commented on #1689
@willmiddleton-lifterlms bump :arrow_up:

[2022-08-14 17:42] TheBarzFR opened #2224 "[L321] __ Missing text domain during build with gulp"
### Reproduction Steps

Error during building last release with gulp

### Expected Behavior

See below

### Actual Behavior

### Error Messages / Logs

+ Include any relevant error messages or log files
[code]

### System and Environment Information

<details>
<summary>System Report</summary>

Linux Ubuntu 22.04.1 LTS (Jammy Jellyfish)
Components version:
npm: 8.5.1
nodejs: v12.22.9
PHP: 7.4.30

G

[2022-08-14 17:46] thomasplevy commented on #2224
Thanks @TheBarzFR we'll get this cleaned up!

[2022-08-15 15:21] younes-dro opened #2227 "Error when saving LifterLMLS pages settings"
Hello,
I'm trying to create new LifterLMS pages in: LifterLMS->Settings->Courses.
I created a page with the shortcode: [lifterlms_courses].
The page is displayed fine, but when I try to define it as: Course catalog , I get this error:
**whoa! something went wrong there!. Please refresh the page and retry.**

[2022-08-15 15:24] thomasplevy commented on #2227
@younes-dro sorry you're having issues here, could you please provide additional system and status information as found in the issue template at https://github.com/gocodebox/lifterlms/issues/new?assignees=&labels=&template=Bug_Report.md

At the very least we'll need to see the PHP error generated here. That can be found in your debug.log file or will be shown on screen if you enable WP_DEBUG and W

[2022-08-15 16:16] younes-dro commented on #2227
Hi @thomasplevy  , and think you for your quick follow-up.
I followed the code providing this issue.

`llms_verify_nonce` function .

it use : `strtoupper( getenv( 'REQUEST_METHOD' ) )  . which always returns empty string

[2022-08-15 16:45] magicemilymiddleton commented on #1689
We created a document today for that: https://lifterlms.com/docs/faq-how-to-fix-certificate-formatting-issue-with-the-kadence-theme/

Feel free to drop any feedback

[2022-08-15 18:06] thomasplevy commented on #2227
@younes-dro could you provide some more context for us here specific to your environment?

This isn't an issue we're seeing locally or any of our production environments. Furthermore this particular function has existed in this form since its introduction in [v3.8](https://github.com/gocodebox/lifterlms/blob/4ebf40023f626a8ef1356279522460619a25a54b/includes/llms.functions.core.php#L781-L783)

I'm

[2022-08-15 18:07] #1689 closed, assigned to willmiddleton-lifterlms

[2022-08-16 00:02] younes-dro commented on #2227
Hi @thomasplevy .

indeed, after hours of testing, I found that it is caused by my specific development environment.

The issue comes from the fact that I use a custom address of the local development server: `http://127.0.0.2:8000/ `built-in server, and I ommitted to take it into consideration.

I installed LifterLMS in localhost server, and it works fine.

I also replaced `getenv()` by `$_SERVER

[2022-08-16 15:48] thomasplevy commented on #2227
@younes-dro weird that using a different port would create an issue like this. It *shouldn't* work that way but I would like to have a closer look at this and see if we can make some changes to make the code generally more functional. Would you mind grabbing the `phpinfo()` outputs for these two environments and posting them here so I can review them? I'd like to see what, exactly, is the config t

[2022-08-16 16:04] thomasplevy commented on #2179
safelist: https://github.com/gocodebox/lifterlms-blocks/blob/d480541ce5009cc41a6b6ac0fd5e593c52c6656a/src/js/blocks/index.js#L56-L67

do_shortcodes on `$html` var in this return (before the filter, probably): https://github.com/gocodebox/lifterlms/blob/668e74be2755c33b01fecde731b79aeba027c511/includes/forms/class-llms-forms.php#L534-L568

[2022-08-16 17:02] eri-trabiccolo opened #2229 "[7.x] Access Plan redirection URL not taken into account by AJAX-powered gateways"
see https://github.com/gocodebox/lifterlms-gateway-paypal/issues/110

As discussed on slack, we could replace this:
https://github.com/gocodebox/lifterlms/blob/ceb3687c1c573027c4927f1512143c1fef32b90a/includes/abstracts/abstract.llms.payment.gateway.php#L440-L442

with this:
[code]
So the redirect doesn't primarily depend on the `redirect` `INPUT_GET` var see:
https://github.com/gocodebox/lifterlm

[2022-08-16 18:17] younes-dro commented on #2227
### http://localhost/test.php

<div class="center">
<table>
<tbody><tr class="h"><td>
<a href="http://www.php.net/"><img border="0" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHkAAABACAYAAAA+j9gsAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAD4BJREFUeNrsnXtwXFUdx8/dBGihmE21QCrQDY6oZZykon/gY5qizjgM2KQMfzFAOioOA5KEh+j4R9oZH7zT6MAMKrNphZFSQreKHRgZmspLHSCJ2Co6tBtJk7Zps7tJs5t95F5/33PvWU429

[2022-08-16 18:19] younes-dro commented on #2227
### http://127.0.0.2:8000/test.php

<div class="center">
<table>
<tbody><tr class="h"><td>
<a href="http://www.php.net/"><img border="0" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHkAAABACAYAAAA+j9gsAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAD4BJREFUeNrsnXtwXFUdx8/dBGihmE21QCrQDY6oZZykon/gY5qizjgM2KQMfzFAOioOA5KEh+j4R9oZH7zT6MAMKrNphZFSQreKHRgZmspLHSCJ2Co6tBtJk7Zps7tJs5t95F5/33Pv

[2022-08-16 18:22] younes-dro commented on #2227
@thomasplevy The first  `phpinfo()` `localhost` and the second `http://127.0.0.2:8000/`
my first remark is the value  `Loaded Configuration File` is different.

[2022-08-16 18:37] thomasplevy commented on #2227
Looks like the second file is loaded without a "true" webserver (using the built-in PHP http server). And with this server the `$_SERVER` vars aren't added to the environment (like Apache, Nginx, Etc...) would. This is an *interesting* difference between the environments (and I think the source of the problem here).

I'm going to re-open this issue and move it to our backlog. I'd like to use this

[2022-08-17 14:40] younes-dro opened #2231 "PHP Fatal error on Quick Edit Awarded Certificates"
[17-Aug-2022 14:12:09 UTC] PHP Fatal error:  Uncaught Error: Call to a member function get_user_id() on bool in C:\wamp64\www\expresstechsoftware\wp-content\plugins\lifterlms\includes\admin\post-types\post-tables\class-llms-admin-post-table-awards.php:232
Stack trace:
#0 C:\wamp64\www\expresstechsoftware\wp-content\plugins\lifterlms\includes\admin\post-types\post-tables\class-llms-admin-post-table

[2022-08-17 15:22] eri-trabiccolo commented on #2231
Hi @younes-dro
thanks for reporting this.
It happens when you click on the Update button from the quick edit form, right?

[2022-08-17 15:27] younes-dro commented on #2231
hello @eri-trabiccolo

Yes.

![quick-update](https://user-images.githubusercontent.com/31171/185179500-989b199c-3e83-448b-9cef-c5e4f2814e3a.png)

[2022-08-18 14:49] eri-trabiccolo commented on #2229
I realize that while this makes sense most of the time, it won't work with memberships bought "through" the pricing table button of a course's access plan restricted to members only, with the option _Any redirection set up on the Membership Access Plans will be overridden by the following settings_. enabled.

[2022-08-18 19:54] nrherron92 opened #2233 "Course Track Meta Value Blank"
### Reproduction Steps

+ HS-199850
+ Create a course track
+ Add courses to the course track
+ Complete the courses in the course track to complete the course track entirely
+ head into the database to check the value of the course track for the user who completed it

### Expected Behavior

+ Some kind of complete/incomplete value

### Actual Behavior

+ it's blank

### Error Messages / Logs

+ I

[2022-08-18 22:39] thomasplevy commented on #2233
@nrherron92 the user is looking for progress values in the wrong place / way. LifterLMS *does* store some data there, but these values are not intended to be used directly, instead, the internal API should be used to determine progress within LifterLMS.

The records in the database cited by the customer, those on the usermeta table with metakeys like `llms_course_track_{$track_id}_progress` are th

[2022-08-19 13:43] nrherron92 commented on #2233
Awesome! Thank you <3

[2022-08-19 13:43] #2233 closed, assigned to thomasplevy

[2022-08-19 14:28] eri-trabiccolo opened #2234 "Access Plans: cannot unset Override Membership Redirects option once set"
### Reproduction Steps

+ Create a course access plan, fill the required fields;
+ make it only available to members of whatever membership;
+ check the option Override Membership Redirects - Any redirection set up on the Membership Access Plans will be overridden by the following settings
+ save the plan
+ now uncheck the same option
+ save the plan
+ expand the saved plan and look at the option

[2022-08-19 15:07] eri-trabiccolo commented on #2234
The problem is that the checkbox value isn't sent over, and here:
https://github.com/gocodebox/lifterlms/blob/7.0.0-alpha.4/includes/functions/llms-functions-access-plans.php#L70
we merge the access plan's current values into the posted data, so the current 'yes' value of that option is taken into account.

The same should happen with the `is_free` property, but we have other checks in place based

[2022-08-20 05:26] sekanderb opened #2235 "[Reporting Feature]Increase the font size in the table for better readability"
I was recording screencasts to make a promo video for our product and found that the font sizes are pretty small compared to what I am used to seeing. After further investigation, I found that the font size is 95%.

I think setting the font size to 100% or 16px will not cause us any harm. As 16 is also standard for all major browser's default font sizes. I have tested for breakage or overflowing o

[2022-08-20 05:34] sekanderb opened #2236 "[Reporting Feature] The text inside blue progress indicator is not readable"
If you look at the screenshot, you will see that the black text inside the blue progress bar is not readable. We can either make the font color white or change the background to make it readable.

In my personal opinion, the progress bar should not get much focus as it will get repeated in every row. Making it light gray (example: #dedede) could make things easy to read.

But if that's too much wo

[2022-08-20 05:41] sekanderb opened #2237 "[Reporting Section] We can eliminate zero decimals for faster readability"
The reporting section for the assignment grades column shows 100.000%. I am not sure if that is mandatory. I think we can just show 100% for clarity and readability. Also, 85.3% seems more appropriate to me than 85.381%.

Please let me know if this is possible and seems logical.

[2022-08-20 05:47] sekanderb opened #2238 "[Quiz] HTML code entered on the quiz answer is not visible to the teacher"
### Reproduction Steps
1. Add a quiz question with the type "Code".
2. Select HTML
3. Answer the question with HTML code. I added <input type"password"> as the answer.
4. Go to reports > quizzes > go to the quiz attempt you made.
5. Open the question to see the answer.

### Expected Behavior
The answer the student wrote should be visible.

### Actual Behavior
You can see that no text from the stud

[2022-08-21 14:50] sekanderb opened #2239 "Course Progress Reporting Feature - Dummy Text"
Please have a look at the marked area. It says call to action. I guess we can change it to something relevant. When I clicked the button, I took me to lesson edit screen. So, I am not sure if this is the expected behavior.
<img width="1436" alt="Screen Shot 2022-08-21 at 8 48 05 PM" src="https://user-images.githubusercontent.com/3262638/185796944-3d73cf88-19f8-4bda-a901-f2eb70cef5dc.png">

[2022-08-21 14:54] thomasplevy commented on #2239
What's the behavior you're expecting?

[2022-08-21 18:37] eri-trabiccolo commented on #2239
@sekanderb
_Call to action_ it's not a dummy text, it's the name of the last lesson completed by Kade and Margarita. If their last completed lesson was _Always look at the bright side of life_ that's the text you would see there, with the edit link to that very lesson.

[2022-08-22 13:03] eri-trabiccolo commented on #2238
Thanks for reporting this @sekanderb
I'm moving it to the add-on repository where it belongs. <3

[2022-08-22 14:32] sekanderb commented on #2239
@thomasplevy as the column name says last lesson, we could mention the name of the lesson.

From @eri-trabiccolo's comment, it seems that the problem was with the lesson name. I also went ahead and verified that indeed the lessons actual name was "call to action".

I am marking this as closed. I apologize for the inconvenience.

[2022-08-22 14:32] #2239 closed, assigned to thomasplevy

[2022-08-23 13:47] nrherron92 opened #2241 "Save Certificate Resulting in Fatal Error"
### Reproduction Steps

+ HS-200002
+ This is a bit of a tough one, a free user is having an issue when trying to save certificates that it is resulting in a fatal error (below)
+ I can't recreate this and since it's a free user we can't get credentials, so I was wondering what we could do with next steps to get to the bottom of it, or if there's anything in the error that can point towards what c

[2022-08-23 16:46] eri-trabiccolo commented on #2241
Hard to say what's going wrong.
The error is pretty clear, for some reason on this user's website, the certificate HTML page retrieved when clicking on Save, doesn't have any `<head>` tag, hence the error here:
https://github.com/gocodebox/lifterlms/blob/6.9.0/includes/class.llms.certificates.php#L360

Why does that happen?
That's just a sign of something going wrong to me, like that the server re

[2022-08-26 13:11] nrherron92 opened #2243 "Spain missing Provinces"
### Reproduction Steps

+ HS-200045
+ User reported that several provinces and regions were either missing or wrong. Provided this as a list: https://public.opendatasoft.com/explore/dataset/provincias-espanolas/table/?sort=provincia

I'm not sure if there is a way to verify this is correct but we could maybe use it as a reference point?

### Expected Behavior

+ There should be more/separate provi

[2022-08-26 15:28] eri-trabiccolo commented on #2243
Ok, cool, thanks.
That link though doesn't give us any information about the province's code, like  B for Barcelona, CC for Cáceres, M for Madrid and so on.
I manually compared the list the customer provides us with, with the WooCommerce one:
https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce/i18n/states.php#L552-L605

They match (except for the order, and the language, whic

[2022-08-26 15:32] thomasplevy commented on #2243
sounds good :+1:

[2022-08-26 16:47] thomasplevy commented on #2189
My thinking is/was that we'd essentially grab the raw CSS google would load, for example from here: https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap

Then grab copies of the actual fonts (the `.woff2` files is sufficient with IE now "dead") and commit them directly to a new directory in the existing [fonts directory](https://github.com/gocodebox/lifterlms/tree/trunk/assets/font

[2022-08-26 23:02] younes-dro opened #2247 "PHP notice"
Hi.
even i deactivated the plugin i still get this Notice :
`[26-Aug-2022 22:06:07 UTC] PHP Notice:  Function map_meta_cap was called <strong>incorrectly</strong>. The post type llms_order is not registered, so it may not be reliable to check the capability "read_post" against a post of that type. Please see <a href="https://wordpress.org/support/article/debugging-in-wordpress/">Debugging in WordP

[2022-08-26 23:17] thomasplevy commented on #2247
@younes-dro

This likely has to do with a user role. Roles aren't removed when the plugin is deactivated unless you explicit tell LifterLMS to remove data from your site during deactivation:

https://github.com/gocodebox/lifterlms/blob/0836531192028c820f6d8b25469950686ff095c9/uninstall.php#L24-L28

It seems weird to me that a user role would be checking anything against a LifterLMS post type when

[2022-08-29 18:04] #2224 closed, assigned to thomasplevy

[2022-08-29 18:04] #2231 closed, assigned to eri-trabiccolo

[2022-08-29 18:04] #2243 closed, assigned to eri-trabiccolo

[2022-08-31 18:24] nrherron92 opened #2249 "Fatal Error during importing course"
### Reproduction Steps

+ HS-200565
+ Issue course .json file attached to ticket
+ Go into LifterLMS import and try to import the course
+ Now, I did get a fatal error as well but mine was a timeout error, the user isn't getting a timeout error.

### Expected Behavior

+ you can import the course

### Actual Behavior

+ a fatal error

### Error Messages / Logs

+ Include any relevant error message

[2022-08-31 19:26] eri-trabiccolo commented on #2249
I think you're experiencing two different problems.
Where do you get the timeout issue? On a local site? That course export file is ~1.5MB, that would take a while so you need to increase your server limits (you know usual timeouts, memory ecc).

What the user is experiencing on his website is not related to the import.
What's happening is that a notification (email), is generating a fatal error h

[2022-09-01 08:53] eri-trabiccolo opened #2250 "PHP Warning when logging dispatch notification errors."
https://github.com/gocodebox/lifterlms/blob/3b25940fed895b54996efbf24c35e53f6f440b43/includes/abstracts/llms.abstract.notification.processor.php#L75

`[27-Jul-2022 06:58:44 UTC] PHP Warning: sprintf(): Too few arguments in /home/{redacted}/public_html/wp-content/plugins/lifterlms/includes/abstracts/llms.abstract.notification.processor.php on line 75`

[2022-09-01 09:12] eri-trabiccolo commented on #2249
@nrherron92
I've been able to successfully import the course locally, no server timeout. Can you give me more information o where you got that timeout issue? Might depend on some plugins... I suggest to test disabling all other plugins. We import courses (lessons, ecc) using the WordPress API (meaning that we insert the course, lessons, images ecc, using WordPress functions). This means that vario

[2022-09-05 13:47] nrherron92 opened #2254 "Reporting's Membership Doesn't Record Payments"
### Reproduction Steps

+ HS-200713
+ Create a membership with an access plan
+ Run through a purchase of the access plan
+ head into _lifterlms->reporting->memberships->new membership_

### Expected Behavior

+ The payment is recorded to see the revenue on the membership

### Actual Behavior

+ the 0 doesn't update

### Error Messages / Logs

+ Include any relevant error messages or log files
[co

[2022-09-06 18:50] thomasplevy commented on #2254
@nrherron92 confirmed bug, :facepalm: typo...

[2022-09-07 17:26] #2250 closed, assigned to eri-trabiccolo

[2022-09-07 17:26] #2254 closed, assigned to thomasplevy

[2022-09-07 18:34] thomasplevy commented on #2241
@nrherron92 any new info here?

[2022-09-07 18:35] thomasplevy commented on #2249
@nrherron92 any update here?

[2022-09-07 18:52] nrherron92 commented on #2241
Nope user never replied. I'll open again if they do

[2022-09-07 18:52] #2241 closed, assigned to eri-trabiccolo

[2022-09-10 08:34] saracomin96 opened #2256 "Italian province of Trento written wrong, and lack of two Italian provinces (Mantova and Verona)"
### Reproduction Steps

in the selection of the province of the registration form or profile modification

### Expected Behavior

There must be the province of Trento, Mantova and Verona

### Actual Behavior

The "Trentino" province does not exist, the "Trento" province does exist, the provinces of Mantua and Verona are missing

### Error Messages / Logs

+ Include any relevant error messages or l

[2022-09-10 13:53] thomasplevy commented on #2256
Hey @eri-trabiccolo do you agree?

[2022-09-10 13:57] eri-trabiccolo commented on #2256
@thomasplevy yes I do.
Trentino is a region.

[2022-09-12 00:27] nrherron92 opened #2258 "Absent Plural Translations Singular Translations Don't s"
### Reproduction Steps

+ Switch to Canadian English or Italian
+ Create an access plan with 30 days of access or 2 days of access (months or weeks)
+ check the front end

+ HS-201319

### Expected Behavior

+ the days/weeks/months should show

### Actual Behavior

+ even though day is translated the plural isn't and it doesn't show up

### Error Messages / Logs

+ Include any relevant error messa

[2022-09-12 01:47] thomasplevy commented on #2258
We can't fix this, translators have to translate.

[2022-09-12 01:47] #2258 closed, assigned to nobody

[2022-09-14 07:50] saracomin96 opened #2263 "Error in exporting the user report"
### Reproduction Steps

I have about 300 users, when I try to export the export, after an infinite loading, it gives me this error: An error was encountered during export:

instead if I have about 80 users (therefore filtering by courses), it doesn't give me this problem

### Expected Behavior

It should download the report correctly instead it does nothing
in addition to the user default fields I

[2022-09-14 15:46] thomasplevy commented on #2263
hey @saracomin96

The provided errors is a JS error encountered when the server encounters an error returning the data via AJAX request.

The error here is a 502 gateway error which is usually a result of server resource exhaustion.

There are a number of causes to an error like this... there's two variables we can focus on immediately:

1) You noted that you have custom code on the tables, are th

[2022-09-15 10:21] saracomin96 commented on #2263
hi, i try to delete the extra fields in the export table and i managed to export the csv correctly
I fetch the rest of the information and update you!

[2022-09-15 15:33] thomasplevy commented on #2263
@saracomin96

If the 502 error is *not* happening when you remove your custom code then the custom code is likely causing the error.

If you'd like some help debugging this code to see what's creating a 502 error please post the relevant code here and we can have a closer look at it and make some suggestions for you.

[2022-09-15 22:33] saracomin96 commented on #2263
Hi, this is the code

[code]

[2022-09-15 22:39] saracomin96 commented on #2263
Since I needed to generate a table to export with this data, I created it costum in a separate temporary page for the moment.
I also created a page to load a csv and update the data of a list of users (including the completion of the lessons, use llms_mark_complete and update a meta data). I did everything through php without using ajax calls and rightly with a high number of users in the csv list

[2022-09-16 17:03] thomasplevy commented on #2263
@saracomin96 I'm having a hard time reading this exactly but it looks like you are adding 31 columns to an already large report... It doesn't look like anything you're doing should be too tremendously "heavy" though... but this might just be a problem of server resources given what you're trying to accomplish here... You might need a larger server with my CPU in order to build reports of this size

[2022-09-21 19:50] nrherron92 opened #2270 "Error in Quiz Reporting"
### Reproduction Steps

+ HS-201478
+ Staging site linked on ticket
+ Can't reproduce locally
+ Head into site and take the feedback quiz (if there have been no attempts on the day you check)
+ Then head into Reporting->Quiz->Feedback Survey
+ On the overview for the Average Grade/Attempts column there is a critical error.

### Expected Behavior

+ the two tiles should show 0

### Actual Behavior

[2022-09-21 20:01] thomasplevy commented on #2270
This is happening because there's no possible points total on the quiz. So the logic to give an average grade is failing because of a division by zero...

It's a pretty easy fix. There's no test cases covering this and it probably isn't something anyone's ever noticed because I think that using quizzes in this way is probably not very common.

We'll get it cleaned up in the next release.

Also: th

[2022-09-21 20:06] nrherron92 commented on #2270
Thank you 💟

[2022-09-21 22:23] thomasplevy commented on #2270
@nrherron92 this is fixed, will release tomorrow in the AM

[2022-09-22 18:26] thomasplevy commented on #2263
@saracomin96 any thoughts on the above? We can leave this open if you'd like to discuss further otherwise I'll close it during our next triage if we don't hear back from you.

[2022-09-22 19:13] #1982 closed, assigned to nobody

[2022-09-22 19:13] #2189 closed, assigned to nrherron92

[2022-09-22 19:13] #2270 closed, assigned to thomasplevy

[2022-09-27 10:34] sekanderb opened #2275 "Add a prompt to share the deactivation reason and show link to contact support"
To improve our communication with our users and reduce the deactivation, I am proposing that we should have a system that takes user feedback and offers the link to create a support ticket.

Please note that only one plugin has a link to create a support ticket. And some of them have too many options. But in our case, we can show very minimal options and a highlighted button to contact us.

The de

[2022-09-27 16:23] pixeldevsio opened #2276 "llms_proccess_certificate_engagement not firing"
### Reproduction Steps
add this code to wherever you'd like. I have it in my functions.php file
`function my_llms_engagement_can_process( $can_process, $user_id, $template_id, $related_id, $engagement_id ) {
	return false;
}
add_filter( 'llms_proccess_certificate_engagement', 'my_llms_engagement_can_process', 999999999, 5 );`
(can be any priority 1 - 999999) still nothing
Try to generate a certifi

[2022-09-27 16:30] pixeldevsio commented on #2276
Update
I noticed the function counts errors instead of returning true or false. I added an error in and it still doesnt work

[code]

[2022-09-27 16:51] thomasplevy commented on #2276
@pixeldevsio where are you adding this code? A custom plugin or a functions.php file in a theme?

A functions.php *might* be too late, haven't tested yet.

[2022-09-27 18:03] pixeldevsio commented on #2276
@thomasplevy Adding it to functions.php in the theme.
I have also tried a plugin, but not sure when that plugin loads vs lifter

[2022-09-27 18:06] pixeldevsio commented on #2276
Just added it to an mu-plugin as well and same result

[2022-09-27 18:46] thomasplevy commented on #2276
hey @pixeldevsio I'm sorry for having wasted your time here... I've re-reveiewed all the related code and this particular filter *only runs* during non-immediate engagements. It's, perhaps, not named as descriptively as it can and without reading the whole context of the function from which it's called it's not immediately obvious. I'm sorry that I neglected to remember this when you first asked f

[2022-09-27 18:49] pixeldevsio commented on #2276
@thomasplevy thanks for taking the time to look through that!
Dude, no worries. Im not hitting a deadline yet. That's next week :)
Thanks again

[2022-09-28 00:05] thomasplevy commented on #2276
@pixeldevsio thanks for understanding... I think you said something along the lines of pulling your hair out and I missed this two or three times after you kept insisting it wasn't working. I hate that I delayed you at all. But anyway... Thank you

[2022-09-30 08:53] eri-trabiccolo opened #2277 "Checkout div wrapper (.llms-checkout-wrapper) not closing if showing error, e.g. on empty cart."
### Reproduction Steps

+ Visit the LifterLMS checkout page: you'll be shown the Your cart is currently empty message.
+ look at the html source.

### Expected Behavior
[code]

+ I'd expect something like this:

### Actual Behavior

+ I get something like this:
[code]

The issue is relevant only under particular conditions, due to the browsers ability to automatically close unbalanced tags.
I've f

[2022-09-30 13:38] eri-trabiccolo commented on #2134
I changed the priority of this because it affects FSE themes having pages with sidebars, as that layout is (usually) implemented with the columns block.

[2022-10-03 09:28] eri-trabiccolo opened #2281 "FSE: header and footer in our custom templates don't have proper tags:"
When Header and Footer templates are included, they result wrapped into a standard div:
`<div class="wp-block-template-part">`

While they should be more properly been included into `header` and `footer` tags.
`<header class="wp-block-template-part">`
`<footer class="wp-block-template-part">`

This is of course a general rule, different themes might require different treatments.

**Note:**
FSE it'

[2022-10-03 19:26] nrherron92 opened #2283 "No way to organize quizzes based on pending reviews"
**Is your feature request related to a problem? Please describe.**
HS-202600

For larger sites that have a lot of quizzes, there is no way to organize the reporting for Quizzes to have those that need grading at the top, leading to having to search through the pagination for any quiz that may need grading.

**Describe the solution you'd like**
An option on the table to sort by pending review

**De

[2022-10-03 19:37] thomasplevy commented on #2283
@nrherron92 good call. I think there's probably a filter type drop-down that could be implemented to filter quizzes by "Status" which would be "All" and "Awaiting Review"

Making the other columns sortable (awaiting review, attempts, and average grade) might not be easy to implement without making a really huge and gross db query. But maybe it is possible by thinking about the data differently and

[2022-10-04 16:35] #2134 closed, assigned to eri-trabiccolo

[2022-10-04 16:35] #2173 closed, assigned to eri-trabiccolo

[2022-10-04 16:35] #2206 closed, assigned to thomasplevy

[2022-10-04 16:35] #2229 closed, assigned to thomasplevy, eri-trabiccolo

[2022-10-04 16:35] #2234 closed, assigned to eri-trabiccolo

[2022-10-04 16:35] #2277 closed, assigned to eri-trabiccolo

[2022-10-04 16:35] #2281 closed, assigned to eri-trabiccolo

[2022-10-06 15:40] saracomin96 opened #2284 "Action "llms_user_enrollment_deleted" error"
### Reproduction Steps

hi, i found this action that fires after the user is deleted from a course. I found a problem though, even if I use it without any function inside it, such as this:

function llms_user_enrollment_deleted_function($user_id, $product_id, $enrollment_trigger) {
}

add_action ('llms_user_enrollment_deleted', 'llms_user_enrollment_deleted_function');

In the course settings when

[2022-10-06 16:20] eri-trabiccolo commented on #2284
Hi Sara,
thanks for reporting this.

Looks like you're using `add_action()` the wrong way.
You defined a callback that requires 3 parameters:
`function llms_user_enrollment_deleted_function($user_id, $product_id, $enrollment_trigger) {`
But you're passing only one parameter:
`add_action ('llms_user_enrollment_deleted', 'llms_user_enrollment_deleted_function');`

The latter should be:
`add_action (

[2022-10-06 17:40] saracomin96 commented on #2284
It worked! thank so much

[2022-10-06 17:40] #2284 closed, assigned to eri-trabiccolo

[2022-10-07 17:40] nrherron92 commented on #2216
HS-203014

[2022-10-07 18:25] thomasplevy commented on #2216
Alright alright :-p

[2022-10-09 10:59] robbiefarai opened #2285 "Instructor and Assistant Roles not able to update course content"
Some thing happened where instructors and instructor assistants are not able to edit their courses any more. They must now be added the Role LMS Manager. However this enables them to edit and view the courses of other instructors.

[2022-10-09 19:15] thomasplevy commented on #2285
Hey @robbiefarai

Could you provide some additional information about your issue:

Have a look at our issue template for a [bug report](https://github.com/gocodebox/lifterlms/issues/new?assignees=&labels=&template=Bug_Report.md)

I'd also like to know what the last version of LifterLMS you were using before you had this issue.

Thanks!

[2022-10-11 22:36] #2192 closed, assigned to eri-trabiccolo

[2022-10-12 15:29] thomasplevy commented on #2285
@robbiefarai Can you update us with the requested information please!

[2022-10-12 18:01] thomasplevy opened #2286 "CSS Restructure and Design System Implementation"
### Purpose

The goal and purpose of this issue is to outline and discuss a large restructuring of all SCSS (and resulting CSS) used in the LifterLMS core.

This system must take into account LifterLMS core and third-party add-ons and themes.

### Notes

+ LifterLMS does not adhere to a design standard or system which means the creation of new visual elements and modules is difficult / time consum

[2022-10-17 19:47] thomasplevy commented on #2263
@saracomin96 going to mark this as resolved. If you'd like to follow up just reply and we'll reopen.

[2022-10-17 19:47] #2263 closed, assigned to nobody

[2022-10-19 06:17] younes-dro opened #2287 "PHP Notice: Trying to get property 'id' of non-object"
Hi ,
I'm trying to process the setp of a new plugin
and I get this PHP notice in some page in admin area:

`Notice: Trying to get property 'id' of non-object in C:\wamp64\www\expresstechsoftware\wp-content\plugins\lifterlms\includes\admin\class.llms.admin.assets.php on line 406`

`Notice: Trying to get property 'base' of non-object in C:\wamp64\www\expresstechsoftware\wp-content\plugins\lifterlms\

[2022-10-19 09:33] eri-trabiccolo commented on #2287
Hi @younes-dro
thanks for reporting this.
Can you please give us more information?
E.g. what's this plugin you're trying to setup?

Also: aside from this notice are you able to setup the plugin correctly?

Thanks!

[2022-10-19 09:39] younes-dro commented on #2287
@eri-trabiccolo

The plugin is LearnPress. I was testing some plugins we develop with LifterLMS and LearnPress.

1 - the plugin is learnpress and url  : http://127.0.0.2:8000/wp-admin/index.php?page=lp-setup.

2 - Yes i  setup the plugin correctly.

[2022-10-19 10:14] eri-trabiccolo commented on #2287
Thanks @younes-dro!
I wonder why in that LP's setup wizard's page the WordPress current screen is not defined...
This is a wild world :D

It could be fixed on our side by checking the `$screen` is not null prior to referring to its properties. E.g. here:
https://github.com/gocodebox/lifterlms/blob/7.0.0/includes/admin/class.llms.admin.assets.php#L401
[code]

But the truth is that when WordPress fi

[2022-10-19 15:27] nrherron92 opened #2288 "BuddyPress (BuddyBoss)/WooCommerce conflict with Order History"
### Reproduction Steps

+ HS-202788
+ Enable BuddyPress or BuddyBoss Platform with LifterLMS and WooCommerce (not the integration)
+ Enable BuddyPress/Buddyboss integration with LifterLMS
+ Go into BuddyPress/BuddyBoss member page for your account->courses->order history

### Expected Behavior

+ with order history enabled in the integration options it should show up

### Actual Behavior

+ BuddyP

[2022-10-19 15:51] eri-trabiccolo commented on #2288
We're kind aware of this. I think we should document it better.
See:
https://github.com/gocodebox/lifterlms/pull/1816#issuecomment-949832180
and thomas' reply:
https://github.com/gocodebox/lifterlms/pull/1816#issuecomment-949875402

The To Do state has to be read as "To Document" here :D

[2022-10-19 15:54] nrherron92 commented on #2288
Gotcha! <3

[2022-10-19 16:30] eri-trabiccolo commented on #2288
So we've found that changing the LifterLMS' dashboard endpoints doesn't fix the issue so, we need to investigate and possibly fix this.

[2022-10-19 16:34] #2287 closed, assigned to eri-trabiccolo

[2022-10-19 16:34] thomasplevy commented on #2287
I don't think there's any reason for us to address this.

[2022-10-19 16:51] thomasplevy commented on #2288
@eri-trabiccolo and @nrherron92 Can we agree that this is a backloggable issue with the workaround of not using the orders endpoint on the BP profile screen?

Or do we need to issue a fix for this immediately as that workaround is not acceptable?

[2022-10-19 16:52] nrherron92 commented on #2288
I agree. As the order history can absolutely be reached through the normal LifterLMS dashboard at any time, this is not urgent.

[2022-10-19 16:55] thomasplevy commented on #2288
Cool thanks... if the user doesn't accept or like it, we'll take a closer look sooner.

[2022-10-19 16:58] eri-trabiccolo commented on #2288
yes agreed <3

[2022-10-25 19:37] nrherron92 opened #2289 "Prevent changing next payment date during trial"
### Reproduction Steps

+ HS-207835
+ Create an access plan with a free trial
+ Create an order through that access plan
+ Go into the order through the admin and change the next payment date to before the end of the trial
+ Once this payment pulls the next payment date resets to the end trial date
<img width="867" alt="image" src="https://user-images.githubusercontent.com/47434271/197865975-6d0aa

[2022-10-31 17:29] thomasplevy commented on #2093
@nrherron92 woops I didn't realize I had this assigned to you... Sorry!

[2022-11-09 01:26] magicemilymiddleton opened #2296 "Does this Console Log Error have anything to do with LifterLMS?"
HS-208437

Console logs are something I currently have no understanding of, so I'm not sure how to answer this question or even how to correctly title/phrase the question:

We had a customer report Chrome console seems to be throwing up errors relating to the Vimeo player which is causing delays in their site load.

Just wondering if this might me a LifterLMS issue with the player we're using? or

[2022-11-09 02:23] thomasplevy commented on #2296
Hard to say... This looks like it's a telemetry related request but without looking at the actual network traffic it's difficult to pinpoint the origin.

Where does this happen?

Steps to recreate?

Does it happen with LifterLMS disabled? Only on LifterLMS screens?

Etc...?

Really can't say whats causing this based on this log alone.

[2022-11-09 15:56] thomasplevy commented on #2296
@willmiddleton-lifterlms I tried to login to get more information but the provided username/password doesn't work. I tried a password reset but I'm not getting an email back.

Maybe email doesn't work properly on the customer's server?

Please get credentials functioning and report back so we can dig in deeper.

Thanks!

[2022-11-10 21:36] magicemilymiddleton commented on #2296
Customer responded and said:

"I've done a little troubleshooting…. It seems that the issue was caused by my system-wide Adguard. Disabling it has removed the console errors. 🙄"

We do have admin logins if we care enough to investigate a LifterLMS + Adguard conflict, but I'd assume it's not widely used enough to be worth the effort in solving.

[2022-11-10 23:08] thomasplevy commented on #2296
Adblockers, among other things, kill telemetry calls. This is expected if you choose to use an ad blocker. There's no "conflict" here that we'd be able to do anything about anyway since extensions run in the browser's sandbox. There's no apis to integrate with or whatever... We'll close this out. The user should configure their adblocker to not run on their own site, that's the best bet.

FYI: I d

[2022-11-10 23:08] #2296 closed, assigned to nobody

[2022-11-11 18:56] nrherron92 opened #2298 "Yoast/Classic Editor/LifterLMS Javascript Error Combo"
### Reproduction Steps

+ HS-208526
+ As far as I can tell this doesn't break anything or prevent you from doing anything on the site, but I guess could cause server issues eventually.

Requirements:

    WordPress: 6.1
    LifterLMS: 7.0
    Classic Editor: 1.6.2
    Yoast SEO: 19.10

Steps to reproduce:

+ With the latest versions of LifterLMS, Classic Editor, and Yoast plugins installed on Word

[2022-11-11 19:34] thomasplevy commented on #2298
@nrherron92 confirmed conflict.

I think until Classic Editor (and TinyMCE go away) or until we drop TinyMCE for access plan management we'll have to continue to make changes to this area of the code base every 6-9 months when a new conflict arises...

In any event, fixed by #2299

[2022-11-14 22:17] #1540 closed, assigned to thomasplevy

[2022-11-14 22:17] #2093 closed, assigned to thomasplevy

[2022-11-14 22:17] #2298 closed, assigned to thomasplevy

[2022-11-15 11:58] saracomin96 opened #2300 "Quiz doesn't start"
### Reproduction Steps

hi, if a user tries to take the quiz, the button doesn't work and generates this error:

llms-quiz.js:589 Uncaught TypeError: LLMS.l10n.translate is not a function
     at Object.load_ui_elements (llms-quiz.js:589:147)
     at Object.start_quiz (llms-quiz.js:373:9)
     at HTMLButtonElement.<anonymous> (llms-quiz.js:95:10)
     at HTMLButtonElement.dispatch (jquery.min.js?v

[2022-11-15 14:04] thomasplevy commented on #2300
Hey @saracomin96 you were asking on slack how to put a quiz on a custom page with a short code. Have you done that and is that customization possibly causing this problem?

[2022-11-15 14:20] saracomin96 commented on #2300
hello, I didn't do anything special, I just created a button that refers to the quiz at the end. I noticed one thing: by deleting the cache I can take the quiz once but once I try again it gives me the same error. I have wpengine it might be a cache problem

[2022-11-15 15:14] saracomin96 commented on #2300
it also gives me error for LLMS.Ajax

[2022-11-15 15:47] thomasplevy commented on #2300
Is this button a quiz start button (as seen on the default quiz page) which, when clicked, starts the quiz with an AJAX request?

Or is the button a link that takes you to the quiz page?

Is the problem happening when you click this button?

If you're trying to create a start quiz button that loads the quiz on a non-default screen you'll need to enqueue the JS resources that are expected to be loa

[2022-11-23 19:03] nrherron92 opened #2302 "Assignment Submission not Queuing to Send"
### Reproduction Steps

+ HS-208142
+ Make sure to enable assignment submission notification
+ On user's site, go into an assignment and submit for grading

### Expected Behavior

+ An email is sent for the submission notice

### Actual Behavior

+ In the LifterLMS logs it looks like it is sending, but it does not show up in mail logging for the smtp even with an error
+ Works fine on staging

###

[2022-11-24 09:30] eri-trabiccolo commented on #2302
@nrherron92
the logged error:
`[23-Nov-2022 18:34:28 UTC] PHP Fatal error:  Uncaught Error: Call to a member function get_date() on null in /home/slamacad/public_html/wp-content/plugins/lifterlms/includes/notifications/views/class.llms.notification.view.payment.retry.php:175
`
Is about a different notification (payment retry) which is stuck due to a fatal error and it's clogging the queue.
As resu

[2022-11-25 16:31] nrherron92 opened #2303 "Prerequisite on lessons pulling from all lessons when editing the lesson directly"
### Reproduction Steps

+ Go into _Courses->Lessons_ and select a lesson to edit
+ Scroll down to the Lesson Setting's prerequisite tab
+ Enable prerequisites and click the dropdown to select one

### Expected Behavior

+ You can only set a prerequisite for the lessons that appear before that one in the course
+ This is how it works in the course builder

### Actual Behavior

+ the first 30 lesson

[2022-11-25 16:42] eri-trabiccolo commented on #2303
@nrherron92 this is a duplicate of this:
https://github.com/gocodebox/lifterlms/issues/1131

Cam you confirm?
In this case we can close this and continue there.

[2022-11-25 16:43] thomasplevy commented on #2303
I believe this is more or less a duplicate of #1131

[2022-11-25 16:47] nrherron92 commented on #2303
ah yeah sorry it's a duplicate!

[2022-11-25 16:47] #2303 closed, assigned to thomasplevy

[2022-11-29 20:05] nrherron92 opened #2305 "Manual Payments Bypass Trial"
### Reproduction Steps

+ HS-209886
+ Create an access plan with a trial payment that is different from the regular recurring (it's easier to see this way)
+ Checkout using the manual payment gateway on that access plan
+ Go into that order after completing checkout and switch to Stripe for payment

### Expected Behavior

+ As long as there is _no_ payment recorded for the trial payment I expect t

[2022-11-30 08:42] eri-trabiccolo commented on #2305
@nrherron92
Thanks for reporting this. Bug confirmed, we're gonna look into this and keep you posted.

[2022-11-30 10:18] eri-trabiccolo commented on #2305
I think that the only problem that regards to the core is the fact that we display the wrong Due Now price.
We show the next payment price rather than the trial one.
Here, if the order has trial and the trial was not paid, we should display the trial price:
https://github.com/gocodebox/lifterlms/blob/7.0.1/templates/checkout/form-switch-source.php#L69

The real bug is in the [Stripe add-on](https:

[2022-11-30 10:28] saracomin96 commented on #2300
Hi! in the end it was the cookie banner that blocked resources if cookies were not accepted, I corrected the types of cookies needed and now it works!

[2022-11-30 10:28] #2300 closed, assigned to nobody